<div ng-if="ctrl.model.binder.permissions.can_read || !ctrl.model.binderId">
    <div ng-class="{'page-header': ctrl.model.formCfg.settings.showPageTitle}">
        <h3 class="text-left text-muted" ng-if="ctrl.model.formCfg.settings.showPageTitle">{{ctrl.model.resources.subTitle}}</h3>
        <div ng-if="!ctrl.model.formCfg.settings.showPageTitle">
            </br>
            <h4 class="text-muted">Use this form to create binders for your clients. Fields with an asterisk are required. Remember: you can always create a binder and then come back at a later time to edit.</h4>
        </div>
        </br>
        <h4 class="text-muted"><strong>STEP 1</strong>: Add the client and property information below then click <strong>SAVE.</strong></h4>
        </br>
        <h4 class="text-muted"><strong>STEP 2</strong>: Click on the desired binder items on the left (Maintenance, Appliances, Documents…) to customize each binder using add, edit or delete functionality.</h4>
        </br>
        <h4 class="text-muted"><strong>STEP 3</strong>: Transfer the binder to your client after all edits have been made.</h4>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" role="group" aria-label="...">
                <button ng-click="ctrl.model.close()" type="submit" class="btn btn-primary">{{ctrl.model.resources.closeButton}}</button>
                <button ng-if="ctrl.model.binder" ng-click="ctrl.model.transferBinder()" type="submit" class="btn btn-secondary">{{ctrl.model.resources.transferButton}}</button>
                <button ng-click="ctrl.model.saveCall()" ng-disabled="ctrl.model.processing" type="submit" class="btn btn-primary">{{ctrl.model.resources.saveButton}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ng-form name="ctrl.model.form" role="form">
                <div ng-if="ctrl.model.formCfg.settings.showConfigForm">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="page-header"><i class="fa fa-cog fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info1}}</h4>
                                </div>
                                <div class="panel-heading">
                                    <form role="form" name="ctrl.model.configurationForm">
                                        <div class="form-group" ng-show="ctrl.model.formCfg.settings.showPartner">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="first">{{ctrl.model.resources.partner}}</label>
                                                    <hb-lookup cfg="ctrl.model.partnerLookupCfg" selection="ctrl.model.partner" select="ctrl.model.getConfiguration()"></hb-lookup>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role != 'agent'">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label for="first">{{ctrl.model.resources.template}}</label>
                                                    <select class="form-control" name="template" ng-model="ctrl.model.template" ng-options="template.name for template in ctrl.model.templates" ng-change="ctrl.model.getTemplate('false')"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role != 'agent'">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label for="first">{{ctrl.model.resources.owner | titleize}}*</label>
                                                    <select class="form-control" name="user" ng-model="ctrl.model.formCfg.binderOwner" ng-required="true" ng-options='user as (user | userprofile) for user in ctrl.model.formCfg.partnerUsers'>
                                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role != 'agent' && ctrl.model.formCfg.binderOwner.role != 'lender'">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label ng-if="ctrl.model.formCfg.currentUser.role == 'inspector'" for="inspection_date">Inspection Date</label>
                                                    <label ng-if="ctrl.model.formCfg.currentUser.role == 'broker'" for="inspection_date">Transaction Date</label>
                                                    <label ng-if="ctrl.model.formCfg.currentUser.role == 'admin'" for="inspection_date">Inspection/Transaction Date</label>
                                                    <label ng-if="ctrl.model.formCfg.binderOwner.role === 'homepro' || ctrl.model.formCfg.binderOwner.role === 'property_manager'" for="inspection_date">Date</label>
                                                    <label ng-if="ctrl.model.formCfg.binderOwner.role === 'builder'" for="inspection_date">Completion Date</label>
                                                    <input name="inspection_date" ng-model="ctrl.model.formCfg.inspection_date" type="text" class="form-control" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" show-button-bar="false" show-weeks="false"
                                                        is-open="ctrl.model.date[0].opened" ng-click="ctrl.model.open(0)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role === 'lender'">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label for="inspection_date">Closing Date</label>
                                                    <input name="inspection_date" ng-model="ctrl.model.formCfg.inspection_date" type="text" class="form-control" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" show-button-bar="false" show-weeks="false"
                                                        is-open="ctrl.model.date[1].opened" ng-click="ctrl.model.open(1)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role != 'agent' && ctrl.model.formCfg.binderOwner.role === 'inspector' ">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label for="inspection_date">Transaction Type</label>
                                                    <select name="select" id="select" class="form-control" ng-model="ctrl.model.transaction_type" ng-options="option.value as option.name for option in ctrl.model.default_transaction_types" required>
    			                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="ctrl.model.formCfg.binderOwner.role === 'agent'">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label for="first">{{ctrl.model.resources.agent }}*</label>
                                                    <select ng-options="option.name as option.value for option in ctrl.model.formCfg.agentOptions" ng-model="ctrl.model.agentSelection" class="form-control" ng-change="ctrl.model.setAgentType()"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header"><i class="fa fa-user fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.model.resources.clientTitle}}*</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.clientInfo}}</h4>
                            </div>
                            <div class="panel-heading">
                                <form role="form" name="ctrl.model.clientForm">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="first">{{ctrl.model.resources.clientFirst}}*</label>
                                                <input id="first" ng-model="ctrl.model.clientInformation.first" type="text" class="form-control" name="first" ng-minlength="1" ng-maxlength="50" required ng-readonly="ctrl.model.clientInformation.readonly" />
                                                <div ng-messages="ctrl.model.clientForm.first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="last">{{ctrl.model.resources.clientLast}}*</label>
                                                <input id="last" ng-model="ctrl.model.clientInformation.last" ng-blur="ctrl.model.setBinderName()" type="text" class="form-control" name="last" ng-minlength="1" ng-maxlength="50" required ng-readonly="ctrl.model.clientInformation.readonly" />
                                                <div ng-messages="ctrl.model.clientForm.last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="email">{{ctrl.model.resources.clientEmail}}*</label>
                                                <input id="email" ng-model="ctrl.model.clientInformation.email" type="email" class="form-control" name="email" required ng-readonly="ctrl.model.clientInformation.readonly" />
                                                <div ng-messages="ctrl.model.clientForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="phone">{{ctrl.model.resources.clientPhone}}</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                                                    <input name="phone" type="phone" class="form-control" ng-model="ctrl.model.clientInformation.phone.national" placeholder="555-123-4567" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" ng-readonly="ctrl.model.clientInformation.readonly"
                                                    />
                                                </div>
                                                <div ng-messages="ctrl.model.clientForm.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header"><i class="fa fa-home fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.model.resources.propertyTitle}}*</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form role="form" name="ctrl.model.propertyForm">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label for="binder">{{ctrl.model.resources.binderName}}*</label>
                                                <input id="binder" ng-model="ctrl.model.clientInformation.name" type="text" class="form-control" name="binder" ng-minlength="1" ng-maxlength="50" required/>
                                                <div ng-messages="ctrl.model.propertyForm.binder.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <label for="address1">{{ctrl.model.resources.address1}}*</label>
                                                <input id="address1" ng-model="ctrl.model.clientInformation.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
                                                <div ng-messages="ctrl.model.propertyForm.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <label for="address2">{{ctrl.model.resources.address2}}</label>
                                                <input id="address2" ng-model="ctrl.model.clientInformation.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
                                                <div ng-messages="ctrl.model.propertyForm.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="city">{{ctrl.model.resources.city}}*</label>
                                                <input id="city" ng-model="ctrl.model.clientInformation.city" ng-blur="ctrl.model.validateCity(ctrl.model.clientInformation.city)" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
                                                <div ng-messages="ctrl.model.propertyForm.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="state">{{ctrl.model.resources.state}}*</label>
                                                <ui-select ng-model="ctrl.model.clientInformation.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)" name="state" ng-required="true">
                                                    <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices group-by="ctrl.model.address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
                                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <div ng-messages="ctrl.model.propertyForm.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="zip">{{ctrl.model.resources.zip}}</label>
                                                <input id="zip" ng-model="ctrl.model.clientInformation.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" />
                                                <div ng-messages="ctrl.model.propertyForm.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="country">{{ctrl.model.resources.country}}</label>
                                                <ui-select ng-if="!ctrl.model.settings.readOnly" name="property_country" ng-model="ctrl.model.clientInformation.country" on-select="ctrl.model.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                                                    <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.value as item in ctrl.model.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="ctrl.model.formCfg.currentUser.role === 'admin'">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="apn">{{ctrl.model.resources.apn}}</label>
                                                    <input id="apn" ng-model="ctrl.model.clientInformation.apn" type="text" class="form-control" name="apn" ng-minlength="1" ng-maxlength="255" />
                                                    <div ng-messages="ctrl.model.propertyForm.apn.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="county">{{ctrl.model.resources.county}}</label>
                                                    <input id="county" ng-model="ctrl.model.clientInformation.county" type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="sq_ft">{{ctrl.model.resources.sq_ft}}</label>
                                                    <input id="sq_ft" ng-model="ctrl.model.clientInformation.sq_ft" type="number" class="form-control" name="sq_ft" ng-min="1" />
                                                    <div ng-messages="ctrl.model.propertyForm.sq_ft.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="year_built">{{ctrl.model.resources.year_built}}</label>
                                                    <input id="year_built" ng-model="ctrl.model.clientInformation.year_built" type="number" name="year_built" class="form-control" ng-min="1600" ng-max="ctrl.model.yyyy" />
                                                    <div ng-messages="ctrl.model.propertyForm.year_built.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.acres}}</label>
                                                    <input id="acres" ng-model="ctrl.model.clientInformation.acres" type="number" class="form-control" name="acres" ng-min="0" step="0.01" />
                                                    <div ng-messages="ctrl.model.propertyForm.acres.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.totalStorage}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.total_storage | bytes}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.customSupportEmail}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.custom_support_email}}</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.purchasePrice}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.property.purchase_price | currency}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.status}}</label>
                                                    <select ng-options="option.value as option.name for option in ctrl.model.statusOptions" ng-model="ctrl.model.binder.binder_status" class="form-control"></select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.completenessScore}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.completeness_score}}%</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.latitude}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.property.lat}}%</p>
                                                </div>
                                                <div class="col-xs-6">
                                                    <label for="acres">{{ctrl.model.resources.longitude}}</label>
                                                    <p class="form-control-static">{{ctrl.model.binder.property.long}}%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="true">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info2}}</h4>
                            </div>
                            <text-angular ng-model="ctrl.model.formCfg.binderTemplate.transfer_note" placeholder="{{ctrl.model.resources.placeholder}}"></text-angular>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" role="group" aria-label="...">
                <button ng-click="ctrl.model.close()" type="submit" class="btn btn-primary">{{ctrl.model.resources.closeButton}}</button>
                <button ng-if="ctrl.model.binder" ng-click="ctrl.model.transferBinder()" type="submit" class="btn btn-secondary">{{ctrl.model.resources.transferButton}}</button>
                <button ng-click="ctrl.model.saveCall()" ng-disabled="ctrl.model.processing" type="submit" class="btn btn-primary">{{ctrl.model.resources.saveButton}}</button>
            </div>
        </div>
    </div>
</div>
<div ng-if="!ctrl.model.binder.permissions.can_read && ctrl.model.binderId">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Add to Existing Binder</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><strong>Binder ID:</strong> {{ctrl.model.binder.id}}</p>
            <p><strong>Binder Property:</strong> {{ctrl.model.binder.property.address1}} {{ctrl.model.binder.property.city}} {{ctrl.model.binder.property.state}} {{ctrl.model.binder.property.zip}}</p>
            <p>To add information to the HomeBinder listed above click on the menu to the left and then click on Add in the upper right corner.</p>
            <p>The owner of the binder will get an email notifying them that you’ve contributed to their HomeBinder and ask them if they want to approve. If they click “Yes” then what you’ve entered will immediately be added to their binder.</p>
            <p>(Notification emails are sent every 2 hours so the binder owner may not get an email notifying them right away.)</p>
        </div>
    </div>
</div>