<div class="merge-agent-modal">
    <div class="modal-header text-center">
        <button type="button" class="close" aria-hidden="true" ng-click="ctrl.close()">&times;</button>
        <h3>{{ctrl.resources.mergeDuplicates}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p><strong>{{ctrl.resources.description1}}</strong>&nbsp;{{ctrl.resources.description2}}</p>
            </div>
        </div>
        <form role="form" class="row">
            <div class="col-xs-6">
                <div class="radio text-center">
                    <label class="hb-radio-container" ng-class="{'active': ctrl.checkedAgent == 1}">
                        <input type="radio" name="agent1" value="1" ng-model="ctrl.checkedAgent">
                        <span class="checkmark"></span>
                        {{ctrl.resources.keep}}
                    </label>
                </div>
                <div class="radio text-center">
                    <label class="hb-radio-container" ng-class="{'active': ctrl.checkedAgent == 2}">
                        <input type="radio" name="agent2" value="2" ng-model="ctrl.checkedAgent">
                        <span class="checkmark"></span>
                        {{ctrl.resources.merge}}
                    </label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="radio text-center">
                    <label class="hb-radio-container" ng-class="{'active': ctrl.checkedAgent == 2}">
                        <input type="radio" name="agent3" value="2" ng-model="ctrl.checkedAgent">
                        <span class="checkmark"></span>
                        {{ctrl.resources.keep}}
                    </label>
                </div>
                <div class="radio text-center">
                    <label class="hb-radio-container" ng-class="{'active': ctrl.checkedAgent == 1}">
                        <input type="radio" name="agent4" value="1" ng-model="ctrl.checkedAgent">
                        <span class="checkmark"></span>
                        {{ctrl.resources.merge}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table merge-table">
                        <tbody>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.firstName}}</p>
                                    <p class="value">{{ctrl.agent1.firstName}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.firstName}}</p>
                                    <p class="value">{{ctrl.agent2.firstName}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.lastName}}</p>
                                    <p class="value">{{ctrl.agent1.lastName}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.lastName}}</p>
                                    <p class="value">{{ctrl.agent2.lastName}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.email}}</p>
                                    <p class="value">{{ctrl.agent1.email}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.email}}</p>
                                    <p class="value">{{ctrl.agent2.email}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.company}}</p>
                                    <p class="value">{{ctrl.agent1.company}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.company}}</p>
                                    <p class="value">{{ctrl.agent2.company}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.phone}}</p>
                                    <p class="value">{{ctrl.agent1.phone}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.phone}}</p>
                                    <p class="value">{{ctrl.agent2.phone}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.address}}</p>
                                    <p class="value">{{ctrl.agent1.address}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.address}}</p>
                                    <p class="value">{{ctrl.agent2.address}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.logo}}</p>
                                    <p class="value">{{ctrl.agent1.logoPresent}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.logo}}</p>
                                    <p class="value">{{ctrl.agent2.logoPresent}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.headshot}}</p>
                                    <p class="value">{{ctrl.agent1.headshotPresent}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.headshot}}</p>
                                    <p class="value">{{ctrl.agent2.headshotPresent}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.additionalFields}}</p>
                                    <p class="value">{{ctrl.agent1.additionalFields}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.additionalFields}}</p>
                                    <p class="value">{{ctrl.agent2.additionalFields}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{ctrl.resources.numBinders}}</p>
                                    <p class="value">{{ctrl.agent1.numBinders}}</p>
                                </td>
                                <td>
                                    <p>{{ctrl.resources.numBinders}}</p>
                                    <p class="value">{{ctrl.agent2.numBinders}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary" ng-click="ctrl.confirmMerge()">{{ctrl.resources.mergeAccountsNow}}</button>
            </div>
        </form>
    </div>
</div>