.merge-agent-modal {
    .modal-header {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: #ffffff;
        border-color: #000000;

        h3 {
            color: #000000;
        }

        .close {
            opacity: 1;
        }
    }

    table {
        table-layout: fixed;

        &.merge-table > tbody > tr > td {
            &:first-child {
                border-right: 1px solid #999999;
            }
        }

        tbody > tr > td {
            margin-bottom: 15px;
            width: 50%;
            border: none;
            white-space: normal !important;
            word-wrap: break-word;

            p {
                margin: 0;
                font-size: 16px;
                word-wrap: break-word;
            }

            .value {
                font-weight: bold;
            }
        }
    }

    .agent-search {
        table-layout: auto;
        tbody > tr > td {
            width: auto;
        }
    }
}

.hb-radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    color: #999999;

    input {
        display: none;
        &:checked~.checkmark:after {
            display: block;
        }
    }

    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        border: 2px solid #999999;

        &:after {
            content: "";
            display: none;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background: #999999;
        }
    }
    
    &.active {
        color: #ff6633;
    
        .checkmark {
            border-color: #ff6633;

            &:after {
                background: #ff6633;
            }
        }
    }
}