<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.maintenanceTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/maintenanceItems" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_items_collapsed" ng-click="ctrl.is_items_collapsed = !ctrl.is_items_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_items_collapsed, 'glyphicon glyphicon-plus': ctrl.is_items_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.maintenanceTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_items_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.items.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.maintenanceTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allItems, "btn btn-default": !ctrl.allItems}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allItems, "glyphicon glyphicon-eye-close": !ctrl.allItems}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.items.length > 0">
		<thead>
			<tr>
				<th class="col-xs-7">
					<label>{{ctrl.resources.maintenanceDescription}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.maintenanceFrequency}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="maintenance_item in ctrl.items | orderBy:'name':'asc'">
				<td class="col-xs-7">
					<span class="description capitalize">{{ maintenance_item.name}}</span>
					<span class="notes" ng-bind-html="maintenance_item.details"></span>
				</td>
				<td class="col-xs-3 frequency"><span>Every&nbsp;{{ maintenance_item.interval }}&nbsp;{{ maintenance_item.maintenance_cycle }}</span></td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(maintenance_item)" type="button" ng-class='{"btn btn-primary": maintenance_item.seller_report_item.include, "btn btn-default": !maintenance_item.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": maintenance_item.seller_report_item.include, "glyphicon glyphicon-eye-close": !maintenance_item.seller_report_item.include}'></span></button>
					<!--<button type="button" class="btn btn-primary" ng-click="ctrl.destroy(maintenance_item)"><span class="glyphicon glyphicon-remove"></span></button>-->
				</td>
			</tr>
		</tbody>
	</table>
	<!--<div class="row">-->
	<!--	<div class="col-xs-6 text-left">-->
	<!--		<button class="btn btn-primary" type="button" ng-click="ctrl.addItem()" ng-disabled="ctrl.appForm.$invalid">-->
	<!--			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Item-->
	<!--		</button>-->
	<!--	</div>-->
	<!--</div>-->
	<div ng-if="ctrl.items.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.maintenanceBinderNone}}</p>
	</div>
</div>
<br/>
<hr>