<div class="container-fluid">
	<div class="page-header">
		<button class="btn btn-primary pull-right" ng-click="ctrl.model.addItem()">{{ctrl.model.resources.addNew}}</button>
		<h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<form role="form" name="searchForm">
					<div class="form-group">
						<label for="text">{{ctrl.model.resources.search}}:</label>
						<div class="input-group input-group-sm">
							<input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="type id, name, or sub_type..." ng-minlength="1" required/>
							<span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
							</button>
							<button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="row hb-custom-table">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" style="background-color: white;">
					<thead>
						<tr>
							<th class="{{attribute.style}}" ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
								<span ng-if="attribute.sorted">
                                    <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                    <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
								<span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="type in ctrl.model.items">
							<td class="col-xs-2">{{type.id}}</td>
							<td class="col-xs-2">
								<span ng-if="!type.editMode">{{type.name}}</span>
								<input ng-if="type.editMode" class="form-control" type="text" name="name" ng-model="type.name" placeholder="Electrician" required />
							</td>
							<td class="col-xs-5">
								<span ng-if="!type.editMode">
									<span ng-repeat="sub_type in type.sub_types">{{sub_type.name | titleize}},&nbsp;</span>
								</span>
								<span ng-if="type.editMode">
									<ui-select
									           ng-model="ctrl.model.types"
									           multiple
									           close-on-select="true"
									           on-select="ctrl.model.onSelect($select, $item, type)"
									           on-remove="ctrl.model.onRemove($item, type)"
									           reset-search-input="true">
									    <ui-select-match placeholder="CPA, Renovation, Installation">{{$item.name}}</ui-select-match>
									    <ui-select-choices refresh="ctrl.model.searchSubTypes($select.search, type)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.options">
									        {{option.name}}
									    </ui-select-choices>
									</ui-select>   
								</span>
							</td>
							<td class="col-xs-2">
								<div ng-if="type.editMode">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-secondary" ng-click="ctrl.model.save(type, $index)" ng-disabled="type.processing"><span class="glyphicon glyphicon-ok"></span></button>
										<button type="button" class="btn btn-secondary" ng-click="ctrl.model.cancel(type, $index)" ng-disabled="type.processing"><span class="glyphicon glyphicon-ban-circle"></span></button>
									</div>
								</div>
								<div class="btn-group" ng-if="!type.editMode">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								<span>{{ctrl.model.resources.options}}</span>
                                        <span class="caret"></span>
                                    </button>
									<ul class="dropdown-menu pull-right">
										<li ng-click="ctrl.model.editItem(type)">
											<a href="">
                                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.edit}}
                                            </a>
										</li>
										<li ng-click="ctrl.model.deleteItem(type, $index)" tooltip="Delete">
											<a href="">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                            </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr ng-if="ctrl.model.items.length < 1">
							<td colspan="5">
								<h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
								</pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>