<div class="landing-inspectors landing-new">
  <div class="section navigation">
    <div class="container hidden-xs">
      <img class="brand" alt="Brand" src="../../img/newInspector/brandLogo.png">
      <ul class="nav navbar-nav main-nav">
        <li class="nav-item"><a href="/index">{{ctrl.resources.homeowners}}</a></li>
        <li class="nav-item dropdown">
          <a href="" class="dropdown-toggle active nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.resources.professionals}} <span class="caret"></span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/inspectors">{{ctrl.resources.inspectors}}</a>
            <a class="dropdown-item" href="/agents">{{ctrl.resources.agents}}</a>
            <a class="dropdown-item" href="/lenders">{{ctrl.resources.lenders}}</a>
            <a class="dropdown-item" href="/pros">{{ctrl.resources.homepros}}</a>
            <a class="dropdown-item" href="/managers">{{ctrl.resources.managers}}</a>
            <a class="dropdown-item" href="/builders">{{ctrl.resources.builders}}</a>
            <a class="dropdown-item" href="/hoas">{{ctrl.resources.hoas}}</a>
            <a class="dropdown-item" href="/insurances">{{ctrl.resources.insurances}}</a>
          </div>
        </li>
        <li style="display: none;" class="nav-item"><a href="/team">{{ctrl.resources.team}}</a></li>
        <li class="nav-item"><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
        <li class="nav-item"><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
      </ul>
      <ul class="navbar-nav registration-buttons pull-right">
        <li><a class="btn btn-default" href="/login">{{ctrl.resources.signIn}}</a></li>
        <li><a class="btn btn-primary hide-small" ng-click="ctrl.startTrial()">{{ctrl.resources.startTrial}}</a></li>
      </ul>
    </div>
    <nav class="navbar navbar-inverse visible-xs hidden-sm hidden-md hidden-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>              
          </button>
          <a class="navbar-brand" href="/index"><img src="../../img/flatlogonotext.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/inspectors">{{ctrl.resources.inspectors}}</a></li>
            <li><a href="/agents">{{ctrl.resources.agents}}</a></li>
            <li><a href="/lenders">{{ctrl.resources.lenders}}</a></li>
            <li><a href="/pros">{{ctrl.resources.homepros}}</a></li>
            <li><a href="/managers">{{ctrl.resources.managers}}</a></li>
            <li><a href="/builders">{{ctrl.resources.builders}}</a></li>
            <li><a href="/hoas">{{ctrl.resources.hoas}}</a></li>
            <li><a href="/insurances">{{ctrl.resources.insurances}}</a></li>
            <li style="display: none;"><a href="/team">{{ctrl.resources.team}}</a></li>
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/login">{{ctrl.resources.signIn}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="section welcome">
    <div class="container">
      <div class="col-md-7 col-sm-12">
        <h1>{{ctrl.resources.dramatically}} <span>{{ctrl.resources.increaseAgentReferrals}}</span> & <span>{{ctrl.resources.decreaseClientComplaints}}</span> {{ctrl.resources.by}} <span>57% {{ctrl.resources.withoutAddingTime}}</span> {{ctrl.resources.toYourDay}}</h1>
        <h2>{{ctrl.resources.lastFiveYears}}</h2>
        <div class="demo-buttons">
          <a class="btn btn-primary watch-button" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          <a class="btn btn-default schedule-button" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          <div class="row free-trial-link">
            <div class="col-sm">
              <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 visible-lg visible-md hidden-sm hidden-xs text-center">
        <a href="" target="_blank" ng-click="ctrl.watchVideo()">
          <img class="watch-video" src="../../img/newInspector/watchVideo.png">
        </a>
      </div>
      <div class="row visible-lg visible-md hidden-sm hidden-xs">
        <div class="col-sm-2 col-sm-offset-5 text-center margin-top">
          <a href="#mobile">
            <p>{{ctrl.resources.learnMore}}</p>
            <img src="../../img/newInspector/learnMore.png">
          </a>
        </div>
      </div>
      <div class="hero">
        <p class="callus visible-lg visible-md hidden-sm hidden-xs">{{ctrl.resources.callUs}}: <span>1-800-377-6915</span></p>
      </div>
    </div>
  </div>
  <div class="section stats">
    <div class="container text-center">
      <div class="col-md-2 col-md-offset-1 col-xs-12">
        <h3 class="inspectors-in">{{ctrl.resources.inspectorsIn}}:</h3>
        <h2 class="smaller">{{ctrl.resources.allFiftyStates}}</h2>
        <h3>{{ctrl.resources.andThreeCountries}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>1500+</h2>
        <h3>{{ctrl.resources.homeInspectors}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>14</h2>
        <h3>{{ctrl.resources.integrations}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>250K</h2>
        <h3>{{ctrl.resources.homeowners}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>2+M</h2>
        <h3>{{ctrl.resources.remindersSent}}</h3>
      </div>
    </div>
  </div>
  <div class="section mobile">
    <div class="container" id="mobile">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.effortlesslyDeliver}} <span>{{ctrl.resources.moreValue}}</span> & {{ctrl.resources.receive}} <span>{{ctrl.resources.morePositiveReviews}}</span></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.mobileApp}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-0 col-md-push-4 col-xs-6 col-xs-offset-3 text-center">
          <img class="iPhone" src="../../img/newInspector/iPhone.png">
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12 main-content">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/importantEmail.png">
              <h2>{{ctrl.resources.maintenanceReminders}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.maintenanceRemindersCaption}}</h3>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/worker.png">
              <h2>{{ctrl.resources.recommendedHomePros}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.recommendedHomeProsCaption}}</h3>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/ebook.png">
              <h2>{{ctrl.resources.homeownerGuide}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.homeownerGuideCaption}}</h3>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/cost.png">
              <h2>{{ctrl.resources.pricerEstimates}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.pricerEstimatesCaption}}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 main-content">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/ovenAlert.png">
              <h2>{{ctrl.resources.recallAlertsNew}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.recallAlertsNewCaption}}</h3>
            </div>
          </div>

          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/cloudStorage.png">
              <h2>{{ctrl.resources.documentStorageNew}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.documentStorageNewCaption}}</h3>
            </div>
          </div>

          <div class="clearfix visible-sm"></div>

          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/house.png">
              <h2>{{ctrl.resources.homePermit}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.homePermitCaption}}</h3>
            </div>
          </div>

          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/waitingHouse.png">
              <h2>{{ctrl.resources.propertyReviews}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.propertyReviewsCaption}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row quotes">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.amandaQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.amanda}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.jasonQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.jason}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.javierQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.javier}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.crystalQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.crystal}}</p>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section webinar hidden-xs">
    <div class="container">
      <div class="col-lg-3 col-md-4 text-center">
        <img class="img-responsive visible-lg visible-md hidden-sm hidden-xs" src="../../img/newInspector/clientComplaints.png">
      </div>
      <div class="col-lg-9 col-md-8">
        <h1 data-drip-attribute="headline">{{ctrl.resources.clientClaimsTitle}}</h1>
        <h3 data-drip-attribute="description">{{ctrl.resources.clientClaimsSubtitle}}</h3>
        <form action="https://www.getdrip.com/forms/343525092/submissions" method="post" data-drip-embedded-form="343525092" class="form-group">
          <input type="text" id="drip-full-name" name="fields[full_name]" value="" class="form-control name" placeholder="{{ctrl.resources.yourFullName}}"/>
          <input type="email" id="drip-email" name="fields[email]" value="" class="form-control email" placeholder="{{ctrl.resources.yourEmail}}"/>
          <button type="submit" class="btn btn-primary submit" data-drip-attribute="sign-up-button">{{ctrl.resources.submit}}</button>
          <div style="display: none;" aria-hidden="true">
            <label for="website">Website</label><br />
            <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section agents">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.getAn}} <span>{{ctrl.resources.openDoor}}</span> {{ctrl.resources.toAgentBrokerages}} <span>{{ctrl.resources.earnMoreReferrals}}</span></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.getTheAttention}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-push-6 col-sm-12 text-center">
          <img class="img-responsive agent-monitor" src="../../img/newInspector/agentMonitor.png">
        </div>
        <div class="col-md-6 col-md-pull-6 col-sm-12 main-content">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/businessCard.png">
              <h2>{{ctrl.resources.cobranded}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.cobrandedCaption}}</h3>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/powerPoint.png">
              <h2>{{ctrl.resources.easyAgent}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.easyAgentCaption}}</h3>
            </div>
          </div>

          <div class="clearfix visible-sm"></div>

          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/cost.png">
              <h2>{{ctrl.resources.costEstimates}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.costEstimatesCaption}}</h3>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/sellerReport.png">
              <h2>{{ctrl.resources.sellerReportsNew}}</h2>
            </div>
            <div class="row">
              <h3>{{ctrl.resources.sellerReportsNewCaption}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row quotes">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.susanQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.susan}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.theresaQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.theresa}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.jonathanQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.jonathan}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.sammanthaQuote}}<span>"</span></p>
          <p>-{{ctrl.resources.sammantha}}</p>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="guide-image visible-lg visible-md hidden-sm hidden-xs">
    <img src="../../img/newInspector/guide.png">
  </div>
  <div class="section guide hidden-xs">
    <div class="container">
      <div class="col-md-9 col-md-offset-3">
        <h1 data-drip-attribute="headline">{{ctrl.resources.guideTitle}}</h1>
        <h3 data-drip-attribute="description">{{ctrl.resources.guideSubtitle}}</h3>
        <form action="https://www.getdrip.com/forms/140591652/submissions" method="post" data-drip-embedded-form="140591652" class="form-group">
          <input type="text" id="drip-full-name" name="fields[full_name]" value="" class="form-control name" placeholder="{{ctrl.resources.yourFullName}}"/>
          <input type="email" id="drip-email" name="fields[email]" value="" class="form-control email" placeholder="{{ctrl.resources.yourEmail}}"/>
          <button type="submit" class="btn btn-primary submit" data-drip-attribute="sign-up-button">{{ctrl.resources.submit}}</button>
          <div style="display: none;" aria-hidden="true">
            <label for="website">Website</label><br />
            <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section integrationsNew">
    <div class="container text-center">
      <div class="col-sm">
        <h1>{{ctrl.resources.integrateWith}} <span>{{ctrl.resources.fullyAutomate}}</span> & <span>{{ctrl.resources.saveTime}}</span></h1>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.integrationsSubtitle}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-2 col-xs-6">
          <img class="margin-top img-responsive" src="../../img/newInspector/isn.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="img-responsive" src="../../img/newInspector/homeInspectorPro.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="img-responsive" src="../../img/newInspector/horizon.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="margin-top img-responsive" src="../../img/newInspector/tapInspect.png">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-3 col-xs-6">
          <img class="img-responsive" src="../../img/newInspector/inspectCheckNet.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="margin-top img-responsive" src="../../img/newInspector/spectacular.png">
        </div>
        <div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
          <img class="img-responsive salesforce" src="../../img/newInspector/salesforce.png">
        </div>
      </div>

      <div class="col-sm">
        <h1>...{{ctrl.resources.and}} <span>{{ctrl.resources.optionally}}</span> {{ctrl.resources.maximize}}</h1>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="text-center subtitle">{{ctrl.resources.weEmpower}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-2 col-xs-6">
          <img class="img-responsive" src="../../img/newInspector/repairPricer.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="img-responsive" src="../../img/newInspector/buildFax.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="img-responsive complete-protection" src="../../img/newInspector/completeProtection.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="img-responsive one-source" src="../../img/newInspector/oneSourceSolutions.png">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-3 col-xs-6">
          <img class="margin-top img-responsive" src="../../img/newInspector/secureAlarmSystems.png">
        </div>
        <div class="col-sm-2 col-xs-6">
          <img class="margin-top img-responsive" src="../../img/newInspector/porch.png">
        </div>
        <div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-3">
          <h3 class="your-addon">{{ctrl.resources.yourAddon}}</h3>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section webinar hidden-xs">
    <div class="container">
      <div class="col-lg-3 col-md-4 text-center">
        <img class="img-responsive visible-lg visible-md hidden-sm hidden-xs" src="../../img/newInspector/millennialWebinar.png">
      </div>
      <div class="col-lg-9 col-md-8">
        <h1 data-drip-attribute="headline">{{ctrl.resources.webinarTitle}}</h1>
        <h3 data-drip-attribute="description">{{ctrl.resources.webinarSubtitle}}</h3>
        <form action="https://www.getdrip.com/forms/265538525/submissions" method="post" data-drip-embedded-form="265538525" class="form-group">
          <input type="text" id="drip-full-name" name="fields[full_name]" value="" class="form-control name" placeholder="{{ctrl.resources.yourFullName}}"/>
          <input type="email" id="drip-email" name="fields[email]" value="" class="form-control email" placeholder="{{ctrl.resources.yourEmail}}"/>
          <button type="submit" class="btn btn-primary submit" data-drip-attribute="sign-up-button">{{ctrl.resources.submit}}</button>
          <div style="display: none;" aria-hidden="true">
            <label for="website">Website</label><br />
            <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="section trusted">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.trustedBy}} <span>{{ctrl.resources.topInspectionBusinesses}}</span> {{ctrl.resources.acrossAmerica}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.trustedSubtitle}} <a href="https://homebinder.clickfunnels.com/inspectortestimonials" target="_blank">{{ctrl.resources.viewTestimonials}}</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.bertQuote}}<span>"</span></p>
          <img src="../../img/newInspector/bertWelsh.png" class="pull-left caption-image">
          <p>{{ctrl.resources.bert}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.danielQuote}}<span>"</span></p>
          <img src="../../img/newInspector/danielHunsaker.png" class="pull-left caption-image">
          <p>{{ctrl.resources.daniel}}</p>
        </div>

        <div class="clearfix visible-sm"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.lisaQuote}}<span>"</span></p>
          <img src="../../img/newInspector/lisaGiroux.png" class="pull-left caption-image">
          <p>{{ctrl.resources.lisa}}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <p><span>"</span>{{ctrl.resources.ianQuote}}<span>"</span></p>
          <img src="../../img/newInspector/ianRobertson.png" class="pull-left caption-image">
          <p>{{ctrl.resources.ian}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 image-border">
            <div class="col-md-2 col-sm-2 text-center">
              <img class="img-responsive caption-image" src="../../img/newInspector/myers.png">
            </div>
            <div class="col-md-10 col-sm-4">
              <p><span>"</span>{{ctrl.resources.cherylQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.cheryl}}</p>
            </div>
            <div class="col-md-2 col-sm-2 text-center">
              <img class="img-responsive caption-image" src="../../img/newInspector/merritt.png">
            </div>
            <div class="col-md-10 col-sm-4">
              <p><span>"</span>{{ctrl.resources.andyAndMonicaQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.andyAndMonica}}</p>
            </div>
            <div class="col-md-2 col-sm-2 text-center">
              <img class="img-responsive caption-image" src="../../img/newInspector/garySmith.png">
            </div>
            <div class="col-md-10 col-sm-4">
              <p><span>"</span>{{ctrl.resources.garyQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.gary}}</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <img class="img-responsive homebinder-map" src="../../img/newInspector/homebinderMap.png">
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <iframe width="300" height="184" src="https://www.youtube.com/embed/yZdOkIo_EMI?controls=0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <iframe width="300" height="184" src="https://www.youtube.com/embed/AaMNft6Obio?controls=0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <iframe width="300" height="184" src="https://www.youtube.com/embed/9S3_ftF50Uc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section different">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.homebinderForInspectors}} <span>{{ctrl.resources.different}}</span></h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.differentSubtitle}} <a href="https://www.homebinder.com/privacy" target="_blank">{{ctrl.resources.privacyPolicy}}</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered no-outer-border">
            <tr>
              <th>&nbsp;</th>
              <th>{{ctrl.resources.homebinder}}</th>
              <th>{{ctrl.resources.risksAndIssues}}</th>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/data.png">{{ctrl.resources.clientData}}</td>
              <td>{{ctrl.resources.keepsItPrivate}}</td>
              <td>{{ctrl.resources.sellsData}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/conversation.png">{{ctrl.resources.phoneEmailSolicitation}}</td>
              <td>{{ctrl.resources.none}}</td>
              <td>{{ctrl.resources.annoyingCallsEmails}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/touch.png">{{ctrl.resources.pointOfEngagement}}</td>
              <td>{{ctrl.resources.ongoingAfter}}</td>
              <td>{{ctrl.resources.onlyAt}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/alert.png">{{ctrl.resources.recallSetup}}</td>
              <td>{{ctrl.resources.addedBy}}</td>
              <td>{{ctrl.resources.requiresInspectors}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/womanClient.png">{{ctrl.resources.relevancy}}</td>
              <td>{{ctrl.resources.personalized}}</td>
              <td>{{ctrl.resources.generalized}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/customerService.png">{{ctrl.resources.customerService}}</td>
              <td>{{ctrl.resources.onCall}}</td>
              <td>{{ctrl.resources.responseTime}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/flyer.png">{{ctrl.resources.marketingMaterials}}</td>
              <td>{{ctrl.resources.customMaterials}}</td>
              <td>{{ctrl.resources.makeYourOwn}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/setup.png">{{ctrl.resources.accountSetup}}</td>
              <td>{{ctrl.resources.conceirgeSetup}}</td>
              <td>{{ctrl.resources.longAndDifficult}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/workerFilled.png">{{ctrl.resources.homeProsNew}}</td>
              <td>{{ctrl.resources.yourRecommendedList}}</td>
              <td>{{ctrl.resources.randomLocalPros}}</td>
            </tr>
            <tr>
              <td><img src="../../img/newInspector/price.png">{{ctrl.resources.pricing}}</td>
              <td>{{ctrl.resources.perInspectionUs}}</td>
              <td>{{ctrl.resources.perInspectionThem}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section circles">
    <div class="container">
      <div class="col-md text-center">
        <h1><span>{{ctrl.resources.builtForDemands}}</span> {{ctrl.resources.growingBusinesses}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.demandsSubtitle}}</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/privacy.png">
          </div>
          <h2>{{ctrl.resources.onCallSupport}}</h2>
          <p>{{ctrl.resources.onCallSupportCaption}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/saveTime.png">
          </div>
          <h2>{{ctrl.resources.doesntAddTime}}</h2>
          <p>{{ctrl.resources.doesntAddTimeCaption}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/customerSupport.png">
          </div>
          <h2>{{ctrl.resources.noSolicitation}}</h2>
          <p>{{ctrl.resources.noSolicitationCaption}}</p>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section expenses">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.the}} <span>{{ctrl.resources.leastExpensive}}</span> {{ctrl.resources.wayToGrow}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.expensesSubtitle}}</h2>
        </div>
      </div>

      <div class="calculations">
        <div class="row text-center">
          <div class="col-md-4">
            <h2>{{ctrl.resources.singleInspectors}}</h2>
            <h1>$16-54/{{ctrl.resources.monthAbbr}}</h1>
            <h3>0-300 {{ctrl.resources.inspectionsPerYear}}</h3>
          </div>
          <div class="col-md-4">
            <h2>{{ctrl.resources.smallMultiInspectors}}</h2>
            <h1>$107-214/{{ctrl.resources.monthAbbr}}</h1>
            <h3>600-1200 {{ctrl.resources.inspectionsPerYear}}</h3>
          </div>
          <div class="col-md-4">
            <h2>Large Multi-Inspectors</h2>
            <h1>+$321/{{ctrl.resources.monthAbbr}}</h1>
            <h3>1800+ {{ctrl.resources.inspectionsPerYear}}</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h2>{{ctrl.resources.howManyInspections}}</h2>
          </div>
        </div>
        <div style="display: none;" class="row text-center cost-to-business">
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-4 col-md-offset-8">
                <h2>{{ctrl.resources.costToYourBusiness}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <form name="calculateForm" class="form-group">
                  <input type="text" class="form-control" placeholder="300">
                </form>
              </div>
              <div class="col-md-4">
                <h2 class="equals-large">=</h2>
              </div>
              <div class="col-md-4">
                <h1>$54/{{ctrl.resources.monthAbbr}}</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-8">
                <h3>$555 {{ctrl.resources.monthlyValue}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row main-content">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <img src="../../img/newInspector/ovenLarge.png">
          <h2>{{ctrl.resources.applianceRecallAlerts}}</h2>
          <h3>$10 {{ctrl.resources.perInspectionValue}}</h3>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-5 col-sm-6">
          <img src="../../img/newInspector/emailLarge.png">
          <h2>{{ctrl.resources.reminderEmails}}</h2>
          <h3>$35 {{ctrl.resources.perMonthValue}}</h3>
        </div>
      </div>
      <div class="row main-content">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <img src="../../img/newInspector/cloudStorageLarge.png">
          <h2>{{ctrl.resources.documentStorageNew}}</h2>
          <h3>$3 {{ctrl.resources.perInspectionValue}}</h3>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-5 col-sm-6">
          <img src="../../img/newInspector/appsLarge.png">
          <h2>{{ctrl.resources.homeManagementApp}}</h2>
          <h3>$300 {{ctrl.resources.valuePerHomeowner}}</h3>
        </div>
      </div>
      <div class="row main-content">
        <div class="col-md-5 col-md-offset-1 col-sm-6">
          <img src="../../img/newInspector/ebookLarge.png">
          <h2>{{ctrl.resources.newHomeownerGuideEbook}}</h2>
          <h3>$6 {{ctrl.resources.perInspectionValue}}</h3>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-5 col-sm-6">
          <img src="../../img/newInspector/powerpointLarge.png">
          <h2>{{ctrl.resources.customizedMarketingMaterials}}</h2>
          <h3>$500 {{ctrl.resources.valuePerInspectionBusiness}}</h3>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section resources">
    <div class="container">
      <div class="col-md text-center">
        <h1 class="text-center">{{ctrl.resources.checkOut}} <span>{{ctrl.resources.freeResources}}</span> {{ctrl.resources.forInspectors}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.resourcesSubtitle}}</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img class="guide-img" src="../../img/newInspector/guide.png">
            </div>
            <a href="https://homebinder.clickfunnels.com/cheat-sheet-download" target="_blank">{{ctrl.resources.agentCheatSheet}}</a>
            <p>{{ctrl.resources.agentCheatSheetCaption}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img class="webinar-img" src="../../img/newInspector/millennialWebinar.png">
            </div>
            <a href="https://homebinder.clickfunnels.com/millennials" target="_blank">{{ctrl.resources.millennialWebinar}}</a>
            <p>{{ctrl.resources.millennialWebinarCaption}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img src="../../img/newInspector/hbscreenmarketing.png">
            </div>
            <a href="https://support.homebinder.com/using-your-marketing-materials" target="_blank">{{ctrl.resources.marketingMaterials}}</a>
            <p>{{ctrl.resources.marketingMaterialsCaption}}</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img src="../../img/newInspector/hbsupport.png">
            </div>
            <a href="https://support.homebinder.com/inspector-help-center" target="_blank">{{ctrl.resources.inspectorHelpCenter}}</a>
            <p>{{ctrl.resources.inspectorHelpCenterCaption}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img src="../../img/newInspector/hbblog.png">
            </div>
            <a href="http://blog.homebinder.com/category/inspectors/" target="_blank">{{ctrl.resources.inspectorBlog}}</a>
            <p>{{ctrl.resources.inspectorBlogCaption}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="background-rectangle">
            <div class="image-container">
              <img src="../../img/newInspector/hbfacebook.png">
            </div>
            <a href="https://www.facebook.com/homebinder/" target="_blank">{{ctrl.resources.facebookGroup}}</a>
            <p>{{ctrl.resources.facebookGroupCaption}}</p>
          </div>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-primary" href="https://homebinder.clickfunnels.com/webdemo" target="_blank">{{ctrl.resources.watchDemo}}</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-default" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
        <div class="row free-trial-link">
          <div class="col-sm text-center">
            <a href="" ng-click="ctrl.startTrial()">{{ctrl.resources.freeTrial}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="inspectors">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a class="logo"><img src="../../img/flatlogo2s.png"></a>
          <ul>
            <li class="hidden-xs"><a href="/index" class="active">{{ctrl.resources.homeowners}}</a> </li>
            <li class="hidden-xs"><a href="/inspectors">{{ctrl.resources.inspectors}}</a> </li>
            <li class="hidden-xs"><a href="/agents">{{ctrl.resources.agents}}</a> </li>
            <li>
              <p>&copy; {{ctrl.yyyy}} HomeBinder Inc.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul style="text-align: center;">
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/terms">{{ctrl.resources.terms}}</a></li>
            <li><a href="/privacy">{{ctrl.resources.privacy}}</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: right;">
          <li class="hidden-xs">1-800-377-6915</li>
          <li class="hidden-xs">SUPPORT AT HOMEBINDER DOT COM</li>
          <a href="http://www.facebook.com/homebinder" target="_blank"><img src="../../img/facebookgrey.gif" alt="Facebook image for HomeBinder's home management software"></a>&nbsp;
          <a href="http://www.twitter.com/homebinder" target="_blank"><img src="../../img/twittergrey.gif" alt="Facebook image for HomeBinder's home management software"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '9224990';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript';
    dc.async = true;
    dc.src = '//tag.getdrip.com/9224990.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
