<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ctrl.model.resources.title}}</h3>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row" ng-show="ctrl.model.step == 1">
            <div class="col-xs-12">
                <div class="checkbox" ng-repeat="service in ctrl.model.services">
                    <label><input type="checkbox" name="selectedServices[]" ng-model="service.selected">{{service.label}}</label>
                </div>
            </div>
        </div>
        <div class="row" ng-show="ctrl.model.step == 1">
            <div class="col-xs-6 text-left">
                <button type="button" class="btn btn-primary" ng-click="ctrl.model.requestServices()" ng-disabled="ctrl.model.processing">{{ctrl.model.resources.submit}}</button>
            </div>
        </div>
        <div class="row" ng-show="ctrl.model.step == 2">
            <div class="col-xs-12 text-center">
                <p>{{ctrl.model.resources.submitText}}</p>
            </div>
        </div>
    </div>
</div>