<div class="page-header">
    <div class="row">
        <div class="col-xs-6 pull-right" ng-if="ctrl.model.settings.canSearch">
            <form role="form" name="searchForm">
                <div class="form-group">
                    <label for="text">{{ctrl.model.resources.search}}:</label>
                    <div class="input-group input-group-sm">
                        <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by binder, sender, receiver..." ng-minlength="1" required/>
                        <span class="input-group-btn">
            		        <button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
                		        <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
						        <span class="glyphicon glyphicon-remove"></span>
					        </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <h3>{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
        </div>
    </div>
</div>
<div class="row" ng-if="ctrl.model.settings.canSearch">
    <div class="col-md-3 col-xs-12">
        <div class="form-group">
            <label for="search">{{ctrl.model.resources.binderId}}:</label>
            <input type="text" ng-model="ctrl.model.transferArgs.binder_id" class="form-control" placeholder="Please enter Binder ID">
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="form-group">
            <label for="search">{{ctrl.model.resources.senderId}}:</label>
            <input type="text" ng-model="ctrl.model.transferArgs.sender_id" class="form-control" placeholder="Please enter Sender ID">
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="form-group">
            <label for="search">{{ctrl.model.resources.receiverId}}:</label>
            <input type="text" ng-model="ctrl.model.transferArgs.receiver_id" class="form-control" placeholder="Please enter Receiver ID">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="search">{{ctrl.model.resources.status}}:</label>
                <p class="form-text text-muted">
                    {{ctrl.model.status}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
                        <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                        <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transfer in ctrl.model.items">
                    <td>{{transfer.binder_id}}</td>
                    <td>{{transfer.sender.email}}</td>
                    <td>{{transfer.receiver.email}}</td>
                    <td>{{transfer.status}}</td>
                    <td>{{transfer.access_token}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        						<span>{{ctrl.model.resources.options}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li ng-click="ctrl.model.edit(transfer)">
                                    <a href="">
                                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.edit}}
                                    </a>
                                </li>
                                <li ng-if="ctrl.model.canResend(transfer)" ng-click="ctrl.model.resend(transfer)">
                                    <a href="">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.resend}}
                                    </a>
                                </li>
                                <li ng-if="!ctrl.model.canResend(transfer)" ng-click="ctrl.model.send(transfer)">
                                    <a href="">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.send}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="6">
                        <h3 class="text-center">{{ctrl.model.resources.emptyTableText}}</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>