<div class="page-header">
    <h3>Binder Transactions&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Description</th>
                    <th>Tracking Number</th>
                    <th>Transaction Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in ctrl.model.items">
                    <td>
                        <select name="select" id="select" class="form-control" ng-model="transaction.transaction_type" ng-options="option.value as option.name for option in ctrl.model.default_transaction_types" required>
                        </select>
                    </td>
                    <td>{{transaction.transaction_cost | currency}}</td>
                    <td>{{transaction.description}}</td>
                    <td>{{transaction.tracking_number}}</td>
                    <td>{{transaction.transaction_date | date}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        						<span>Transaction Options</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li ng-click="ctrl.model.update(transaction)">
                                    <a href="">
                                        Update
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="6">
                        <h3 class="text-center">Binder doesn't have any transactions</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>