<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-envelope fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.resources.title}}&nbsp;&nbsp;</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <form role="form" name="ctrl.form">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.info}}</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="header in ctrl.resources.headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="email in ctrl.email_types">
                        <td>{{email.name}}</td>
                        <td ng-if="email.value === 'maintenance_email'">
                            <select name="roles" class="form-control" ng-model="email.item" ng-options="item as item.name for item in ctrl.items | filter:{do_date: ''}">
							</select>
                        </td>
                        <td ng-if="email.value === 'recall_email'">
                            <select name="roles" class="form-control" ng-model="email.item" ng-options="item as item.name for item in ctrl.appliances">
							</select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.send(email)" ng-disabled="email.disabled || !email.item"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>
</div>