<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;{{ctrl.resources.formTitle}}</h4>
</div>
<div class="modal-body">
        <h4>{{ctrl.message}}</h4>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.goToAppliances()" class="btn btn-primary">{{ctrl.resources.enterData}}</button>
    <button ng-click="ctrl.download()" type="button" class="btn btn-primary">{{ctrl.resources.download}}</button>
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>