<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.noticeTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center text-info">{{ctrl.text}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <p ng-repeat="recall in ctrl.recalls">{{recall.appliance.name}} - {{recall.appliance.make}} - {{recall.appliance.model}} - <a href="{{recall.recall_url}}" target="_blank">Link</a></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.ok()" class="btn btn-primary">{{ctrl.resources.ok}}</button>
</div>