<div class="seller-report">
	<div class="public-binder">

	<div class="report-wrapper">
		
		<div class="report-actions">
			<div class="row">
				<div class="col-xs-12">
					<div class="pull-left">
						<h4 class="text-primary" ng-click="ctrl.save('cancel')"><a href=""><strong><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.resources.back}}</strong></a></h4>
					</div>
					<div class="pull-right">
						<a href="" class="btn btn-md btn-primary" ng-click="ctrl.save('download')">{{ctrl.resources.downloadFull}}</a>
						<a href="" class="btn btn-md btn-primary" ng-click="ctrl.save('view')">{{ctrl.resources.viewReport}}</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="paper-document">
			<div class="report" >
				<div class="row report-heading">
					<div class="col-md-8 meta">
						<div class="pull-left hb-logo"><img src="/img/flatlogonotext.png"/></div>
						<h5>{{ctrl.resources.sellerReportFor}}</h5>
						<h1 ng-show="!ctrl.loading.isLoading()">{{ ctrl.binder.property.address1 }}<br/><small>{{ ctrl.binder.property.city }}, {{ ctrl.binder.property.state }}</small></h1>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.displayText}}</h4>
							</div>
						</div>
					</div>
				</div>
				
				<div class="well well-sm move-down">
			        <div class="checkbox">
					    <label><input type="checkbox" ng-model="ctrl.data.report.public">{{ctrl.resources.viewable}}</label>
	  				</div>
					<div class="checkbox">
					    <label><input type="checkbox" ng-model="ctrl.data.everything" ng-change="ctrl.selectAll()">{{ctrl.resources.selectAll}}</label>
	  				</div>
	  				<div class="checkbox">
					    <label><input type="checkbox" ng-model="ctrl.data.report.show_project_costs">{{ctrl.resources.showCosts}}</label>
	  				</div>
			    </div>
				
				<section class="row" id="details">
					<div class="col-xs-6">
						<h3>{{ctrl.resources.homePhoto}}</h3>
						<hr>
						<div class="row" ng-show="!ctrl.loading.isLoading()">
							<div ng-if="!ctrl.binder.hero_photo">
								<div class="col-xs-6">
									<img class="img-responsive center-block" ng-src="/img/genericlogo.jpg"></img>
								</div>
								<div class="col-xs-6">
								<div class="form-group text-center">
                					<hb-uploader cfg="ctrl.uploader" file-uploaded="ctrl.uploadSuccess(file)" file-error="ctrl.uploadError(response)" file-added="ctrl.uploadImage()"></hb-uploader>
								</div>
							</div>
							</div>
							<div ng-if="ctrl.binder.hero_photo">
								<div class="col-xs-12">
									<img class="img-responsive center-block" ng-src="{{ctrl.binder.hero_photo}}"></img>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<h3>{{ctrl.resources.property}}</h3>
						<hr>
						<div class="row">
							<div class="col-xs-12">
								<text-angular ng-model="ctrl.data.binder.details" rows="5" ng-maxlength="1000"></text-angular>
							</div>
						</div>
						<div class="row" style="margin-top: 15px;">
							<div class="col-xs-12">
								<div class="pull-right">
									<a href="" class="btn btn-md btn-primary" ng-click="ctrl.save('description')">{{ctrl.resources.save}}</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="row" id="appliances">
					<seller-report-form-appliances appliances="ctrl.data.appliances" select-all="ctrl.selectAllItems(ctrl.data.appliances, ctrl.data.allAppliances)" all-appliances="ctrl.data.allAppliances" binder-id="ctrl.data.binder.id"></seller-report-form-appliances>
				</section>
				
				<section class="row" id="maintenance">
					<seller-report-form-maintenance items="ctrl.data.maintenance" select-all="ctrl.selectAllItems(ctrl.data.maintenance, ctrl.data.allMaintenance)" all-items="ctrl.data.allMaintenance" binder-id="ctrl.data.binder.id"></seller-report-form-maintenance>
				</section>
				
				<section class="row" id="improvements">
					<seller-report-form-improvements improvements="ctrl.data.improvements" select-all="ctrl.selectAllItems(ctrl.data.improvements, ctrl.data.allImprovements)" all-improvements="ctrl.data.allImprovements" binder-id="ctrl.data.binder.id"></seller-report-form-improvements>
				</section>
				
				<section class="row" id="contractors">
					<seller-report-form-contractors contractors="ctrl.data.contractors" select-all="ctrl.selectAllItems(ctrl.data.contractors, ctrl.data.allContractors)" all-contractors="ctrl.data.allContractors" binder-id="ctrl.data.binder.id"></seller-report-form-contractors>
				</section>
				
				<section class="row" id="paints">
					<seller-report-form-paints paints="ctrl.data.paints" select-all="ctrl.selectAllItems(ctrl.data.paints, ctrl.data.allPaints)" all-paints="ctrl.data.allPaints" binder-id="ctrl.data.binder.id"></seller-report-form-paints>
				</section>
				
				<section class="row" id="permits">
					<seller-report-form-permits permits="ctrl.data.permits" select-all="ctrl.selectAllItems(ctrl.data.permits, ctrl.data.allPermits)" all-permits="ctrl.data.allPermits" binder-id="ctrl.data.binder.id"></seller-report-form-permits>
				</section>
				
				<section class="row" id="finishes">
					<seller-report-form-finishes finishes="ctrl.data.finishes" select-all="ctrl.selectAllItems(ctrl.data.finishes, ctrl.data.allFinishes)" all-finishes="ctrl.data.allFinishes" binder-id="ctrl.data.binder.id"></seller-report-form-finishes>
				</section>
				
				<section class="row" id="documents">
					<seller-report-form-documents documents="ctrl.data.documents" select-all="ctrl.selectAllItems(ctrl.data.documents, ctrl.data.allDocuments)" all-documents="ctrl.data.allDocuments" binder-id="ctrl.data.binder.id"></seller-report-form-documents>
				</section>
				
				<section ng-if="!ctrl.loading.isLoading()"  class="row" id="images">
					<seller-report-form-images images="ctrl.data.images" select-all="ctrl.selectAllItems(ctrl.data.images, ctrl.data.allImages)" all-images="ctrl.data.allImages" binder-id="ctrl.data.binder.id"></seller-report-form-images>
				</section>
				
				<div class="row">
					<div class="col-xs-12">
						<div class="text-center">
							<a href="" class="btn btn-md btn-primary" ng-click="ctrl.save('download')">{{ctrl.resources.downloadFull}}</a>
							<a href="" class="btn btn-md btn-primary" ng-click="ctrl.save('view')">{{ctrl.resources.viewReport}}</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>