<application-header></application-header>
<div class="mobile-view-select dropdown">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<span>Menu</span><b class="caret"></b>
	</a>
	<ul class="mobile-view-list dropdown-menu">
		<li ng-repeat="tab in admin.navCfg.navList" class="nav-sub" ui-sref-active="active">
			<a ui-sref="{{ tab.state }}" ui-sref-opts="{ binderId: data.id }" href="" ng-if="tab.id != 'spacer'">
				<span ng-if="tab.icon" class="{{ tab.icon }}"><span>&nbsp;</span>{{tab.label}}</span>
				<span ng-if="tab.faIcon"><span><i class="fa fa-shield" aria-hidden="true"></i>&nbsp;</span>{{tab.label}}</span>
				<span ng-show="tab.statusClass == 'active'" class="label label-white pull-right" id="item_count">{{resourceCount}}</span>
			</a>
		</li>
	</ul>
</div>
<div class="container inspector master-container">
    <div class="row">
    	<div class="col-md-2 col-sm-1 visible-sm">
			<div class="vertical-nav-parent sidebar-hidden">
				<ul class="nav nav-sidebar side-nav">
					<li ng-repeat="tab in admin.navCfg.navList" class="nav-sub" ui-sref-active="active">
						<a ui-sref="{{ tab.state }}" ui-sref-opts="{ binderId: data.id }" href="" ng-if="tab.id != 'spacer'">
							<img ng-if="tab.orange && binder.$state.current.name != tab.state" height="20px" width="20px" ng-src="{{tab.orange}}"></img>
							<img ng-if="tab.white && binder.$state.current.name === tab.state" height="20px" width="20px" ng-src="{{tab.white}}"></img>
							<span ng-if="tab.white || tab.orange">&nbsp;</span>
							<span ng-if="tab.icon" class="{{ tab.icon }}">&nbsp;</span><span ng-if="tab.faIcon"><i class="fa fa-shield" aria-hidden="true"></i>&nbsp;</span><span class="hidden-sm hidden-xs">{{tab.label}}</span>
							<span ng-show="tab.statusClass == 'active'" class="label label-white pull-right" id="item_count">{{resourceCount}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
    	
    	
        <div class="col-md-2 hidden-xs hidden-sm col-no-pad">
            <hb-vertical-nav ng-show="admin.navCfg.visible" cfg="admin.navCfg"></hb-vertical-nav>
        </div>
        <div class="col-md-10 col-sm-11 col-no-pad push-top">
            <div ui-view></div>
        </div>
    </div>
</div>
<application-footer></application-footer>