<div class="container-fluid">
    <div class="page-header">
        <div class="btn-group pull-right ">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>Partners</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li ng-click="ctrl.model.newItem()">
                    <a href="">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.newButton}}
                    </a>
                </li>
                <li ng-click="ctrl.model.downloadSummaries()">
                    <a href="">
                        <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download list
                    </a>
                </li>
            </ul>
        </div>
        <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white;">
            <div class="row">
                <div class="col-sm-5 col-xs-4">
                    <h4 class="text-muted">
                        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
                        <small ng-if="ctrl.model.currentUser.role === 'admin'" class="hidden-sm hidden-xs">{{ctrl.model.resources.searchInfo}}</small>
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <div class="pull-right">
                        <form role="form" name="searchForm">
                            <div class="form-group">
                                <label for="text">Search:</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by partner name, ID, contact..." ng-minlength="1" required/>
                                    <span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Show:</label>
                        <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color: white;" ng-if="ctrl.model.currentUser.role === 'admin'">
            <div class="row">
                <div class="col-xs-4" ng-if="false">
                    <div class="form-group">
                        <label for="headers">Choose/Remove Headers:</label>
                        <ui-select ng-model="ctrl.model.headers" multiple close-on-select="false" reset-search-input="true">
                            <ui-select-match placeholder="Select header..">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in ctrl.model.headerOptions | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Partner Type:</label>
                        <select ng-options="type.name as type.value for type in ctrl.model.partnerTypesOptions" ng-model="ctrl.model.partnerArgs.type" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Default ABS Action:</label>
                        <select ng-options="action.name as action.value for action in ctrl.model.defaultActionOptions" ng-model="ctrl.model.partnerArgs.default_action" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Auto Transfer/Share:</label>
                        <select ng-options="action.name as action.value for action in ctrl.model.autoActionOptions" ng-model="ctrl.model.partnerArgs.auto_action" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="search">Notify Agents:</label>
                        <select ng-options="option.name as option.value for option in ctrl.model.sendAgentOptions" ng-model="ctrl.model.partnerArgs.notify_agent" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="search">Default Branding Option:</label>
                        <select ng-options="option.name as option.value for option in ctrl.model.defaultBrandingOptions" ng-model="ctrl.model.partnerArgs.branding_option" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color: white;" ng-if="ctrl.model.currentUser.role === 'admin'">
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Warranties enabled:</label>
                        <select ng-options="option.name as option.value for option in ctrl.model.defaultWarrantyOptions" ng-model="ctrl.model.partnerArgs.warranty_option" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Can Perform APR:</label>
                        <select ng-options="option.name as option.value for option in ctrl.model.defaultAprOptions" ng-model="ctrl.model.partnerArgs.apr_option" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover table-condensed" style="background-color: white;">
                    <thead>
                        <tr>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="partner in ctrl.model.items">
                            <td>{{partner.id}}</td>
                            <td>{{partner.name}}</td>
                            <td>{{partner.code}}</td>
                            <td>{{partner.partner_type}}</td>
                            <td>{{partner.phone.national}}</td>
                            <td>{{partner.email}}</td>
                            <td>{{partner.contact}}</td>
                            <td>{{partner.affiliate_code}}</td>
                            <td>{{partner.partner_key}}</td>
                            <td>{{partner.created_at | date}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								<span>{{ctrl.model.resources.optionsButton}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-click="ctrl.model.editItem(partner)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;{{ctrl.model.resources.view}}
                                            </a>
                                        </li>
                                        <li ng-click="ctrl.model.impersonate(partner)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ctrl.model.resources.impersonate}}
                                            </a>
                                        </li>
                                        <li ng-if="ctrl.model.currentUser.role === 'admin'" ng-click="ctrl.model.deleteItem(partner, $index)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="11">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                                </pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
