<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<i class="fa fa-exchange text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span>
		</h1>
	</div>
</div>
<binder-form-transfers-table cfg="ctrl.cfg"></binder-form-transfers-table>