<div class="hb-select">
    <ui-select ng-model="ctrl.selection" title="{{ctrl.cfg.placeholder}}" class="hb-lookup" on-select="ctrl.onSelect($item, $model)">
        <ui-select-match placeholder="{{ctrl.cfg.placeholder}}" allow-clear="{{ctrl.cfg.allowClear}}">
            <div ng-if="!ctrl.cfg.selectionTemplate">
                {{$select.selected}}
            </div>
            <div ng-if="ctrl.cfg.selectionTemplate" ng-include="ctrl.cfg.selectionTemplate"></div>
        </ui-select-match>
        <ui-select-choices refresh="ctrl.search($select.search)" refresh-delay="ctrl.cfg.delay" minimum-input-length="ctrl.cfg.inputLength" repeat="option in ctrl.options">
            <div ng-if="!ctrl.cfg.itemTemplate">
                {{option}}
            </div>
            <div ng-if="ctrl.cfg.itemTemplate" ng-include="ctrl.cfg.itemTemplate"></div>
        </ui-select-choices>
    </ui-select>
</div>