.hb-select {
    .ui-select-bootstrap>.ui-select-match>.btn {
        /* text-overflow: ellipsis; */
        /* white-space: nowrap; */
        overflow: hidden;
    }
    .ui-select-toggle>.btn.btn-link {
        margin-right: 10px;
        top: 6px;
        position: absolute;
        right: 10px;
    }
}