<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
				<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="50" placeholder="Tile, Molding" />
				<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
				<label for="make" class="control-label">{{ctrl.model.resources.make}}</label>
				<input name="make" class="form-control" ng-model="ctrl.model.make" type="text" typeahead="type for type in ctrl.model.finishMakes | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="50" placeholder="" />
				<div ng-messages="ctrl.model.form.make.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
				<label for="model" class="control-label">{{ctrl.model.resources.model}}</label>
				<input name="model" class="form-control" ng-model="ctrl.model.model" type="text" typeahead="type for type in ctrl.model.finishModels | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="50" placeholder="" />
				<div ng-messages="ctrl.model.form.model.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
				<label for="style_color" class="control-label">{{ctrl.model.resources.style_color}}</label>
				<input name="style_color" class="form-control" ng-model="ctrl.model.style_color" type="text" ng-maxlength="255" placeholder="" />
				<div ng-messages="ctrl.model.form.style_color.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.store.$invalid && ctrl.model.form.$submitted }">
				<label for="store" class="control-label">{{ctrl.model.resources.store}}</label>
				<input name="store" class="form-control" ng-model="ctrl.model.store" type="text" typeahead="type for type in ctrl.model.stores | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Home Depot, Lowe's" />
				<div ng-messages="ctrl.model.form.store.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.price.$invalid && ctrl.model.form.$submitted }">
				<label for="price" class="control-label">{{ctrl.model.resources.price}}</label>
				<input name="price" class="form-control" ng-model="ctrl.model.price" type="number" />
				<div ng-messages="ctrl.model.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.purchase_date.$invalid && ctrl.model.form.$submitted }">
				<label for="purchase_date" class="control-label">{{ctrl.model.resources.purchase_date}}</label>
				<input name="purchase_date" class="form-control" ng-model="ctrl.model.purchase_date" value="{{ ctrl.model.install_date }}" type="text" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" min="ctrl.model.today"
				 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true" />
				<div ng-messages="ctrl.model.form.purchase_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
				<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
				<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
				<label>{{ctrl.model.resources.additionalDetails}}</label>
				<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this area/room"></textarea>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
				<label>{{ctrl.model.resources.media}}</label>
			</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
