<div class="form-group col-xs-12 col-md-6 text-center">
	<hb-uploader cfg="ctrl.imgUploader" file-uploaded="ctrl.imgUploadSuccess(file)" file-error="ctrl.imgUploadError({response: response})" file-added="ctrl.imageAdded()"></hb-uploader>
	<div class="col-xs-12 table-responsive">
		<table class="table table-hover table-condensed table-bordered">
			<tbody>
				<tr ng-repeat="image in ctrl.images">
					<td><i class="{{image.name | icon}}"></i></td>
					<td>{{image.name | limitTo: 15 }}{{image.name.length > 15 ? '&hellip;' : ''}}</td>
					<td ng-click="ctrl.remove($index, image)"><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>