<div class="modal-header">
    <h4 class="modal-title">{{ctrl.model.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="filter-block">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">{{ctrl.model.resources.category}}</span>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="categoryMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ctrl.model.category}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoryMenu">
                    <li ng-repeat="category in ctrl.model.categories">
                        <a href="" ng-click="ctrl.model.filterWidgets(category)">{{category}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li ng-repeat="widget in ctrl.model.filteredWidgets" class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{widget.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11">
                        <p>{{widget.description}}</p>
                    </div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.model.addWidget(widget)"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.model.close()" autofocus>{{ctrl.model.resources.closeButton}}</button>
</div>