<div class="page-header">
    <h3>Companies&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th>Partner ID</th>
                    <th>Partner Name</th>
                    <th>Partner Contact</th>
                    <th>Partner Email</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="client in ctrl.model.items">
                    <td>{{client.partner.id}}</td>
                    <td>{{client.partner.name}}</td>
                    <td>{{client.partner.contact}}</td>
                    <td>{{client.partner.email}}</td>
                    <td>{{client.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="5">
                        <h3 class="text-center">User has not worked with any partners</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>