<table class="maintenance-history-table table table-condensed">
    <thead>
        <tr>
            <th style="width:25%">{{ctrl.resources.dueOn}}</th>
            <th style="width:25%">{{ctrl.resources.completedOn}}</th>
            <th style="width:25%">{{ctrl.resources.workDone}}</th>
            <th style="width:25%"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in ctrl.events">
            <td ng-show="!event.can_edit"><span>{{ event.do_date | date:'M/d/y':'UTC' }}</span></td>
            <td ng-show="!event.can_edit"><span>{{ event.completed_date | date:'M/d/y':'UTC' }}</span></td>
            <td ng-show="!event.can_edit"><span>{{ event.contractor.name | titleize}}</span></td>
            <td ng-show="event.can_edit"><span><input id="do_date" ng-model="event.do_date" type="text" class="form-control" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.date[0].opened" ng-click="ctrl.open(0)" convert-date/></span></td>
            <td ng-show="event.can_edit"><span><input id="completed_date" ng-model="event.completed_date" type="text" class="form-control" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.date[1].opened" ng-click="ctrl.open(1)" convert-date/></span></td>
            <td ng-show="event.can_edit"><span><select id="contractor_id" ng-model="event.contractor_id" class="form-control" ng-options="contractor.id as (contractor.name | titleize) for contractor in ctrl.contractors" class="span4"></select></span></td>
            <td ng-show="!event.can_edit">
                <div class="buttons">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.edit(event)">{{ctrl.resources.edit}}</button>
                </div>
            </td>
            <td ng-show="event.can_edit">
                <div class="buttons">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.save(event)">{{ctrl.resources.save}}</button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.edit(event)">{{ctrl.resources.cancel}}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>