<!--<div class="modal-header">-->
<!--    <h4 class="modal-title"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Payment Info</h4>-->
<!--</div>-->
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Activate your account today!</h3>
        </div>
    </div>

    <div ng-if="ctrl.step === 'one'">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>Please enter last year's inspection volume (number of inspections completed). If you can't remember, you can enter an estimated amount of inspections you expect to complete this year.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form name="ctrl.form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <input id="count" ng-model="ctrl.count" type="number" class="form-control" name="count" ng-min="1" required/>
                                <div ng-messages="ctrl.form.count.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button type="button" ng-disabled="ctrl.form.$invalid" class="btn btn-primary" ng-click="ctrl.next()">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.step === 'two'">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>You qualify for the following plan below.<span ng-if="ctrl.customer.role === 'inspector'">Pricing is calculated as a flat monthly fee based on $2.35/inspection and divided evenly into an even monthly payment. There are NO extra fees or contracts.</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <div class="panel panel-primary">
                    <div class="panel-heading">Flat monthly fee!</div>
                    <div class="panel-body">
                        <div class="row">
                            <h1>{{ctrl.cost | currency}}</h1>
                        </div>

                        <div class="row">
                            <h4 class="text-muted text-uppercase">Billed Monthly</h4>
                        </div>

                        <div class="row">
                            <h5 class="text-muted">Automated Appliance Recall Alerts</h5>
                            <h5 class="text-muted">Branded Maintenance Reminder Emails</h5>
                            <h5 class="text-muted">Home Management App for Clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" ng-disabled="ctrl.form.$invalid" class="btn btn-primary" ng-click="ctrl.pay()">Enter Payment</button>
                </div>
            </div>
        </div>

    </div>
</div>