<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
            <a href="" ng-click="ctrl.model.remove()"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <a href="">
        <img class="img-responsive center-block" src="/img/homeSelfe.jpg" ng-click="ctrl.model.requestServices()">
    </a>
</div>