<div class="agent-option">
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span ng-if="option.displayName"><strong>{{option.displayName}}</strong>&nbsp;&nbsp;(<i>{{option.email}}</i>)</span>
            <span ng-if="!option.displayName">{{option.email}}</span>
        </div>
    </div>
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span>{{option.company}}</span>
        </div>
    </div>
</div>
