<div class="panel panel-default double-business-card">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{{ctrl.model.resources.title}}</h3>
        <div class="pull-right" ng-if="!ctrl.model.partnerBinder.thanked">
            <button type="button" class="btn btn-primary" ng-click="ctrl.model.sendFeedback()">{{ctrl.model.resources.giveThanks}}</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row" ng-if="ctrl.model.agent && ctrl.model.partner">
            <div class="col-xs-6 brand-info">
                <div class="row brand-images">
                    <div class="col-xs-6">
                        <img class="img-responsive" ng-src="{{ctrl.model.partner.head_shot_file}}">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" ng-src="{{ctrl.model.partner.logo_file}}">
                    </div>
                </div>
                <h4>{{ctrl.model.partner.first_name}}&nbsp;{{ctrl.model.partner.last_name}}</h4>
                <h5>{{ctrl.model.partner.company}}</h5>
                <h5><a href="mailto:{{ctrl.model.partner.email}}" target="_top">{{ctrl.model.partner.email}}</a></h5>
                <h5><a href="">{{ctrl.model.partner.mobile_phone.national}}</a></h5>
                <h5><a href="{{ctrl.model.partner.website}}">{{ctrl.model.partner.website}}</a></h5>
            </div>
            <div class="col-xs-6 brand-info">
                <div class="row brand-images">
                    <div class="col-xs-6">
                        <img class="img-responsive" ng-src="{{ctrl.model.agent.headshot}}">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" ng-src="{{ctrl.model.agent.logo}}">
                    </div>
                </div>
                <h4>{{ctrl.model.agent.first_name}}&nbsp;{{ctrl.model.agent.last_name}}</h4>
                <h5>{{ctrl.model.agent.company}}</h5>
                <h5><a href="mailto:{{ctrl.model.agent.email}}" target="_top">{{ctrl.model.agent.email}}</a></h5>
                <h5><a href="">{{ctrl.model.agent.mobile_phone}}</a></h5>
                <h5><a href="{{ctrl.model.agent.website}}">{{ctrl.model.agent.website}}</a></h5>
            </div>
        </div>
        <div class="row" ng-if="!ctrl.model.agent">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="row brand-images-single">
                        <div class="col-xs-6">
                            <img class="img-responsive" ng-src="{{ctrl.model.partner.head_shot_file}}">
                        </div>
                        <div class="col-xs-6">
                            <img class="img-responsive" ng-src="{{ctrl.model.partner.logo_file}}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 brand-info">
                    <h4>{{ctrl.model.partner.first_name}}&nbsp;{{ctrl.model.partner.last_name}}</h4>
                    <h5>{{ctrl.model.partner.company}}</h5>
                    <h5><a href="mailto:{{ctrl.model.partner.email}}" target="_top">{{ctrl.model.partner.email}}</a></h5>
                    <h5><a href="">{{ctrl.model.partner.mobile_phone.national}}</a></h5>
                    <h5><a href="{{ctrl.model.partner.website}}">{{ctrl.model.partner.website}}</a></h5>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!ctrl.model.partner">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="row brand-images-single">
                        <div class="col-xs-6">
                            <img class="img-responsive" ng-src="{{ctrl.model.agent.headshot}}">
                        </div>
                        <div class="col-xs-6">
                            <img class="img-responsive" ng-src="{{ctrl.model.agent.logo}}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 brand-info">
                    <h4>{{ctrl.model.agent.first_name}}&nbsp;{{ctrl.model.agent.last_name}}</h4>
                    <h5>{{ctrl.model.agent.company}}</h5>
                    <h5><a href="mailto:{{ctrl.model.agent.email}}" target="_top">{{ctrl.model.agent.email}}</a></h5>
                    <h5><a href="">{{ctrl.model.agent.mobile_phone}}</a></h5>
                    <h5><a href="{{ctrl.model.agent.website}}">{{ctrl.model.agent.website}}</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>