<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
	<h4>{{ctrl.resources.bodyFirst}}</h4>
	<div ng-if="ctrl.showSolarInfo">
		<h4>{{ctrl.resources.bodySecond}}</h4>
		<a href="{{ctrl.solarUrl}}" target="_blank" class="btn btn-primary">{{ctrl.resources.buttonText}}</a>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ctrl.close()">{{ctrl.resources.close}}</button>
</div>