<div class="container-fluid area-details">
    <div class="row binder-items-buttons">
        <div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
			    <a class="btn btn-default-new" href="" ng-click="ctrl.model.destroy()">{{ctrl.model.resources.destroy}}</a>
				<a class="btn btn-primary" href="" ng-click="ctrl.model.edit()">{{ctrl.model.resources.edit}}</a>
			</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.name}}</span>
            <span>{{ctrl.model.item.name}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.interval}}</span>
            <span>{{ctrl.model.interval}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.do_date}}</span>
            <span>{{ctrl.model.item.do_date | date:'MMM d, yyyy':'UTC'}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.completed_date}}</span>
            <span>{{ctrl.model.item.last_event_date | date:'MMM d, yyyy':'UTC'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.email_notifications}}</span>
            <span>{{ctrl.model.item.email_notifications | yesNo}}</span>
        </div>
        <div class="col-xs-12 col-sm-6" ng-if="ctrl.model.item.id">
            <span class="details-label">{{ctrl.model.resources.tags}}</span>
            <hb-tag-view cfg="ctrl.model.tagsCfg" tags="ctrl.model.item.tags"></hb-tag-view>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.details}}</span>
            <p ng-bind-html="ctrl.model.item.details"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.maintenance_events}}</span>
            <hb-maintenance-events tag-id="ctrl.model.tagId" events="ctrl.model.item.events" ng-if="ctrl.model.has_events"></hb-maintenance-events>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.images}}</span>
            <hb-images images="ctrl.model.images" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-images>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.documents}}</span>
            <hb-documents documents="ctrl.model.documents" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-documents>
        </div>
    </div>
    <hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" doc-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
    <hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)" img-added="ctrl.model.uploadImages()"></hb-image-uploader>
</div>