<div class="homeowner-onboard">
	<div class="modal-header" ng-if="ctrl.step != 'three'">
		<div class="row">
			<div class="col-xs-2">
				<img class="img-responsive center-block" src="/img/flatlogonotext.png" />
			</div>
			<div class="col-xs-10">
				<h2 class="text-center">{{ctrl.resources.title}}</h2>
			</div>
		</div>
	</div>
	<div class="modal-header" ng-if="ctrl.step === 'three'">
		<div class="row">
			<div class="col-xs-3">
				<img class="img-responsive center-block" src="/img/rp-white.png" style="top: 15px; position: relative;" />
			</div>
			<div class="col-xs-9">
				<h3 class="text-center" style="color: white;">{{ctrl.resources.repairPricerTitle}}</h3>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div ng-if="ctrl.step === 'one'">
			<div class="row">
				<div class="col-xs-12">
					<p>{{ctrl.resources.greeting}}
						<span ng-if="ctrl.user.user_profile_attributes.first_name">{{ctrl.user.user_profile_attributes.first_name}}!</span>
						<span ng-if="!ctrl.user.user_profile_attributes.first_name">&nbsp;{{ctrl.user.email}}!</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p>{{ctrl.resources.info}}</p>
				</div>
			</div>
			<div class="row" style="margin-top:15px;">
				<div class="col-xs-12">
					<p>{{ctrl.resources.helpText}}</p>
				</div>
			</div>

			<div class="row" style="margin-top:15px;">
				<div class="col-xs-10 col-xs-offset-1 text-left">
					<p>1. {{ctrl.resources.sentence1}}</p>
					<p>2. {{ctrl.resources.sentence2}}</p>
					<p>3. {{ctrl.resources.sentence3}}</p>
				</div>
			</div>

			<div class="row" style="margin-top:15px;">
				<div class="col-xs-12">
					<p>{{ctrl.resources.sentence4}}</p>
					<p>{{ctrl.resources.sincerely}},</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>{{ctrl.resources.teamtext}}</p>
					<button type="button" class="btn btn-primary pull-right" ng-click="ctrl.next()">{{ctrl.resources.next}}</button>
				</div>
			</div>
		</div>
		<div ng-if="ctrl.step === 'two'">
			<div class="row">
				<div class="col-xs-12 text-center">
					<p>{{ctrl.resources.confirm}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<form name="ctrl.form" role="form" style="margin-top:15px;" novalidate autocomplete="off">
						<div class="row">
							<div class="form-group col-md-6 col-xs-12">
								<label for="first_name"><strong>{{ctrl.resources.firstName}}:</strong></label>
								<input class="form-control" name="first_name" type="text" ng-model="ctrl.user.user_profile_attributes.first_name" required ng-minlength="2" ng-maxlength="128" placeholder="John" autofocus />
								<div ng-messages="ctrl.form.first_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
							<div class="form-group col-md-6 col-xs-12">
								<label for="last_name"><strong>{{ctrl.resources.lastName}}:</strong></label>
								<input class="form-control" name="last_name" type="text" ng-model="ctrl.user.user_profile_attributes.last_name" required ng-minlength="2" ng-maxlength="128" placeholder="Smith" />
								<div ng-messages="ctrl.form.last_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-xs-12">
								<label for="email"><strong>{{ctrl.resources.email}}*</strong></label>
								<input name="email" ng-model="ctrl.user.email" type="email" class="form-control" ng-maxlength="255" required/>
								<div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
							<div class="form-group col-md-6 col-xs-12">
								<label for="phone"><strong>{{ctrl.resources.phone}}*</strong></label>
								<div class="input-group">
									<span class="input-group-addon">+{{ctrl.country.code}}</span>
									<input id="phone" ng-model="ctrl.user.user_profile_attributes.mobile_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" required
									/>
								</div>
								<div ng-messages="ctrl.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-xs-12">
								<label for="address">{{ctrl.resources.address1}}*</label>
								<input name="address" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.address1" ng-maxlength="50" required/>
								<div ng-messages="ctrl.form.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
							<div class="form-group col-md-6 col-xs-12">
								<label for="city">{{ctrl.resources.city}}*</label>
								<input name="city" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.city" ng-maxlength="50" required/>
								<div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-xs-12">
								<label for="state">{{ctrl.resources.state}}*</label>
								<ui-select ng-model="ctrl.user.user_profile_attributes.address_attributes.state" on-select="ctrl.onSelect($item)" theme="bootstrap">
									<ui-select-match placeholder="Select a state">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
										<span ng-bind-html="item.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="form-group col-md-6 col-xs-12">
								<label for="zip">{{ctrl.resources.zip}}</label>
								<input name="zip" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.zip" ng-maxlength="20" />
								<div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6 col-xs-12">
								<label for="country">{{ctrl.resources.country}}</label>
								<ui-select name="country" ng-model="ctrl.user.user_profile_attributes.address_attributes.country" on-select="ctrl.onSelectCountry($item)" theme="bootstrap" ng-required="true">
									<ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="item.value as item in ctrl.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
										<span ng-bind-html="item.name | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<div ng-messages="ctrl.form.country.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
								</div>
							</div>
						</div>
						<div class="row" style="margin-top:15px;">
							<div class="col-xs-12">
								<button type="button" class="btn btn-primary pull-right" ng-click="ctrl.complete()" ng-disabled="ctrl.processing">{{ctrl.resources.complete}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div ng-if="ctrl.step === 'three'">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="row">
						<div class="col-xs-12">
							<h3 class="text-center">{{ctrl.resources.repairPricerSubTitle}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3 class="text-center">{{ctrl.resources.repairPricerInfo}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3 class="text-center">{{ctrl.resources.repairPricerHelp}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<h5><a href="https://www.youtube.com/watch?v=wRbdN9w1l0w" target="_blank" ng-click="ctrl.createEvent()">{{ctrl.resources.example}}</a></h5>
						</div>
					</div>
					<div class="row" style="margin-top:15px;">
						<div class="col-xs-6 text-center">
							<button type="button" class="btn btn-primary" ng-click="ctrl.orderNow()">{{ctrl.resources.orderNow}}</button>
						</div>
						<div class="col-xs-6 text-center">
							<button type="button" class="btn btn-primary" ng-click="ctrl.close()">{{ctrl.resources.close}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>