.homeowner-onboard {
    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #3c3b3b;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        h2 {
            color: white;
            position: relative;
            top: 10px;
            left: -10px;
        }
    }
}