.templates {
    .center-block {
        float: none !important;
    }
    .panel-heading {
        background-color: white;
    }
    .dropdown-menu {
        button {
            border: none;
        }
    }
    .btn-group .dropdown-menu {
        z-index: 1200;
    }
    label.col-xs-4.days {
        position: relative;
        top: 5px;
        left: -10px;
    }
}