<div class="container-fluid templates">
	<hb-toolbar cfg="ctrl.toolbarCfg"></hb-toolbar>
	<div ng-if="!ctrl.loading.isLoading()" class="row">
		<div ng-repeat="template in ctrl.templates_array">
			<div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
			<div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
			<div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
			<div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
				<h6 class="text-center" ng-if="ctrl.isDefaultTemplate(template.id)"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;{{ctrl.resources.defaultMsg}}</h6>
				<h3 class="text-center">{{template.name}}</h3>
				<h5 class="text-center">Template ID:&nbsp;{{template.id}}</h5>
				<h5 class="text-center">{{template.appliance_templates.length}}&nbsp;&nbsp;{{ctrl.resources.appliances}}</h5>
				<h5 class="text-center">{{template.maintenance_templates.length}}&nbsp;&nbsp;{{ctrl.resources.maintenanceItems}}</h5>
				<h5 class="text-center">{{template.contractor_templates.length}}&nbsp;&nbsp;{{ctrl.resources.homePros}}</h5>
				<h5 class="text-center">{{template.document_templates.length}}&nbsp;&nbsp;{{ctrl.resources.documents}}</h5>
				<div class="caption text-center">
					<div class="btn-group button-group text-left">
						<a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{ctrl.resources.options}}</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="" ng-click="ctrl.createBinder(template.id)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ctrl.resources.create}}</a></li>
							<li><a href="" ng-click="ctrl.editTemplate(template.id)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.resources.edit}}</a></li>
							<li><a href="" ng-if="!ctrl.isDefaultTemplate(template.id)" ng-click="ctrl.save(template.id)"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;{{ctrl.resources.setDefault}}</a></li>
							<li><a href="" ng-click="ctrl.copy(template.id)"><i class="fa fa-files-o"></i>&nbsp;&nbsp;{{ctrl.resources.duplicate}}</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="" ng-click="ctrl.confirmDelete(template)"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.resources.remove}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>