<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="permit_number" class="control-label">{{ctrl.model.resources.permit_number}}*</label>
						<input name="permit_number" class="form-control" ng-model="ctrl.model.permit_number" type="text" autofocus autocomplete="off" ng-maxlength="255" placeholder="S85-98754" required/>
						<div ng-messages="ctrl.model.form.permit_number.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.status.$invalid && ctrl.model.form.$submitted }">
						<label for="status" class="control-label">{{ctrl.model.resources.status}}</label>
						<input name="status" class="form-control" ng-model="ctrl.model.status" type="text" ng-maxlength="255" placeholder="Open, Final, Suspended" />
						<div ng-messages="ctrl.model.form.status.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label>{{ctrl.model.resources.contractor}}</label>
						<ui-select name="contractor" ng-model="ctrl.model.binder_contractor" theme="bootstrap" on-select="ctrl.model.onSelect($item, $model)">
							<ui-select-match placeholder="Select or search for a contractor...">{{$select.selected.contact}}</ui-select-match>
							<ui-select-choices repeat="item.contact as item in ctrl.model.options.contractors | filter: $select.search track by $index" value="{{$select.selected.value}}">
								<span ng-bind-html="item.contact | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="proposed_use" class="control-label">{{ctrl.model.resources.proposed_use}}</label>
						<input name="proposed_use" class="form-control" ng-model="ctrl.model.proposed_use" type="text" autocomplete="off" ng-maxlength="255" placeholder="Single Family, Multi-Family" />
						<div ng-messages="ctrl.model.form.proposed_use.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="work_class" class="control-label">{{ctrl.model.resources.work_class}}</label>
						<input name="work_class" class="form-control" ng-model="ctrl.model.work_class" type="text" ng-maxlength="255" placeholder="New Construction, Addition, Renovation" />
						<div ng-messages="ctrl.model.form.work_class.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="permit_type" class="control-label">{{ctrl.model.resources.permit_type}}</label>
						<input name="permit_type" class="form-control" ng-model="ctrl.model.permit_type" type="text" ng-maxlength="255" placeholder="Mechanical, Electrical, Plumbing" />
						<div ng-messages="ctrl.model.form.permit_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.valuation_amount.$invalid && ctrl.model.form.$submitted }">
						<label for="valuation_amount" class="control-label">{{ctrl.model.resources.valuation_amount}}</label>
						<input name="valuation_amount" class="form-control" ng-model="ctrl.model.valuation_amount" type="number" placeholder="$10,000.00" />
						<div ng-messages="ctrl.model.form.valuation_amount.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.permit_date.$invalid && ctrl.model.form.$submitted }">
						<label for="permit_date" class="control-label">{{ctrl.model.resources.permit_date}}</label>
						<input name="permit_date" class="form-control" ng-model="ctrl.model.permit_date" value="{{ ctrl.model.permit_date }}" type="text" placeholder="Aug 2, 2016" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options"
						 min="ctrl.model.today" show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true" />
						<div ng-messages="ctrl.model.form.permit_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
						<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
						<label>{{ctrl.model.resources.additionalDetails}}</label>
						<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this permit" ng-maxlength="1000"></textarea>
						<div ng-messages="ctrl.model.form.details.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>{{ctrl.model.resources.media}}</label>
					</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
