<div class="container-fluid">
    <div class="page-header">
        <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()">{{ctrl.model.resources.addNew}}</button>
        <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center text-muted">HomeBinder allows you to share a preferred list of home service providers in the homeowner HomeBinder accounts you're associated with. We will keep this curated list updated in all past and future client’s Binders. Editing, adding or removing
                will update all of your client’s Binders.</h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white;">
            <div class="row">
                <div class="col-sm-5 col-xs-4">
                    <h4 class="text-muted">
                        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
                        <small class="hidden-sm hidden-xs">{{ctrl.model.resources.searchInfo}}</small>
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <div class="pull-right">
                        <form role="form" name="searchForm">
                            <div class="form-group">
                                <label for="text">Search:</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="{{ctrl.model.resources.searchInfo}}" ng-minlength="1" required/>
                                    <span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Show:</label>
                        <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color: white;" ng-if="ctrl.model.currentUser.role === 'admin'">
            <div class="row">
                <div class="col-xs-4" ng-if="false">
                    <div class="form-group">
                        <label for="headers">Choose/Remove Headers:</label>
                        <ui-select ng-model="ctrl.model.headers" multiple close-on-select="false" reset-search-input="true">
                            <ui-select-match placeholder="Select header..">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in ctrl.model.headerOptions | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Binder ID:</label>
                        <input type="number" name="search" ng-model="ctrl.model.maintenanceItemsArgs.binderId" class="form-control searchbox" placeholder="search by Binder ID" ng-minlength="1" ng-min="1" />
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Due Date:</label>
                        <input name="do_date" class="form-control" ng-model="ctrl.model.maintenanceItemsArgs.do_date" type="text" value="{{ctrl.model.maintenanceItemsArgs.do_date}}" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options"
                            show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="background-color: white;">
                    <thead>
                        <tr>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.model.items">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <span ng-repeat="type in item.types"> 
									{{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
								</span>
                            </td>
                            <td>{{item.email}}</td>
                            <td><span ng-if="item.phone.international">{{item.phone.international}}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								<span>{{ctrl.model.resources.optionsButton}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-click="ctrl.model.edit(item)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.edit}}
                                            </a>
                                        </li>
                                        <li ng-click="ctrl.model.deleteItem(item, $index)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="11">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="11">
                                <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                                </pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>