<div ng-if="!ctrl.model.loading.isLoading()">    
    <div class="modal-header">
    	<h3 class="modal-title">{{ctrl.model.title}}</h3>
    </div>
    <div class="modal-body body-scroll">
        <div ng-if="ctrl.model.isLoading">{{ctrl.model.resources.loading}}</div>
        <div ng-if="!ctrl.model.isLoading">
			<h2 ng-if="ctrl.model.showDetails">Details</h2>
			<hb-organization-form ng-if="ctrl.model.showForm"
                                    cfg="ctrl.model.formCfg"
                                    on-saved="ctrl.model.onSaved(item)"></hb-organization-form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="ctrl.model.showDelete"
                ng-click="ctrl.model.destroy()"
                type="button"
                class="btn btn-danger button-left">{{ctrl.model.resources.deleteButton}}</button>
        <button ng-if="ctrl.model.showClose"
                ng-click="ctrl.model.close()"
                type="button"
                class="btn btn-default">{{ctrl.model.resources.closeButton}}</button>
        <button ng-if="ctrl.model.showCancel"
                ng-click="ctrl.model.close()"
                type="button"
                class="btn btn-default">{{ctrl.model.resources.cancelButton}}</button>
        <button ng-if="ctrl.model.showEdit"
                ng-click="ctrl.model.edit()"
                type="button"
                class="btn btn-primary">{{ctrl.model.resources.editButton}}</button>
        <button ng-if="ctrl.model.showSave"
                ng-click="ctrl.model.save()"
                type="button"
                class="btn btn-primary">{{ctrl.model.resources.saveButton}}</button>
    </div>
</div>