.analytics {
    .nav-pills {
        h2 {
            font-family: Arvo;
            float: left;
            margin-top: 57px;
            margin-bottom: 27px;
            color: #ff6633;
        }

        .nav-links {
            float: right;
            margin-top: 60px;

            li {
                display: inline-block;
                margin: 0px 20px;

                a {
                    padding: 5px;
                    font-size: 18px;
                    
                    &:hover, &:focus {
                        text-decoration: none;
                    }
                }
            }
            
            li:last-of-type {
                margin-right: 0px;
            }

            li.active>a,
            li>a:focus,
            li>a:hover {
                color: #ff6633;
                border-bottom: solid;
                border-bottom-width: 2px;
                background: transparent;
                border-radius: 0px;
            }
        }
    }

    .analytics-nav {
        margin-top: -50px;
    }

    .cursor {
        cursor: pointer;
    }
    
    .panel {
        border-radius: 10px;
        border-color: #dddddd;
        margin-bottom: 30px;
        
        h1 {
            margin-top: 0px;
        }
        
        .panel-heading, .panel-footer {
            background-color: #ffffff;
        }
        
        .panel-heading {
            padding: 0px;
            border-bottom-color: #dddddd;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            
            h4 {
                font-weight: normal;
                color: #ff6633;
            }
        }
        
        .panel-body {
            h1, h2, h3, h4 {
                font-family: Open Sans Semibold;
                
                span {
                    color: #ff6633;
                }
            }
            
            .bottom-paragraph {
                margin: 0px 20px 9px 20px;
            }
            
            .your-performance {
                font-size: 12px;
                top: -20px;
                right: 6px;
                cursor: pointer;
            }
        }
        
        .panel-footer {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    
    .panel-3-col, .panel-2-col {
        .panel-body {
            .row {
                margin-bottom: 25px;
            }
            
            div:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
    
    .buttons-panel {
        .btn {
            margin: 12px;
        }
    }
    
    .table-panel {
        .panel-heading {
            h3 {
                margin-left: 20px;
            }
        }
    }
    
    // Only extra small devices
	@media (max-width:@screen-xs-max) {
	    .analytics-nav {
	        margin-top: -25px;
        }
	}
	
	// Specific media query for nav bar
	@media (max-width: 681px) {
	    .nav-links {
	        margin-bottom: 27px;
	    }
	    
	    .nav-pills > .nav-links, .nav-pills > h2 {
	        float: none;
	    }
	    
	    .nav-pills .nav-links {
	        margin-top: 0px;
	        
	        li:last-of-type {
	            margin-right: 20px;
	        }
	    }
	}
	
	// Specific media query for nav bar
	@media (max-width: 445px) {
	    .nav-pills .nav-links {
	        li {
	            display: block;
	            margin-bottom: 15px;
	        }
	        
	        li:last-of-type {
	            margin-bottom: 0px;
	        }
	    }
	}
}