<div class="container-fluid analytics">
	<div class="row analytics-nav">
		<div class="col-xs-12 text-center">
			<ul class="nav nav-pills">
				<h2>{{ctrl.resources.title}}</h2>
				<div class="nav-links">
					<li ng-repeat="tab in ctrl.tabs" role="presentation" ng-class="{'active': ctrl.current_tab === tab.name, 'hidden-xs disabled': tab.disabled}">
						<a href="" ng-click="ctrl.setTabName(tab)">{{tab.name}}</a>
					</li>
				</div>
			</ul>
		</div>
	</div>

	<div ng-if="ctrl.current_tab == 'Dashboard'">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-3-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.homeownersAcceptingTitle}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.current}}</p>
								<h1 style="color: #ff6633;">{{ctrl.percentages.acceptedCurrent}}%</h1>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.thirtyAgo}}</p>
								<h1>{{ctrl.percentages.accepted30}}%</h1>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.ninetyAgo}}</p>
								<h1>{{ctrl.percentages.accepted90}}%</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 col-xs-12 text-center">
								<p>{{ctrl.resources.yourPerformance}}</p>
								<h1 style="margin-bottom: 0px;"><span>{{ctrl.data.grade}}</span>&nbsp;<span ng-click="ctrl.showPerformanceInfo()" class="glyphicon glyphicon-info-sign your-performance"></span></h1>
							</div>
							<div class="col-sm-7 col-xs-12">
								<div class="text-center" style="margin-top: 30px;">
									<a href="" ng-click="ctrl.showLoginInfo()">{{ctrl.resources.improveMetric}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-2-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.activeAcceptedTitle}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.lastNinety}}</p>
								<h1>{{ctrl.percentages.active90}}%</h1>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.ytd}}</p>
								<h1>{{ctrl.percentages.activeYtd}}%</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<p class="bottom-paragraph">{{ctrl.resources.activeAcceptedParagraph}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-2-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.thankYousTitle}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.lastNinety}}</p>
								<h1>{{ctrl.data.thankyou30}}</h1>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.allTime}}</p>
								<h1>{{ctrl.data.thankyouAll}}</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<p class="bottom-paragraph">{{ctrl.resources.thankYousParagraph}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-3-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.bindersSetupTitle}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.lastThirty}}</p>
								<h2>{{ctrl.data.binders30}}</h2>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.ytd}}</p>
								<h2>{{ctrl.data.bindersYtd}}</h2>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.allTime}}</p>
								<h2>{{ctrl.data.bindersAll}}</h2>
							</div>
						</div>
						<div class="row" ng-hide="true">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.changeYoY}}</p>
								<h3 style="color: #7ed321;">+32%</h3>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.changeYoY}}</p>
								<h3 style="color: #d0021b;">-4%</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-3-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.remindersSentTitle}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.lastThirty}}</p>
								<h2>{{ctrl.data.maintenance30}}</h2>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.ytd}}</p>
								<h2>{{ctrl.data.maintenanceYtd}}</h2>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.allTime}}</p>
								<h2>{{ctrl.data.maintenanceAll}}</h2>
							</div>
						</div>
						<div class="row" ng-hide="true">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.changeYoY}}</p>
								<h3 style="color: #7ed321;">+160%</h3>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.changeYoY}}</p>
								<h3 style="color: #7ed321;">+127%</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary buttons-panel">
					<div class="panel-heading">
						<h4 class="text-center">How To Grow Your Metrics</h4>
					</div>
					<div class="panel-body">
						<div class="row text-center">
							<div class="col-xs-12">
								<a class="btn btn-sm btn-primary" href="https://support.homebinder.com/using-your-marketing-materials" target="_blank">{{ctrl.resources.marketingMaterials}}</a>
							</div>
							<div class="col-xs-12" ng-if="ctrl.partner.partner_type === 'inspector'">
								<a class="btn btn-sm btn-primary" href="http://blog.homebinder.com/wp-content/uploads/2019/01/2019-HB-Inspector-Cheatsheet.pdf" target="_blank">{{ctrl.resources.marketingAgents}}</a>
							</div>
							<div class="col-xs-12">
								<a class="btn btn-sm btn-primary" href="https://support.homebinder.com/inspector-help-center" target="_blank">{{ctrl.resources.helpCenter}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-hide="true">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-primary panel-2-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.binders}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.lastSeven}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.total_binders_past_week}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.lastThirty}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.total_binders_past_month}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.total}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.total_binders}}</h4>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<b>{{ctrl.resources.bindersHelp}}</b>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.maintenance}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.lastSeven}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.reminders_sent}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.lastThirty}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.reminders_sent_past_month}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.total}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">{{ctrl.analytics.overview.reminders_sent_past_ninety}}</h4>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<b>{{ctrl.resources.maintenanceHelp}}</b>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.clientTitle}}&nbsp;<a href="" ng-click="ctrl.showIndexInfo()"><span class="glyphicon glyphicon-info-sign"></span></a></h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12">
								<h2 class="text-center text-primary">{{ctrl.analytics.overview.login_rate}}</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">{{ctrl.resources.industryAverage}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">48</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-9">
								<h4 class="text-left">Top {{ctrl.partner.partner_type | titleize}} Average:</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-right text-primary">76</h4>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-xs-12 text-center">
								<b>{{ctrl.resources.clientHelp}}</b>
								<button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="ctrl.showLoginInfo()">
										<span class="glyphicon glyphicon-info" aria-hidden="true"></span>{{ctrl.resources.index}}
									</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.current_tab == 'All Users'">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary table-panel">
					<div class="panel-heading">
						<h3>{{ctrl.resources.allInspectorsTitle}}&nbsp;<span>{{ctrl.analytics.inspectors.length}}</span>&nbsp;</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">{{ctrl.resources.inspectorIdColumn}}</th>
										<th class="text-center">{{ctrl.resources.inspectorNameColumn}}</th>
										<th class="text-center">{{ctrl.resources.inspectorEmailColumn}}</th>
										<th class="text-center">{{ctrl.resources.inspectorAcceptanceColumn}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="inspector in ctrl.analytics.inspectors track by $index">
										<td class="text-center">{{inspector.id}}</td>
										<td class="text-center">{{inspector.user_profile_attributes.display_name}}</td>
										<td class="text-center">{{inspector.email}}</td>
										<td class="text-center">{{inspector.acceptance_rate}}%</td>
									</tr>
									<tr ng-if="ctrl.analytics.inspectors.length < 1 && !ctrl.loading.isLoading()">
										<td colspan="6">
											<h1 class="text-center">{{ctrl.resources.noInspectors}}</h1>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<a href="" ng-click="ctrl.showLoginInfo()">{{ctrl.resources.improveMetricTeam}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.current_tab == 'Clients'">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary table-panel">
					<div class="panel-heading clearfix">
						<h3 class="pull-left">{{ctrl.resources.usersTitle}}&nbsp;<span>{{ctrl.analytics.users.length}}</span></h3><span class="glyphicon glyphicon-download-alt cursor" tooltip="Download logins" tooltip-placement="left" ng-click="ctrl.downloadClients()" ng-show="ctrl.showDownloadButton(ctrl.filtered_logins)"></span>
						<div class="pull-right">
							<form class="form-inline">
								<label>{{ctrl.resources.search}}</label>
								<div class="form-group">
									<input type="text" name="search" ng-model="ctrl.query" placeholder="Search by Client email..." class="form-control searchbox" tooltip="{{ ctrl.cfg.searchTip }}" tooltip-placement="bottom" ng-minlength="1" required/>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-body">
						<h5 class="text-center"><b>{{ctrl.resources.usersHelp}}</b></h5>
						<table class="table table-hover" style="background-color: white;">
							<thead>
								<tr>
									<th class="text-center">{{ctrl.resources.idColumn}}</th>
									<th class="text-center">{{ctrl.resources.emailColumn}}</th>
									<th class="text-center">{{ctrl.resources.transferColumn}}</th>
									<th class="text-center">{{ctrl.resources.acceptedColumn}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in ctrl.filtered_logins | filter: ctrl.query | orderBy:ctrl.sortBy:ctrl.reverseSort track by $index">
									<td class="text-center">{{user.id}}</td>
									<td class="text-center">{{user.email}}</td>
									<td class="text-center">{{user.created_at | date}}</td>
									<td class="text-center">{{user.accepted_transfer_at | date}}</td>
								</tr>
								<tr ng-if="ctrl.analytics.users.length < 1 && !ctrl.loading.isLoading()">
									<td colspan="6">
										<h1 class="text-center">{{ctrl.resources.noUsers}}</h1>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6">
										<pagination total-items="ctrl.analytics.users.length" ng-model="ctrl.usersPage" ng-change="ctrl.pageChange('logins')" max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage"></pagination>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.current_tab == 'Maintenance Reminders'">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">{{ctrl.resources.remindersTitle}}&nbsp;<span>{{ctrl.analytics.reminders.length}}</span>&nbsp;</h3><span class="glyphicon glyphicon-download-alt cursor" tooltip="Download reminders" tooltip-placement="left" ng-click="ctrl.downloadReminders()" ng-show="ctrl.showDownloadButton(ctrl.filtered_reminders)"></span>
						<div class="pull-right">
							<form class="form-inline">
								<label>{{ctrl.resources.search}}</label>
								<div class="form-group">
									<input type="text" name="search" ng-model="ctrl.query" placeholder="Search by binder name..." class="form-control searchbox" tooltip="{{ ctrl.cfg.searchTip }}" tooltip-placement="bottom" ng-minlength="1" required/>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-body">
						<h5 class="text-center"><b>{{ctrl.resources.remindersHelp}}</b></h5>
						<table class="table table-hover" style="background-color: white;">
							<thead>
								<tr>
									<th class="text-center">{{ctrl.resources.binderIdColumn}}</th>
									<th class="text-center">{{ctrl.resources.binderNameColumn}}</th>
									<th class="text-center">{{ctrl.resources.userEmailColumn}}</th>
									<th class="text-center">{{ctrl.resources.binderAddressColumn}}</th>
									<th class="text-center">{{ctrl.resources.taskColumn}}</th>
									<th class="text-center">{{ctrl.resources.sentColumn}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="reminder in ctrl.filtered_reminders | filter: ctrl.query | orderBy:ctrl.sortBy:ctrl.reverseSort track by $index">
									<td class="text-center">{{reminder.id}}</td>
									<td class="text-center">{{reminder.binder_name}}</td>
									<td class="text-center">{{reminder.email}}</td>
									<td class="text-center">{{reminder.address1}}</td>
									<td class="text-center">{{reminder.maintenance_item_name}}</td>
									<td class="text-center">{{reminder.last_notify_date | date}}</td>
								</tr>
								<tr ng-if="ctrl.analytics.reminders.length < 1 && !ctrl.loading.isLoading()">
									<td colspan="6">
										<h1 class="text-center">{{ctrl.resources.noReminders}}</h1>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6">
										<pagination total-items="ctrl.analytics.reminders.length" ng-model="ctrl.remindersPage" ng-change="ctrl.pageChange('reminders')" max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage"></pagination>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.current_tab == 'Agents'">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-3-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.agentEngagement}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.agentLogins}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentLogins}}</h1>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.referringAgents}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentCount}}</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<p class="bottom-paragraph">{{ctrl.resources.agentEngagementParagraph}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-2-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.newAgentsReferrals}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.addedLastYear}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentsThisYear}}</h1>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.addedPriorYear}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentsLastYear}}</h1>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.agentsAddedYoy}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentsYoy}}%</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<p class="bottom-paragraph">{{ctrl.resources.newAgentsReferralsParagraph}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-primary panel-2-col">
					<div class="panel-heading">
						<h4 class="text-center">{{ctrl.resources.existingReferral}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.existingAgentsBinder}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.percentAgentBindersThisYear}}%</h1>
							</div>
							<div class="col-sm-6 col-xs-12 text-center">
								<p>{{ctrl.resources.existingAgentsYoy}}</p>
								<h1>{{ctrl.analytics.agentAnalytics.agentBindersYoy}}%</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">
								<p class="bottom-paragraph">{{ctrl.resources.existingReferralParagraph}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-primary table-panel">
					<div class="panel-heading">
						<h3>{{ctrl.resources.agentsTitle}}&nbsp;<span>{{ctrl.analytics.agentAnalytics.agents.length}}</span>&nbsp;</h3>
					</div>
					<div class="panel-body">
						<h5 class="text-center"><b>{{ctrl.resources.agentsHelp}}</b></h5>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">{{ctrl.resources.agentIdColumn}}</th>
										<th class="text-center">{{ctrl.resources.agentNameColumn}}</th>
										<th class="text-center">{{ctrl.resources.agentEmailColumn}}</th>
										<th class="text-center">{{ctrl.resources.agentBindersThisYear}}</th>
										<th class="text-center">{{ctrl.resources.agentBindersLastYear}}</th>
										<th class="text-center">{{ctrl.resources.agentBindersYoy}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="agent in ctrl.analytics.agentAnalytics.agents track by $index">
										<td class="text-center">{{agent.id}}</td>
										<td class="text-center">{{agent.first_name}}&nbsp;{{agent.last_name}}</td>
										<td class="text-center">{{agent.email}}</td>
										<td class="text-center">{{agent.binders_this_year}}</td>
										<td class="text-center">{{agent.binders_last_year}}</td>
										<td ng-if="!agent.year_over_year && agent.year_over_year != 0" class="text-center">n/a%</td>
										<td ng-if="agent.year_over_year || agent.year_over_year === 0" class="text-center">{{agent.year_over_year}}%</td>
									</tr>
									<tr ng-if="ctrl.analytics.agentAnalytics.agents.length < 1 && !ctrl.loading.isLoading()">
										<td colspan="6">
											<h1 class="text-center">{{ctrl.resources.noAgents}}</h1>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>