<div class="custom-modals">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 vertically-center">
                <div ng-if="ctrl.binder.image_url">
                    <img class="img-responsive center-block" ng-src="{{ctrl.binder.image_url}}" alt="Property photo"></img>
                </div>
                <div ng-if="!ctrl.binder.image_url">
                    <img class="img-responsive center-block" ng-src="https://s3.amazonaws.com/homebinderstatic/img/home.png" height="200" width="200" alt="Homeowner House" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 vertically-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-7">
                        <h4><span class="text-success glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>{{ctrl.binder.title}}</strong></h4>
                        <br/>
                        <h5>{{ctrl.binder.client.first}}&nbsp;{{ctrl.binder.client.last}}</h5>
                        <h5>{{ctrl.binder.client.email}}</h5>
                        <h5>{{ctrl.binder.client.address1}}</h5>
                        <h5>{{ctrl.binder.client.city}},&nbsp;{{ctrl.binder.client.state}}&nbsp;{{ctrl.binder.client.zip}}</h5>
                    </div>

                    <div class="col-xs-12 col-sm-6" ng-if="ctrl.binder.documents && !ctrl.binder.maintenance">
                        <h4><span class="text-success glyphicon glyphicon-file"></span>&nbsp;&nbsp;<strong>Documents</strong></h4>
                        <br/>
                        <div ng-if="ctrl.binder.documents.length > 0">
                            <span class="span-text" ng-repeat="item in ctrl.binder.documents">{{item.name}}{{{true: '', false: ', '}[$last]}}&nbsp;</span>
                        </div>
                        <div ng-if="ctrl.binder.documents.length < 1">
                            <h5 class="text-center">No documents added</h5>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="ctrl.$stateParams.partnerId">
                        <div class="col-xs-12" ng-if="ctrl.binder.maintenance">
                            <h4><span class="text-success glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;<strong>Maintenance</strong></h4>
                            <br/>
                            <div ng-if="ctrl.binder.maintenance.length > 0">
                                <span class="span-text" ng-repeat="item in ctrl.binder.maintenance">{{item.name}}{{{true: '', false: ', '}[$last]}}&nbsp;</span>
                            </div>
                            <div ng-if="ctrl.binder.maintenance.length < 1">
                                <h5 class="text-center">No Maintenance items added</h5>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" ng-if="ctrl.binder.appliances">
                        <h4><span class="text-success glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;<strong>Appliances</strong></h4>
                        <br/>
                        <div ng-if="ctrl.binder.appliances.length > 0">
                            <span class="span-text" ng-repeat="item in ctrl.binder.appliances">{{item.name}}{{{true: '', false: ', '}[$last]}}&nbsp;</span>
                        </div>
                        <div ng-if="ctrl.binder.appliances.length < 1">
                            <h5 class="text-center">No Appliances added</h5>
                        </div>
                    </div>
                    <div class="col-xs-12 text-left" ng-if="!ctrl.binder.maintenance">
                        <br/>
                        <div ng-if="ctrl.binder.transfer.show">
                            <h4 ng-if="ctrl.binder.transfer.save"><span class="text-success glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Binder will be transferred to HomeOwner</h4>
                            <h4 ng-if="!ctrl.binder.transfer.save"><span class="text-success glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Binder will not be transferred to HomeOwner</h4>
                        </div>
                        <div ng-if="ctrl.binder.share.show">
                            <h4 ng-if="ctrl.binder.share.save"><span class="text-success glyphicon glyphicon-share"></span>&nbsp;&nbsp;Binder will be shared with HomeOwner</h4>
                            <h4 ng-if="!ctrl.binder.share.save"><span class="text-success glyphicon glyphicon-share"></span>&nbsp;&nbsp;Binder will not be shared with HomeOwner</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" ng-if="ctrl.binder.contractors">
                <h4><span class="text-success glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Contractors</strong></h4>
                <br/>
                <div ng-if="ctrl.binder.contractors.length > 0">
                    <span class="span-text" ng-repeat="item in ctrl.binder.contractors">{{item.name}}&nbsp;<span ng-if="item.type">- {{item.type}}</span>{{{true: '', false: ', '}[$last]}}&nbsp;</span>
                </div>
                <div ng-if="ctrl.binder.contractors.length < 1">
                    <h5 class="text-center">No Contractors added</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" ng-if="ctrl.binder.projects">
                <h4><span class="text-success glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Projects</strong></h4>
                <br/>
                <div ng-if="ctrl.binder.projects.length > 0">
                    <span class="span-text" ng-repeat="item in ctrl.binder.projects">{{item.name}}&nbsp;<span ng-if="item.end_date">- {{item.end_date | date}}</span>{{{true: '', false: ', '}[$last]}}&nbsp;</span>
                </div>
                <div ng-if="ctrl.binder.projects.length < 1">
                    <h5 class="text-center">No Projects added</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" ng-if="ctrl.binder.documents && ctrl.binder.maintenance">
                <h4><span class="text-success glyphicon glyphicon-file"></span>&nbsp;&nbsp;<strong>Documents</strong></h4>
                <br/>
                <div ng-if="ctrl.binder.documents.length > 0">
                    <h5 class="span-text">{{ctrl.binder.documents.length}} documents added</h5>
                </div>
                <div ng-if="ctrl.binder.documents.length < 1">
                    <h5 class="text-center">No documents added</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" ng-if="ctrl.binder.agent">
                <h4><span class="text-success glyphicon glyphicon-user"></span>&nbsp;&nbsp;<strong>Real Estate Agent</strong></h4>
                <br/>
                <div ng-if="ctrl.binder.agent.email">
                    <h5>{{ctrl.binder.agent.user_profile_attributes.first_name}}&nbsp;{{ctrl.binder.agent.user_profile_attributes.last_name}}</h5>
                    <h5>{{ctrl.binder.agent.user_profile_attributes.company}}</h5>
                    <h5>{{ctrl.binder.agent.email}}</h5>
                    <h5 ng-if="ctrl.binder.agent.user_profile_attributes.mobile_phone.international">{{ctrl.binder.agent.user_profile_attributes.mobile_phone.international}}</h5>
                </div>
                <div ng-if="!ctrl.binder.agent.email">
                    <h5 class="text-center">No Agent added</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-left" ng-if="ctrl.binder.maintenance">
                <br/>
                <div ng-if="ctrl.binder.transfer.show">
                    <h4 ng-if="ctrl.binder.transfer.save"><span class="text-success glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Binder will be transferred to HomeOwner</h4>
                    <h4 ng-if="!ctrl.binder.transfer.save"><span class="text-success glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;Binder will not be transferred to HomeOwner</h4>
                </div>
                <div ng-if="ctrl.binder.share.show">
                    <h4 ng-if="ctrl.binder.share.save"><span class="text-success glyphicon glyphicon-share"></span>&nbsp;&nbsp;Binder will be shared with HomeOwner</h4>
                    <h4 ng-if="!ctrl.binder.share.save"><span class="text-success glyphicon glyphicon-share"></span>&nbsp;&nbsp;Binder will not be shared with HomeOwner</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    	<button type="button" class="btn btn-primary" ng-click="ctrl.submit()">{{ctrl.resources.cont}}</button>
        <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
    </div>
</div>
