<form name="addUserForm" ng-if="!ctrl.loading.isLoading()" role="form" ng-submit="ctrl.onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;ISN Profile</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Enter the Inspector's name, company key, username and password.</label>
        </div>
        <div class="form-group">
            <label for="name">Inspector Name*</label>
            <input type="text" name="name" class="form-control" ng-model="ctrl.form.name" placeholder="Inspector Name" ng-minlength="1" required autofocus>
        </div>
        <div class="form-group">
            <label for="company_key">Company Key*</label>
            <input type="text" name="company_key" class="form-control" ng-model="ctrl.form.company_key" placeholder="Company Key" ng-minlength="1" required autofocus>
        </div>
        <div class="form-group">
            <label>Username*</label>
            <input type="text" name="username" class="form-control" ng-model="ctrl.form.username" placeholder="Username" ng-minlength="1" required/>
        </div>
        <div class="form-group">
            <label>Password*</label>
            <input type="password" name="password" class="form-control" ng-model="ctrl.form.password" placeholder="Password" ng-minlength="1" required/>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" ng-disabled="addUserForm.$invalid" value="Save" />
        <button type="button" class="btn btn-default" ng-click="ctrl.onCancel()">Cancel</a>
    </div>
</form>