<div class="row">
	<div class="col-xs-12 text-center">
		<h3>{{ctrl.resources.help}}&nbsp;<a href="mailto:support@homebinder.com" target="_top">support@homebinder.com</a>&nbsp;{{ctrl.resources.call}}</h3>
	</div>
</div>