<form name="trialForm" role="form">
    <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.resources.requestTrial}}</h4>
    </div>
    <div class="modal-body">
        <div class="row" ng-show="ctrl.loading">
            <div class="col-xs-12">
                <img class="img-responsive center-block" ng-src="/img/busy.gif" />
            </div>
        </div>
        <div ng-hide="ctrl.loading || ctrl.email_sent">
            <div class="form-group">
                <label>{{ctrl.resources.formInfo}}</label>
            </div>
            <div class="form-group">
                <label for="name">{{ctrl.resources.name}}*</label>
                <input type="text" name="name" class="form-control" required autofocus ng-model="ctrl.form.name">
            </div>
            <div class="form-group">
                <label for="email">{{ctrl.resources.email}}*</label>
                <input type="email" name="email" class="form-control" required ng-model="ctrl.form.email">
            </div>
            <div class="form-group">
                <label for="country" class="control-label">{{ctrl.resources.country}}*</label>
                <select name="country" ng-model="ctrl.country" ng-options="country as country.name for country in ctrl.countries" class="form-control" ng-required="true">
							</select>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <div class="input-group">
                    <span class="input-group-addon">+{{ctrl.country.code}}</span>
                    <input type="text" class="form-control" name="number" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="ctrl.form.phone" />
                </div>
            </div>
        </div>
        <div class="row" ng-show="ctrl.email_sent">
            <div class="col-xs-12">
                <h4 class="text-success text-center"><span class="glyphicon glyphicon-ok"></span></h4>
                <h3 class="text-center">{{ctrl.resources.requestReceived}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-hide="ctrl.email_sent">
        <input type="submit" class="btn btn-primary" ng-click="ctrl.requestTrial()" ng-disabled="trialForm.$invalid" value="{{ctrl.resources.requestTrial}}" />
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</a>
    </div>
    <div class="modal-footer" ng-show="ctrl.email_sent">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">{{ctrl.resources.close}}</a>
    </div>
</form>