/*
 * SIDEBAR NAVIGATION
 */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 16px;
  > li {
    > a {
      padding-right: 20px;
      padding-left: 20px;
      &:hover {
        color: @brand-primary;
        background-color: #ddd;
        border-right: 5px solid #E63900;
      }
    }
  }
  > .active {
    > a {
      color: @white;
      background-color: @brand-primary;
      border-right: 5px solid #E63900;
      &:hover, &:focus {
        color: @white;
        background-color: @brand-primary;
        border-right: 5px solid #E63900;
      }
    }
  }
}


/* not sure where this lives */

.nav-list > li > a:hover {
  color: @brand-primary;
  background-color: #ddd;
  border-right: 5px solid #E63900;
}

.side-nav > li > ul > li >a {
  display: block;
  padding: 5px 0px 5px 5px;
  text-decoration: none;
}

.side-nav > li > ul > li >a:hover {
  color: @brand-primary;
  background-color: #ddd;
  border-right: 5px solid #E63900;
}


/*
 * VERTICAL NAV
 */

.vertical-nav-parent {
  overflow: none;
  bottom: 30px;
  top: 51px;
  .vertical-nav {
    height: 100%;
    overflow: auto;
    li {
      border-radius: 0;
    }
  }
  .fa.fa-user {
    font-size: 84px;
  }
}