<div class="vertical-nav-parent col-sm-3 col-md-2 sidebar">
    <div ng-if="ctrl.$stateParams.partnerId && ctrl.cfg.partner">
        <img ng-if="ctrl.cfg.partner.logo_file" class="img-responsive img-rounded center-block" ng-src="{{ctrl.cfg.partner.logo_file}}">
        <a href="" ui-sref="partner.settings({ partnerId: ctrl.cfg.partner.id })">
            <div ng-if="!ctrl.cfg.partner.logo_file" class="alert alert-info text-center" role="alert">Upload A logo!</div>
        </a>
        <h6 class="text-center">{{ctrl.cfg.partner.contact}}</h6>
        <h6 class="text-center">{{ctrl.cfg.partner.name}}</h6>
        <hr>
    </div>
    <ul class="nav nav-sidebar side-nav">
        <li role="presentation" ng-class="{active: ctrl.$state.is(nav.state)}" ng-repeat="nav in ctrl.cfg.navList">
            <a ng-if="nav.state" href="" ui-sref="{{nav.state}}">
                <span ng-if="nav.icon" class="{{ nav.icon }}">&nbsp;</span>
                <span ng-if="nav.faIcon"><i class="{{nav.faIcon}}" aria-hidden="true"></i>&nbsp;&nbsp;</span>
                &nbsp;&nbsp;{{nav.label}}
            </a>
            <a ng-if="!nav.state" href="" data-toggle="collapse" data-target="#{{nav.id}}"><span class="{{nav.icon}}"></span>&nbsp;&nbsp;{{nav.label}}</a>
            <ul ng-if="nav.dropdown" id="{{nav.id}}" class="collapse">
                <li ng-repeat="link in nav.links"><a href="#" data-toggle="collapse" data-target="#{{nav.id}}" ui-sref="{{link.state}}">{{link.label}}</a></li>
            </ul>
        </li>
    </ul>
</div>