<div class="container partnerRegistration">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-image"><img src="/img/flatlogo.png" /></div>
				<div class="panel-body">
					<h2 class="text-center">{{ctrl.data.type.name}} {{ctrl.resources.setup}}</h2>
					<small class="text-center">* = required fields.</small>

					<hr>

					<ul class="text-center list-inline">
					<li><h4 class="text-success">1. {{ctrl.resources.setup}}</h4></li>
					<li><h4 class="text-muted">2. {{ctrl.resources.logo}}</h4></li>
					<li><h4 class="text-muted">3. {{ctrl.resources.about}}</h4></li>
					</ul>

					<br>
					<form name="ctrl.registerForm" role="form" ng-submit="ctrl.submit()">
						<div ng-show="ctrl.data.errors" class="alert alert-danger errors">
							<p ng-repeat="error in ctrl.data.errors track by $index">{{ error }}</p>
						</div>
						<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.name.$valid}'>
							<label>{{ctrl.resources.companyName}}*</label>
							<input type="text" class="form-control input-lg" name="name" placeholder="Company Name" ng-model="ctrl.data.name" ng-minlength="1" ng-maxlength="255" autofocus required/>
							<span ng-if="ctrl.registerForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="ctrl.registerForm.name.$error.minlength && !ctrl.registerForm.name.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
							<span ng-show="ctrl.registerForm.name.$error.maxlength && !ctrl.registerForm.name.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 255</span>
							<span ng-show="ctrl.registerForm.name.$error.required && !ctrl.registerForm.name.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.first.$valid}'>
									<label>{{ctrl.resources.firstName}}*</label>
									<input type="text" class="form-control input-lg" name="first" placeholder="First Name" ng-model="ctrl.data.first" ng-minlength="1" required/>
									<span ng-if="ctrl.registerForm.first.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
									<span ng-show="ctrl.registerForm.first.$error.minlength && !ctrl.registerForm.first.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.registerForm.first.$error.required && !ctrl.registerForm.first.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.last.$valid}'>
									<label>{{ctrl.resources.lastName}}*</label>
									<input type="text" class="form-control input-lg" name="last" placeholder="Last Name" ng-model="ctrl.data.last" ng-minlength="1" required/>
									<span ng-if="ctrl.registerForm.last.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
									<span ng-show="ctrl.registerForm.last.$error.minlength && !ctrl.registerForm.last.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.registerForm.last.$error.required && !ctrl.registerForm.last.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="country" class="control-label">{{ctrl.resources.country}}*</label>
							<select name="country" ng-model="ctrl.country" ng-options="country as country.name for country in ctrl.countries" class="form-control input-lg" ng-required="true" ng-change="ctrl.setCountryCode()">
							</select>
						</div>
						<div class="form-group">
							<label>{{ctrl.resources.phone}}</label>
							<div class="input-group">
    							<span class="input-group-addon">+{{ctrl.country.code}}</span>
    							<input type="text" class="form-control input-lg" name="number" ui-mask="{{ctrl.country.phone_format}}"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="ctrl.data.phone"/>
 	 						</div>
						</div>
						<div class="form-group">
							<label>{{ctrl.resources.code}}</label>
							<input type="text" class="form-control input-lg" name="affiliate_code" ng-maxlength="50" placeholder="Enter Code" ng-model="ctrl.data.affiliate_code" />
							<span ng-show="ctrl.registerForm.affiliate_code.$error.maxlength && !ctrl.registerForm.affiliate_code.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
						</div>
						<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.email.$valid}'>
							<label>{{ctrl.resources.email}}*</label>
							<input type="email" class="form-control input-lg" name="email" placeholder="Email Address" ng-model="ctrl.data.email" required/>
							<span ng-if="ctrl.registerForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="ctrl.registerForm.email.$error.required && !ctrl.registerForm.email.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
							<span ng-show="ctrl.registerForm.email.$error.email && !ctrl.registerForm.email.$pristine" class="error">{{ctrl.validationErrors.email}}</span>
						</div>
						<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.password.$valid}'>
							<label>{{ctrl.resources.password}}*</label>
							<input type="password" class="form-control input-lg" name="password" placeholder="Password" ng-model="ctrl.data.password" ng-minlength="8" ng-maxlength="128" required/>
							<span ng-if="ctrl.registerForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="ctrl.registerForm.password.$error.required && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
							<span ng-show="ctrl.registerForm.password.$error.minlength && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.minlength}} 8</span>
							<span ng-show="ctrl.registerForm.password.$error.maxlength && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 128</span>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="text-left">
									<button type="button" class="btn btn-lg btn-default" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="text-right">
									<button type="submit" class="btn btn-lg btn-primary" ng-class="{disabled: ctrl.formSubmitted}" ng-disabled="ctrl.registerForm.$invalid">{{ctrl.resources.register}}</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<span class="text-center">
		  			&copy; {{ctrl.year}} HomeBinder
		  		</span>
				</div>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>