<div class="container-fluid area-details">
    <div class="row binder-items-buttons">
        <div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
			    <a class="btn btn-default-new" href="" ng-click="ctrl.model.destroy()">{{ctrl.model.resources.destroy}}</a>
				<a class="btn btn-primary" href="" ng-click="ctrl.model.edit()">{{ctrl.model.resources.edit}}</a>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.name}}</span>
            <span>{{ctrl.model.item.name}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.manufacturer}}</span>
            <span>{{ctrl.model.item.manufacturer}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.model}}</span>
            <span>{{ctrl.model.item.model}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.serial_no}}</span>
            <span>{{ctrl.model.item.serial_no}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.upc}}</span>
            <span>{{ctrl.model.item.upc}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.warranty}}</span>
            <span>{{ctrl.model.item.warranty}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.user_guide_url}}</span>
            <span>{{ctrl.model.item.user_guide_url}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.install_date}}</span>
            <span>{{ctrl.model.item.install_date}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.store}}</span>
            <span>{{ctrl.model.item.purchase.store}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.price}}</span>
            <span>{{ctrl.model.item.purchase.number | currency}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.purchase_date}}</span>
            <span>{{ctrl.model.item.purchase.date}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.last_recall_check}} - <span ng-click="ctrl.model.checkForRecalls()"><a href="">{{ctrl.model.resources.check_recalls}}</a></span></span>
            <span ng-if="ctrl.model.item.last_recall_check">{{ctrl.model.item.last_recall_check | date}}</span>
            <span ng-if="!ctrl.model.item.last_recall_check">No Previous Recall Search</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.recalls}}</span>

            <p ng-if="ctrl.model.item.appliance_recalls.length < 1">{{ctrl.model.resources.noRecalls}}</p>
            <div ng-if="ctrl.model.item.appliance_recalls.length > 0">
                <div ng-if="ctrl.model.showRecall(ar)" ng-repeat="ar in ctrl.model.item.appliance_recalls">
                    <span>{{ar.recall.details.Title}}</span>
                    <span ng-if="ar.recall.recall_date"> on {{ar.recall.recall_date | date}}</span>
                    <span><a ng-href="{{ar.recall_url}}" target="_blank">{{ctrl.model.resources.viewReport}}</a> {{ctrl.model.resources.applianceAffected}}</span>
                    <span ng-if="ctrl.model.showRecallStatus(ar)" class="glyphicon glyphicon-ok"><i>({{ ar | recallStatus }})</i></span>
                    <div class="btn-group pull-right recall-options">
                        <a href="" popover-placement="left" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="ctrl.model.setRecallStatus(ar, 'ignore')">{{ctrl.model.resources.recallIgnored}}</a></li>
                            <li><a href="" ng-click="ctrl.model.setRecallStatus(ar, 'repaired')">{{ctrl.model.resources.recallRepaired}}</a></li>
                            <li><a href="" ng-click="ctrl.model.setRecallStatus(ar, 'replaced')">{{ctrl.model.resources.recallReplaced}}</a></li>
                            <li><a href="" ng-click="ctrl.model.setRecallStatus(ar, 'viewed')">{{ctrl.model.resources.recallViewed}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.tags}}</span>
            <hb-tag-view cfg="ctrl.model.tagsCfg" tags="ctrl.model.item.tags"></hb-tag-view>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.details}}</span>
            <p>{{ctrl.model.item.details}}</p>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.images}}</span>
            <hb-images images="ctrl.model.images" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-images>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.documents}}</span>
            <hb-documents documents="ctrl.model.documents" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-documents>
        </div>
    </div>
    <hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" doc-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
    <hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)" img-added="ctrl.model.uploadImages()"></hb-image-uploader>
</div>