<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.permitsTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/permits" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_permits_collapsed" ng-click="ctrl.is_permits_collapsed = !ctrl.is_permits_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_permits_collapsed, 'glyphicon glyphicon-plus': ctrl.is_permits_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.permitsTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_permits_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.permits.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.permitsTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allPermits, "btn btn-default": !ctrl.allPermits}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allPermits, "glyphicon glyphicon-eye-close": !ctrl.allPermits}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.permits.length > 0">
		<thead>
			<tr>
				<th class="col-xs-3">
					<label>{{ctrl.resources.permitsNumber}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.permitsType}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.permitsDate}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="permit in ctrl.permits | orderBy:'permit.permit_number':'asc'">
				<td class="col-xs-3">
					<span class="name capitalize">{{ permit.permit_number }}</span>
					<span class="notes">{{ permit.status }}</span>
				</td>
				<td class="col-xs-3 type capitalize"><span>{{ permit.permit_type}}</span></td>
				<td class="col-xs-3 type capitalize"><span>{{ permit.permit_date | date}}</span></td>
				<td class="col-xs-3 text-center">
					<button ng-click="ctrl.setInclude(permit)" type="button" ng-class='{"btn btn-primary": permit.seller_report_item.include, "btn btn-default": !permit.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": permit.seller_report_item.include, "glyphicon glyphicon-eye-close": !permit.seller_report_item.include}'></span></button>
				</td>
			</tr>
		</tbody>
		</tbody>
	</table>
	<div ng-if="ctrl.permits.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.permitsBinderNone}}</p>
	</div>
</div>
<br/>
<hr>