<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{recallForm.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid recall-form-container">
        <div class="row">
            <div class="col-xs-12">
                <a ng-href="{{recallForm.recall.details.URL}}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;{{recallForm.resources.viewReport}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{recallForm.recall.details.Title}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{recallForm.recall.details.Description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{recallForm.resources.recalled}}: {{recallForm.recall.recall_date | date}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{recallForm.resources.applianceRecalls}}:</p>
                <div class="row hb-custom-table">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-hover" style="background-color: white;">
                            <thead>
                                <th>
                                    <h5>{{recallForm.resources.idColumn}}</h5>
                                </th>
                                <th>
                                    <h5>{{recallForm.resources.statusColumn}}</h5>
                                </th>
                                <th>
                                    <h5>{{recallForm.resources.binderColumn}}</h5>
                                </th>
                                <th>
                                    <h5>{{recallForm.resources.applianceColumn}}</h5>
                                </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="appliance_recall in recallForm.recall.appliance_recalls">
                                    <td>
                                        <h6>{{appliance_recall.id}}</h6>
                                    </td>
                                    <td>
                                        <h6>{{appliance_recall.status}}</h6>
                                    </td>
                                    <td>
                                        <h6>{{appliance_recall.appliance.binder_id}}&nbsp;{{appliance_recall.binder_owner.email}}</h6>
                                    </td>
                                    <td>
                                        <h6>{{appliance_recall.appliance.id}}&nbsp;{{appliance_recall.appliance.name}}</h6>
                                    </td>
                                </tr>
                                <tr ng-if="recallForm.recall.appliance_recalls.length < 1">
                                    <td colspan="8">
                                        <h5 class="text-center">{{recallForm.resources.emptyApplianceRecalls}}</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{recallForm.resources.helpText}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea ng-model="recallForm.recall.models" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="website">{{recallForm.resources.url}}</label>
                <input id="website" name="website" type="url" class="form-control" placeholder="https://www.mywebsite.com" ng-model="recallForm.recall.details.URL" ng-pattern="recallForm.url_regex" http-prefix />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="" class="btn btn-primary" ng-click="recallForm.saveModels()">{{recallForm.resources.save}}</a>
    <a href="" class="btn btn-default" ng-click="recallForm.ignore()">{{recallForm.resources.ignore}}</a>
    <a href="" class="btn btn-default" ng-click="recallForm.cancel()">{{recallForm.resources.cancel}}</a>
</div>