<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div ng-repeat="sub in ctrl.list">
				<div ng-if="sub.id != undefined">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="pull-left">
								<h4>{{sub.binder.name}}</h4>
								<p ng-if="sub.plan!='free'">{{sub.binder.custom_support_email}}</p>
								<p><a ng-if="sub.plan === 'free'" href="/settings/subscriptions/{{sub.id}}/upgrade">{{ctrl.resources.customEmail}}</a></p>
								<p>{{sub.property}}</p>
							</div>
							<div class="pull-right">
								<h4>{{ctrl.resources.subscriptionLevel}}: {{sub.plan | subscriptionLabel : 'home'}}</h4>
								<p><a ng-if="sub.plan=='free'" href="/settings/subscriptions/{{sub.id}}/upgrade" class="btn btn-primary">{{ctrl.resources.upgrade}}</a></p>
								<p ng-if="sub.plan!='free'">{{ctrl.resources.subscriptionEnding}}</p>
								<p ng-if="sub.plan!='free'"><a href="" ng-click="ctrl.cancel(sub)" class="btn btn-primary">{{ctrl.resources.subscriptionCancel}}</a>&nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>