<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.imagesTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/images" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_images_collapsed" ng-click="ctrl.is_images_collapsed = !ctrl.is_images_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_images_collapsed, 'glyphicon glyphicon-plus': ctrl.is_images_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.imagesTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_images_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.images.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.imagesTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allImages, "btn btn-default": !ctrl.allImages}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allImages, "glyphicon glyphicon-eye-close": !ctrl.allImages}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-repeat="array in ctrl.images_chunk" class="row">
		<div ng-repeat="image in array" class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img class="img-responsive center-block" ng-src="{{image.location}}">
				<div class="caption">
					<div class="btn-toolbar text-center">
						<div class="btn-group button-group" style="float: none;">
							<button ng-click="ctrl.setInclude(image)" type="button" ng-class='{"btn btn-primary": image.seller_report_item.include, "btn btn-default": !image.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": image.seller_report_item.include, "glyphicon glyphicon-eye-close": !image.seller_report_item.include}'></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="ctrl.images.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.imagesBinderNone}}</p>
	</div>
</div>
<br/>
<hr>