<form name="transferForm" ng-if="!ctrl.model.loading.isLoading()" ng-submit="ctrl.model.preSubmit()">
    <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;{{ctrl.model.resources.transfer}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>{{ctrl.model.resources.helpText}}</strong></h4>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>{{ctrl.model.resources.firstName}}</label>
                    <input type="text" name="first" ng-model="ctrl.model.homeowner.firstName" class="form-control" autofocus ng-required="!ctrl.model.homeowner.readonly" ng-readonly="ctrl.model.homeowner.readonly" />
                    <span ng-if="transferForm.first.$error.required && !transferForm.first.$pristine" class="error">
                        {{ctrl.model.resources.firstNameRequired}} 
                    </span>
                </div>
                <div class="col-xs-6">
                    <label>{{ctrl.model.resources.lastName}}</label>
                    <input type="text" name="last" ng-model="ctrl.model.homeowner.lastName" class="form-control" ng-required="!ctrl.model.homeowner.readonly" ng-readonly="ctrl.model.homeowner.readonly" />
                    <span ng-if="transferForm.last.$error.required && !transferForm.last.$pristine" class="error">
                        {{ctrl.model.resources.lastNameRequired}} 
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>{{ctrl.model.resources.email}}</label>
                    <input type="email" name="email" ng-model="ctrl.model.homeowner.email" class="form-control" email required ng-readonly="ctrl.model.homeowner.readonly" />
                    <span ng-if="transferForm.email.$error.email" class="error">
                        {{ctrl.model.resources.emailRequired}} 
                    </span>
                </div>
                <div class="col-xs-6">
                    <label>{{ctrl.model.resources.phone}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                        <input id="phone" ng-model="ctrl.model.homeowner.phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" ng-readonly="ctrl.model.homeowner.readonly"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrl.model.cc_transfer_by" name="cc_transfer_by">{{ctrl.model.resources.ccText}}
                </label>
            </div>
        </div>
        <div ng-if="ctrl.model.showTransferTypes" class="form-group">
            <div class="radio">
                <label>
                      <input type="radio" ng-model="ctrl.model.transferType" name="transferType" value="ownership" ng-required="!ctrl.model.data.transferType"/>
                        <p ng-bind-html="ctrl.model.resources.ownerText"></p>
                    </label>
            </div>
        </div>
        <div ng-if="ctrl.model.showTransferTypes" class="form-group">
            <div class="radio">
                <label>
                      <input type="radio" ng-model="ctrl.model.transferType" name="transferType" value="copy" ng-required="!ctrl.model.data.transferType"/>
                        <p ng-bind-html="ctrl.model.resources.copyText"></p>
                    </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="ctrl.model.saving || !transferForm.$valid" class="btn btn-primary">{{ctrl.model.resources.transfer}}</button>
        <button ng-click="ctrl.model.closeModal()" ng-disabled="ctrl.model.saving" type="button" class="btn btn-default">{{ctrl.model.resources.close}}</button>
    </div>
</form>