<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <p>{{ctrl.resources.infoText1}}</p>
    <p>{{ctrl.resources.infoText2}}</p>
    <p>
        <b>{{ctrl.resources.examples}}:</b><br/>
        <ul>
            <li>{{ctrl.resources.example1}}</li>
            <li>{{ctrl.resources.example2}}</li>
            <li>{{ctrl.resources.example3}}</li>
            <li><a href="http://www.irs.gov/uac/Publication-523,-Selling-Your-Home-1" target="_blank">{{ctrl.resources.example4}}</a> {{ctrl.resources.example5}}</li>
        </ul>
    </p>
    <p>
        <b>{{ctrl.resources.valid}}:</b><br/>
        <ul>
            <li>{{ctrl.resources.valid1}}</li>
            <li>{{ctrl.resources.valid2}}</li>
            <li>{{ctrl.resources.valid3}}</li>
        </ul>
    </p>
    <p>{{ctrl.resources.resourceArticles}}:<br/>
    <a href="http://www.houselogic.com/home-advice/tax-deductions/tax-breaks-capital-improvements-your-home/" target="_blank">{{ctrl.resources.pos}}</a><br/>
    <a href="http://www.realestate.com/advice/can-i-use-home-improvements-as-a-tax-deduction/" target="_blank">{{ctrl.resources.depreciation}}</a>
    </p>
</div>