<div class="page-header">
    <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()" ng-if="false"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add User</button>
    <h3 class="text-left">{{ctrl.model.resources.title}}</h3>
</div>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th ng-if="ctrl.model.canViewHeadshot()" class="hidden-xs"></th>
                    <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                        <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                        <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.model.items">
                    <td>{{user.user_profile_attributes.first_name}}&nbsp;{{user.user_profile_attributes.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.sign_in_count}}</td>
                    <td>
                        <select name="roles" class="form-control" ng-model="user.partner_role" ng-required="true" ng-change="user.saveUser = true" ng-required="true">
                            <option ng-repeat="option in ctrl.model.partnerRoles" value="{{option.value}}" ng-selected="option.value == user.partner_role">
                                {{option.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" tooltip="Save user role" ng-click="ctrl.model.saveRole(user, $index)" ng-if="user.saveUser" ng-disabled="!user.partner_role"><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" class="btn btn-sm btn-primary" tooltip="Delete user" ng-click="ctrl.model.deleteItem(user, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="{{ctrl.model.headers.length}}">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
