.widget-container {
    overflow: auto;
    margin-bottom: 30px;
    position: relative;
    padding: 5px;

    .widget {
        .btn-default {
            color: #ff6633;
            border-color: #ff6633;

            &:hover,
            &:focus {
                background-color: #ffded3;
            }
        }
    }

    .panel {
        margin: 0;
        border-radius: 8px;
        overflow: auto;

        .panel-heading {
            color: #ff6633;
            background-color: #ffffff;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        .panel-body {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        h3.panel-title {
            line-height: 1.3em;
        }
    }

    .table {
        table-layout: fixed;
        width: 100%;

        td {
            overflow: auto;
            word-wrap: break-word;
        }
    }

    .completeness-panel {
        padding-bottom: 0px;
    }

    .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        opacity: .8;
    }

    .progress {
        height: 30px;
        border-radius: 50px;
        margin-bottom: 15px;

        .progress-bar {
            border-radius: 50px;
        }

        p {
            font-size: 16px;
            margin-top: 6px;
        }
    }

    .binder-link-parent {
        .binder-link {
            margin-bottom: 15px;
        }
    }

    .double-business-card {
        .brand-images {
            height: 75px;
        }

        .brand-images,
        .brand-images-single {
            img {
                max-height: 75px;
            }
        }

        .brand-info {
            overflow: auto;
            word-wrap: break-word;
        }
    }
    
    .inspection-report-widget {
        .report-img {
            width: 120px; 
            margin-bottom: 25px;
        }
        
        .first-button {
            margin-bottom: 25px;
        }
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
    padding-bottom: 75%;
}