<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.title}} - {{ctrl.model.item.name}}</h4>
</div>
<div class="modal-body">
	<form name="ctrl.model.form" novalidate>
		<div class="form-group col-md-12" ng-if="ctrl.model.item.library_template">
			<label for="binder_template" class="control-label">Binder Template</label>
			<select name="binder_template" ng-model="ctrl.model.binder_template" ng-options="binder_template.name for binder_template in ctrl.model.binder_templates track by binder_template.id" class="form-control" ng-required="true">
			</select>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameColumn}}</label>
			<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="50" placeholder="John Doe" />
			<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label for="type" class="control-label">{{ctrl.model.resources.typeColumn}}</label>
			<select ng-options="type.id as type.name for type in ctrl.model.document_types" ng-model="ctrl.model.item.document_type_id" class="form-control" ng-change="ctrl.model.refresh()"></select>
			<div ng-messages="ctrl.model.form.type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.description.$invalid && ctrl.form.$submitted }" ng-if="ctrl.model.item.library_template">
			<label>{{ctrl.model.resources.descriptionColumn}}</label>
			<textarea name="description" class="form-control" ng-model="ctrl.model.item.description" type="text" rows="5" ng-maxlength="1000" placeholder="Enter a description for this document"></textarea>
			<div ng-messages="ctrl.model.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
			</div>
		</div>
		<hb-uploader cfg="ctrl.model.uploader" file-added="ctrl.model.fileAdded({file: file})"></hb-uploader>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.notes.$invalid && ctrl.model.form.$submitted }">
			<label>{{ctrl.model.resources.notesColumn}}</label>
			<textarea name="notes" class="form-control" ng-model="ctrl.model.item.notes" type="text" rows="5" ng-maxlength="1000" placeholder="Enter additional details"></textarea>
			<div ng-messages="ctrl.model.form.notes.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ctrl.model.save()">{{ctrl.model.resources.save}}</button>
	<button ng-click="ctrl.model.cancel()" type="button" class="btn btn-default">{{ctrl.model.resources.cancel}}</button>
</div>