<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" ng-src="/img/contracto.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>Projects</strong>  - 
					<span class="text-primary">{{ctrl.projects.length}}</span>
					<small class="text-muted">&nbsp;&nbsp;(Optional)</small>
					<span ng-if="!ctrl.projectsForm.$invalid || ctrl.projects.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.projectsForm.$invalid && ctrl.projects.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<small class="text-danger">Please fill out the projects form.</small></span>
				</h3>
			</div>
			<div class="col-xs-1">
				<a href="" class="btn btn-primary" type="button" ng-model="ctrl.is_projects_collapsed" ng-click="ctrl.is_projects_collapsed = !ctrl.is_projects_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_projects_collapsed, 'glyphicon glyphicon-plus': ctrl.is_projects_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_projects_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Add any home improvement projects you've completed on your home.</h4>
					</div>
					<div ng-if="ctrl.projects.length > 0" class="panel-heading" ng-repeat="item in ctrl.projects">
						<div class="row">
							<form role="form" name="ctrl.projectsForm" novalidate>
								<div class="col-xs-4 text-center">
									<input type="text" name="name_{{$index}}" ng-model="item.name" class="form-control" placeholder="Name" ng-minlength="1" required/>
									<span ng-show="ctrl.projectsForm['name_{{$index}}'].$error.minlength" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.projectsForm['name_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
								<div class="col-xs-3">
									<input type="text" name="end_date{{$index}}" ng-model="item.end_date" class="form-control" placeholder="Year Completed" value="{{ item.end_date }}" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.date[$index].opened" ng-click="ctrl.date[$index].opened = true" required/>
									<span ng-show="ctrl.projectsForm['end_date{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
								<div class="col-xs-4">
									<textarea name="details" ng-model="item.details" class="form-control" placeholder="Notes"></textarea>
								</div>
								<div class="col-xs-1 text-center move-button">
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove($index)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addProject()" ng-disabled="ctrl.projectsForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Project
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>