<div ng-if="ctrl.model.item.configuration.default_user_branding_option === 'none' && (ctrl.model.email_type == 'maintenance' || ctrl.model.email_type == 'recall')">
    </br>
    <h4>The HomeBinder Team</h4>
</div>