.userForm {
    div.image {
        position: relative;
    }
    div.delete {
        position: absolute;
        width: 11px;
        text-indent: -9999px;
        visibility: hidden;
        cursor: pointer;
        height: 11px;
        top: 5px;
        right: 5px;
        background-image: url("/img/delete.png");
    }
    div.delete a {
        display: block;
        width: 100%;
        height: 100%;
    }
    div.image:hover div.delete {
        visibility: visible;
    }
}