<div class="panel panel-default inspection-report-widget">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{ctrl.model.resources.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="report-img" src="../../../../img/inspectionReportIcon.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" ng-if="ctrl.model.inspectionReport">
                <button class="btn btn-primary btn-lg first-button" ng-if="ctrl.model.inspectionReport.location" ng-click="ctrl.model.viewReport(ctrl.model.inspectionReport.location)">{{ctrl.model.resources.view}}</button>
                <button class="btn btn-primary btn-lg" ng-if="ctrl.model.inspectionReport.url" ng-click="ctrl.model.viewReport(ctrl.model.inspectionReport.url)">{{ctrl.model.resources.viewDigital}}</button>
            </div>
        </div>
    </div>
</div>