<div class="modal-body">
    <div class="row" ng-show="ctrl.hide_info">
        <div class="col-xs-12">
            <img class="img-responsive center-block" ng-src="/img/busy.gif" />
        </div>
    </div>
    <div ng-hide="ctrl.hide_info">
        <div class="row">
            <div ng-class="{'col-xs-6': ctrl.user.logo_file, 'col-xs-12': !ctrl.user.logo_file}">
                <img height="200" width="200" class="img-responsive center-block" ng-src="{{ctrl.user.head_shot_file}}" />
            </div>
            <div ng-class="{'col-xs-6': ctrl.user.head_shot_file, 'col-xs-12': !ctrl.user.head_shot_file}">
                <img height="200" width="200" class="img-responsive center-block" ng-src="{{ctrl.user.logo_file}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-xs-4 control-label">{{ctrl.resources.name}}</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{ctrl.user.company}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-xs-4 control-label">{{ctrl.resources.contact}}</label>
                    <div class="col-xs-8">
                        <p class="form-control-static">{{ctrl.user.first_name}} {{ctrl.user.last_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-xs-4 control-label">{{ctrl.resources.email}}</label>
                    <div class="col-xs-8">
                        <p class="form-control-static"><a href="mailto:{{ctrl.user.email}}">{{ctrl.user.email}}</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-xs-4 control-label">{{ctrl.resources.phone}}</label>
                    <div class="col-xs-8">
                        <p class="form-control-static" ng-if="ctrl.user.mobile_phone.international">{{ctrl.user.mobile_phone.international}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-xs-4 control-label">{{ctrl.resources.website}}</label>
                    <div class="col-xs-8">
                        <p class="form-control-static"><a ng-href="{{ctrl.user.website}}" target="_blank">{{ctrl.user.website}}</a></p>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>