<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form name="ctrl.form" novalidate>
            <div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
                <label for="name" class="control-label">{{ctrl.resources.name}}</label>
                <input name="name" class="form-control" ng-model="ctrl.name" type="text" autofocus required ng-maxlength="255" placeholder="{{ctrl.resources.namePlaceholder}}" />
                <div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted"></div>
            </div>
            <div class="form-group col-md-12">
                <label for="priority" class="control-label">{{ctrl.resources.priority}}</label>
                <select ng-model="ctrl.priority" class="form-control" ng-options="priority.value as priority.name for priority in ctrl.priorities"></select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">{{ctrl.resources.estimate}}</label>
                <select ng-model="ctrl.estimate" class="form-control" ng-options="e.value as e.name for e in ctrl.estimates" ng-required="true"></select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">{{ctrl.resources.details}}</label>
                <textarea ng-model="ctrl.details" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group col-md-12">
                <div class="checkbox">
                    <label class="control-label">{{ctrl.resources.homeownerItem}}</label>
                    <input type="checkbox" ng-model="ctrl.homeowner_item">
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="!ctrl.homeowner_item">
                <label>{{ctrl.resources.recommendedHomePro}}</label>
                <hb-home-pro-lookup cfg="ctrl.recommendedHomeProLookupCfg" selection="ctrl.recommendedHomePro"></hb-home-pro-lookup>
            </div>
            <div class="form-group col-md-12" ng-show="false">
                <label for="status" class="control-label">{{ctrl.resources.status}}</label>
                <select ng-model="ctrl.status" class="form-control" ng-options="status.value as status.name for status in ctrl.statuses"></select>
            </div>
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="image in ctrl.finding.annual_property_review_photos">
                            <td>
                                <img ng-src="{{image.location}}" class="img-responsive" style="max-height:100px;">
                            </td>
                            <td>{{image.name}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.deletePhoto(image)" tooltip="Remove image"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.submit()">{{ctrl.resources.save}}</button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
</div>
