<div class="resources">
    <div ng-if="ctrl.chunked.length > 0" class="row">
        <div ng-repeat="image in ctrl.chunked">
            <div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
            <div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
            <div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
            <div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="photo-thumb">
                    <a class="thumbnail" href="{{image.location}}" data-toggle="lightbox" data-gallery="all-images-gallery" ng-click="ctrl.viewImage()">
                    <img class="img-responsive center-block" ng-src="{{image.location}}">
                </a>
                    <span dropdown>
                <a id="photo-cog" class="photo-thumb-cog" dropdown-toggle>
                    <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="photo-cog">
                        <li ng-if="image.type && !image.is_hero" role="menuitem"><a ng-click="ctrl.update({image: image})">{{ctrl.resources.defaultPhoto}}</a></li>
                        <li role="menuitem"><a ng-click="ctrl.destroy({image: image, index: $index})">{{ctrl.resources.remove}}</a></li>
                    </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <ul ng-if="ctrl.images.length > 0" class="thumbnails gallery">
        <li ng-repeat="image in ctrl.images">
            <div class="photo-thumb">
                <a class="thumbnail" href="{{image.location}}" data-toggle="lightbox" data-gallery="all-images-gallery">
                    <img style="max-width: 200px;" ng-src="{{image.location}}">
                </a>
                <span dropdown>
                <a id="photo-cog" class="photo-thumb-cog" dropdown-toggle>
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="photo-cog">
                    <li role="menuitem"><a ng-click="ctrl.destroy({image: image})">{{ctrl.resources.remove}}</a></li>
                </ul>
                </span>
            </div>
        </li>
    </ul>
</div>