<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.finishesTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/finishes" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_finishes_collapsed" ng-click="ctrl.is_finishes_collapsed = !ctrl.is_finishes_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_finishes_collapsed, 'glyphicon glyphicon-plus': ctrl.is_finishes_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.finishesTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_finishes_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.finishes.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.finishesTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allFinishes, "btn btn-default": !ctrl.allFinishes}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allFinishes, "glyphicon glyphicon-eye-close": !ctrl.allFinishes}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.finishes.length > 0">
		<thead>
			<tr>
				<th class="col-xs-4">
					<label>{{ctrl.resources.finishesName}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.finishesMake}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.finishesModel}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="finish in ctrl.finishes | orderBy:'finish.name':'asc'">
				<td class="col-xs-4">
					<span class="name capitalize">{{ finish.name }}</span>
					<span class="notes">{{ finish.details }}</span>
				</td>
				<td class="col-xs-3 type capitalize"><span>{{ finish.make }}</span></td>
				<td class="col-xs-3 type capitalize"><span>{{ finish.model }}</span></td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(finish)" type="button" ng-class='{"btn btn-primary": finish.seller_report_item.include, "btn btn-default": !finish.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": finish.seller_report_item.include, "glyphicon glyphicon-eye-close": !finish.seller_report_item.include}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="ctrl.finishes.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.finishesBinderNone}}</p>
	</div>
</div>
<br/>
<hr>