<div class="container-fluid settings">
	<div class="row">
		<h3 class="text-center">{{ctrl.resources.title}}</h3>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-3">
			<div class="well well-lg" style="background-color: white;">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="link in ctrl.navigation_links">
						<a href="" ng-click="ctrl.changeLink(link)">
							<p ng-class="{'text-bold': link.active}">{{link.name}}</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9">
			<user-edit-profile-binder ng-show="ctrl.currentLink.value == 'account'"></user-edit-profile-binder>
			<user-edit-password-binder ng-show="ctrl.currentLink.value == 'password'"></user-edit-password-binder>
			<user-edit-email-binder ng-show="ctrl.currentLink.value == 'email'"></user-edit-email-binder>
			<user-edit-locale-binder ng-show="ctrl.currentLink.value == 'language'"></user-edit-locale-binder>
			<user-edit-subscriptions ng-show="ctrl.currentLink.value == 'subscriptions'"></user-edit-subscriptions>
			<user-create-report ng-show="ctrl.currentLink.value == 'create_report'"></user-create-report>
			<user-share-binder ng-show="ctrl.currentLink.value == 'share_binder'"></user-share-binder>
			<user-transfer-binder ng-show="ctrl.currentLink.value == 'transfer_binder'"></user-transfer-binder>
		</div>
	</div>
</div>