<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.contractorsTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/binder_contractors" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_contractors_collapsed" ng-click="ctrl.is_contractors_collapsed = !ctrl.is_contractors_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_contractors_collapsed, 'glyphicon glyphicon-plus': ctrl.is_contractors_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.contractorsTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_contractors_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.contractors.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.appliancesTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allContractors, "btn btn-default": !ctrl.allContractors}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allContractors, "glyphicon glyphicon-eye-close": !ctrl.allContractors}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.contractors.length > 0">
		<thead>
			<tr>
				<th class="col-xs-3">
					<label>{{ctrl.resources.contractorsName}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.contractorsType}}</label>
				</th>
				<th class="col-xs-4">
					<label>{{ctrl.resources.contractorsContact}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="binder_contractor in ctrl.contractors | orderBy:'contractor.name':'asc'">
				<td class="col-xs-3">
					<span class="name capitalize">{{ binder_contractor.contractor.name }}</span>
					<span class="notes">{{ binder_contractor.details }}</span>
				</td>
				<td class="col-xs-3 type capitalize">
					<span ng-repeat="type in binder_contractor.types"> 
						{{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
					</span>
				</td>
				<td class="col-xs-4 contact">
					<span ng-show="binder_contractor.contractor.phone">{{ binder_contractor.contractor.phone.international }}</span>
					<span ng-show="binder_contractor.contractor.email"><a href="mailto:{{ binder_contractor.contractor.email }}">{{ binder_contractor.contractor.email }}</a></span>
				</td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(binder_contractor)" type="button" ng-class='{"btn btn-primary": binder_contractor.seller_report_item.include, "btn btn-default": !binder_contractor.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": binder_contractor.seller_report_item.include, "glyphicon glyphicon-eye-close": !binder_contractor.seller_report_item.include}'></span></button>
					<!--<button type="button" class="btn btn-primary" ng-click="ctrl.destroy(binder_contractor)"><span class="glyphicon glyphicon-remove"></span></button>-->
				</td>
			</tr>
		</tbody>
	</table>
	<!--<div class="row">-->
	<!--	<div class="col-xs-6 text-left">-->
	<!--		<button class="btn btn-primary" type="button" ng-click="ctrl.addContractor()" ng-disabled="ctrl.appForm.$invalid">-->
	<!--			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Home Pro-->
	<!--		</button>-->
	<!--	</div>-->
	<!--</div>-->
	<div ng-if="ctrl.contractors.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.contractorsBinderNone}}</p>
	</div>
</div>
<br/>
<hr>