<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.documentsTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/documents" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_documents_collapsed" ng-click="ctrl.is_documents_collapsed = !ctrl.is_documents_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_documents_collapsed, 'glyphicon glyphicon-plus': ctrl.is_documents_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.documentsTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_documents_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.documents.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.documentsTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allDocuments, "btn btn-default": !ctrl.allDocuments}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allDocuments, "glyphicon glyphicon-eye-close": !ctrl.allDocuments}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.documents.length > 0">
		<thead>
			<tr>
				<th class="col-xs-10">
					<label>{{ctrl.resources.documentsName}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doc in ctrl.documents | orderBy:'name'">
				<td class="col-xs-10">
					<a ng-href="{{doc.location}}" class="name capitalize" target="_blank">{{doc.name}}</a>
				</td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(doc)" type="button" ng-class='{"btn btn-primary": doc.seller_report_item.include, "btn btn-default": !doc.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": doc.seller_report_item.include, "glyphicon glyphicon-eye-close": !doc.seller_report_item.include}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="ctrl.documents.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.documentsBinderNone}}</p>
	</div>
</div>
<br/>
<hr>