<div class="modal-body">
    <div class="container-fluid">
        <div ng-if="!ctrl.submitted">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">{{ctrl.resources.title}}&nbsp;{{ctrl.pro.displayName}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-xs-4 control-label">{{ctrl.resources.company}}:</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{ctrl.pro.displayName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-xs-4 control-label">{{ctrl.resources.email}}:</label>
                            <div class="col-xs-8">
                                <p class="form-control-static"><a href="mailto:{{ctrl.pro.email}}">{{ctrl.pro.email}}</a></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-xs-4 control-label">{{ctrl.resources.phone}}:</label>
                            <div class="col-xs-8">
                                <p class="form-control-static">{{ctrl.pro.phone.international}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ctrl.pro.website">
                            <label for="website" class="col-xs-4 control-label">{{ctrl.resources.website}}:</label>
                            <div class="col-xs-8">
                                <a href="{{ctrl.pro.website}}" target="_blank">{{ctrl.resources.visitWebsite}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p style="color: #ff6633"><strong>{{ctrl.resources.homeownerNote1}}&nbsp;{{ctrl.pro.displayName}}&nbsp;{{ctrl.resources.homeownerNote2}}</strong></p>
                </div>
            </div>
            <div class="row" ng-if="ctrl.showError">
                <div class="col-xs-12">
                    <h4 class="text-center text-danger">{{ctrl.resources.requirement}}</h4>
                </div>
            </div>
            <div class="row" ng-if="ctrl.findings">
                <div class="col-xs-12">
                    <div class="" style="height: 250px; overflow: auto;">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="ctrl.selectAll" ng-click="ctrl.select()">
                                        </div>
                                    </th>
                                    <th class="col-xs-4">{{ctrl.resources.itemColumn}}</th>
                                    <th class="col-xs-4 hidden-xs">{{ctrl.resources.priorityColumn}}</th>
                                    <th class="col-xs-3">{{ctrl.resources.costColumn}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="finding in ctrl.findings | orderBy:ctrl.prioritySort">
                                    <td class="col-xs-1">
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="finding.selected">
                                        </div>
                                    </td>
                                    <td class="col-xs-4">{{finding.name}}</td>
                                    <td class="col-xs-4 hidden-xs">{{finding.priority | priority}}</td>
                                    <td class="col-md-3">{{finding.estimated_cost | enum}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form name="ctrl.form" novalidate>
                        <text-angular rows="9" placeholder="{{ctrl.resources.commentsPlaceholder}}" ng-model="ctrl.comments" ng-required="ctrl.requestType === 'contact'"></text-angular>
                        <div ng-messages="ctrl.form.comments.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                        </div>
                        <p class="text-center">{{ctrl.resources.homeProMessage}}</p>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-primary" ng-click="ctrl.request()" ng-disabled="ctrl.processing || ctrl.form.$invalid || ctrl.comments.length < 1" autofocus>{{ctrl.resources.submit}}</button>
                    <button class="btn btn-secondary" ng-click="ctrl.cancel()" ng-disabled="ctrl.processing">{{ctrl.resources.cancel}}</button>
                </div>
            </div>
        </div>
        <div ng-if="ctrl.submitted">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">{{ctrl.resources.submitted}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">{{ctrl.resources.request}}</p>
                    <br>
                    <p class="text-center">Please let {{ctrl.apr.reviewer_company.name}} know if you are not 100% satisfied with as they work hard to make sure you have a good experience and regularly update their recommend pros list.</p>
                    <p class="text-center"><button class="btn btn-primary" ng-click="ctrl.cancel()">{{ctrl.resources.close}}</button></p>
                </div>
            </div>
        </div>
    </div>
</div>