<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;{{ctrl.model.resources.upgrade}} {{ctrl.model.resources.subscription}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <form role="form" name="couponForm" ng-submit="ctrl.model.submitCouponForm()">
                        <div class="form-group">
                            <label for="promo_code">{{ctrl.model.resources.coupon}}:</label>
                            <div class="input-group">
                                <input ng-model="ctrl.model.coupon.value" name="coupon" type="text" class="form-control" autofocus="true" required />
                                <span class="input-group-btn">
                                    <button ng-disabled="ctrl.model.processing || couponForm.$invalid" type="submit" class="btn btn-primary">{{ctrl.model.resources.apply}}</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="ctrl.model.skipTokenize">
                            <label class="control-label">{{ctrl.model.resources.creditCard}}</label>
                            <hb-credit-card-form cfg="ctrl.model.creditCardConfig"></hb-credit-card-form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.model.tokenize()" ng-disabled="ctrl.model.processing" type="button" class="btn btn-primary">{{ctrl.model.resources.upgrade}}</button>
    <button ng-click="ctrl.model.closeModal()" ng-disabled="ctrl.model.saving" type="button" class="btn btn-default">{{ctrl.model.resources.close}}</button>
</div>
