<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-transfer"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <form name="ctrl.form" ng-submit="ctrl.submit()" role="form">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.form.binder.$invalid}">
                        <label for="id" class="text-muted">{{ctrl.resources.binderId}}</label>
                        <hb-lookup name="binder" cfg="ctrl.binderLookupCfg" ng-model="ctrl.binder" selection="ctrl.binder" required></hb-lookup>
                        <div ng-messages="ctrl.form.binder.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="status" class="text-muted">{{ctrl.resources.status}}</label>
                        <p>{{ctrl.transfer.status}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.form.sender.$invalid}">
                        <label for="sender" class="text-muted">{{ctrl.resources.sender}}</label> 
                        <hb-user-lookup name="sender" cfg="ctrl.partnerLookupCfg" ng-model="ctrl.sender" selection="ctrl.sender" required></hb-user-lookup>
                        <div ng-messages="ctrl.form.sender.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': ctrl.form.receiver.$invalid}">
                        <label for="receiver" class="text-muted">{{ctrl.resources.receiver}}</label>
                        <hb-user-lookup name="receiver" cfg="ctrl.partnerLookupCfg" ng-model="ctrl.receiver" selection="ctrl.receiver" required></hb-user-lookup>
                        <div ng-messages="ctrl.form.receiver.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.submitForm()" ng-disabled="ctrl.form.$invalid">{{ctrl.resources.save}}</button>
    <button ng-click="ctrl.closeModal()" ng-disabled="ctrl.saving" type="button" class="btn btn-default">{{ctrl.resources.close}}</button>
</div>
