<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
					<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
					<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="255" placeholder="Master Bedroom" />
					<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="area_type" class="control-label">{{ctrl.model.resources.areaType}}</label>
					<input name="area_type" class="form-control" ng-model="ctrl.model.areaType" type="text" typeahead="type for type in ctrl.model.areaTypes | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Bedroom, Deck" />
					<div ng-messages="ctrl.model.form.area_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label for="dimensions" class="control-label">{{ctrl.model.resources.dimensions}}</label>
					<input name="dimensions" class="form-control" ng-model="ctrl.model.dimensions" type="text" ng-maxlength="255" placeholder="20 x 10" />
					<div ng-messages="ctrl.model.form.area_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
					<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
			<label>{{ctrl.model.resources.additionalDetails}}</label>
			<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this area/room"></textarea>
		</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
			<label>{{ctrl.model.resources.media}}</label>
		</div>
				<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)"></hb-document-uploader>
				<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
			</div>
		</div>
	</form>
	</div>
</div>
