<div class="container homebinder-form">
	<div class="row col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-image"><img src="/img/flatlogo.png" /></div>
			<div class="panel-body">
				<form role="form" name="ctrl.passwordForm" ng-submit="ctrl.submit()">
					<p class="text-center">{{ctrl.resources.helpText}}</p>
					<div class="form-group" ng-class='{"has-feedback": ctrl.passwordForm.email.$valid}'>
						<input type="email" class="form-control input-lg" id="email" name="email" placeholder="{{ctrl.resources.emailPlaceholder}}" ng-model="ctrl.data.email" autofocus="true" ng-minlength="1" ng-maxlength="255" required/>
						<span ng-if="ctrl.passwordForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
						<span ng-show="ctrl.passwordForm.email.$error.required && !ctrl.passwordForm.email.$pristine" class="error">{{ctrl.resources.required}}</span>
						<div ng-messages="ctrl.passwordForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.passwordForm.$submitted">
						</div>
					</div>
					<div class="form-group" ng-class='{"has-feedback": ctrl.passwordForm.first_password.$valid}'>
						<input type="password" class="form-control input-lg" id="first_password" name="first_password" placeholder="{{ctrl.resources.passwordPlaceholder}}" ng-model="ctrl.data.first_password" ng-minlength="8" ng-maxlength="128" required/>
						<span ng-if="ctrl.passwordForm.first_password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
						<span ng-show="ctrl.passwordForm.first_password.$error.minlength && !ctrl.passwordForm.first_password.$pristine" class="error">{{ctrl.resources.minlength}} 8</span>
						<span ng-show="ctrl.passwordForm.first_password.$error.maxlength && !ctrl.passwordForm.first_password.$pristine" class="error">{{ctrl.resources.maxlength}} 128</span>
						<span ng-show="ctrl.passwordForm.first_password.$error.required && !ctrl.passwordForm.first_password.$pristine" class="error">{{ctrl.resources.required}}</span>
					</div>
					<div class="form-group" ng-class='{"has-feedback": ctrl.passwordForm.second_password.$valid}'>
						<input type="password" class="form-control input-lg" id="second_password" name="second_password" placeholder="{{ctrl.resources.passwordConfirmPlaceholder}}" ng-model="ctrl.data.second_password" compare-to="ctrl.data.first_password" required/>
						<span ng-if="ctrl.passwordForm.second_password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
						<span ng-show="ctrl.passwordForm.second_password.$error.compareTo && !ctrl.passwordForm.second_password.$pristine && !ctrl.passwordForm.second_password.$error.required && ctrl.passwordForm.first_password.$valid" class="error">{{ctrl.resources.passwordsNotEqual}}</span>
						<span ng-show="ctrl.passwordForm.second_password.$error.required && !ctrl.passwordForm.second_password.$pristine" class="error">{{ctrl.resources.required}}</span>
					</div>
            		<button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.passwordForm.$invalid">{{ctrl.resources.submitText}}</button>
				</form>
			</div>
			<div class="panel-footer">
				<span class="pull-right">
		  			&copy; {{ctrl.year}} HomeBinder
		  		</span>
				<span class="clearfix">&nbsp;</span>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>
