<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<button class="btn btn-primary pull-right" type="button" ng-click="ctrl.model.addModal()" ng-disabled="ctrl.model.maintForm.$invalid">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.add}}
		</button>
			<i class="fa fa-wrench text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-2 text-left">
						<h4>{{ctrl.model.resources.headers[0]}}</h4>
					</div>
					<div class="col-xs-2 text-center">
						<h4>{{ctrl.model.resources.headers[1]}}</h4>
					</div>
					<div class="col-xs-3 text-center">
						<h4>{{ctrl.model.resources.headers[2]}}</h4>
					</div>
					<div class="col-xs-4 text-center">
						<h4>{{ctrl.model.resources.headers[3]}}</h4>
					</div>
					<div class="col-xs-1 text-right">
						<h4></h4>
					</div>
				</div>
			</div>
			<div class="panel-heading" ng-repeat="item in ctrl.model.items">
				<div class="row">
					<div class="col-xs-12">
						<form role="form" name="ctrl.model.maintForm" novalidate>
							<div class="col-xs-2 text-left">
								<span>{{item.name}}</span>
							</div>
							<div class="col-xs-2 text-center">
								<span>{{item.frequency}}</span>
							</div>
							<div class="col-xs-3 text-center">
								{{item.do_date | date}}
							</div>
							<div class="col-xs-3 text-center">
								<p ng-bind-html="item.details"></p>
							</div>
							<div class="col-xs-2 text-center">
								<button type="button" class="btn btn-primary" ng-click="ctrl.model.edit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-primary" ng-click="ctrl.model.deleteItem(item, $index)"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
