<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ctrl.model.resources.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
            <p class="text-center">{{ctrl.model.resources.subTitle}}</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o3e_j-bcPXM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button class="btn btn-primary btn-lg" ng-click="ctrl.model.order()" style="white-space: normal; font-size: 14px;">{{ctrl.model.resources.orderNow}}</button>
            </div>
        </div>
    </div>
</div>