.sidebar-binder {
    background-color: #ff6633;

    li {
        border-color: #ffffff;

        a {
            color: #ffffff;
            background-color: #ff6633;
            padding: 15px 0px !important;

            &:focus,
            &:hover {
                color: #ffffff;
                background-color: #ff470a;
                border-right: none;
            }

            p {
                font-size: 12px;
                margin-bottom: 0px;
                margin-top: 5px;
            }
        }
    }

    .active {
        a,
        a:focus,
        a:hover {
            background-color: #ff470a;
            border-right: none;
        }

        a:focus,
        a:hover {
            color: #ffffff;
            background-color: #ff470a;
        }
    }

    a.active {
        background-color: #ff470a;
        border-right: none;
    }

    img {
        width: 30px;
    }

    .logo {
        width: 45px;
    }

    .logo-text {
        display: none;
    }

    .binder-item-count {
        position: absolute;
        top: -1px;
        right: 0;
        z-index: 1;
        background-color: #ffffff;
        width: 20px;
        height: 20px;

        p {
            color: #ff6633;
            font-size: 12px;
            margin-top: 2px;
        }
    }

    .bottom-links {
        a {
            padding: 0px !important;
            p {
                padding: 5px 0px;
                margin: 0px;
            }
        }

        .logout-link {
            margin-bottom: 10px;
        }
    }

    .nav .open>a {
        background-color: #ff6633;

        &.dropdown-toggle {
            background-color: #ff470a;
        }
    }

    .dropdown-menu {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 126px;
        padding: 10px 25px;
        margin: 0px;
        border: 2px solid #ff6633;

        li {
            font-size: 14px;
            padding: 10px 0px;
        }

        a {
            color: #ff6633;
            background-color: #ffffff;

            &:hover,
            &:focus {
                color: #e03700;
                background-color: transparent;
            }
        }

        .dropdown-header {
            font-size: 18px;
            color: #000000;
            text-transform: none;
        }
    }

}

.homeowner-dashboard {
    .hb-documents-nav,
    .hb-details-nav {
        margin-top: 10px;

        h3 {
            margin-top: 9px;
        }
    }
}

.upgrade-header {
    width: 100%;
    background-color: rgb(51, 204, 255);
    border-bottom-color: rgb(51, 204, 255);

    .navbar-header {
        width: 100%;
    }

    p {
        color: #ffffff;
        font-weight: normal;
        margin: 12px 0px;
    }

    a {
        font-size: 18px;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
        text-transform: uppercase;

        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}

.btn-default-new {
    color: #ff6633;
    background-color: #ffffff;
    border-color: #ff6633;
    
    &:hover, &:focus {
        color: #ff5319;
        background-color: #ffded3;
        border-color: #ff5319;
    }
}

.binder-items-buttons {
    margin-top: 18px;
    
    .pull-left {
        .btn:first-child {
            margin-right: 10px;
        }
    }
    
    .pull-right {
        .btn:last-child {
            margin-left: 10px;
        }
    }
}

// Add buffer to bottom link to aid with scrolling when header is visible
.show-header {
    .sidebar-binder .bottom-links .logout-link {
        margin-bottom: 60px;
    }
}

.btn-default-new {
    color: #ff6633;
    background-color: #ffffff;
    border-color: #ff6633;
    
    &:hover, &:focus {
        color: #ff5319;
        background-color: #ffded3;
        border-color: #ff5319;
    }
}

.binder-items-buttons {
    margin-top: 18px;
    
    .pull-left {
        .btn:first-child {
            margin-right: 10px;
        }
    }
    
    .pull-right {
        .btn:last-child {
            margin-left: 10px;
        }
    }
}

// Add buffer to bottom link to aid with scrolling when header is visible
.show-header {
    .sidebar-binder .bottom-links .logout-link {
        margin-bottom: 60px;
    }
}

// When header is hidden
@media (min-width: @screen-sm-min) {
    .hide-header {
        .homeowner-dashboard {
            position: absolute;
            top: 0px;
        }

        .sidebar-binder {
            top: 0px;
        }
    }
}

// Undo removal of body top-padding for this interval when header is visible
@media (min-width: @screen-sm-min) and (max-width: 960px) {
    .show-header {
        .homeowner-dashboard {
            margin-top: 50px;
        }
    }
}


