<application-header class="hidden-lg hidden-md hidden-sm"></application-header>
<div ng-if="ctrl.showHeader" class="navbar navbar-inverse navbar-fixed-top main-navbar upgrade-header hidden-xs" role="navigation">
	<div class="container-fluid">
		<div class=" row navbar-header">
			<div class="col-xs-12 text-center">
				<p>You're using the free version of HomeBinder. <a ng-click="ctrl.goToSubscription()" href="">Click here</a> to learn more about upgrading</p>
			</div>
		</div>
	</div>
</div>
<div class="mobile-view-select dropdown">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<span>Menu</span><b class="caret"></b>
	</a>
	<ul class="mobile-view-list dropdown-menu">
		<li ng-repeat="tab in ctrl.mobileTabs" class="nav-sub" ui-sref-active="active">
			<a ng-if="tab.resourceType != 'subscription'" ui-sref="{{ tab.state }}" ui-sref-opts="{ binderId: data.id }" href="">{{tab.name}}</a>
			<a ng-if="tab.resourceType === 'subscription'" href="{{ctrl.subscription.url}}">{{tab.name}}</a>
		</li>
	</ul>
</div>
<div class="container-fluid inspector master-container">
	<div class="row {{ctrl.showHeaderClass}}">
		<div class="col-sm-1 sidebar sidebar-upper sidebar-binder hidden-xs">
			<ul class="nav nav-sidebar">
				<li ng-repeat="tab in ctrl.tabs" class="nav-sub" ui-sref-active="active">
					<div ng-if="tab.id != 'overview' && tab.count != 0" class="binder-item-count text-center">
						<p>{{tab.count}}</p>
					</div>
					<a ui-sref="{{ tab.state }}" ui-sref-opts="{ binderId: data.id }" href="" class="text-center">
						<img ng-src="{{tab.image}}" class="{{tab.imageClass}}"></img>
						<p class="hidden-sm {{tab.nameClass}}">{{tab.name}}</p>
					</a>
				</li>
				<li class="nav-sub bottom-links">
					<a ui-sref="binder.userSettings" ui-sref-opts="{ binderId: data.id }" ui-sref-active="active" href="" class="text-center">
						<p>Settings</p>
					</a>
					<a ng-if="ctrl.showMyBinders" ui-sref-active="active" href="" class="text-center dropdown-toggle" data-toggle="dropdown">
						<p>Switch Property</p>
					</a>
					<ul class="dropdown-menu text-center">
						<li class="dropdown-header">My Binders</li>
						<li ng-repeat="binder in ctrl.binders">
							<a href="" ng-click="ctrl.selectBinder(binder)">{{ binder.name }}</a>
						</li>
						<li><button ui-sref="binders.new" class="btn btn-primary">Create New Binder</button></li>
					</ul>
					<a ng-if="!ctrl.showMyBinders" ng-click="ctrl.backToDashboard()" ui-sref-active="active" href="" class="text-center">
						<p>Back to Dashboard</p>
					</a>
					<a ng-click="ctrl.logout()" ui-sref-active="active" href="" class="text-center logout-link">
						<p>Log Out</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-11 col-sm-offset-1 main homeowner-dashboard">
			<div ui-view></div>
		</div>
	</div>
</div>