<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly" ng-show="ctrl.model.settings.canEdit">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button ng-if="ctrl.model.settings.canCancel" type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.title}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <form name="ctrl.model.form" role="form" novalidate autocomplete="off">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="first">{{ctrl.model.resources.firstName}}*</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.first_name}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" id="first" name="first" type="text" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.first_name" ng-maxlength="50" required autofocus/>
                    <div ng-messages="ctrl.model.form.first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="last">{{ctrl.model.resources.lastName}}*</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.last_name}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" id="last" name="last" type="text" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.last_name" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.model.form.last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!ctrl.model.settings.readOnly" ng-show="ctrl.model.showPasswordField()">
                <div class="form-group col-xs-12">
                    <label for="password">{{ctrl.model.resources.password}}<span ng-if="ctrl.model.settings.passwordRequired">*</span></label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.model.item.password" ng-minlength="8" ng-maxlength="128" ng-required="ctrl.model.settings.passwordRequired" />
                    <div ng-messages="ctrl.model.form.password.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-show="ctrl.model.showAdditionalFields()">
                    <label for="company">{{ctrl.model.resources.companyName}}<span ng-show="ctrl.model.companyRequired()">*</span></label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.company}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" name="company" ng-model="ctrl.model.item.user_profile_attributes.company" type="text" class="form-control" ng-maxlength="255" ng-required="ctrl.model.companyRequired()" />
                    <div ng-messages="ctrl.model.form.company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-6" ng-if="ctrl.model.currentUser.role != 'homeowner' && ctrl.model.currentUser.role != 'agent'">
                    <label for="state">{{ctrl.model.resources.role}}*</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.role}}</p>
                    <select ng-if="!ctrl.model.settings.readOnly" ng-options="role.name as role.value for role in ctrl.model.roles" ng-model="ctrl.model.item.role" class="form-control" ng-required="true" ng-change="ctrl.model.setCompany()"></select>
                </div>
                <div class="form-group col-md-6" ng-if="ctrl.model.currentUser.role != 'agent'">
                    <label for="email">{{ctrl.model.resources.email}}*</label>
                    <p ng-if="ctrl.model.settings.readOnly || (!ctrl.model.settings.readOnly && ctrl.model.currentUser.role == 'homeowner')" class="form-control-static">{{ctrl.model.item.email}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly && ctrl.model.currentUser.role != 'homeowner'" name="email" ng-model="ctrl.model.item.email" type="email" class="form-control" ng-maxlength="255" required/>
                    <div ng-messages="ctrl.model.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">{{ctrl.model.resources.address1}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.address_attributes.address1}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="address" type="text" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.address_attributes.address1" ng-maxlength="50" />
                <div ng-messages="ctrl.model.form.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="city">{{ctrl.model.resources.city}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.address_attributes.city}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" name="city" type="text" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.address_attributes.city" ng-maxlength="50" />
                    <div ng-messages="ctrl.model.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="state">{{ctrl.model.resources.state}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.address_attributes.state}}</p>
                    <ui-select ng-if="!ctrl.model.settings.readOnly" ng-model="ctrl.model.item.user_profile_attributes.address_attributes.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)">
                        <ui-select-match placeholder="{{ctrl.model.resources.uiSelectPlaceholder}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="ctrl.model.Address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="state">{{ctrl.model.resources.country}}*</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.address_attributes.country}}</p>
                    <ui-select ng-if="!ctrl.model.settings.readOnly" name="property_country" ng-model="ctrl.model.item.user_profile_attributes.address_attributes.country" on-select="ctrl.model.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in ctrl.model.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.model.form.property_country.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="zip">{{ctrl.model.resources.zip}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.address_attributes.zip}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" name="zip" type="text" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.address_attributes.zip" ng-maxlength="20" />
                    <div ng-messages="ctrl.model.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">{{ctrl.model.resources.phone}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">
                        <span ng-if="ctrl.model.item.user_profile_attributes.mobile_phone.international">{{ctrl.model.item.user_profile_attributes.mobile_phone.international}}</span>
                    </p>
                    <div class="input-group" ng-if="!ctrl.model.settings.readOnly">
                        <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                        <input name="phone" type="phone" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.mobile_phone.national" placeholder="555-123-4567" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                    </div>
                </div>
            </div>
            <div class="row" ng-if="ctrl.model.item.role === 'homeowner'">
                <div class="form-group col-md-3">
                    <label for="sex">{{ctrl.model.resources.gender}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.sex}}</p>
                    <select id="sex" name="sex" ng-if="!ctrl.model.settings.readOnly" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.sex" ng-options="option.value as option.name for option in ctrl.model.sexOptions" />
                    <div ng-messages="ctrl.model.form.sex.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="monthly_email">{{ctrl.model.resources.monthly_email}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.monthly_email | yesNo}}</p>
                    <select id="monthly_email" name="monthly_email" ng-if="!ctrl.model.settings.readOnly" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.monthly_email" ng-options="option.value as option.name for option in ctrl.model.monthlyOptions"
                    />
                    <div ng-messages="ctrl.model.form.monthly_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
                <div class="form-group col-md-6 dob">
                    <label for="dob">{{ctrl.model.resources.dob}}</label>
                    <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.dob | date:'MMMM d, yyyy'}}</p>
                    <input ng-if="!ctrl.model.settings.readOnly" name="dob" ng-model="ctrl.model.item.user_profile_attributes.dob" type="text" class="form-control" datepicker-popup show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true"
                        convert-date/>
                    <div ng-messages="ctrl.model.form.dob.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.model.showAdditionalFields()">
                <label for="website">{{ctrl.model.resources.website}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.website}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" id="website" type="url" class="form-control" placeholder="https://www.mywebsite.com" ng-model="ctrl.model.item.user_profile_attributes.website" ng-pattern="ctrl.model.url_regex" http-prefix ng-maxlength="250"
                />
                <div ng-messages="ctrl.model.form.website.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.model.showAdditionalFields()">
                <label for="details">{{ctrl.model.resources.brandingMessage}}</label>
                <p class="form-control-static">This message will appear in any emails where this user is added as part of a binder's branding.</p>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static" ng-bind-html="ctrl.model.item.user_profile_attributes.message"></p>
                <text-angular ng-if="!ctrl.model.settings.readOnly" id="details" ng-model="ctrl.model.item.user_profile_attributes.message" rows="5" ng-maxlength="1000" autocomplete="off"></text-angular>
                <input ng-show="false" id="branding" type="text" name="message" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.message" ng-pattern="ctrl.model.url_regex" ng-maxlength="1000" autocomplete="off" />
                <div ng-messages="ctrl.model.form.message.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="form-group" ng-if="ctrl.model.showAdditionalFields()">
                <label for="details">{{ctrl.model.resources.bio}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.user_profile_attributes.bio}}</p>
                <textarea ng-if="!ctrl.model.settings.readOnly" name="bio" id="details" ng-model="ctrl.model.item.user_profile_attributes.bio" type="text" rows="5" class="form-control" ng-maxlength="100000"></textarea>
                <div ng-messages="ctrl.model.form.bio.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="row" ng-if="ctrl.model.showAdditionalFields()">
                <div class="form-group col-xs-6 text-center">
                    <label>{{ctrl.model.resources.headshot}}</label>
                    <div class="image" ng-if="ctrl.model.item.user_profile_attributes.head_shot_file">
                        <img class="img-responsive center-block" ng-src="{{ctrl.model.item.user_profile_attributes.head_shot_file}}" alt="Agent Headshot" />
                        <div ng-if="!ctrl.model.settings.readOnly" class="delete" ng-click="ctrl.model.removeHeadShot()">
                            <a href=""></a>
                        </div>
                    </div>
                    <img ng-if="!ctrl.model.item.user_profile_attributes.head_shot_file" class="img-responsive center-block" ng-src="/img/avatar.png" alt="User Avatar" />
                    <hb-uploader ng-if="!ctrl.model.settings.readOnly" cfg="ctrl.model.headshotUploader" file-added="ctrl.model.changeHeadshot()"></hb-uploader>
                </div>
                <div class="form-group col-xs-6 text-center">
                    <label>{{ctrl.model.resources.logo}}</label>
                    <div class="image" ng-if="ctrl.model.item.user_profile_attributes.logo_file">
                        <img class="img-responsive center-block" ng-src="{{ctrl.model.item.user_profile_attributes.logo_file}}" alt="Agent Company Logo" />
                        <div ng-if="!ctrl.model.settings.readOnly" class="delete" ng-click="ctrl.model.removeCompanyLogo()">
                            <a href=""></a>
                        </div>
                    </div>
                    <img ng-if="!ctrl.model.item.user_profile_attributes.logo_file" class="img-responsive center-block" ng-src="/img/company_logo.png" alt="Company Logo" />
                    <hb-uploader ng-if="!ctrl.model.settings.readOnly" cfg="ctrl.model.companyLogoUploader" file-added="ctrl.model.changeCompanyLogo()"></hb-uploader>
                </div>
            </div>
        </form>
</div>