<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<button class="btn btn-primary pull-right" type="button" ng-click="ctrl.model.addModal()" ng-disabled="ctrl.model.appForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.add}}
				</button>
			<i class="fa fa-building text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span></h1>
            <hb-uploader cfg="ctrl.model.imgUploader" file-uploaded="ctrl.model.imgUploadSuccess(file)" file-error="ctrl.model.imgUploadError(response)" file-added="ctrl.model.imgAdded()"></hb-uploader>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-2 text-left">
						<h4>Name</h4>
					</div>
					<div class="col-xs-2 text-center">
						<h4>Manufacturer</h4>
					</div>
					<div class="col-xs-2 text-center">
						<h4>Model</h4>
					</div>
					<div class="col-xs-2 text-center">
						<h4>Serial No.</h4>
					</div>
					<div class="col-xs-2 text-right">
						<h4></h4>
					</div>
				</div>
			</div>
			<div class="panel-heading" ng-repeat="app in ctrl.model.items | orderBy:'name'">
				<div class="row">
					<div class="col-xs-2">
						<a href="" ng-click="ctrl.model.uploadImages(app.id)">
							<i class="glyphicon glyphicon-camera fa-5x text-primary"></i>
						</a>
					</div>
					<div class="col-xs-2 text-left">
						<span>{{app.name}}</span>
					</div>
					<div class="col-xs-2">
						<span>{{app.manufacturer}}</span>
					</div>
					<div class="col-xs-2">
						<span>{{app.model}}</span>
					</div>
					<div class="col-xs-2">
						<span>{{app.serial_no}}</span>
					</div>
					<div class="col-xs-2 text-right">
						<button type="button" class="btn btn-primary" ng-click="ctrl.model.edit(app)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button type="button" class="btn btn-primary" ng-click="ctrl.model.deleteItem(app, $index)"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
