<application-header></application-header>
<div class="mobile-view-select-partner dropdown">
	<a href="" class="dropdown-toggle" data-toggle="dropdown">
		<span>Menu</span><b class="caret"></b>
	</a>
	<ul class="mobile-view-list dropdown-menu">
		<li ng-repeat="tab in ctrl.navCfg.navList" class="nav-sub" ui-sref-active="active">
			<a ui-sref="{{ tab.state }}" ui-sref-opts="{ binderId: data.id }" href="" ng-if="tab.id != 'spacer'">
				<span ng-if="tab.icon" class="{{ tab.icon }}">&nbsp;</span>{{tab.label}}
				<span ng-show="tab.statusClass == 'active'" class="label label-white pull-right" id="item_count">{{resourceCount}}</span>
			</a>
		</li>
	</ul>
</div>
<div class="container inspector master-container">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm col-no-pad">
            <hb-vertical-nav cfg="ctrl.navCfg"></hb-vertical-nav>
        </div>
        <div class="col-md-10 col-xs-12 col-no-pad push-top">
            <div ui-view></div>
        </div>
    </div>
</div>
<application-footer></application-footer>