<div class="row">
    <div class="col-xs-12 email-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="logo" src="/img/flatlogo2s.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4 style="margin-bottom: 18px;">Hello John!</h4>
                <h4>A potential recall has been identified for one of your appliances. Details can be found below:</h4>
                <br>
                <h4>Appliance Name: Dishwasher</h4>
                <h4>Appliance Make: Whirlpool</h4>
                <h4>Appliance Model: DU930QWDQ5</h4>
                <br>
                <h4>In order to identify if your actual appliance is included in this recall please visit the link below for further details. In many cases, specific serial numbers are listed and provide the best way to confirm if your appliance is included.</h4>
                <button class="btn btn-lg btn-primary-dark flat-button">View your Recall</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center app-links">
                <h4>Download our Mobile App!</h4>
                <a href="https://itunes.apple.com/us/app/homebinder/id1437973275?ls=1&amp;mt=8" target="_blank"><img src="../../../../../img/appStore.png"/></a>
                <a href="https://play.google.com/store/apps/details?id=com.homebinder.homeowner1" target="_blank"><img src="../../../../../img/googlePlay.png"/></a>
            </div>
        </div>
        <div class="row branding">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-12">
                        <h5 style="margin-bottom: 18px;">Courtesy of,</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'user'">
                        <h5>Your {{ctrl.model.branding_user.user_profile_attributes.full_role}}</h5>
                    </div>
                    <div class="col-xs-6" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'agent'">
                        <h5>Your Agent</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <user-branding></user-branding>
                    <agent-branding></agent-branding>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <hb-branding></hb-branding>
            </div>
        </div>
    </div>
</div>

