<form name="ctrl.model.form" role="form" ng-hide="ctrl.model.loading.isLoading() || ctrl.model.error">
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button ng-if="!ctrl.model.widgetIsLive" class="btn btn-primary" ng-click="ctrl.model.goLive()">Go Live</button>
            <button ng-if="ctrl.model.widgetIsLive" type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancel()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.title}}<small class="text-center">&nbsp;* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p style="color: #ff6633; margin-bottom: 18px;">{{ctrl.model.resources.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="title" class="control-label">{{ctrl.model.resources.widgetHeadline}}*&nbsp;<small style="color: #999; font-weight: normal;">(50 characters)</small></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.configuration.title}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" type="text" name="title" id="title" class="form-control" ng-model="ctrl.model.configuration.title" ng-required="true" required ng-maxlength="50" />
            <div ng-messages="ctrl.model.form.title.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="url" class="control-label">{{ctrl.model.resources.linkUrl}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.configuration.url}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" type="text" name="url" id="url" class="form-control" ng-model="ctrl.model.configuration.url" />
            <div ng-messages="ctrl.model.form.url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="buttonLabel" class="control-label">{{ctrl.model.resources.buttonText}}&nbsp;<small style="color: #999; font-weight: normal;">(25 characters)</small></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.configuration.buttonLabel}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" type="text" name="buttonLabel" id="buttonLabel" class="form-control" ng-model="ctrl.model.configuration.buttonLabel" ng-maxlength="25" />
            <div ng-messages="ctrl.model.form.buttonLabel.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="body" class="control-label">{{ctrl.model.resources.widgetDescription}}&nbsp;<small style="color: #999; font-weight: normal;">(300 characters)</small></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.configuration.body}}</p>
            <textarea ng-if="!ctrl.model.settings.readOnly" type="text" name="body" id="body" class="form-control" ng-model="ctrl.model.configuration.body" rows="5" style="resize: none;" ng-maxlength="300" />
            <div ng-messages="ctrl.model.form.body.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row widget-container">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 style="margin: 0px; color: #ff6633; font-size: 20px;">{{ctrl.model.configuration.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <p>{{ctrl.model.configuration.body}}</p>
                                </div>
                            </div>
                            <div class="row text-center" ng-if="ctrl.model.configuration.url && ctrl.model.configuration.buttonLabel">
                                <div class="col-xs-12">
                                    <a class="btn btn-primary" ng-href="{{ctrl.model.configuration.url | url}}" target="_blank">{{ctrl.model.configuration.buttonLabel}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.widgetIsLive && !ctrl.model.settings.readOnly">
        <div class="col-xs-12 text-center">
            <button class="btn btn-primary" ng-click="ctrl.model.onDeleteClick()" type="button">Delete Widget</button>
        </div>
    </div>
</form>