<div class="container">
	<div class="row col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-image">
				<a ui-sref="root">
					<img src="/img/flatlogo.png" />
				</a>
			</div>
			<div class="panel-body">
				<div ng-if="!ctrl.declining">
					<p>{{ctrl.sorryText}}</p>
					<br/>
					<div ng-show="!ctrl.has_error">
						<p>{{ctrl.anyFriendsText}}</p>
						<br/>
						<p>{{ctrl.givePart1Text}}</p>
						<p><b>{{ctrl.giftCodeText}}</b></p>
						<p>{{ctrl.givePart2Text}}</p>
						<br/>
						<p>{{ctrl.benefitsText}}</p>
					</div>
					<div ng-show="ctrl.has_error">
						<p>{{ctrl.errorsText}}</p>
					</div>
					<br/>
					<p>{{ctrl.questionsText}}</p>
					<br/>
					<p>{{ctrl.teamText}}</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-right">
		  			&copy; {{ctrl.year}} HomeBinder
		  		</span>
				<span class="clearfix">&nbsp;</span>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>