<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form name="ctrl.form" novalidate>
            <div class="form-group col-md-12">
                <label for="partner" class="control-label">{{ctrl.resources.company}}</label>
                <hb-lookup cfg="ctrl.partnerLookupCfg" selection="ctrl.partner" select="ctrl.newApr()"></hb-lookup>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>