<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.title}} - {{ctrl.model.item.name}}</h4>
</div>
<div class="modal-body">
	<form name="ctrl.model.form" novalidate>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-12" ng-if="ctrl.model.item.library_template">
					<label for="binder_template" class="control-label">Binder Template</label>
					<select name="binder_template" ng-model="ctrl.model.binder_template" ng-options="binder_template.name for binder_template in ctrl.model.binder_templates track by binder_template.id" class="form-control" ng-required="true">
					</select>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
					<label for="name" class="control-label">{{ctrl.model.resources.nameColumn}}</label>
					<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="50" placeholder="John Doe" ng-if="!ctrl.model.showTypeaheads" />
					<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="50" placeholder="John Doe" typeahead="type.name for type in ctrl.model.appliance_templates | filter:$viewValue | limitTo:8" autocomplete="off"
					 typeahead-on-select="ctrl.model.onSelect($item, $model, $label)" ng-if="ctrl.model.showTypeaheads" />
					<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.notes.$invalid && ctrl.model.form.$submitted }">
					<label>{{ctrl.model.resources.notesColumn}}</label>
					<textarea name="notes" class="form-control" ng-model="ctrl.model.item.notes" type="text" rows="5" ng-maxlength="1000" placeholder="Enter additional details about this appliance"></textarea>
					<div ng-messages="ctrl.model.form.notes.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.description.$invalid && ctrl.form.$submitted }" ng-if="ctrl.model.item.library_template">
					<label>{{ctrl.model.resources.descriptionColumn}}</label>
					<textarea name="description" class="form-control" ng-model="ctrl.model.item.description" type="text" rows="5" ng-maxlength="1000" placeholder="Enter a description for this appliance"></textarea>
					<div ng-messages="ctrl.model.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12 text-center" ng-if="ctrl.model.item.library_template">
					<label>{{ctrl.model.resources.photoColumn}}</label>
					<div class="image" ng-if="ctrl.model.item.image_url">
						<img class="img-responsive center-block" ng-src="{{ctrl.model.item.image_url}}" alt="Template Photo" />
						<div class="delete" ng-click="ctrl.model.removePhoto()">
							<a href=""></a>
						</div>
					</div>
					<img ng-if="!ctrl.model.item.image_url" class="img-responsive center-block" ng-src="/img/no-image-available.jpg" alt="Not Available" />
					<hb-uploader cfg="ctrl.model.photoUploader" file-added="ctrl.model.changePhoto()"></hb-uploader>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ctrl.model.save()">{{ctrl.model.resources.save}}</button>
	<button ng-click="ctrl.model.cancel()" type="button" class="btn btn-default">{{ctrl.model.resources.cancel}}</button>
</div>