<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <h3>{{ctrl.resources.title}}</h3>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-6 text-center" ng-if="ctrl.reports.sellerReport.canCreate">
                <div class="panel">
                    <div class="panel-body">
                        <img src="../../../img/inspectionReportIcon.png" style="width: 50px;"></img>
                        <h4>{{ctrl.resources.create}}</h4>
                        <p>{{ctrl.resources.description}}</p>
                        <a ng-click="ctrl.createSellerReport()" class="btn btn-primary">{{ctrl.resources.create}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center" ng-if="ctrl.reports.sellerReport.canEdit">
                <div class="panel">
                    <div class="panel-body">
                        <img src="../../../img/inspectionReportIcon.png" style="width: 50px;"></img>
                        <h4>{{ctrl.resources.edit}}</h4>
                        <p>{{ctrl.resources.description}}</p>
                        <a ui-sref="seller_report_edit({code: ctrl.data.seller_report.code})" class="btn btn-primary">{{ctrl.resources.edit}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center" ng-if="ctrl.reports.sellerReport.canView">
                <div class="panel">
                    <div class="panel-body">
                        <img src="../../../img/inspectionReportIcon.png" style="width: 50px;"></img>
                        <h4>{{ctrl.resources.view}}</h4>
                        <p>{{ctrl.resources.description}}</p>
                        <a ui-sref="seller_report({code: ctrl.data.seller_report.code})" target="_blank" class="btn btn-primary">{{ctrl.resources.view}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="panel">
                    <div class="panel-body">
                        <img src="../../../img/inspectionReportIcon.png" style="width: 50px;"></img>
                        <h4>{{ctrl.resources.run}}</h4>
                        <p>{{ctrl.resources.description}}</p>
                        <a ng-click="ctrl.createInventoryReport()" class="btn btn-primary">{{ctrl.resources.run}}</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="panel">
                    <div class="panel-body">
                        <img src="../../../img/inspectionReportIcon.png" style="width: 50px;"></img>
                        <h4>{{ctrl.resources.capitalExpenses}}</h4>
                        <p>{{ctrl.resources.description}}</p>
                        <a ng-click="ctrl.createCapitalReport()" class="btn btn-primary">{{ctrl.resources.capitalExpenses}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>