<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">{{ctrl.resources.indexTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p>{{ctrl.resources.sentence1}}</p>
            <p>{{ctrl.resources.sentence2}}</p>
            <ul>
                <li>*&nbsp;{{ctrl.resources.sentence3}}</li>
                <li>*&nbsp;{{ctrl.resources.sentence4}}</li>
                <li>*&nbsp;{{ctrl.resources.sentence5}}</li>
            </ul>
            <p>{{ctrl.resources.sentence6}}</p>
            <p>{{ctrl.resources.sentence7}}</p>
            <p><b>{{ctrl.resources.sentence8}}</b></p>
        </div>
    </div>
</div>