<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">{{ctrl.resources.loginTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p>{{ctrl.resources.loginHelp}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-primary text-center">{{ctrl.resources.help}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>{{ctrl.resources.sentence9}}</li>
                <li>{{ctrl.resources.sentence10}}</li>
                <li>{{ctrl.resources.sentence11}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>You can find email templates, flyers and videos in your <span class="text-primary"><a href="https://drive.google.com/drive/folders/0B1cJyh0dj9iiY3I0NzEycnJJSFk?usp=sharing" target="_blank">Marketing Materials</a></span>&nbsp;folder</p>
        </div>
    </div>
</div>