<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">{{ctrl.resources.performanceTitle}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p>{{ctrl.resources.sentence12}}</p>
            <p>{{ctrl.resources.sentence13}}</p>
            <p>{{ctrl.resources.sentence14}}</p>
            <p>{{ctrl.resources.sentence15}}</p>
            <p><b>{{ctrl.resources.sentence16}}</b></p>
        </div>
    </div>
</div>