<div class="apr-request">
    <div class="header">
        <div class="row" style="height: 150px;">
            <div class="col-xs-2">
                <a href="/"><img src="../../img/flatlogo2s.png"></a>
            </div>
            <div class="col-xs-6 text-center">
                <h1 class="hidden-sm hidden-xs"><strong>{{ctrl.resources.shortTitle}}&trade;</strong></h1>
                <h1 class="visible-sm visible-xs"><strong>APR&trade;</strong></h1>
            </div>
            <div class="col-xs-4" ng-if="ctrl.partner && ctrl.partner.logo">
                <h4 class="text-center"><strong>{{ctrl.resources.providedBy}}:</strong></h4>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <img class="img-responsive center-block" ng-src="{{ctrl.partner.logo}}">
                        <h4 class="text-center hidden-xs"><a href="mailto:{{ctrl.partner.email}}" target="_top">{{ctrl.partner.email}}</a></h4>
                    </div>
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <h4 class="text-center">{{ctrl.partner.name}}</h4>
                        <h4 class="text-center">
                            <span ng-if="ctrl.partner.phone.international">{{ctrl.partner.phone.international}}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text" style="margin-top: 60px;">
            <div class="col-md-6">
                <h1><strong>{{ctrl.resources.checkUp}}</strong></h1>
                <h4 style="margin-top: 30px;">{{ctrl.resources.checkUpMessage}}</h4>
                <div style="margin-top: 30px;">
                    <a class="btn btn-lg btn-primary" ng-click="ctrl.scroll('order')">{{ctrl.resources.orderNow}}</a>
                    <a class="btn btn-lg btn-white" target="_blank" href="{{ctrl.sampleLink}}">{{ctrl.resources.sample}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.aprQuestion1}}&trade;?</strong></h1>
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/priority.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.prioritize}}</h4>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/protect.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.investment}}</h4>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/savemoney.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.emergencies}}</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <h4 class="text-center text-muted">{{ctrl.resources.prevention}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.aprQuestion2}}&trade;?</strong></h1>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 col-sm-8">
                    <div class="monitor"> <img class="center-block img-responsive" src="../../img/APR.png"> </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div style="margin-top: 50px;">
                        <h4 class="text-muted" style="margin-top: 30px;">{{ctrl.resources.answer1}}</h4>
                        <h4 class="text-muted" style="margin-top: 30px;">{{ctrl.resources.answer2}}</h4>
                        <h4 class="text-muted" style="margin-top: 30px;">{{ctrl.resources.answer3}}</h4>

                        <div style="margin-top: 40px;">
                            <a class="btn btn-lg btn-primary" ng-click="ctrl.scroll('order')">{{ctrl.resources.orderNow}}</a>
                            <a class="btn btn-lg btn-white" target="_blank" href="{{ctrl.sampleLink}}">{{ctrl.resources.sample}}</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 35px;">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="../../img/discover.png">
                    <h4 class="text-center">{{ctrl.resources.discoveredIssues}}</h4>
                    <h5 class="text-center text-muted">{{ctrl.resources.discoveredIssues}}</h5>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="../../img/alert!.png">
                    <h4 class="text-center">{{ctrl.resources.discoveredIssues}}</h4>
                    <h5 class="text-center text-muted">{{ctrl.resources.cosmetic}}</h5>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="../../img/importance.png">
                    <h4 class="text-center">{{ctrl.resources.estimatedCost}}</h4>
                    <h5 class="text-center text-muted">{{ctrl.resources.improvements}}</h5>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img class="img-responsive center-block" src="../../img/homepro.png">
                    <h4 class="text-center">{{ctrl.resoures.homePros}}</h4>
                    <h5 class="text-center text-muted">{{ctrl.resources.issues}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <h4 class="text-center text-muted">
                        {{ctrl.resources.disclaimer}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.homeowners}}...</strong></h1>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="center-block img-responsive" src="../../img/couple.jpg">
                        </div>
                        <div class="col-xs-8">
                            <h4 class="text-center text-muted">{{ctrl.resources.homeownerQuote1}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="center-block img-responsive" src="../../img/man.jpg">
                        </div>
                        <div class="col-xs-8">
                            <h4 class="text-center text-muted">{{ctrl.resources.homeownerQuote2}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="center-block img-responsive" src="../../img/woman.jpg">
                        </div>
                        <div class="col-xs-8">
                            <h4 class="text-center text-muted">{{ctrl.resources.homeownerQuote3}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.affordable}}</strong></h1>
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/calendar.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.affordableMessage1}}</h4>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/inspector.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.affordableMessage2}}</h4>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img class="img-responsive center-block" src="../../img/moneytree.png">
                            <h4 class="text-center text-muted">{{ctrl.resources.affordableMessage3}}</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 35px;">
                        <div class="col-xs-12">
                            <h4 class="text-center text-muted">{{ctrl.resources.affordableMessage4}}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish" id="order">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.orderApr1}}&trade;&nbsp;{{ctrl.resources.orderApr2}}</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center text-primary">{{ctrl.partner.aprPrice | currency}}</h1>
                </div>
            </div>
            <div class="row" ng-if="!ctrl.created">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <form name="ctrl.form" ng-submit="ctrl.submit()" novalidate>
                        <div class="container-fluid form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="firstName">{{ctrl.resources.firstName}}</label>
                                        <input id="firstName" ng-model="ctrl.firstName" type="text" class="form-control" name="firstName" ng-minlength="1" ng-maxlength="50" required/>
                                        <div ng-messages="ctrl.form.firstName.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.firstName.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="lastName">{{ctrl.resources.lastName}}</label>
                                        <input id="lastName" ng-model="ctrl.lastName" type="text" class="form-control" name="lastName" ng-minlength="1" ng-maxlength="50" required/>
                                        <div ng-messages="ctrl.form.lastName.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.lastName.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="email">{{ctrl.resources.email}}</label>
                                        <input id="email" ng-model="ctrl.email" type="email" class="form-control" name="email" required/>
                                        <div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.email.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="phone">{{ctrl.resources.phone}}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">+{{ctrl.country.code}}</span>
                                            <input name="phone" type="phone" class="form-control" ng-model="ctrl.phone" placeholder="555-123-4567" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" required />
                                        </div>
                                        <div ng-messages="ctrl.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.phone.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <label class="text-muted" for="address1">{{ctrl.resources.address1}}</label>
                                        <input id="address1" ng-model="ctrl.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
                                        <div ng-messages="ctrl.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.address1.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="text-muted" for="address2">{{ctrl.resources.address2}}</label>
                                        <input id="address2" ng-model="ctrl.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
                                        <div ng-messages="ctrl.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.address2.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="city">{{ctrl.resources.city}}</label>
                                        <input id="city" ng-model="ctrl.city" ng-blur="ctrl.validateCity(ctrl.city)" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
                                        <div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.city.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="state">{{ctrl.resources.state}}</label>
                                        <ui-select ng-model="ctrl.state" theme="bootstrap" on-select="ctrl.selectState($item)" name="state" ng-required="true">
                                            <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
                                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-messages="ctrl.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.state.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="zip">{{ctrl.resources.zip}}</label>
                                        <input id="zip" ng-model="ctrl.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" required/>
                                        <div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.zip.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="text-muted" for="country">{{ctrl.resources.country}}</label>
                                        <input id="country" ng-model="ctrl.country.name" type="text" class="form-control" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6" ng-hide="ctrl.hidePromo || ctrl.skipTokenize">
                                        <label class="text-muted" for="promo_code">{{ctrl.resources.promo}}</label>
                                        <div class="input-group">
                                            <input id="promo_code" ng-model="ctrl.promo_code" type="text" class="form-control" name="promo_code" ng-minlength="1" ng-maxlength="20" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button" ng-click="ctrl.applyPromoCode()" ng-disabled="ctrl.applyingCode || ctrl.promo_code.length < 4">Apply!</button>
                                            </span>
                                        </div>
                                        <div ng-messages="ctrl.form.promo_code.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.promo_code.$dirty || ctrl.form.$submitted">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="text-muted">{{ctrl.resources.payByCheck}}</label>
                                        <input type="checkbox" ng-model="ctrl.skipTokenize" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-hide="ctrl.skipTokenize">
                                <div class="col-xs-12 form-section">
                                    <span class="title">{{ctrl.resources.payment}}</span>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="ctrl.skipTokenize">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="control-label">{{ctrl.resources.creditCard}}</label>
                                        <hb-credit-card-form cfg="ctrl.creditCardConfig"></hb-credit-card-form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label class="text-muted control-label">{{ctrl.resources.comments}}</label>
                                    <textarea ng-model="ctrl.comments" class="form-control" rows="4" placeholder="{{ctrl.resources.commentsPlaceholder}}"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group orange-button text-center">
                                    <button type="submit" ng-disabled="ctrl.processing" class="btn btn-lg btn-primary">{{ctrl.resources.submit}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-if="ctrl.created" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="col-xs-6 col-xs-offset-3">
                    <h4 class="text-center">{{ctrl.resources.orderText}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <h4 class="text-center text-muted">
                        {{ctrl.resources.orderDisclaimer}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row section topish">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center"><strong>{{ctrl.resources.questions}}</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-center text-muted">Contact us at <a href="mailto:support@homebinder.com" target="_top">support@homebinder.com</a> or call us at 800-377-6915</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive center-block" src="../../img/stripe.png">
                </div>
            </div>
        </div>
    </div>
</div>