.apr-request {
    margin-top: -50px;
    border-top: 3px solid @brand-primary;
    @media(min-width: 768px) and (max-width: 960px) {
        margin-top: 0;
    }
    @media(max-width:767px) {
        margin-top: 0;
    }
    @media (max-width: 560px) {
        margin-top: 0;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        @media(min-width: 768px) and (max-width: 979px) {
            width: auto;
            padding: 0;
        }
        @media(max-width:767px) {
            width: 90%;
            margin: 0 auto;
            padding-top: 20px;
            padding: 10px 0 0;
        }
    }
    .header {
        border-bottom: 3px solid @brand-primary;
        .logo {
            cursor: default;
            @media(min-width: 768px) and (max-width: 979px) {
                text-align: center;
            }
            @media(max-width:767px) {
                text-align: center;
            }
            @media (max-width: 560px) {
                text-align: center;
            }
        }
        padding: 30px;
    }
    .display {
        opacity: 0;
    }
    h2 {
        text-align: center;
        font-family: 'Arvo';
        margin-top: 30px;
        padding: 0;
        font-size: 26px;
        font-weight: bold;
        font-weight: 700;
        color: #333;
    }
    .header {
        height: 620px;
        background: url(../img/aprhero.jpg) center top no-repeat;
        background-size: cover;
        @media (max-width: 767px) {
            height: auto;
        }
        @media (max-width: 560px) {
            height: auto;
        }
    }
    .hero {
        width: auto;
        margin-right: 60px;
        margin-top: -340px;
        @media(min-width: 768px) and (max-width: 979px) {
            width: auto;
            margin: 0;
        }
        @media(max-width:767px) {
            width: auto;
            margin: 0;
            float: left !important;
        }
        @media (max-width: 560px) {
            width: auto;
            margin: 0;
            float: left !important;
        }
        h1 {
            font-size: 40px;
            color: #eee;
            margin-bottom: 10px;
            line-height: 1.4em;
            text-shadow: 0px 0px 10px #111, 0px 0px 10px #111, 0px 0px 10px #111;
            margin-top: 0;
            font-weight: bold;
            @media (max-width: 767px) {
                font-size: 32px;
                margin-top: 0;
                color: #eee;
            }
            @media (max-width: 560px) {
                font-size: 24px;
                line-height: 1.4em;
                color: #eee;
            }
        }
        h2 {
            font-family: "Open Sans", Arial, sans-serif;
            color: #eee;
            font-weight: 500;
            text-align: center;
            width: 680px;
            line-height: 1.4em;
            margin: 10px auto 20px;
            text-shadow: 0px 0px 10px #111, 0px 0px 10px #111, 0px 0px 10px #111;
            font-size: 22px;
            padding: 0;
            @media (max-width: 767px) {
                color: #eee;
                width: 100%;
                margin: 0 0 20px;
            }
            @media (max-width: 560px) {
                color: #eee;
                width: 100%;
                margin: 0 0 20px;
            }
        }
    }
    .btn-lg {
        margin-left: 0;
        font-size: 20px;
        font-family: Arvo;
        padding: 12px 25px;
        margin: 0 15px;
        box-shadow: 0px 0px 10px #111;
        background: #f63;
        background: linear-gradient(to bottom, #f63, #ff470a);
        &:hover {
            background: linear-gradient(to bottom, #ff470a, #f63);
            color: #eee;
        }
    }
    .btn-white {
        background: #fff;
        background: linear-gradient(to bottom, #fff, #ddd);
        color: #f63;
        border: none;
        &:hover {
            background: linear-gradient(to bottom, #ddd, #fff);
            color: #666;
        }
    }
    .section {
        padding: 40px 0;
        overflow: hidden;
        border-bottom: 3px solid #f63;
        margin-left: 0;
        margin-right: 0;
        &:last-of-type {
            border-bottom: none;
        }
    }
    .text h1 {
        font-size: 28px;
        color: #333;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
    }
    .text h2 {
        text-align: left;
        margin-left: 0;
        color: #333;
        text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
        width: auto;
        font-size: 18px;
    }
}