<div class="container transfer-welcome homeowner-onboarding" ng-show="!ctrl.model.loading.isLoading()">
    <div class="row logos">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
                <div ng-class="{'col-xs-6 partner-logo-exists': ctrl.model.partner_branding.logo, 'col-xs-12 partner-logo-does-not-exist': !ctrl.model.partner_branding.logo}">
                    <img class=" img-responsive homebinder" ng-src="/img/flatlogo.png" />
                </div>
                <div class="col-xs-6 partner-logo-container" ng-if="ctrl.model.partner_branding.logo">
                    <img class="img-responsive partner-logo-onboarding" ng-src="{{ctrl.model.partner_branding.logo}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row step-1" ng-show="ctrl.model.step === 1">
        <div class="col-xs-12">
            <div class="row titles">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ctrl.model.resources.claimBinder}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.resources.claimBinderSubtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form name="searchBindersForm" role="form" ng-show="!ctrl.model.hideForm" ng-submit="ctrl.model.searchBinders()">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p class="orange">{{ctrl.model.resources.country}}</p>
                                            <ui-select name="property_country" ng-model="ctrl.model.searchData.country" on-select="ctrl.model.onSelectCountry($item)" theme="bootstrap" ng-required="true" required>
                                                <ui-select-match class="ui-select" placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.value as item in ctrl.model.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p class="orange">{{ctrl.model.resources.address}}</p>
                                            <input type="text" class="form-control" id="number" ng-model="ctrl.model.searchData.address1" / required>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="orange">{{ctrl.model.resources.city}}</p>
                                            <input type="text" class="form-control" id="city" ng-model="ctrl.model.searchData.city" / required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <p class="orange">{{ctrl.model.resources.state}}</p>
                                            <ui-select ng-model="ctrl.model.searchData.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)" required>
                                                <ui-select-match class="ui-select" placeholder="{{ctrl.model.resources.uiSelectPlaceholder}}">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices group-by="ctrl.model.Address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
                                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-xs-4">
                                            <p class="orange">{{ctrl.model.resources.zip}}</p>
                                            <input type="text" class="form-control" id="zip" ng-model="ctrl.model.searchData.zip" ng-minlength="1" ng-maxlength="20" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.model.isBusy || searchBindersForm.$invalid">{{ctrl.model.resources.checkAvailability}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-errors">
                <div class="col-xs-12 text-center">
                    <p class="form-error" ng-show="ctrl.model.noBindersError">{{ctrl.model.resources.noBindersError}}</p>
                    <p class="form-error" ng-show="ctrl.model.noBindersPendingError">{{ctrl.model.resources.noBindersPendingError}}</p>
                    <p class="form-error" ng-show="ctrl.model.bindersAcceptedError">{{ctrl.model.bindersAcceptedErrorMessage}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row step-2" ng-show="ctrl.model.step === 2">
        <div class="col-xs-12">
            <div class="row titles">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ctrl.model.resources.confirmIdentity}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.resources.confirmIdentitySubtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form name="verifyForm" role="form" ng-show="!ctrl.model.hideForm" ng-submit="ctrl.model.verifyBinder()">
                                <div class="form-group" ng-class='{"has-feedback": verifyForm.email.$valid}'>
                                    <p class="orange">{{ctrl.model.resources.emailAddress}}</p>
                                    <input name="email" type="email" class="form-control" id="email" ng-model="ctrl.model.verifyData.email" required />
									<span ng-show="verifyForm.email.$error.email && !verifyForm.email.$pristine" class="error">{{ctrl.model.validationErrors.email}}</span>
                                </div>
                                <div class="form-group">
                                    <p class="orange">{{ctrl.model.resources.phone}}</p>
                                    <div class="input-group">
                                        <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                                        <input name="phone" type="phone" class="form-control" ng-model="ctrl.model.verifyData.phone" placeholder="555-123-4567" autocomplete="off" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" required list="autocompleteOff" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.model.isBusy || verifyForm.$invalid">{{ctrl.model.resources.homeownerSubmitLabel}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-errors">
                <div class="col-xs-12 text-center">
                    <p class="form-error" ng-show="ctrl.model.noMatchError">{{ctrl.model.resources.noMatchError}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <hr>
                    <p>{{ctrl.model.resources.needHelp}}&nbsp;<a href="https://support.homebinder.com/" target="_blank">{{ctrl.model.resources.supportCenter}}</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
