<div class="col-xs-12" ng-if="ctrl.documents.length > 0" style="height: 100px; overflow:scroll;">
    <table class="table">
        <tbody>
            <tr ng-repeat="document in ctrl.documents">
                <td ng-click="ctrl.viewDocument(document)"><i class="{{document.icon}}"></i></td>
                <td>{{document.name}}</td>
        		<td>
					<button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.deleteDocument(document, $index)" tooltip="Remove document"><span class="glyphicon glyphicon-remove"></span></button>
				</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="ctrl.documents.length === 0">
    <p>{{ctrl.resources.noDocuments}}</p>
</div>