<div class="navbar navbar-inverse navbar-fixed-top main-navbar" role="navigation" ng-style="ctrl.needsToUpgrade">
	<div class="container-fluid">
		<div class="navbar-header">
			<button ng-if="ctrl.data.user" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="sr-only">Toggle navigation</span>
            	<!--  SF  --><span class="glyphicon glyphicon-cog"></span>
          	</button>
			<a href="" class="navbar-brand brand-click" ng-click="ctrl.brandClick()"><img src="/img/flatlogonotext.png"><span>&nbsp;<span ng-class='{"hidden-xs hidden-sm hidden-md": ctrl.showMyBinders}'>HomeBinder</span></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="hidden-xs hidden-sm navbar-brand navbar-brand-partner" ng-if="ctrl.needsToUpgrade"><small><span class="hidden-xs hidden-sm hidden-md">{{ctrl.resources.upgradeText1}}</span>&nbsp;<a href="/settings/subscriptions/{{ctrl.data.binder.subscription.id}}/upgrade">{{ctrl.resources.upgradeText2}}</a>&nbsp;{{ctrl.resources.upgradeText3}}</small></span>
			<div ng-if="ctrl.showMyBinders" class="dropdown mobile-binder-select">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span>&nbsp;{{ctrl.data.binder.name}}&nbsp;<b class="caret"></b></a>
				<ul class='dropdown-menu'>
					<li class="dropdown-header">{{ctrl.resources.myBinders}}</li>
					<li ng-repeat="binder in ctrl.data.binders"><a href="" ng-click="ctrl.selectBinder(binder)">{{ binder.name }}</a></li>
					<li class='divider'></li>
					<li><a ui-sref="binders.new"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{ctrl.resources.createBinders}}</a></li>
				</ul>
			</div>
		</div>
		<div ng-if="ctrl.data.user" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right nav-account-actions">
				<li ng-if="ctrl.showMyBinders" class="dropdown binder-select">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" tooltip-placement="bottom" tooltip="{{ctrl.yourBinders}}"><span class="glyphicon glyphicon-book"></span>&nbsp;{{ctrl.data.binder.name}}&nbsp;<b class="caret"></b></a>
					<ul class='dropdown-menu'>
						<li class="dropdown-header">{{ctrl.resources.myBinders}}</li>
						<li ng-repeat="binder in ctrl.data.binders"><a href="" ng-click="ctrl.selectBinder(binder)">{{ binder.name }}</a></li>
						<li class='divider'></li>
						<li><a ui-sref="binders.new"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{ctrl.resources.createBinders}}</a></li>
					</ul>
				</li>
				<li class="divider-vertical account-actions"></li>
				<li class="account-actions" ng-if="ctrl.showSettings()">
					<a href="" ng-click="ctrl.goToSettings()" tooltip-placement="bottom" tooltip="{{data.settings_tooltip}}"><span class="glyphicon glyphicon-cog"></span>&nbsp;<span class="hidden-xs hidden-sm hidden-md">{{ctrl.resources.account}} {{ctrl.resources.settings}}</span></a>
				</li>
				<li class="account-actions"><a href="/logout" ng-click="ctrl.logout()" tooltip-placement="bottom" tooltip="Logout"><span class="glyphicon glyphicon-log-out"></span><span class="hidden-xs hidden-sm hidden-md">&nbsp;&nbsp;{{ctrl.resources.logout}}</span></a></li>

				<!--  SF  -->
				<li class="mobile-account-actions" ng-if="ctrl.showSettings()"><a href="" ng-click="ctrl.goToSettings()"><span class="glyphicon glyphicon-cog"></span>&nbsp;{{ctrl.resources.settings}}</a></li>
				<li class="mobile-account-actions logout"><a href="/logout" ng-click="ctrl.logout()" tooltip-placement="bottom" tooltip="Logout"><span class='glyphicon glyphicon-log-out'></span>&nbsp;{{ctrl.resources.logout}}</a></li>
			</ul>
		</div>
	</div>
</div>