<div class="container homebinder-form">
	<div class="row col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-image"><img src="/img/flatlogo.png" /></div>
			<div class="panel-body">
				<div ng-show="!ctrl.sent">
					<form role="form" name="ctrl.passwordForm" ng-submit="ctrl.submit()">
						<p class="text-center">{{ctrl.resources.helpText}}</p>
						<div class="form-group">
							<input type="email" class="form-control input-lg" name="email" placeholder="{{ctrl.resources.emailPlaceholder}}" ng-model="ctrl.data.email" autofocus ng-minlength="1" ng-maxlength="255" required/>
							<div ng-messages="ctrl.passwordForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.passwordForm.$submitted">
							</div>
						</div>
						<button type="submit" ng-disabled="ctrl.loading.isLoading() && ctrl.passwordForm.$valid" class="btn btn-lg btn-primary">{{ctrl.resources.submitText}}</button>
					</form>
				</div>
				<div ng-show="ctrl.sent">
					<h3>{{ctrl.resources.almostThere}}</h3>
					<p>{{ctrl.resources.resetText}}</p>
					<a ui-sref="root" class="btn btn-lg btn-primary">{{ctrl.resources.goBackText}}</a>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-left">
		  			<a href='/login'>{{ctrl.resources.login}}</a> | <a href='/homeowners/register'>{{ctrl.resources.signUp}}</a>
		  		</span>
				<span class="pull-right">
		  			&copy; {{ctrl.year}} HomeBinder
		  		</span>
				<span class="clearfix">&nbsp;</span>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>