<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="http://www.secure24promos.com/" target="_blank">
                    <img class="img-responsive center-block" src="/img/secure24.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center">{{ctrl.model.resources.subTitle}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">
                <button class="btn btn-primary" ng-click="ctrl.model.request()" style="white-space: normal;">{{ctrl.model.resources.requestCall}}</button>
            </div>
            <div class="col-xs-4 text-center">
                <a href="http://www.secure24promos.com/" target="_blank" class="btn btn-secondary" style="white-space: normal;" ng-click="ctrl.model.createEvent({ event_name: 'secure_24_learn_more_clicked', event_type: 'widget' })">{{ctrl.model.resources.learnMore}}</a>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-default" ng-click="ctrl.model.remove()" style="white-space: normal;">
                    {{ctrl.model.resources.cancelText}}
                </button>
            </div>
        </div>
    </div>
</div>