<div class="page-header">
    <div class="row">
    	<div class="col-xs-6 pull-right" ng-if="ctrl.model.items.length > 0">
    		<button class="btn btn-primary" role="button" ng-click="ctrl.model.saveAll()">Save All</button>
    	</div>
        <div class="col-xs-6">
            <h3>{{ctrl.model.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
        </div>
    </div>
</div>
<div class="row" ng-if="ctrl.model.items.length > 0">
	<div class="col-xs-6">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="manufacturer in ctrl.model.items">
					<td>
						<input ng-model="manufacturer.name" type="text" class="form-control" name="name" ng-minlength="1" autofocus required/>
					</td>
					<td>
						<button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.model.deleteTypeahead(manufacturer, $index)" tooltip="Remove Appliance Typeahead"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
						</pagination>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div class="row" ng-if="ctrl.model.items.length < 1">
	<div class="col-xs-6">
		<h3 class="text-center">No unverified appliance typeaheads found</h3>
	</div>
</div>