<div class="container-fluid area-details">
    <div class="row binder-items-buttons">
        <div class="col-xs-12">
            <div class="pull-left">
                <a class="btn btn-primary" href="" ng-click="ctrl.model.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-default-new" href="" ng-click="ctrl.model.destroy()">{{ctrl.model.resources.destroy}}</a>
                <a class="btn btn-primary" href="" ng-click="ctrl.model.edit()">{{ctrl.model.resources.edit}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.name}}</span>
            <span>{{ctrl.model.item.name}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.manufacturer}}</span>
            <span>{{ctrl.model.item.manufacturer}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.code}}</span>
            <span>{{ctrl.model.item.code}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.makeup}}</span>
            <span>{{ctrl.model.item.makeup}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.paint_type}}</span>
            <span>{{ctrl.model.item.paint_type}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.sheen}}</span>
            <span>{{ctrl.model.item.sheen}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.store}}</span>
            <span>{{ctrl.model.item.purchase.store}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.price}}</span>
            <span>{{ctrl.model.item.purchase.price | currency}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.purchase_date}}</span>
            <span>{{ctrl.model.item.purchase.date}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.tags}}</span>
            <hb-tag-view cfg="ctrl.model.tagsCfg" tags="ctrl.model.item.tags"></hb-tag-view>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.details}}</span>
            <p>{{ctrl.model.item.details}}</p>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.images}}</span>
            <hb-images images="ctrl.model.images" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-images>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.documents}}</span>
            <hb-documents documents="ctrl.model.documents" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-documents>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 text-center">
            <hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
        </div>
        <div class="col-sm-6 col-xs-12 text-center">
            <div class="uploader">
                <label class="btn btn-primary btn-file" ng-click="ctrl.model.uploadPhotos()">
		        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Select images to upload
		    </label>
            </div>
            <hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
        </div>
    </div>
</div>