<div class="container-fluid">
    <div class="row" ng-if="ctrl.model.partner.binder_count > 0">
        <div class="col-xs-4 pull-left">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dashboards
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="" ng-click="ctrl.model.setDashboard('binders')">Binders View</a></li>
                    <li><a href="" ng-click="ctrl.model.setDashboard('maintenance_items')">Maintenance View</a></li>
                </ul>
            </div>
        </div>
    </div>
    <partners-binders-dashboard ng-if="ctrl.model.currentDashboard === 'binders'"></partners-binders-dashboard>
    <partners-maintenance-items ng-if="ctrl.model.currentDashboard === 'maintenance_items'"></partners-maintenance-items>
</div>