<div class="modal-header">
    <button type="button" class="close pull-right" tooltip="Close Modal" ng-click="ctrl.dismiss()">&times;</button>
    <h3 class="modal-title text-center">{{ctrl.header}}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>{{ctrl.helpText}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="background-color: white;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>City, State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contractor in ctrl.contractors">
                            <td><input type="checkbox" ng-model="contractor.selected" ng-true-value="true" ng-false-value="false" ng-click="ctrl.onSelect(contractor)"></td>
                            <td>{{contractor.name}}</td>
                            <td>{{contractor.email}}</td>
                            <td>{{contractor.phone.national}}</td>
                            <td>{{contractor.address.city}}, {{contractor.address.state}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-lg-12 text-center">
        <div>
            <button class="btn btn-primary" ng-click="ctrl.createExisting()" ng-disabled="!ctrl.contractor"> Use this one</button>
            <button class="btn btn-secondary" ng-click="ctrl.createNew()" ng-if="ctrl.canCreateNew" ng-disabled="!ctrl.canCreateNew"> Create new</button>
        </div>
    </div>
</div>