<div class="container-fluid area-details">
    <div class="row binder-items-buttons">
        <div class="col-xs-12">
            <div class="pull-left">
                <a class="btn btn-primary" href="" ng-click="ctrl.model.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
                <a class="btn btn-default-new" href="" ng-click="ctrl.model.contact()" ng-if="ctrl.model.item.contractor && ctrl.model.item.contractor.email">Contact</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-default-new" href="" ng-click="ctrl.model.destroy()">{{ctrl.model.resources.destroy}}</a>
                <a class="btn btn-primary" href="" ng-click="ctrl.model.edit()">{{ctrl.model.resources.edit}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.name}}</span>
            <span>{{ctrl.model.item.contractor.name | titleize}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.contact}}</span>
            <span>{{ctrl.model.item.contact}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.types}}</span>
            <span ng-repeat="type in ctrl.model.item.types">
                {{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
            </span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.subTypes}}</span>
            <span ng-repeat="type in ctrl.model.item.sub_types">
                {{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
            </span>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.item.preferred_partner || ctrl.model.item.preferred_agent">
        <div class="col-md-12">
            <span class="details-label">{{ctrl.model.resources.preferredPartner}}</span>
            <span>{{ctrl.model.item.preferred_partner.name}}</span>
            <span>{{ctrl.model.item.preferred_agent.company}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.phone}}</span>
            <span>{{ctrl.model.item.contractor.phone.national}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.email}}</span>
            <span>{{ctrl.model.item.contractor.email}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.url}}</span>
            <span>{{ctrl.model.item.contractor.url}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.workedOnProperty}}</span>
            <span>{{ctrl.model.item.worked_on_property | yesNo}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.account_number}}</span>
            <span>{{ctrl.model.item.account_number}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.secondaryName}}</span>
            <span>{{ctrl.model.item.secondary_name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.secondaryEmail}}</span>
            <span>{{ctrl.model.item.secondary_email}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.secondaryPhone}}</span>
            <span>{{ctrl.model.item.secondary_phone.international}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.address1}}</span>
            <span>{{ctrl.model.item.contractor.address.address1}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.address2}}</span>
            <span>{{ctrl.model.item.contractor.address.address2}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.city}}</span>
            <span>{{ctrl.model.item.contractor.address.city}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.state}}</span>
            <span>{{ctrl.model.item.contractor.address.state}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.zip}}</span>
            <span>{{ctrl.model.item.contractor.address.zip}}</span>
        </div>
        <div class="col-xs-12 col-sm-6">
            <span class="details-label">{{ctrl.model.resources.permits}}</span>
            <p ng-repeat="permit in ctrl.model.item.permits">{{permit.permit_number}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.tags}}</span>
            <hb-tag-view cfg="ctrl.model.tagsCfg" tags="ctrl.model.item.tags"></hb-tag-view>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.details}}</span>
            <p>{{ctrl.model.item.details}}</p>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.images}}</span>
            <hb-images images="ctrl.model.images" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-images>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.uploadParams">
        <div class="col-xs-12">
            <span class="details-label">{{ctrl.model.resources.documents}}</span>
            <hb-documents documents="ctrl.model.documents" opts="ctrl.model.uploadParams" ng-if="ctrl.model.uploadParams"></hb-documents>
        </div>
    </div>
    <hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" doc-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
    <hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)" img-added="ctrl.model.uploadImages()"></hb-image-uploader>
</div>