@charset "UTF-8";
/*
 * LANDING.LESS
 * Landing page styles for the landing page.
 * 
 -------------------------------------------------- */

/*
 * Standard Styles
 */
.landing-homeowner,
.landing-agents,
.landing-inspectors {
  margin-top: -50px;
  border-top: 3px solid @brand-primary;
  
  @media(min-width:768px) and (max-width:960px) {
    margin-top: 0;
  }
  
  @media(max-width:767px) {
    margin-top: 0;
  }
  
  @media (max-width: 560px) {
    margin-top: 0;  
  } 
  
  .container {
    width: 100%;
    margin: 0 auto;
    
    @media(min-width:768px) and (max-width:979px) {
      width: auto;
	    padding: 0;
    }
    
    @media(max-width:767px) {
      width: 90%;
      margin: 0 auto;
      padding-top: 20px;
      padding: 10px 0 0;
    }
  }
  
  .header {
    border-bottom: 3px solid @brand-primary;
    
    .container {
      overflow: hidden;
      height: 100%;
      padding-right: 30px; 
      
      @media(min-width:768px) and (max-width:979px) {
        padding: 20px 20px 0;
      }
      
      @media(max-width:767px) {
        padding-right: 0;
      }
      
      @media (max-width: 560px) {
        padding-right: 0;
      }  
              
      .logo {
        cursor: default;
        
        @media(min-width:768px) and (max-width:979px) {
          text-align: center;
        }
        
        @media(max-width:767px) {
          text-align: center;
        }
        
        @media (max-width: 560px) {
          text-align: center;
        }        
      }
    }
    
    a {
      float: left;
      padding: 5px;
      margin: 30px 0 0 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #555;
      text-shadow: 0px 0px 10px #fff;
      
      //&:nth-child(n+2):hover {
      //  opacity: .6;
      //}
      
      &:first-child {
        margin: 20px 0 0 20px;
        
        @media(min-width:768px) and (max-width:979px) {
          margin: 0;
        }
        
        @media(max-width:767px) {
          margin: 0;
        }
        
        @media (max-width: 560px) {
          margin: 0;
        }        
      }
      
      &:last-child {
        @media(min-width:768px) and (max-width:979px) {
          text-shadow: none;
          .btn;
          .btn-primary;
        }
        
        @media(max-width:767px) {
          text-shadow: none;
          .btn;
          .btn-primary;
        }
        
        @media (max-width: 560px) {
          text-shadow: none;
          .btn;
          .btn-primary;
        }        
      }
            
      &.active {
        color: @brand-primary;
      }
      
      &.right {
        float: right;
        margin-right: 60px;
      }
      
      @media(min-width:768px) and (max-width:979px) {
        margin: 5px 10px;
      }
      
      @media(max-width:767px) {
        margin: 5px 10px;
      }
      
      @media (max-width: 560px) {
        margin: 5px 10px;
      }      
    }
  }
  
  .hero {
    margin: -340px 0 0;
    
    @media(min-width:768px) and (max-width:979px) {
      margin: 0;
    }
    
    @media(max-width:767px) {
      margin: 0;
    }
    
    @media (max-width: 560px) {
      margin: 0;
    }
    
    h1 {
      font-family: 'Arvo';
      
      @media (max-width: 767px) {
        font-size: 32px;
        margin-top: 0;
        text-shadow: none;
      }
      
      @media (max-width: 560px) {
        font-size: 24px;
        line-height: 1.4em;
        text-shadow: none;
      }
    }
  }
  
  .monitor {
    background: url('../img/monitors.png') no-repeat;
    height: 500px;
    margin: 20px 10px 0;
    padding: 20px 20px 0;
    position: relative;
    
    @media (max-width: 767px) {
      background: none;
    }
    
    @media (max-width: 560px) {
      background: none;
    }       
    
    img {
      position: absolute;
      top: 20px;
      left: 20px;
      transition-duration: .5s; 
      width: 560px;
      
      @media (max-width: 767px) {
        width: 275px;
      }
      
      @media (max-width: 560px) {
        width: 275px;
      }      
    }
  }
  
  footer {
    padding: 5px 0 5px;
    font-size: 13px;
    border-top: 3px solid @brand-primary;
    
    ul {
      list-style: none;
      margin: 2px 0 0;
    }
    
    li:first-child {
      padding-bottom: 0px;
    }
    
    a, 
    p {
      color: #999;
      line-height: 1.6em;
      margin: 0;
      
      &:hover {
        color: #999;
      }
      
      img {
        padding: 5px 0;
      }
    }
  }
  
  .subhero {
    width: 430px;
    margin-bottom: 17px;
    
    @media(min-width:768px) and (max-width:979px) {
      width: 90%;
      margin: 0;
    }
    
    @media(max-width:767px) {
      width: 90%;
      margin: 0;
    }
    
    @media (max-width: 560px) {
      width: 90%;
      margin: 0;
    }    
    
    p {
      text-align: left;
      position: relative;
      padding-left: 55px;
      padding-right: 0;
      font-size: 16px;
      margin: 10px 5px;
      
      &:before {
        content: url('../img/gift.gif');
        position: absolute;
        left: 0px;
        top: 5px;
      }
      
      &.second {
        margin: 25px 5px 5px;
        
        &:before {
          content: url('../img/report.gif');
          left: 2px;
          top: 10px;
        }
      }
    }
    
    img {
      margin: 0;
    }
    
    .trigger {
      margin: 5px 65px 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #999;
      float: left;
      width: 300px;
    }
  }  
  
  .display {
    opacity: 0;
  }  
}

.landing-homeowner {
  .header {
    height: 700px;
    background-color: #b7b7b7;
	  background-image:
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), 
        url('../img/backgroundgrey.jpg');
  background-position: center center;
	background-size: cover;	
    
    @media (max-width: 767px) {
      background-color: transparent;
      height: 600px;
    }
    
    @media (max-width: 560px) {
      background-color: transparent;
      height: 700px;
    } 
    
    .container {
      
      @media (max-width: 767px) {
        background: none;
      }
      
      @media (max-width: 560px) {
        background: none;
      } 
    }
  }
  
    .btn-lg {
	font-size: 20px;
	font-family: Arvo;
	padding: 12px 25px;
	margin: 0 15px;
	box-shadow: 0px 0px 10px #111;
	background: #f63;
	background: linear-gradient(to bottom, #f63 , #ff470a);

    	&:hover {
  		background: linear-gradient(to bottom, #ff470a , #f63);
		color: #eee;
		}
    }
  
  .hero {
    margin: -545px 0 0;
    
    @media(min-width:768px) and (max-width:979px) {
      width: auto;
      margin: -520px 0 0;
    }
    
    @media(max-width:767px) {
      width: auto;
      margin: -460px 0 0;
    }
    
    @media (max-width: 560px) {
      width: auto;
      margin: -600px 0 0;
	  float: none !important;
    }    
    
    h1 {
      font-size: 38px;
      color: #444;
      text-shadow: 0 0 10px #eee;
      text-align: center;
      
      @media (max-width: 767px) {
        font-size: 32px;
        margin-top: 0;
        text-shadow: none;
      }
      
      @media (max-width: 560px) {
        font-size: 24px;
        line-height: 1.4em;
        text-shadow: none;
      }      
    }    
  }
    
  .whyTable {
	margin-top: 40px;
	margin-bottom: 40px;  
	    
    img {
      padding-top: 0;
      padding-left: 10px;
      
      @media(max-width:767px) {
        padding: 10px 0;
        margin: 0 auto;
        float: none;
        display: block;
      }
      
      @media(min-width:768px) and (max-width:979px) {
        margin-left: -30px;
      }
    }
    
    p {
      border-left: 2px solid #ccc;
      padding-left: 10px;
      margin-left: 0px;
	  font-size: 15px;
      
      @media(max-width:767px) {     
        border: none;
        font-size: 16px;
        margin: 0 auto;
        padding: 5px 10px;
        text-align: center;
      }
    }
    
    h2 {
		font-weight: 700;
		
      @media(min-width:768px) and (max-width:979px) {
        font-size: 24px;
      }
    }
    
    h4 {
      @media(max-width:767px) {
        text-align: center;
        font-size: 20px;
      }
    }
  }
  
  /* Preview Slider */
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    
    li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
      
      &:first-child {
        position: relative;
        display: block;
        float: left;
      }
    }
    
    img {
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }  
  }
  
  .corner {
    height: 40px;
    width: auto;
    position: relative;
    
    img {
      float: right;
      position: absolute;
      right: -72px;
      top: -3px;
    }
  }
  
  .rslides_container {
    padding: 25px 0 0 0px;
    margin-bottom: 50px;
    position: relative;
    float: none;
    width: 620px;
    margin: 0 auto; 
    
    @media(max-width:1200px) {
      padding: 25px 0 0;
      width: 500px;
    }
    
    @media(min-width:768px) and (max-width:979px) {
      padding: 20px 0 0 0px;
      width: 448px;
    }
    
    @media(max-width:767px) {
      padding: 10px 0 0 0px;
      width: 90%;
    }
    
    @media(max-width:560px) {
      width: 100%;
    }
  }
  
  a {    
    &.anAnchor {
      position: relative;
      top: -80px;
      
      @media(min-width:768px) and (max-width:979px) {
        position: relative;
        top: 0 !important;
      }
      
      @media(max-width:767px) {
        position: relative;
        top: 0 !important;  
      }    
      
      @media(max-width:560px) {
        position: relative;
        top: 0 !important;    
      }
    }  
  }
  
  .testimonials {
    padding-top: 0px;
    text-align: center;
    margin-left: 20px;
    
    h2 {
      line-height: 1.6em;
      margin-top: 40px;
      margin-bottom: 15px;
	  font-size: 24px;
	  font-weight: 700;
      
      @media(max-width:1200px) {
        line-height: 1.6em;
        margin-top: 35px;
        margin-bottom: 15px;
      }
      
      @media(min-width:768px) and (max-width:979px) {
        margin-top: 20px;
        font-size: 24px;
      }
    }
    
    li {
      list-style-type: none;
      font-size: 17px;
	  line-height: 1.4em;
      margin: 0 0 20px;
      
      @media(min-width:768px) and (max-width:979px) {
        font-size: 16px;
      }
      
      span {
        display: block;
        margin-top: 10px;
        opacity: .6;
        font-size: 14px;
      }
    }
    
    .btn {
      @media(min-width:768px) and (max-width:979px) {
        font-size: 16px;    
      }
    }
    
    @media(max-width:1200px) {
      margin-left: -10px;
    }
    
    @media(min-width:768px) and (max-width:979px) {
      margin-left: 0px;
    }
    
    @media(max-width:767px) {
      text-align: center;
    }
  }
  
  .pricing {
	background: url("../img/white_wall.png");
	padding: 40px 0;
	border-top: 3px solid #f63;

		p {
		width: 700px;
		font-size: 20px;
		font-weight: 500;
		margin: 10px auto;
		color: #666;
		
			&:last-of-type {
			margin-bottom: 40px
			}
		}

		h2 {
		margin-top: 10px;
		font-weight: 700;	
		}
		.btn-lg {
		  margin-bottom: 15px;
		}

		.price {
		font-size: 70px;
		font-weight: 600;
		color: #ff470a;
		
			span {
			font-size: 24px;
			
				&:first-of-type {
				position: relative;
				bottom: 40px;
				}
			}
		}
	}
  
  .sliderholder {
    background-image: url("../../img/imacsmall.png");
    background-size: 670px;
    background-position: center 10px;
    background-repeat: no-repeat;
    margin-left: 0;
    height: 570px;
    padding-top: 10px;
    
    a.anAnchor {
      top: -80px
    }
    
    img {
      @media(min-width:768px) and (max-width:979px) {
        width: 430px;
        margin: 0 10px;
        float: none;
      }
    }
    
    @media(max-width:1200px) {
      height: 470px;
      background-size: 550px;
    }
    
    @media(min-width:768px) and (max-width:979px) {
      height: 385px;
      background-size: 450px;
    }
    
    @media(max-width:767px) {
      background: none;
      height: auto;
      padding-bottom: 30px;
    }
    
  }
    
  .media {
    overflow: visible;
    
    .media-body {
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
      
      p {
        margin-bottom: 0;
        text-shadow: 0 0 12px #fff, 0 0 5px #fff;
        padding: 5px 0 5px 10px;
      }
      
      @media(max-width:767px) {
        font-size: 16px;
        font-weight: 400;    
      }
    }
    
    .media-object {
      margin-top: -4px;
      margin-right: 0;
    }
        
    .pull-left {
      margin-right: 0;
    }
    
    @media(max-width:767px) {
      overflow: hidden;
    }
  }
  
  .trigger {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 700;
    color: #666;
    text-shadow: 0 0 10px #eee;
    text-align: center;
  }
  
  .container {
  	max-width: 1080px;
  	
    @media(min-width:768px) and (max-width:979px) {
      padding: 0;
    }
  }
  
  .col-sm-2 {
    width: 20%;
    padding-right: 0;
    padding: 5px 10px 5px 0;
    margin-bottom: 5px;
    
    a {
      color: @brand-primary;
    } 
    
    h4 {
      font-weight: 400;
	  font-size: 18px;
    }
  }
  
  .col-sm-6 {
    margin: 0;
    padding-left: 0;
    padding-right: 8px;
    padding-bottom: 5px;
    
    > p {
      padding-right: 0px;
    }
  }
  
  .botCTA {
    text-align: right;
    background: linear-gradient(to right, rgba(210, 210, 210, 0) 0%, rgba(210, 210, 210, 0.6) 50%, rgba(210, 210, 210, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 20px;
    border-top: 3px solid @brand-primary;
	padding-right: 30px;
    
    p {
      font-size: 22px;
      margin: 35px 0px 0;
      color: #555;
      line-height: 1.6em; 
      
      br {
        @media(max-width:767px) {
          display: none; 
        }
      }
      
      @media(max-width:767px) {
        font-size: 18px;
      }
      
      @media(max-width:560px) {
        font-size: 16px;
      }
    }
    
    a {
      display: inline-block;
      padding: 15px 25px;
      margin: 20px 0px 35px;   
    }
    
    @media(max-width:767px) {
      text-align: center;
    }
  }
  
  .lead {
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: 'Open Sans';
    color: #555;
    margin-top: 0;
    text-shadow: 0 0 10px #eee;
    text-align: center;
    
    br {
      @media(min-width:768px) and (max-width:979px) {
        display: none;
      }
      
      @media(max-width:767px) {
        display: none;
      }
    }
    
    @media(min-width:768px) and (max-width:979px) {
      font-size: 17px;
    }
    
    @media(max-width:767px) {
      font-weight: 400;
      color: #444;
    }
    
    @media(max-width:560px) {
      font-size: 16px;
    }
  }
    
  
  
  ul, ol {
  	margin: 0 0 10px 0px;
  	padding: 0;
  }
  .divider {
  	width: 160px;
  	margin: 30px auto 20px;
  	height: 2px;
  	background-color: @brand-primary;
  }
  .orange {
  	color: @brand-primary;
  }
  
  #slider1 {
  	max-width: 620px;
  }
  
  
  /*
   * Base structure
   */
  
  .brandfont {
  	font-family: 'Arvo', serif;
  	font-weight: 400;
  }
  .bold {
  	font-weight: 600;
  }
  .display {
  	display: none;
  }
  
  
  h2 {
    @media(max-width:1200px) {
      font-size: 26px;
    }
  }
  
  #slider1 {
    @media(max-width:1200px) {
      max-width: 500px;
    }
    
    @media(min-width:768px) and (max-width:979px) {
      max-width: 448px;
    }
    
    @media(max-width:767px) {
      width: 90%;
    }
  }
  
  .plansBlock {
    .span6 {
      @media(min-width:768px) and (max-width:979px) {
        width: 520px;
      }
    }
  }  
  
  .divider {
    @media(max-width:767px) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 50%;
    }
  }
  
  .col-xs-6 {
    @media(max-width:767px) {
      width: 49% !important;
    }
    
    @media(max-width:560px) {
      width: 100% !important;
    }
  }
  
  .col-xs-12 {
    @media(max-width:767px) {
      width: 100% !important;
    }
  }
  
  .col-sm-6 {
    &:last-of-type {
      .media {
        overflow: visible;
      }
    }
    
    @media(max-width:767px) {
      padding-right: 0;
    }
  }
  
  .col-xs-4 {
    @media(max-width:560px) {
      width: 100%;
      text-align: center !important;
    }
  }
}

.landing-inspectors, 
.landing-agents {  
  h2 {
    text-align: center;
    font-family: 'Arvo';
    margin-top: 30px;
    padding: 0;
    font-size: 26px;
    font-weight: bold;
	font-weight: 700;
    color: #333;
  }
  
  .header {
    height: 620px;
    background: url(../img/inshero.jpg) center top no-repeat;
	  background-size: cover;
    
    @media (max-width: 767px) {
      height: auto;
    }
    
    @media (max-width: 560px) {
      height: auto;
    }    
    
    .container {
      overflow: hidden;
      height: 620px;
      padding-right: 30px;  
      
      @media(min-width:768px) and (max-width:979px) {
        margin: 0;
        background: none;
        padding-top: 20px;
        padding: 20px 20px 0;
        height: auto;
      }
      
      @media(max-width:767px) {
        margin: 0;
        background: none;
        padding-top: 20px;
        padding: 10px 0 0;
        height: auto;
      }
      
      @media (max-width: 560px) {
        margin: 0;
        background: none;
        padding-top: 20px;
        padding: 10px 0 0;
        height: auto;
      }      
    }  
    
    a {
      color: #333;
      text-shadow: ;
      
      @media(min-width:768px) and (max-width:979px) {
        color: #eee;
      }
      
      @media(max-width:767px) {
        color: #eee;
      }
      
      @media (max-width: 560px) {
        color: #eee;
      }
    }    
  }
  
  .hero {
    width: auto;
    margin-right: 60px;
    margin-top: -340px;
    
    @media(min-width:768px) and (max-width:979px) {
      width: auto;
      margin: 0;
    }
    
    @media(max-width:767px) {
      width: auto;
      margin: 0;
	  float: left !important;
    }
    
    @media (max-width: 560px) {
      width: auto;
      margin: 0;
	  float: left !important;
    }      
    
    h1 {
      font-size: 40px;
      color: #eee;
      margin-bottom: 10px;
      line-height: 1.4em;
	  text-shadow: 0px 0px 10px #111, 0px 0px 10px #111, 0px 0px 10px #111;
	  margin-top: 0;
	  font-weight: bold;
      
      @media (max-width: 767px) {
        font-size: 32px;
        margin-top: 0;
        color: #eee;
      }
      
      @media (max-width: 560px) {
        font-size: 24px;
        line-height: 1.4em;
        color: #eee;
      }             
    }
    
    h2 {
		font-family: "Open Sans", Arial, sans-serif; 
      color: #eee;
      font-weight: 500;
      text-align: center;
      width: 680px;
      line-height: 1.4em;
      margin: 10px auto 20px;
	  text-shadow: 0px 0px 10px #111, 0px 0px 10px #111, 0px 0px 10px #111;
      font-size: 22px;
      padding: 0;
      
      @media (max-width: 767px) {
        color: #eee;
        width: 100%;
        margin: 0 0 20px;
      }
      
      @media (max-width: 560px) {
        color: #eee;
        width: 100%;
        margin: 0 0 20px;        
      }       
    }
  }
  
  .btn-lg {
	font-size: 20px;
	font-family: Arvo;
	padding: 12px 25px;
	margin: 0 15px;
	box-shadow: 0px 0px 10px #111;
	background: #f63;
	background: linear-gradient(to bottom, #f63 , #ff470a);

    	&:hover {
  		background: linear-gradient(to bottom, #ff470a , #f63);
		color: #eee;
		}
    }
  
  .btn-white {
	background: #fff;
	background: linear-gradient(to bottom, #fff , #ddd);
	color: #f63;
	border: none;

		&:hover {
		background: linear-gradient(to bottom, #ddd , #fff);
		color: #666;
		}

		img {
		padding-right: 10px;
		width: 35px;	
		position: relative;
		bottom: 1px;
		}
  }
  
  .section {
	padding: 40px 0;
	overflow: hidden;
	border-bottom: 3px solid #f63;
	margin-left: 0;
	margin-right: 0;

		&:last-of-type {
		border-bottom: none;	
		}
  }
  
  .three {
	background: url("../img/brickwall_@2X.png");	

		h2 {
		font-weight: bold;	
		padding: 0;
		}
	    h4 {
		font-size: 18px;
		font-weight: 400;
		color: #444;
		margin: 30px 0 20px;
		}
		.container > div:nth-child(2) img {
		margin-top: 20px;
		}
		p {
		font-size: 16px;
    	padding: 0 10px;
		color: #666;
		}
		a {
		font-size: 16px;
		font-weight: 600;	
		}
  }
  
  
  .say {
  
  		p {
		font-size: 18px;
		}

		h2 {
		padding: 0;
		margin-bottom: 25px;
		margin-top: 50px;
		}
		
		.col-sm-4 {
		
			.btn {
			position: relative;
			right: 45px;
			}
			
			img {
			margin: 0;
			}
			img.pull-left {
			margin-right: 15px;
			}
			
			a:hover img {
			opacity: .6;
			transition: .2s;
			}

			.btn {
			display: block;
			margin: 25px auto;
			width: 240px;
			position: relative;
			left: 0;
			}

			p:first-of-type {
			margin: 20px 0;
			color: #666;
			}

			p:last-of-type {
			margin-top: 30px;
			text-align: left;
			color: #999;
			}
		}
  }
  
  .reasons {
	background: url("../img/wood.jpg");
	background-size: 100%;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
    text-shadow: 0px 0px 10px #111, 0px 0px 10px #111;

		h2 {
		margin: 10px 0 30px;
		color: #fff;
		}

		img {
		margin-bottom: 15px;	
		box-shadow: 0px 0px 10px #111;
		}
		
		p {
		margin: 12px 0; 	
		}
  }
  
  .setup p {
	font-size: 18px;
	color: #666;	
	margin: 25px 0;
	}
	
	.setup h2 {
	margin-top: 60px;
	}
	
	.pricing {
	background: url("../img/white_wall.png");

		p {
		width: 700px;
		font-size: 20px;
		font-weight: 500;
		margin: 20px auto;
		color: #666;
		
			&:last-of-type {
			margin-bottom: 40px
			}
		}

		h2 {
		margin-top: 10px;	
		}

		.price {
		font-size: 70px;
		font-weight: 400;
		color: #ff6633 !important;
		
			span {
			font-size: 24px;
			
				&:first-of-type {
				position: relative;
				bottom: 40px;
				}
			}
		}
	}
  

  .monitor {
    width: 600px;
    float: none;
	margin: 20px auto!important;
    
    @media(min-width:768px) and (max-width:1040px) {
      width: 100%;
      margin: 0;
	  background-size: contain;	
    }
    
    @media(max-width:767px) {
      width: 100%;
      margin: 0;
      height: 215px;
    }
    
    @media (max-width: 560px) {
      width: 100%;
      margin: 0;
      height: 215px;
    }
    
	iframe {
	  @media(min-width:768px) and (max-width:1040px) {
		width: 100%;
		margin: 0;
		height: 300px;
	  }
	}
	
    img {
      @media(min-width:768px) and (max-width:1040px) {
        width: 90%;
        margin: 0;
      }
      
      @media(max-width:767px) {
        width: 90%;
        margin: 0;
      }
      
      @media (max-width: 560px) {
        width: 90%;
        margin: 0;
      }      
    }    
  }
  
  .trigger {
    margin: 15px auto 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    width: 300px;
	display: inline-block;
  }
  
	footer ul {  
    -webkit-padding-start: 0;
	}

}

.landing-agents {
	.header {
		background: url(../../../img/agentback2.jpg) no-repeat !important;	
		background-position: center -30px !important ;
		background-size: 100% !important;
		overflow: hidden;
	
		.container {
			background: transparent;	
		}

		a {
			color: #333;
			text-shadow: 0 0 10px #fff;
		}
	}

	.hero {
		margin-top: -340px;	

		h1 {
			font-size: 32px;	
			text-shadow: 0 0 10px #666, 0 0 10px #666, 0 0 10px #666;	
		}

		h2 {
			text-shadow: 0 0 10px #666, 0 0 10px #666, 0 0 10px #666;
			
			a {
			  font-weight: bold;
			  text-shadow: 0 0 10px #fff;
	  	}
		}
	}
	
	.btn-lg {
		box-shadow: 0 0 10px #666;
	}
	.three h2 {
		font-size: 24px;	
	}
	.say p {
		font-size: 16px;	
	}
	.say .col-sm-4 .btn {
	  width: 330px;
	}

	.reasons {
		background: url(../../../img/statback.jpg) center no-repeat;
		background-size: 120%;
		padding: 60px 0;
	
		p {
			font-size: 24px;	
			
			span {
				color: #f63;	
			}		
		}
		
		p:last-child {
			font-size: 16px;	
			font-weight: 400;
		}
	}
}
.landing-agents .row, .landing-inspectors .row, .landing-homeowners footer .row {
	margin-left: 0;	
	margin-right: 0;	
}
.landing-inspectors .pricing p, .landing-homeowner .pricing p {
	width: auto;
	font-size: 18px;
}
.landing-inspectors {
  font-size: 16px;
}
.landing-inspectors .header {
  background-image:
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
        url('../img/hbinsnewmay.jpg');
  background-position: center -50px;
  background-size: cover;
}
.landing-inspectors .hero {
  margin-top: -380px;
  text-align: left;
  padding-left: 30px;
}
.landing-inspectors .hero h1 {
  font-size: 28px;
  color: #333;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}
.landing-inspectors .hero h2 {
  text-align: left;
  margin-left: 0;
  color: #333;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff; 
  width: auto;
  font-size: 18px;
}
.landing-inspectors .hero .callus, .landing-agents .hero .callus {
    position: absolute;
    right: 0;
    top: 100px;
    padding: 10px 20px;
    background: #fff;
    border: 2px solid #f63;
    border-right: 0;
}
.landing-inspectors .hero .callus, .landing-agents .hero .callus span {
    color: #ff6633;
    font-weight: bold;
}
.landing-agents .hero .callus .brokerMint {
  display: block;
}
.landing-inspectors .btn-lg {
  margin-left: 0;
}
.landing-inspectors .trigger {
	width: auto;
	color: #ff470a;
	display: block;
  margin-top: 20px;
}
.landing-inspectors .hero .trigger a {
  color: #fff;
  text-transform: none;
  text-decoration: underline;
  text-shadow: 0 0 10px #000;
  font-weight: 400;
  font-size: 16px;
}

.landing-inspectors h2 {
  line-height: 1.3em;
}
.landing-inspectors .topish h2 {
  margin: 10px 0 40px;
}
.landing-inspectors .topish li {
  font-size: 18px;
}
.landing-inspectors .topish p {
 font-size: 18px; 
}
.landing-inspectors .features {
    background-image:
        linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), 
        url('../img/inbed.jpg');
  background-position: center -200px;
  background-size: cover;
  
}

.landing-inspectors .value {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
        url('../img/agentsbk.jpeg');
  background-position: center top;
  background-size: cover;
}
.landing-inspectors .value h2, .landing-inspectors .features h2, .landing-inspectors .onestop h2, .landing-inspectors .others h2, .landing-inspectors .integrations h2, .landing-inspectors .team h2 {
   margin-top: 10px;
   color: #333;
   text-shadow: 0 0 10px #fff;
}
.landing-inspectors .value p, .landing-inspectors .features p {
   color: #333;
   font-size: 18px;
   text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
   margin-bottom: 30px;
}
.landing-inspectors .integrations img {
  margin: 30px 0 40px;
}

.landing-inspectors .integrations .col-md-4 p:first-child {
    color: #ff6633;
    font-family: "arvo";
    font-size: 18px;  
}
.landing-inspectors .integrations .col-md-4 p:nth-child(2) {
    color: #999;
}
.landing-inspectors .integrations .col-md-4 {
    margin-bottom: 40px;
}

.landing-inspectors .others h2, .landing-inspectors .team h2, .landing-inspectors .onestop h2 {
  margin-bottom: 30px;
}
.landing-inspectors .onestop .col-md-6 img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.landing-inspectors .onestop .col-md-6 p:first-of-type {
    font-size: 18px;
    color: #ff6633;
    font-family: "Arvo";  
}
.landing-inspectors .onestop .col-md-6 > div {
  height: 200px;
}

.landing-inspectors .onestop .col-md-6 p:nth-of-type(2) {
    color: #999;
}
.landing-inspectors .onestop .col-md-6 p:last-of-type {
    padding: 0 40px;
}
.landing-inspectors .team .col-md-2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.landing-inspectors .team .col-md-2 img {
  margin-bottom: 20px;    
  border-radius: 100px;
  border: 4px solid #ff6633;
}
.landing-inspectors .team .col-md-2 p:last-child {
  font-weight: 400;    
}
.landing-inspectors .others {
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../img/homeover.jpg);
	background-size: cover;
	color: #fff !important;
	text-shadow: 0 0 10px #111, 0 0 10px #111;
}
.landing-inspectors .others h2 {
	color: #fff !important;
	text-shadow: 0 0 10px #111, 0 0 10px #111;
}

.landing-inspectors .others ul {
   margin-top: 20px; 
   padding: 0;
   margin-bottom: 20px;
}
.landing-inspectors .others ul li {
 font-size: 20px; 
 padding: 0;
}
.landing-inspectors .others .col-md-8 > p, .landing-inspectors .team .col-md-8 > p {
    font-size: 16px;
    line-height: 1.6em;
}
.landing-inspectors .reasons .col-md-12:nth-child(2) {
    margin-bottom: 30px;
}

.landing-inspectors .others ul li:before {
    content: url('../img/orangecheck.png');
    position: relative;
    top: 15px;
}
.landing-inspectors .agentvalue .col-md-6:last-child img, .landing-inspectors .pricing .col-md-5 img {
  float: left;
  clear: both;
  width: 100px;
  padding: 12px;
}
.landing-inspectors .agentvalue .col-md-6:last-child div, .landing-inspectors .pricing .col-md-5 div {
  overflow: hidden;
  margin-bottom: 15px;
  text-align: left;
}
.landing-inspectors .agentvalue .col-md-6:last-child div:last-child {
  overflow: visible;
  text-align: center;
}
.landing-inspectors .agentvalue .col-md-6:last-child p {
  font-size: 18px;
  margin: 25px 40px 0 0;
  overflow: hidden;
}

.landing-inspectors .reasons p {
  font-weight: 400;
  font-size: 16px;
  padding: 0 20px 0 0;
  text-align: left;  
}
.landing-inspectors .reasons p:last-of-type {
	margin-top: 25px;
	text-align: left;
	color: #ddd;
	font-size: 14px
}
.landing-inspectors .reasons img.pull-left {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}
.landing-inspectors .reasons img {
  margin-bottom: 0;
  box-shadow: none;
}
.landing-inspectors .time h2 {
   margin-top: 10px;
}
.landing-inspectors .time h3 {
   font-size: 14px;
  font-family: 'Open Sans';
  color: #999;
}
.landing-inspectors .time .witharrows h3, .landing-inspectors .time .witharrows img {
  display: inline-block;
}
.landing-inspectors .time .witharrows img {
  height: 35px;
  opacity: .4;
  padding: 0 20px;
}
.landing-inspectors .time .witharrows img:first-child {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.landing-inspectors .time p {
  color: #666;
}
.landing-inspectors .time .col-sm-6 p, .landing-inspectors .time .col-sm-10 p {
  font-size: 16px;
}
.landing-inspectors .time .col-sm-6 p {
  margin-bottom: 30px;
}
.landing-inspectors .time .col-sm-6 p:first-of-type, .landing-inspectors .time .col-sm-10 p:first-of-type {
  font-size: 14px;
  color: #999;
}
.landing-inspectors .time .col-md-10 > p {
   margin: 30px 0 0;
   font-size: 16px;
   line-height: 1.4em;
}
.landing-inspectors .time h4 {
   color: #f63;
   font-size: 18px;
}
.landing-inspectors .pricing h4 {
  font-size: 20px;
  margin: 40px 0 40px;
  line-height: 1.4em;
}
.landing-inspectors .pricing h3 {
  font-size: 24px;
  margin: 40px 0 20px;
  line-height: 1.4em;
}
.landing-inspectors .pricing p:nth-child(even) {
  margin-top: 20px;
  margin-bottom: 10px;
}
.landing-inspectors .pricing p:nth-child(odd) {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #999;
}

.landing-inspectors footer .col-md-4:first-child a, .landing-inspectors footer .col-md-4:first-child ul, .landing-agents footer .col-md-4:first-child a, .landing-agents footer .col-md-4:first-child ul, .landing-homeowner footer .col-md-4:first-child a, .landing-homeowner footer .col-md-4:first-child ul {
  float: left;
}
.landing-inspectors footer .col-md-4:first-child ul, .landing-agents footer .col-md-4:first-child ul, .landing-homeowner footer .col-md-4:first-child ul {
  margin-left: 30px;
}
.landing-inspectors footer .col-md-4, .landing-agents footer .col-md-4, .landing-homeowner footer .col-md-4 {
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  font-weight: bold;
  margin-top: 30px; 
  margin-bottom: -50px;
  color: #999;
}
.landing-inspectors footer .col-md-4 li, .landing-agents footer .col-md-4 li, .landing-homeowner footer .col-md-4 li {
  margin-bottom: 5px;
  overflow: hidden; 
}

@media (max-width: 1080px) {
  .landing-inspectors .reasons .col-md-12 > div:last-child img {
  }
  .landing-inspectors .integrations img, .landing-inspectors .reasons img, .landing-inspectors .onestop .col-md-12 > div > img {
    width: 100%
  }
  .landing-inspectors .features, .landing-inspectors .header {
  background-position: center;  
  }
}

@media (max-width: 979px) and (min-width: 768px) {
.landing-inspectors .hero {
	margin-top: -400px;
	float: none !important;	
}
.landing-inspectors .time .col-sm-10 {
  width: 100%;
}
.landing-agents .header {
  background-size: cover!important;
  background-position: center !important;
}
 #videoanchor a img {
   display: none;
 }
 .landing-inspectors .header a {
   color: #333;
 }
}
@media (max-width:960px) {
body {
	padding-top: 0;
}
.landing-inspectors footer .col-md-4, .landing-agents footer .col-md-4, .landing-homeowner footer .col-md-4 {
  text-align: center !important;
  margin-bottom: -20px
}
}

@media (max-width:767px) {
body {
	padding-left: 0;
	padding-right: 0;
}
 .landing-inspectors .header {
   background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)),url(../img/hbinsnewmay.jpg)
 }
 .landing-inspectors .header a {
   color: #333;
 }
.landing-agents .container, .landing-inspectors .container {
	padding-top: 0;	
}
.landing-agents .hero, .landing-inspectors .hero {
	margin-top: -260px;
}
.landing-inspectors .hero {
  padding-left: 0;
}
.landing-inspectors .topish .col-md-6 iframe {
  width: 100%;
  margin: 30px 0; 
  height: 250px;
}
.landing-inspectors .topish .col-md-6 img, .landing-inspectors .agentvalue .col-md-6 img {
  width: 100%;
}
.landing-inspectors .agentvalue .col-md-6:last-child p {
    font-size: 16px;
    margin: 20px 0px 0 0;  
}
.landing-inspectors .time .witharrows img {
  display: none;
}
.landing-inspectors .onestop .col-md-12:last-child, .landing-inspectors .reasons .col-md-12:last-child, .landing-inspectors .others .col-md-12:last-child, .landing-inspectors .team .col-md-12:last-child {
  margin: 40px 0 10px;
  clear: both;
}
.landing-inspectors .reasons:nth-child(3) .col-md-12:last-child {
  margin: 0;
}
.landing-agents .hero h1, .landing-inspectors .hero h1 {
	font-size: 26px;	
}
.landing-agents .hero h2, .landing-inspectors .hero h2 {
	font-size: 18px;	
}
.landing-agents .hero h1, .landing-agents .hero h2 {
	color: #eee;	
	margin-bottom: 20px;	
}
.landing-agents .hero h1, .landing-agents .hero h2 {
	color: #eee;	
	margin-bottom: 20px;	
}
.landing-agents .header, .landing-inspectors .header {
	background-size: cover !important;
	background-position: center !important;		
}
.landing-agents .header .container, .landing-inspectors .header .container {
	height: 500px;	
	margin: 0 auto;
}
.landing-agents .header a {
	text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;	
}
.landing-agents .reasons p br, .landing-inspectors .reasons p br {
	display: none;	
}
.landing-agents .reasons p {
  font-size: 16px;
}
.landing-agents .reasons .col-sm-4 {
  padding: 30px 0; 
}
.landing-agents .say .col-sm-4 img.pull-left, .landing-inspectors .say .col-sm-4 img.pull-left {
	margin-left: 25%;	
}
.landing-agents .three h2, .landing-inspectors .three h2 {
	display: none;	
}
.landing-agents .three h2 + p, .landing-inspectors .three h2 + p {
	display: none;	
}
.landing-agents .three .col-sm-4, .landing-inspectors .three .col-sm-4 {
	padding-bottom: 40px;	
}
.landing-agents .monitor, .landing-inspectors .monitor {
	margin: 0 auto !important;
	width: 75%;
	display: block;
	float: none;
	height: 340px;	
}
.landing-inspectors .monitor, .landing-agents .monitor iframe, .landing-inspectors iframe {
	width: 100%;
}
.landing-agents .reasons, .landing-inspectors .reasons {
  padding: 20px 0;	
}
.landing-agents .reasons p, .landing-inspectors .reasons p {
	font-size: 16px;
	clear: both;
	text-align: left;
	padding-right: 0; 
}
.landing-agents .reasons .col-sm-4 {
  padding: 20px 0 0;
}
.landing-inspectors .btn-white, .landing-inspectors .btn-lg {
  text-shadow: none !important;
  margin-top: 0 !important;
}
.landing-inspectors .reasons p:last-of-type {
  clear: none;
}
.pricing p {
	width: auto;
}
.pricing p:last-of-type {
	padding: 0 10%;	
}
.visible-xs {
  display: inline-block !important;
}
.landing-agents .pricing p {
  width: auto;
}
.landing-agents .setup .monitor {
  height: 260px;
}
 #videoanchor a img {
   display: none;
}
.landing-inspectors footer .col-md-4:first-child a, .landing-inspectors footer .col-md-4:first-child ul, .landing-agents footer .col-md-4:first-child a, .landing-agents footer .col-md-4:first-child ul, .landing-homeowner footer .col-md-4:first-child a, .landing-homeowner footer .col-md-4:first-child ul {
  float: none; 
  margin: 0; 
} 
.landing-inspectors h2 {
  font-size: 22px !important;
}
.landing-inspectors .topish p, .landing-inspectors .topish li {
  font-size: 16px;
}
.landing-inspectors .header {
  height: 500px;
}
.landing-inspectors .hero {
  margin-top: -380px;
  padding-left: 0;
}
.landing-inspectors .hero h2 {
  font-size: 18px !important;
}
.landing-inspectors .header a, .landing-agents .header a, .landing-homeowner .header a {
    float: none !important;
    background: none !important;
    border: none !important;
}
.navbar {
  max-height: none;
  z-index: 1000;
}
.navbar li {
  text-align: center;
}
.navbar li a {
  width: 100%;
}
.landing-inspectors .header .navbar-brand, .landing-agents .header .navbar-brand, .landing-homeowner .header .navbar-brand {
  line-height:2.6em !important;
  padding-top: 5px !important;
  overflow: visible !important;
  position: relative;
  z-index: 100;
}
.landing-inspectors .header .navbar-brand img, .landing-agents .header .navbar-brand img, .landing-homeowner .header .navbar-brand img {
  width: 60px;
}
.landing-inspectors .header a:last-child.active, .landing-agents .header a:last-child.active, .landing-homeowner .header a:last-child.active {
  box-shadow: none;
}
.landing-agents .header {
  height: 440px;
}
.landing-agents .hero {
  margin-top: -320px;
}
}

@media (max-width:580px) {
	.landing-agents .monitor, .landing-inspectors .monitor {
		height: 240px;	
	}
	.landing-agents .monitor iframe, .landing-inspectors iframe {
		height: 240px !important;
		width: 100%;
	}
	.landing-agents .btn-lg, .landing-inspectors .btn-lg {
		margin-bottom: 20px;
	}
	.landing-inspectors .hero, .landing-inspectors .hero h2 {
	  text-align: center;
	}
	.landing-inspectors .hero h1 {
	  font-size: 22px;
	}
	.landing-inspectors .trigger {
	  display: none;
	}
	.landing-inspectors .btn-white {
	   margin: 10px 0;
	}
	.landing-inspectors .btn-lg {
	   margin: 0;
	}
	.landing-inspectors .features .col-xs-12, .landing-inspectors .value .col-xs-12  {
	  display: none;
	}
	.landing-inspectors .reasons p {
	  font-size: 16px;
	}
	.landing-inspectors .agentvalue .col-md-6:first-of-type img {
	  width: 100%;
	}
	.landing-inspectors .onestop img {
	  max-width: 100%;
	}	
  .landing-inspectors .onestop .col-md-6 p:last-of-type {
    padding: 0; 
  }	
	.landing-inspectors .reasons .col-md-12 div:nth-child(n+5) img {
	  display: none;
	}
	.modal-body iframe {
	  width: 100%;
	  height: auto;
	}
  .landing-inspectors .btn-white, .landing-inspectors .btn-lg {
    margin: 20px 0;
  } 
  .landing-inspectors h2 {
    font-size: 20px !important;
  }
  .landing-inspectors .topish ul {
    padding-left: 20px;
  }
  .landing-inspectors .onestop .col-md-6>div {
    height: 160px;
  }
  .landing-inspectors .others ul li {
    font-size: 18px;
  }
  .landing-inspectors .pricing h3, .landing-inspectors .pricing h4 {
    font-size: 18px;
  }
  .landing-inspectors .pricing h3 br {
    display: none;
  }
  .landing-inspectors .pricing p:nth-child(even) {
    margin-top: 0;
  }
  .landing-inspectors.pricing p:last-of-type {
    padding: 0;
  }
  .landing-inspectors .pricing p:last-of-type {
    font-size: 16px;
  }
  .landing-inspectors .topish .col-md-6 iframe {
    height: 200px !important;
  }
  .landing-inspectors .modal-dialog {
    vertical-align: top;
  }
}

@media (max-width:500px) {
	.landing-homeowner, .landing-agents, .landing-inspectors {
		margin-top: 0;	
	}
	.landing-agents .header, .landing-inspectors .header {
		height: 550px;
		padding-top: 0;
	}
	.landing-agents .header .container, .landing-inspectors .header .container {
		height: 400px;	
	}
	.landing-agents .hero {
		margin-top: -400px;	
	}
  .landing-inspectors .hero {
		margin-top: -440px;	
	}	
	.landing-agents .hero h1, .landing-inspectors .hero h1 {
		font-size: 22px;	
	}
	.landing-agents .monitor, .landing-inspectors .monitor {
	width: 100%;
	height: 200px;	
	}
	.landing-agents .monitor iframe, .landing-inspectors .monitor iframe {
		height: 200px !important;	
		width: auto;
	}
}

@media (max-width:400px) {
  .landing-homeowner .header {
    height: 800px;
  }
.landing-homeowner .hero {
  margin-top: -700px;
}
.landing-homeowner .btn-lg {
  font-size: 16px;
}
.landing-agents .setup .monitor {
  height: 200px;
}
.landing-inspectors .btn-white {
  margin-bottom: 0;
}
}

@media (min-width:960px) {

.landing-inspectors .say .col-sm-8, .landing-inspectors .setup .col-sm-8, .landing-agents .say .col-sm-8, .landing-agents .setup .col-sm-8 {
	width: 60%;
}
.landing-inspectors .say .col-sm-4, .landing-inspectors .setup .col-sm-4, .landing-agents .say .col-sm-4, .landing-agents .setup .col-sm-4 {
	width: 38%;
}

}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../assets/OpenSans-Semibold.eot?") format("eot"),url("../assets/OpenSans-Semibold.woff") format("woff"),url("../assets/OpenSans-Semibold.ttf") format("truetype"),url("../assets/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

// New landing page
.landing-new {
  
  background-color: #FFFFFF;
  
  h1, h2, h3, p {
    font-family: Open Sans Semibold;
    color: #000000;
    
    span {
      color: #ff6633;
    }
  }
  
  h1 {  
    font-family: Arvo;
    font-size: 36px;
    font-weight: bold;
  }
  
  h2, h2 > a {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h3, .subtitle {
    margin-bottom: 36px;
  }
  
  p {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
  a {
    font-size: 16px;
    font-family: Open Sans Semibold;
    cursor: pointer;
  }
  
  .section {
	  padding: 40px;
  }
  
  .navigation, .stats, .webinar, .guide, .circles, .resources {
    background-image: url("../img/newInspector/brickwall.png");
  }
  
  footer {
    background: transparent url(../img/cream_pixels.png) repeat;
    background-attachment: fixed;
  }
  
  .navigation {
    padding: 10px 20px;
    overflow: visible;
    
    a {
      text-transform: uppercase;
    }
    
    .brand {
      position: absolute;
      top: 13px;
      left: 35px;
      width: 115px;
    }
    
    .main-nav {
      padding-left: 125px;
    }
    
    .navbar {
      max-height: 500px;
      
      .navbar-collapse {
        max-height: none;
      }
      
      .collapsing {
        position: static;
      }
    }
    
    .nav-item {
      a {
        margin: 12px 0px 10px;
        padding: 15px;
        border: 2px solid transparent;
        border-radius: 10px;
        color: #000000;
        
        &:hover, &:focus {
          color: #ff5319;
          background-color: #ffded3;
          border-color: #ff6633;
          text-decoration: none;
        }
      }
      a.active {
        color: #ff6633;
      }
    }
    
    .dropdown-menu {
      min-width: 229px;
      padding: 5px;
      
      li {
        padding: 0;
        margin: 0;
      }
      
      a {
        display: block;
        margin: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
        
        &:hover, &:focus {
          background-color: #ffded3;
          text-decoration: none;
        }
      }
    }
    
    .open > a {
      color: #ff5319;
      background-color: #ffded3;
      border-color: #ff6633;
      text-decoration: none;
    }
  }
  
  .welcome {
    background-image: url("../img/newInspector/welcomeBackground.png");
    background-position: center top;
    background-size: cover;
    
    h1 {
      margin-top: 80px;
    }
    
    h1, h2 {
      text-align: left;
    }
    
    .watch-button {
      margin-left: 0px;
    }
    
    .schedule-button {
      margin-right: 0px;
    }
    
    .demo-buttons {
      .btn {
        float: none;
      }
    }
    
    .free-trial-link {
      a {
        padding-left: 170px;
      }
    }
    
    .watch-video {
      padding-top: 250px;
      padding-right: 100px;
    }
    
    .hero .callus {
      position: absolute;
      right: 0;
      top: 200px;
      padding: 10px 20px;
      background: #fff;
      border: 2px solid #f63;
      border-right: 0;
      font-weight: bold;
    
      span {
        color: #ff6633;
      }
    }
  }
  
  .stats {
    padding: 20px 40px;
    
    h2 {
      margin-top: 9px;
      margin-bottom: 9px;
      font-size: 50px;
    }
    
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      color: #ff6633;
      font-size: 20px;
    }
    
    img {
      margin-top: 20px;
    }
    
    .smaller {
        font-size: 32px;
    }
    
    .inspectors-in {
      margin-top: 2px;
    }
  }
  
  .mobile {
    .iPhone {
      width: 100%;
      height: auto;
      margin: 36px 0px;
    }
  }
  
  .agents {
    .agent-monitor {
      margin: 36px 0px;
    }
  }
  
  .guide-image {
    position: relative;
    
    img {
      width: 320px;
      position: absolute;
      left: 40px;
      top: -80px;
      
      @media(max-width:1365px) {
        left: 30px;
      }
      
      @media(max-width:1305px) {
        top: -70px;
      }
      
      @media(max-width:1285px) {
        left: 10px;
      }
      
      @media(max-width:1205px) {
        width: 300px;
        left: 0px;
        top: -50px;
      }
      
      @media(max-width:1021px) {
        top: -40px;
      }
    }
  }
  
  .webinar, .guide {
    padding: 15px 0px;
    
    h1 {
      font-size: 28px;
      margin-top: 25px;
    }
    
    h3 {
      font-size: 20px;
      margin-bottom: 9px;
    }
    
    .name {
      margin-left: 0px;
    }
    
    .email {
      margin-right: 20px;
    }
    
    .submit {
      margin-left: 0px;
    }
  }
  
  .webinar {
    img {
      margin-top: 20px;
    }
  }
  
  .integrationsNew {
    h3 {
      font-size: 17px;
      color: #999999;
      padding: 10px;
      border: 2px solid #999999;
    }
    
    .row {
      margin-top: 20px;
    }
    
    .margin-top {
      margin-top: 20px;
    }
    
    .complete-protection {
      padding-left: 30px;
      padding-right: 20px;
    }
  }
  
  .trusted {
    .image-border {
      img {
        margin-top: 35px;
        border: 2px solid #ff6633;
        border-radius: 100%;
      }
    }
    .homebinder-map {
      margin: 30px 0px;
    }
  }
  
  .circles {
    img {
      width: 100%;
      height: 100%;
    }
    
    .background-circle {
      border-radius: 100%;
      border: 2px solid #ff6633;
      margin: 0 auto;
      padding: 35px;
      background-color: #ffffff;
      width: 200px;
      height: 200px;
    }
  }
  
  .expenses {
    h3 {
      font-size: 20px;
      color: #999999;
    }
    
    .calculations h1 {
      font-family: Open Sans Semibold;
      font-size: 45px;
      color: #ff6633;
    }
    
    .cost-to-business {
      .equals-large {
        font-size: 50px;
        margin-top: 8px;
      }
      
      input {
        font-size: 30px;
        text-align: center;
        width: 100%;
      }
    }
    
    .main-content img {
      padding-bottom: 55px;
    }
  }
  
  .resources {
    .background-rectangle {
      border-radius: 10px;
      border: 2px solid #ff6633;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #ffffff;
      width: 100%;
      height: 475px;
      padding: 15px;
      
      a {
        display: block;
        font-size: 23px;
        margin-top: 30px;
      }
      
      img {
        width: 75%;
        height: auto;
      }
      
      .image-container {
        height: 60%;
      }
      
      .guide-img {
        width: 50%
      }
      
      .webinar-img {
        padding-top: 50px;
      }
    }
  }
  
  .caption-image, table img {
    margin-right: 8px;
  }
  
  .main-content {
    h2 {
      text-align: left;
      margin: 10px;
    }
      
    h3 {
      margin-top: 5px;
    }
      
    img {
      float: left;
      margin-right: 8px;
    }
  }
  
  .demo-buttons {
    margin: 20px 0px;
    text-transform: uppercase;
    
    .btn-primary, .img-left {
      float: right;
    }
    .btn-default, .img-right {
      float: left;
    }
    [class*='col-'] {
      padding-right: 3px;
      padding-left: 3px;
    }
  }
  
  .free-trial-link {
    margin-top: 20px;
  }

  .btn, .form-control {
    margin: 10px 10px;
    padding: 15px 15px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ff6633;
  }
  
  .btn-primary {
    &:hover, &:focus {
      background-color: #ff5319;
      border-color: #ff5319;
    }
  }
  
  .btn-default {
    color: #ff6633;
    
    &:hover, &:focus {
      color: #ff5319;
      background-color: #ffded3;
      border-color: #ff5319;
    }
  }
  
  .form-control {
    font-family: Open Sans Semibold;
    color: #000000;
    height: 50px;
    width: auto;
    display: inline-block;
    padding: 27px 15px;
    
    &:hover, &:focus {
      background-color: #ffded3;
      border-color: #ff5319;
    }
    
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 83, 25, 0.6);
    }
  }
  
  ::placeholder {
    color: #ff6633;
    opacity: 1; // Firefox 
  }

  :-ms-input-placeholder { // Internet Explorer 10-11 
   color: #ff6633;
  }

  ::-ms-input-placeholder { // Microsoft Edge 
   color: #ff6633;
  }

  table {
    td, th {
      font-family: "Open Sans Semibold";
	    text-align: center;
	  }
    
    tr td:first-child, tr th:first-child {
		  text-align: left;
	  }
	  
	  tr td:nth-child(2), tr th:nth-child(2) {
		  color: #ff6633;
		  vertical-align: middle;
	  }
	  
	  tr td:nth-child(3) {
		  color: #999999;
		  vertical-align: middle;
	  }
  }

	.no-outer-border {
		border: none;
		
    tr:first-child td, tr:first-child th {
		  border-top: none;
	  }
	  
	  tr:last-child td {
		  border-bottom: none;
	  }
	  
	  tr td:first-child, tr th:first-child {
		  border-left: none;
	  }	  
	  
	  tr td:last-child, tr th:last-child {
		  border-right: none;
	  }
	}
	
	.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .embed-responsive-16by9 {
    padding-bottom: 56.25%;
  }
  
  .embed-responsive-4by3 {
    padding-bottom: 75%;
  }
	
	// Only extra small devices
	@media (max-width:@screen-xs-max) {
	  
	  border-top: 0px;
	  
	  h1 {
	    font-size: 22px;
	  }
	  
	  h2, h2 > a {
	    font-size: 18px !important;
	  }
	  
	  iframe {
	    width: auto;
	  }
	  
	  .section {
	    padding: 20px 0px;
	  }
	  
	  .navigation {
	    padding: 0px;
	    border: 0px;
	    
	    .navbar-inverse {
	      margin: 0px;
	    }
	    
	    .navbar-brand {
	      z-index: 100;
	      position: relative;
	      
	      img {
	        width: 60px;
	      }
	    }
	  }
	  
	  .welcome {
	    h1 {
	      margin-top: 25px;
	    }
	    
	    h1, h2 {
	      text-align: center;
	    }
	  }

	  .stats {
	    h2 {
	      font-size: 30px !important;
	    }
	    h3 {
	      font-size: 18px;
	    }
	  }
	  
	  .mobile {
	    .iPhone {
	      width: 100%;
	    }
	  }
	  
	  .agents {
      background-image: url("../img/newInspector/brickwall.png");
      
      .agent-monitor {
	      width: 100%;
	    }
	  }
	  
	  .integrationsNew {
	    img {
	      display: inline; 
	    }
	    
	    .one-source, .salesforce {
	      padding-top: 30px;
	    }
	  }
	  
	  .trusted {
	    .image-border img {
	      display: inline;
	    }
	    .homebinder-map {
	      width: 100%;
	    }
	  }
	  
	  .different {
	    table {
	      th, td {
	        font-size: 11px;
	      }
	    }
	    
	    img {
	      display: none;
	    }
	  }
	  
	  .expenses {
	    .cost-to-business input {
	      width: 50%;
	    }
	    
	    .calculations h1 {
	      font-size: 30px; 
	    }
	    
	    .main-content img {
	      padding-bottom: 45px;
      }
	  }
	  
	  .resources {
	    img {
	      width: 100%;
	    }
	    
	    .background-rectangle {
	      height: auto !important;
	    }
    }
    
    .subtitle {
      margin: 10px 0px;
    }
	  
	  .visible-xs {
	      display: block !important;
	  }
	  
	  .demo-buttons {
	    text-align: center;
	    
	    .btn, .img-right, .img-left {
	      margin-right: 0px;
	      margin-left: 0px;
	      float: none;
	    }
	    
	    .free-trial-link {
	      a {
	        padding-left: 0px;
	      }
	    }
	  }
	}
	
	// Only medium devices
	@media(min-width: @screen-md-min) and (max-width: @screen-md-max) {
	  .resources {
	    .background-rectangle {
	      height: 375px;
	      .image-container {
	        height: 50%;
	      }
	    }
	  }
	}
	
	// Only small devices
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	  
	  .expenses {
	    .cost-to-business input {
	      width: 25%;
	    }
	  }
	  
	  .mobile .iPhone, .agents .agent-monitor {
	    width: 50%;
	    display: inline;
	  }
	}
	
	// Extra small and small devices
	@media(max-width:@screen-sm-max) {
	  .welcome {
	    background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)),url("../img/newInspector/welcomeBackground.png");
	    background-position: right;
	  }
	  
	  .webinar, .guide {
	    padding: 15px 40px;
	    
	    h1 {
	      font-size: 20px;
	    }
	    h3 {
	      font-size: 17px;
	    }
	  }
	  
	  	 
	 .stats {
	   h2 {
	     font-size: 36px;
	   }
	 }
	  
	  .quotes {
	    text-align: center;
	  }
  }
  
  // Specific query for navigation
  @media(max-width:1058px) {
    .navigation {
      a {
        padding: 10px 10px;
      }
      
      .nav-item {
        a {
          padding: 10px 10px;
        }
      }
      
      .brand {
        top: 22px;
        width: 90px;
      }
        
      .main-nav {
        padding-left: 102px;
      }
      
      .registration-buttons {
        padding-left: 0px;
      }
    }
  }
  
  // Specific query for navigation
  @media(max-width:905px) {
    .navigation {
      .registration-buttons {
        .hide-small {
          display: none;
        }
      }
    }
  }
  
  // Specific query for iPhone image
	@media (min-width:1307px) {
	  .mobile {
	    .iPhone {
	      width: auto;
	    }
	  }
	}
	
	// Specific query for embedded videos
	@media (max-width: 580px) {
	  iframe {
	    width: 100%;
	  }
	}
	
	// Specific query for resources section
	@media (max-width: 1348px) {
	  .resources {
	    .background-rectangle {
	      height: 400px;
	    }
	    .image-container {
	      height: 50%;
	    }
	  }
	}
}

// New homeowner landing page
.landing-homeowner-new {
  border-top: transparent;
  
    h1 {
      font-family: Arvo;
      font-weight: normal;
    }
    
    h2, h3, a, p {
      font-family: Open Sans;
      font-weight: normal;
    }
  
  .welcome {
    background-image: linear-gradient(rgba(255,102,51,.8),rgba(255,102,51,.8)),url(../img/newInspector/welcomeBackground.png);
    padding-bottom: 0px;
    
    h1 {
      margin-top: 120px;
      font-size: 50px;
    }
    
    h1, h2, span {
      color: #ffffff;
    }
    
    h1, h2 {
      text-align: center;
      
      span {
        border-bottom: 1px solid #ffffff;
        padding: 0px 2px 2px 2px;
      }
    }
    
    .welcome-buttons {
      margin: 19px 0px 29px 0px;
    }
    
    .dashboard-monitor {
      position: relative;
      margin: auto;
      z-index: 2;
    }

    .node-web {
      position: absolute;
      left: -85px;
      top: -145px;
      z-index: 1;
      pointer-events: none;
    }
    
    .large-navigation .main-nav {
      a {
        color: #ffffff;
        
        &.dropdown-item {
          color: #000000;
        }
      }
      
      .nav-item {
        > a {
          border: hidden;
        }
        
        > a.active, > a:hover, > a:focus, &.open > a {
          background-color: transparent;
          border-top: hidden;
          border-right: hidden;
          border-left: hidden;
          border-bottom: 1px solid #ffffff;
          border-radius: 0px;
        }
      }
    }
    
    .btn-default {
      border-color: #ffffff;
      
      &:hover, &:focus {
        border-color: #ffded3;
      }
    }
    
    .btn-primary {
      background: transparent;
      color: #ffffff;
      border-color: #ffffff;
      
      &:hover, &:focus {
        background-color: #ffded3;
        border-color: #ffded3;
      }
    }
  }
  
  .stats {
    background: none;
    overflow: visible;
    position: relative;
    
    h2 {
      font-family: Arvo;
    }
    
    h3 {
      font-family: Open Sans Semibold;
    }
    
    .gradient {
      background-image: linear-gradient(rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.65));
      position: absolute;
      width: 100%;
      height: 50px;
      right: 0px;
      top: -53px;
      z-index: 2;
    }  
  }
  
  .mobile {
    h2 {
      font-family: Arvo;
    }
    
    p {
      margin-top: 10px;
      margin-bottom: 40px;
    }
    
    .demo-buttons {
      .img-left {
        margin: 13px;
      }
      .img-right {
        margin: 13px;
      }
    }
    
    .subtitle {
      font-family: Open Sans;
    }
  }
  
  .circles {
    background-image: linear-gradient(rgba(255,255,255,0.96),rgba(255,255,255,0.96)), url("../../img/newInspector/iconBackground.png");
    background-repeat: repeat;
    
    h2 {
      font-family: Arvo;
    }
    
    .home-repairs {
      margin-left: -8px;
      width: auto;
      height: auto;
    }
  }
  
  .testimonials {
    .caption img {
      margin-right: 10px;
      margin-bottom: 4px;
    }
    
    .first-paragraph {
      margin-top: 0px;
    }
  }
  
  .homeowner-cost {
    .price {
      h1 {
        font-weight: normal;
        font-size: 48px;
        color: #ff6633;
      }
      h3 {
        font-family: Arvo;
        font-size: 22px;
      }
    }
  }
  
  .homeowner-buttons {
    text-transform: uppercase;
  }

	// Only extra small devices
	@media (max-width:@screen-xs-max) {
	  .welcome {
	    h1 {
	      font-size: 30px !important;
	      margin-top: 50px;
	    }
	  }
	  
	  .welcome.navigation {
	    border-bottom: 3px solid #f63;
	  }
	  
	  .testimonials {
	    p {
	      text-align: center;
	    }
	  }
	}
	
	// Extra small and small devices
	@media(max-width:@screen-sm-max) {
	 h1 {
	   font-size: 28px;
	 }
	 
	 h2 {
	   font-size: 18px;
	 }
	    
	 .mobile {
	   .subtitle {
	     margin-bottom: 0px;
	   }
	 }
	 
	 .testimonials {
	   .first-paragraph {
	     margin-top: 18px;
	   }  
    }
  }
  
  // Specific query for button in navigation
  @media(max-width:1058px) {
    .welcome-buttons {
      .btn {
        padding: 15px 15px;
      }
    }
  }
  
  // Specific query for title
  @media(max-width: 1043px) {
    .welcome {
      h1 {
        font-size: 36px;
      }
    }
  }
}