<div class="container-fluid">
	<hb-toolbar cfg="ctrl.model.toolbarCfg"></hb-toolbar>
	<div class="row">
		<div class="col-md-12 table-responsive">
			<table class="table table-condensed hb-datagrid">
				<thead>
					<th>{{ctrl.model.resources.nameColumn}}</th>
					<th>{{ctrl.model.resources.descriptionColumn}}</th>
					<th>{{ctrl.model.resources.categoryColumn}}</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="widget in ctrl.model.items track by $index">
						<td>{{widget.name}}</td>
						<td>{{widget.description}}</td>
						<td>{{widget.category}}</td>
						<td>
							<button ng-if="widget.permissions.can_write" type="button" class="btn btn-default btn-xs hb-datagrid-col-button" ng-click="ctrl.model.editWidget(widget)" tooltip="{{ctrl.model.resources.editTip}}"><span class="glyphicon glyphicon-edit"></span></button>
							<button ng-if="widget.permissions.can_destroy" type="button" class="btn btn-danger btn-xs hb-datagrid-col-button" ng-click="ctrl.model.deleteItem(widget, $index)" tooltip="{{ctrl.model.resources.deleteTip}}"><span class="glyphicon glyphicon-remove"></span></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							<pagination page="ctrl.model.currentPage"
										total-items="ctrl.model.totalWidgets"
										max-size="ctrl.model.maxSize"
										items-per-page="ctrl.model.widgetsPerPage"
										on-select-page="ctrl.model.pageChange(page)">
							</pagination>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>