<div class="container-fluid">

    <div class="row">
        <h3 class="text-center">{{ctrl.resources.title}}</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center text-muted">{{ctrl.resources.subtitle}}</h4>
        </div>
    </div>
    <div class="row" ng-show="ctrl.step == 'two'">
        <div class="col-xs-12">
            <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" ng-click="ctrl.importAgents()"><span class="glyphicon glyphicon-upload"></span>&nbsp; &nbsp;{{ctrl.resources.helpText}}</button>
            </div>
        </div>
    </div>
    <hr>

    <div ng-show="ctrl.step == 'one'">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="img/report.svg" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-info" ng-bind-html="ctrl.resources.tip"></p>
                <p class="text-info" ng-bind-html="ctrl.resources.note"></p>
                <p class="text-info"><a href="https://s3.amazonaws.com/homebinderstatic/csv/agents.csv">{{ctrl.resources.download}}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <hb-uploader cfg="ctrl.uploader" file-added="ctrl.parse()"></hb-uploader>
                </div>
            </div>
        </div>
    </div>
</div>