<div class="container-fluid partner-user-onboarding">
    <div class="row more-info">
        <div class="col-xs-12">
            <p>{{ctrl.strings.createInfo}}</p>
            <p></p>
            <p>{{ctrl.strings.moreInfo}}</p>
            <p>{{ctrl.strings.moreInfo2}}<a href="" ng-click="ctrl.learnMore()">{{ctrl.strings.learnMore}}</a></p>
        </div>
    </div>
    <div class="row header">
        <div class="col-xs-12 col-md-offset-2 col-md-8 well">
            <div class="row">
                <div class="col-xs-12">
                    <div class="offer">
                        <img ng-src="{{ctrl.hbLogoUrl}}" alt="HomeBinder" />
                        <span class="from">{{ctrl.strings.offer}}</span>
                        <img ng-src="{{ctrl.partner.logo}}" alt="Partner Logo" ng-if="ctrl.partner.logo" />
                        <span class="text-center" ng-if="!ctrl.partner.logo" style="font-size: 23px;">{{ctrl.partner.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row help-text">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <span class="help-text">{{ctrl.strings.helpText}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <form name="ctrl.form" ng-submit="ctrl.submit()" novalidate>
                <div class="container-fluid form">
                    <div class="row">
                        <div class="col-xs-12 form-section">
                            <span class="title">{{ctrl.strings.personalInfo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="first">{{ctrl.strings.clientFirst}}*</label>
                                <input id="first" ng-model="ctrl.info.first" type="text" class="form-control" name="first" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.clientForm.first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.clientForm.first.$dirty">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="last">{{ctrl.strings.clientLast}}*</label>
                                <input id="last" ng-model="ctrl.info.last" ng-blur="ctrl.setBinderName()" type="text" class="form-control" name="last" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.clientForm.last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.clientForm.last.$dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="email">{{ctrl.strings.clientEmail}}*</label>
                                <input id="email" ng-model="ctrl.info.email" type="email" class="form-control" name="email" required/>
                                <div ng-messages="ctrl.clientForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.clientForm.email.$dirty">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="phone">{{ctrl.strings.clientPhone}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon">+{{ctrl.country.code}}</span>
                                    <input name="phone" type="phone" class="form-control" ng-model="ctrl.info.phone" placeholder="555-123-4567" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                                </div>
                                <div ng-messages="ctrl.clientForm.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.clientForm.phone.$dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-section">
                            <span class="title">{{ctrl.strings.propertyInfo}}</span>
                            <span>{{ctrl.strings.updatePropertyInfo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9">
                                <label for="address1">{{ctrl.strings.address1}}*</label>
                                <input id="address1" ng-model="ctrl.info.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.propertyForm.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.propertyForm.address1.$dirty">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label for="address2">{{ctrl.strings.address2}}</label>
                                <input id="address2" ng-model="ctrl.info.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
                                <div ng-messages="ctrl.propertyForm.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.propertyForm.address2.$dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="city">{{ctrl.strings.city}}*</label>
                                <input id="city" ng-model="ctrl.info.city" ng-blur="ctrl.validateCity(ctrl.info.city)" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.propertyForm.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.propertyForm.city.$dirty">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="state">{{ctrl.strings.state}}*</label>
                                <ui-select ng-model="ctrl.info.state" theme="bootstrap" on-select="ctrl.onSelect($item)" name="state" ng-required="true">
                                    <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="ctrl.propertyForm.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.propertyForm.state.$dirty">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="zip">{{ctrl.strings.zip}}</label>
                                <input id="zip" ng-model="ctrl.info.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" />
                                <div ng-messages="ctrl.propertyForm.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.propertyForm.zip.$dirty">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="country">{{ctrl.strings.country}}</label>
                                <input id="country" ng-model="ctrl.info.country" type="text" class="form-control" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group orange-button">
                            <button type="submit" ng-disabled="ctrl.form.$invalid" class="btn btn-primary">{{ctrl.strings.submit}}</button>
                            <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">{{ctrl.strings.cancel}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="learn-more" class="landing-homeowner onboarding-landing row-fluid container">
            <div class="corner"> </div>
            <div class="col-sm-8">
                <div class="sliderholder">
                    <a name="Preview" class="anAnchor"></a>
                    <div class="rslides_container">
                        <ul class="rslides" id="slider1">
                            <li><img src="../../img/BinderGifNoLogo.gif" class="post"> <img src="../../img/ReportGifNoLogo.gif" class="post display"> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="testimonials">
                    <h2 ng-bind-html="ctrl.strings.testimonials"></h2>
                    <div class="divider" style="margin-top: 20px; margin-bottom: 25px; margin-left: 0;"></div>
                    <ul>
                        <li>{{ctrl.strings.testimonialText1}}<br/>
                            <span>{{ctrl.strings.testimonialPerson1}}</span></li>
                        <li>{{ctrl.strings.testimonialText2}}<br/>
                            <span>{{ctrl.strings.testimonialPerson2}}</span></li>
                        <li>{{ctrl.strings.testimonialText3}}<br/>
                            <span>{{ctrl.strings.testimonialPerson3}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid container whyTable">
                <div>
                    <a name="Features" class="anAnchor"></a>
                    <h2 style="text-align:center;">{{ctrl.strings.help}}</h2>
                    <div class="divider"></div>
                    <div class="col-xs-12 col-sm-2" style="margin:0"> <img src=" ../../img/organize.png" alt="{{ctrl.strings.alt1}}"> </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.contractors}}</h4>
                        <p>{{ctrl.strings.contractorsText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.improvements}}</h4>
                        <p>{{ctrl.strings.improvementsText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.appliances}}</h4>
                        <p>{{ctrl.strings.appliancesText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.inventory}}</h4>
                        <p>{{ctrl.strings.inventoryText}}</p>
                    </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-2" style="margin:0; clear: both;"><img src=" ../../img/manage.png" alt="{{ctrl.strings.alt2}}"></div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.maintenance}}</h4>
                        <p>{{ctrl.strings.maintenanceText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.recall}}</h4>
                        <p>{{ctrl.strings.recallText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.receipts}}</h4>
                        <p>{{ctrl.strings.receiptsText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2"> </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-2" style="margin:0; clear: both;"><img src=" ../../img/sell.png" alt="{{ctrl.strings.alt3}}"></div>
                    <div class="col-xs-6 col-sm-2">
                        <h4><a href="https://www.homebinder.com/sellerreport/C7975D" target="_blank">{{ctrl.strings.reports}}</a></h4>
                        <p>{{ctrl.strings.reportsText}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <h4>{{ctrl.strings.handoff}}</h4>
                        <p>{{ctrl.strings.handoffText}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <application-footer></application-footer>
            </div>
        </div>
    </div>
</div>