.partner-user-onboarding {
    .more-info {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 10px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    .help-text {
        margin-bottom: 10px;
        font-size: 1.1em;
        font-weight: 500;
    }
    .offer {
        display: table;
        margin: 0 auto;
        
        .from {
            font-size: 1.1em;
            font-weight: semi-bold;
            margin: 0 15px;
        }
    }
    .form {
        background-color: #FFFFFF;
        border: 2px solid #E0E0E0;
        border-radius: 5px;
    
        .form-section {
            margin: 15px 0;
            
            .title {
                font-weight: bold;
                font-size: 1.05em;
                text-decoration: underline;
            }
        }
    }
    .onboarding-landing {
        margin-top: 50px;
    }
}