<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}*</label>
			<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" ng-maxlength="100" placeholder="{{ctrl.model.resources.namePlaceholder}}" autofocus required/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.contact.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.contactLabel}}</label>
			<input name="name" class="form-control" ng-model="ctrl.model.contact" type="text" ng-maxlength="100" placeholder="{{ctrl.model.resources.contactPlaceholder}}" />
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.email.$invalid && ctrl.form.$submitted }">
			<label for="email" class="control-label">{{ctrl.model.resources.emailLabel}}*</label>
			<input name="email" class="form-control" ng-model="ctrl.model.email" type="email" ng-maxlength="100" placeholder="{{ctrl.model.resources.emailPlaceholder}}" />
			<div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.phone.$invalid && ctrl.form.$submitted }">
			<label for="phone" class="control-label">{{ctrl.model.resources.phoneLabel}}</label>
			<input id="phone" ng-model="ctrl.model.phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
			<div ng-messages="ctrl.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.url.$invalid && ctrl.form.$submitted }">
			<label for="url" class="control-label">{{ctrl.model.resources.urlLabel}}</label>
			<input name="url" class="form-control" ng-model="ctrl.model.url" type="text" ng-maxlength="100" placeholder="https://www.mywebsite.com" ng-pattern="ctrl.model.url_regex" http-prefix />
			<div ng-messages="ctrl.form.url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
			<label>{{ctrl.model.resources.detailsLabel}}</label>
			<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" ng-maxlength="1000" placeholder="Enter additional details about this home pro"></textarea>
			<div ng-messages="ctrl.model.form.details.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
			</div>
		</div>
	</form>
</div>