<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form name="ctrl.form" novalidate>
    		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
                <label for="name" class="control-label">{{ctrl.resources.name}}</label>
                <input name="name" class="form-control" ng-model="ctrl.name" type="text" autofocus required ng-maxlength="255" placeholder="{{ctrl.resources.namePlaceholder}}" />
                <div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted"></div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">{{ctrl.resources.eul}}</label>
                <select ng-model="ctrl.eul" class="form-control" ng-options="e.value as e.name for e in ctrl.euls"></select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">{{ctrl.resources.costRange}}</label>
                <select ng-model="ctrl.costRange" class="form-control" ng-options="range.value as range.name for range in ctrl.costRanges"></select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">{{ctrl.resources.comments}}</label>
                <textarea ng-model="ctrl.comments" class="form-control" rows="4"></textarea>
            </div>
            <!--<div class="form-group col-md-12">-->
            <!--    <label class="control-label">{{ctrl.resources.photos}}</label>-->
            <!--    <hb-image-uploader img-uploader="ctrl.imgUploader" img-upload-success="ctrl.imgUploadSuccess(file)" img-upload-error="ctrl.imgUploadError(response)"></hb-image-uploader>-->
            <!--</div>-->
    	</form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.submit()">{{ctrl.resources.save}}</button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
</div>
