.hb-documents-nav, .hb-details-nav {
    h3 {
        float: left;
        color: #ff6633;
        margin: 0px;
    }

    .navigation {
        float: right;

        .repeater {
            display: inline-block;
            
            li {
                display: inline-block;
                margin: 0px 20px;

                a {
                    padding: 5px;
                    font-size: 18px;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }

            li:last-of-type {
                margin-right: 0px;
            }

            li.active>a,
            li>a:focus,
            li>a:hover {
                color: #ff6633;
                border-bottom: solid;
                border-bottom-width: 2px;
                background: transparent;
                border-radius: 0px;
            }
        }
    }
    
    .mobile-view {
        h3 {
            color: #ffffff;
            margin-top: 0px !important;
        }
        .caret {
            margin-top: 10px;
            margin-left: 10px;
        }
        
        .dropdown-menu {
            padding: 10px;
            
            li {
                padding-bottom: 10px;
                font-size: 18px;
            }
        }
    }
}
