<div class="hb-documents-nav">
	<div class="row hidden-xs">
		<div class="col-xs-12">
			<h3>{{ctrl.resources.title}}</h3>
			<div class="navigation">
				<div class="repeater" ng-repeat="tab in ctrl.tabs">
					<li class="{{tab.active}}">
						<a ui-sref="{{tab.state}}" ui-sref-opts="{ binderId: data.id }" href="">
							<span>{{tab.name}}</span>
						</a>
					</li>
				</div>
			</div>
		</div>
	</div>
	<div class="row visible-xs mobile-view">
		<div class="col-xs-12">
			<div class="navigation">
				<a href="" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
					<h3>{{ctrl.resources.title}}</h3><b class="caret"></b>
				</a>
				<ul class="mobile-view-list dropdown-menu">
					<div ng-repeat="tab in ctrl.tabs" class="nav-sub" ui-sref-active="active">
						<li class="{{tab.active}}">
							<a ui-sref="{{tab.state}}" ui-sref-opts="{ binderId: data.id }" href="">
								<span>{{tab.name}}</span>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>