<div class="row">
    <div class="col-xs-5">
        <h1 class="text-left">
            <i class="glyphicon glyphicon-inbox text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a>
        </h1>
    </div>
    <div class="col-xs-5">
        <form role="form" name="searchForm">
            <div class="form-group">
                <label for="text">Search:</label>
                <div class="input-group input-group-sm">
                    <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="{{ctrl.model.resources.searchText}}" ng-minlength="1" required/>
                    <span class="input-group-btn">
        		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
            		<span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label for="search">Show:</label>
            <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
        </div>
    </div>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <th>{{ctrl.model.resources.idColumn}}</th>
                <th>{{ctrl.model.resources.numberColumn}}</th>
                <th>{{ctrl.model.resources.titleColumn}}</th>
                <th>{{ctrl.model.resources.recallDateColumn}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="recall in ctrl.model.items" style="cursor: pointer;" ng-click="ctrl.model.showRecall(recall)">
                    <td>{{recall.id}}</td>
                    <td>{{recall.number}}</td>
                    <td>{{recall.details.Title}}</td>
                    <td>{{recall.recall_date | date}}</td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="8">
                        <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>