<div class="unavailable">

	<div class="navbar navbar-inverse navbar-fixed-top main-navbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="" class="navbar-brand brand-click" ng-click="ctrl.brandClick()"><img src="/img/flatlogonotext.png"><span>&nbsp; <span>HomeBinder</span></a></span>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="margin:0;padding:0;">
		<div class="box">
				<div class="row">
					<div class="col-xs-12 text-center">
						<div class="row">
							<div class="col-xs-12">
								<div class="col-xs-6 col-xs-offset-3">
									<div class="hero-unit" style="background:none;">
										<h1>Maintenance Mode</h1>
										<p>&nbsp;</p>
										<p>Thanks for visiting HomeBinder. We're making some changes right now to make the site better for you.</p>
										<p>In the meantime, you can check us out on <a href="http://www.twitter.com/homebinder">Twitter</a> or <a href="http://www.facebook.com/homebinder">Facebook</a>.</p>
										<p>&nbsp;</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>



	<div id="footer">
		<div class="container-fluid">
			<ul class="nav nav-pills pull-left">
				<li class="navbar-text">© Copyright 2016 HomeBinder.com Inc.</li>
				<li><a href="/terms">Terms of Use</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
				<li class="navbar-text">Call us: 800.377.6915</li>
			</ul>
		</div>
	</div>

</div>