.unavailable {
    color: #807573;
    font-family: 'Open Sans', sans-serif;
    .box {
        bottom: 30px;
        left: 0;
        position: absolute;
        right: 0;
        top: 82px;
    }
    .column {
        height: 100%;
        overflow: auto;
    }
    .column .padding {
        padding: 20px;
    }
    .span10.full,
    .span12.full {
        width: 100%;
    }
    background: #000 url("https://s3.amazonaws.com/homebinderstatic/img/tiny_grid.png");
    .hero-unit h1 {
        margin-bottom: 0;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        color: inherit;
    }
    .hero-unit {
        padding: 60px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        color: inherit;
        background-color: #eee;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
}