<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Payment Info</h4>
</div>
<div class="modal-body">
    <form name="ctrl.form" ng-submit="ctrl.submit()" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="ctrl.customer.email" class="form-control" autofocus required/>
                    <div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-9">
                    <label for="address1">Address1</label>
                    <input id="address1" ng-model="ctrl.customer.address.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                    </div>
                </div>
                <div class="col-xs-3">
                    <label for="address2">Address2</label>
                    <input id="address2" ng-model="ctrl.customer.address.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
                    <div ng-messages="ctrl.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label for="city">City</label>
                    <input id="city" ng-model="ctrl.customer.address.city" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="state">State</label>
                    <ui-select ng-model="ctrl.address.state" theme="bootstrap" on-select="ctrl.selectState($item)" name="state" ng-required="true">
                        <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label for="zip">Zip</label>
                    <input id="zip" ng-model="ctrl.customer.address.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" required/>
                    <div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="country">Country</label>
                    <input id="country" ng-model="ctrl.customer.address.country" type="text" class="form-control" readonly/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Payment</label>
                    <hb-credit-card-form cfg="ctrl.creditCardConfig"></hb-credit-card-form>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" ng-disabled="ctrl.processing" class="btn btn-primary">Submit</button>
                    <button type="submit" ng-click="ctrl.cancel()" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>