<form name="ctrl.form" novalidate class="org-form">
	<tabset>
		<tab heading="{{ctrl.model.resources.detailsTab}}">
			<div class="container-fluid">
				<div class="row">
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="250" placeholder="{{ctrl.model.resources.namePlaceholder}}" title="{{ctrl.model.resources.nameTip}}" />
						<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.key.$invalid && ctrl.form.$submitted }">
						<label for="description" class="control-label">{{ctrl.model.resources.description}}</label>
						<textarea ng-model="ctrl.model.description" ng-maxlength="1000" class="form-control" rows="5"></textarea>
						<div ng-messages="ctrl.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
						</div>
					</div>
				</div>
				<div class="row">
					<div ng-if="ctrl.model.error422" class="form-group col-md-12">
						<div class="alert alert-danger" role="alert">{{ctrl.model.resources.saveErrorNameKey}}</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="{{ctrl.model.resources.usersTab}}" ng-if="ctrl.model.hasOrg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<label>Add:</label>
						<hb-user-lookup cfg="ctrl.model.userLookupCfg"></hb-user-lookup>
					</div>
				</div>
				<div class="row">
					<label>Filter List:</label>
					<div class="col-xs-12">
						<input type="text" name="search" ng-model="ctrl.model.userQuery" placeholder="search..." class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-condensed table-striped">
							<tbody>
								<tr ng-repeat="user in ctrl.model.users | filter: ctrl.model.userQuery | orderBy:'email'">
									<td>{{user.email}}</td>
									<td class="action-cell"><button type="button" class="btn btn-danger btn-xs hb-datagrid-col-button" ng-click="ctrl.model.removeUser(user, $index)"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="{{ctrl.model.resources.partnersTab}}" ng-if="ctrl.model.hasOrg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<label>Add:</label>
						<hb-partner-lookup cfg="ctrl.model.partnerLookupCfg"></hb-partner-lookup>
					</div>
				</div>
				<div class="row">
					<label>Filter List:</label>
					<div class="col-xs-12">
						<input type="text" name="search" ng-model="ctrl.model.partnerQuery" placeholder="search..." class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-condensed table-striped table-bordered">
							<tbody>
								<tr ng-repeat="partner in ctrl.model.partners | filter: ctrl.model.partnerQuery | orderBy:'name'">
									<td>{{partner.name}}</td>
									<td class="action-cell"><button type="button" class="btn btn-danger btn-xs hb-datagrid-col-button" ng-click="ctrl.model.removePartner(partner, $index)"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="{{ctrl.model.resources.resourcesTab}}" ng-if="ctrl.model.hasOrg">
			<hb-organization-resources organization-id="ctrl.model.organization.id"></hb-organization-resources>
		</tab>
	</tabset>
</form>