<div class="row">
	<div class="col-xs-12 table-responsive">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th ng-repeat="header in ctrl.model.resources.headers">{{header}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transfer in ctrl.model.items">
						<td><span>{{transfer.sender.email}}</span></td>
						<td><span>{{transfer.receiver.email}}</span></td>
						<td><span>{{transfer.status}}</span></td>
						<td><span>{{transfer.access_token}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>