<div class="container-fluid templates">
	<div class="row" ng-if="ctrl.read_only">
		<h3 class="text-center"><a href="" ng-click="ctrl.edit()">{{ctrl.templateName}}&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a></h3>
	</div>
	<div class="row" ng-if="!ctrl.read_only">
		<div class="col-xs-6 col-xs-offset-3 text-center">
			<form role="form" name="nameForm">
				<div class="form-group">
					<div class="input-group input-group-lg">
						<input type="text" name="title" ng-model="ctrl.current_name" class="form-control" placeholder="Template Name" ng-minlength="1" required/>
						<span class="input-group-btn">
	            		<button class="btn btn-primary" ng-disabled="nameForm.title.$invalid" type="button" ng-click="ctrl.save()">
	                		<span class="glyphicon glyphicon-ok"></span>
						</button>
						<button class="btn btn-default" type="button" ng-click="ctrl.edit()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h3>{{ctrl.resoures.helpText}}</h3>
		</div>
	</div>
	<div class="row" ng-if="!ctrl.loading.isLoading()">
		<div class="col-xs-12 col-md-10 center-block">
			<partner-templates-maintenance-items items="ctrl.items" create="ctrl.save()" maint-form="ctrl.maintForm"></partner-templates-maintenance-items>
			<partner-templates-appliances appliances="ctrl.appliances" create="ctrl.save()" app-form="ctrl.appForm"></partner-templates-appliances>
			<partner-templates-contractors contractors="ctrl.contractors" create="ctrl.save()" contract-form="ctrl.contractForm"></partner-templates-contractors>
			<partner-templates-documents documents="ctrl.documents" uploader="ctrl.docUploadCfg" file-uploaded="ctrl.docUploadSuccess(file)" file-error="ctrl.docUploadError(file)" create="ctrl.save()" template-id="ctrl.templateId" doc-form="ctrl.docForm"></partner-templates-documents>
			<div class="row">
				<div class="col-md-12 text-right">
					<div class"form-group">
						<button ng-disabled="emailForm.$invalid || ctrl.transfer_note.length > 1000" type="submit" ng-click="ctrl.save()" class="btn btn-primary">{{ctrl.resources.save}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>