<div class="agent-option">
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span><strong>{{option.user_profile_attributes.first_name}} {{option.user_profile_attributes.last_name}}</strong>&nbsp;&nbsp;(<i>{{option.email}}</i>)</span>
        </div>
    </div>
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span>{{option.user_profile_attributes.company}}</span>
        </div>
    </div>
</div>
