<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" src="/img/doco.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>{{ctrl.resources.title}}</strong> -
					<span class="text-primary">{{ctrl.documents.length}}</span>
					<span class="text-success glyphicon glyphicon-ok"></span>
				</h3>
			</div>
			<div class="col-xs-1 orange-button">
				<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_docs_collapsed" ng-click="ctrl.is_docs_collapsed = !ctrl.is_docs_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_docs_collapsed, 'glyphicon glyphicon-plus': ctrl.is_docs_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_docs_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.helpText}}</h4>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3 text-left">
								<h4>{{ctrl.resources.nameColumn}}</h4>
							</div>
							<div class="col-xs-3 text-center">
								<h4>{{ctrl.resources.sizeColumn}}</h4>
							</div>
							<div class="col-xs-4 text-center">
								<h4>{{ctrl.resources.notesColumn}}</h4>
							</div>
							<div class="col-xs-2">
								<h4></h4>
							</div>
						</div>
					</div>
					<div class="panel-heading" ng-repeat="doc in ctrl.documents">
						<form role="form" name="ctrl.docForm" novalidate>
							<div class="row">
								<div class="col-xs-3 text-left">{{doc.name}}</div>
								<div class="col-xs-3 text-center">{{doc.size | bytes}}</div>
								<div class="col-xs-4 text-center">{{doc.notes}}</div>
								<div class="col-xs-2">
									<button type="button" class="btn btn-primary" ng-click="ctrl.edit(doc)"><span class="glyphicon glyphicon-pencil"></span></button>
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove(doc, $index)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 text-left">
						<button class="btn btn-primary" type="button" ng-click="ctrl.addDocument()">
							<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>