<div class="row">
    <div class="col-xs-12 table-responsive">
        <form role="form" name="ctrl.form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary pull-right" ng-click="ctrl.addUser()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}</button>
                    <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.info}}</h4>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th ng-repeat="header in ctrl.resources.headers">{{header}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="access in ctrl.users | orderBy:ctrl.roleSort">
                            <td>{{access.user.id}}</td>
                            <td>
                                <span ng-if="!access.newUser">{{access.user.email}}</span>
                                <hb-lookup cfg="ctrl.lookupCfg" selection="access.user" ng-if="access.newUser"></hb-lookup>
                            </td>
                            <td>{{access.user.role}}</td>
                            <td>
                                <select name="roles" class="form-control" ng-model="access.role" ng-required="true" ng-change="access.saveUser = true" ng-required="true">
                                <option ng-repeat="option in ctrl.binder_roles" value="{{option.value}}" ng-selected="option.value == access.role" ng-if="ctrl.showRole(access.role, option.value)">
                                    {{option.name}}
                                </option>    
							</select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.save(access, $index)" ng-if="access.saveUser" ng-disabled="!access.email && !access.role"><span class="glyphicon glyphicon-ok"></span></button>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.remove(access, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.users.length < 1">
                            <td colspan="5" class="text-center">{{ctrl.resources.empty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>