<div class="container-fluid">
	<hb-toolbar cfg="ctrl.model.toolbarCfg"></hb-toolbar>
	<div class="row">
		<div class="col-md-12 table-responsive">
			<table class="table table-condensed">
				<thead>
					<th>
						<span>{{ctrl.model.resources.idColumn}}</span>
					</th>
					<th>
						<span>{{ctrl.model.resources.nameColumn}}</span>
					</th>
					<th>
						<span>{{ctrl.model.resources.descriptionColumn}}</span>
					</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat="org in ctrl.model.items track by $index">
						<td>
							<span>{{org.id}}</span>
						</td>
						<td>
							<span>{{org.name}}</span>
						</td>
						<td>
							<span>{{org.description}}</span>
						</td>
						<td>
							<button type="button" class="btn btn-default btn-xs hb-datagrid-col-button" ng-click="ctrl.model.editOrg(org)" tooltip="{{ctrl.model.resources.editTip}}"><span class="glyphicon glyphicon-edit"></span></button>
							<button type="button" class="btn btn-danger btn-xs hb-datagrid-col-button" ng-click="ctrl.model.deleteItem(org, $index)" tooltip="{{ctrl.model.resources.deleteTip}}"><span class="glyphicon glyphicon-remove"></span></button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							<pagination total-items="ctrl.model.totalItems"
										ng-model="ctrl.model.currentPage"
										ng-change="ctrl.model.pageChange()"
										max-size="ctrl.model.maxSize"
										items-per-page="ctrl.model.itemsPerPage">
                            </pagination>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>