<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center text-info">{{ctrl.resources.notice}}:</h4>
                <h5 class="text-center">{{ctrl.resource.text}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.ok()" class="btn btn-primary">{{ctrl.resource.ok}}</button>
</div>