<div class="hb-header">
	<div class="row">
		<div class="col-xs-6">
			<h3 class="text-left">{{ctrl.cfg.title}} <span class="label label-primary">{{ctrl.cfg.total}}</span></h3>
		</div>
		<div class="col-sm-6 col-xs-12" ng-if="ctrl.cfg.searchBox">
			<form role="form" name="searchForm">
				<div class="form-group" style="margin-top: 15px;">
					<div class="input-group">
						<input type="text" name="search" ng-model="ctrl.query" placeholder="search..." class="form-control searchbox" tooltip="{{ ctrl.cfg.searchTip }}" tooltip-placement="bottom" ng-minlength="1" required/>
						<span class="input-group-btn">
	            		<button class="btn" ng-class='{"btn-primary": !ctrl.sort, "btn-default": ctrl.sort}' type="button" ng-click="ctrl.sort = !ctrl.sort">
	                		<i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
						</button>
						<button class="btn" ng-class='{"btn-primary": ctrl.sort, "btn-default": !ctrl.sort}' type="button" ng-click="ctrl.sort = !ctrl.sort">
							<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
						</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 hidden-xs">
			<h4 class="text-left text-muted" style="line-height: 1.5;" ng-if="ctrl.cfg.subtitle" ng-bind-html="ctrl.cfg.subtitle"></h4>
		</div>
	</div>
	<div class="row" ng-if="ctrl.cfg.button">
		<div class="col-md-12">
			<a class="btn btn-primary" ng-click="ctrl.cfg.button.click()" ng-disabled="ctrl.propertyForm.$invalid || ctrl.data.form.details.length > 1000" href=""><span class="glyphicon glyphicon-plus"></span>&nbsp;{{ctrl.cfg.button.title}}</a>
		</div>
	</div>
	<hr>
</div>