<div class="container transfer-welcome homeowner-onboarding" ng-show="!ctrl.model.loading.isLoading() && !ctrl.model.goingToBinders">
    <div class="row logos">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
                <div ng-class="{'col-xs-6 partner-logo-exists': ctrl.model.partner_branding.logo, 'col-xs-12 partner-logo-does-not-exist': !ctrl.model.partner_branding.logo}">
                    <img class=" img-responsive homebinder" ng-src="/img/flatlogo.png" />
                </div>
                <div class="col-xs-6 partner-logo-container" ng-if="ctrl.model.partner_branding.logo">
                    <img class="img-responsive partner-logo-onboarding" ng-src="{{ctrl.model.partner_branding.logo}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row step-1" ng-show="ctrl.model.step === 1">
        <div class="col-xs-12">
            <div class="row titles">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ctrl.model.resources.accessTitle}}&nbsp;{{ctrl.model.binder.property.address1}}</h1>
                        </div>
                    </div>
                    <div class="row" ng-if="ctrl.model.partner_branding">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.partner_branding.company}}&nbsp;{{ctrl.model.resources.accessSubtitle1}}&nbsp;{{ctrl.model.user.user_profile_attributes.display_name}}&nbsp;{{ctrl.model.resources.accessSubtitle2}}</p>
                        </div>
                    </div>
                    <div class="row" ng-if="ctrl.model.user_branding">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.user_branding.display_name}}&nbsp;{{ctrl.model.resources.accessShareSubtitle1}}&nbsp;{{ctrl.model.user.user_profile_attributes.display_name}}&nbsp;{{ctrl.model.resources.accessSubtitle2}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row stats">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <h1>{{ctrl.model.binder.maintenance_count}}</h1>
                            <p>{{ctrl.model.resources.maintenance}}</p>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h1>{{ctrl.model.binder.home_pros_count}}</h1>
                            <p>{{ctrl.model.resources.homepros}}</p>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h1>{{ctrl.model.binder.documents_count}}</h1>
                            <p>{{ctrl.model.resources.documents}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form name="welcomeForm" role="form" ng-show="!ctrl.model.hideForm" ng-submit="ctrl.model.submit()">
                                <div class="form-group">
                                    <p>{{ctrl.model.resources.emailAddress}}</p>
                                    <input type="email" class="form-control" id="email" ng-model="ctrl.model.to" readonly required/>
                                </div>
                                <div class="form-group">
                                    <p class="orange">{{ctrl.model.resources.createPassword}}</p>
                                    <input type="password" class="form-control" name="first_password" ng-model="ctrl.model.password" ng-minlength="8" ng-maxlength="128" required/>
                                    <span ng-show="welcomeForm.first_password.$error.required && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.required}}</span>
                                    <span ng-show="welcomeForm.first_password.$error.minlength && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.minlength}} 8</span>
                                    <span ng-show="welcomeForm.first_password.$error.maxlength && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.maxlength}} 128</span>
                                </div>
                                <div class="form-group">
                                    <p class="orange">{{ctrl.model.resources.confirmPassword}}</p>
                                    <input type="password" class="form-control" name="second_password" ng-model="ctrl.model.second_password" ng-minlength="8" ng-maxlength="128" required/>
                                    <span ng-show="ctrl.model.password != ctrl.model.second_password && !welcomeForm.second_password.$pristine" class="error">{{ctrl.model.validationErrors.passwordsNotEqual}}</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.model.isBusy || welcomeForm.$invalid || ctrl.model.password != ctrl.model.second_password">{{ctrl.model.resources.homeownerSubmitLabel}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row third-party">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <p>{{ctrl.model.resources.thirdParty}}&nbsp;<a href="/privacy" target="_blank">{{ctrl.model.resources.privacyPolicy}}</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row step-2" ng-show="ctrl.model.step === 2">
        <div class="col-xs-12">
            <div class="row titles">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ctrl.model.resources.maintenanceTitle1}}&nbsp;{{ctrl.model.maintenanceItems.length}}&nbsp;{{ctrl.model.resources.maintenanceTitle2}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.partner_branding.company}}&nbsp;{{ctrl.model.resources.maintenanceSubtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row items">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <form name="maintenanceForm" role="form" ng-submit="ctrl.model.submitMaintenanceForm()">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="item in ctrl.model.maintenanceItems" ng-if="$even">
                                            <td ng-repeat="i in [ctrl.model.maintenanceItems[$index], ctrl.model.maintenanceItems[$index + 1]]" ng-if="i">
                                                <div class="checkbox">
                                                    <label class="checkbox-label"><input class="checkbox-input" type="checkbox" name="{{i.name}}" value="{{i.id}}" ng-model="i.checked" ng-checked="i.checked">{{i.name}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <a class="btn btn-lg btn-default" ng-click="ctrl.model.stepThree()">{{ctrl.model.resources.skip}}</a>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button type="submit" class="btn btn-lg btn-primary">{{ctrl.model.resources.next}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row step-3" ng-show="ctrl.model.step === 3">
        <div class="col-xs-12">
            <div class="row titles">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>{{ctrl.model.resources.repairPricerTitle}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 text-center">
                            <p>{{ctrl.model.resources.repairPricerSubtitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row video">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/o3e_j-bcPXM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row items">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <form role="form" name="ctrl.model.repairPricerForm">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button class="btn btn-lg btn-default" ng-click="ctrl.model.goToBinder()" ng-disabled="ctrl.model.repairPricerForm.$dirty">{{ctrl.model.resources.maybeLater}}</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-lg btn-primary" ng-click="ctrl.model.showModal()" ng-disabled="ctrl.model.repairPricerForm.$dirty">{{ctrl.model.resources.getEstimates}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <hr>
                    <p>{{ctrl.model.resources.needHelp}}&nbsp;<a href="https://support.homebinder.com/" target="_blank">{{ctrl.model.resources.supportCenter}}</a>.</p>
                </div>
            </div>
            <div class="row" ng-if="ctrl.model.step === 1">
                <div class="col-xs-12">
                    <select id="default_locale" name="default_locale" class="form-control default-locale" ng-model="ctrl.model.user.user_profile_attributes.default_locale" ng-options="option.value as option.name for option in ctrl.model.localeOptions" ng-change="ctrl.model.setLocale(ctrl.model.user.user_profile_attributes.default_locale, true)"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container transfer-welcome homeowner-onboarding" ng-show="ctrl.model.goingToBinders">
    <div class="row footer">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>{{ctrl.model.resources.loadingYourBinder}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
