.homeowner-onboarding {
    margin-top: -30px;
    
    h1 {
        color: #ff6633;
        font-size: 28px;
    }
    
    p {
        font-size: 16px;
    }
    
    input, select, .form-control {
        border: solid 1px #666666;
        font-size: 14px;
    }
    
    .input-group {
        .input-group-addon {
            height: 30px;
            border-top: solid 1px #666666;
            border-left: solid 1px #666666;
            border-bottom: solid 1px #666666;
            border-right: 0;
            font-size: 14px;
        }
        input {
            border-left: 1px solid #cccccc;
        }
    }
    
    .checkbox-input {
        height: auto;
        transform: scale(1.5);
    }
    
    .checkbox-label {
        font-size: 16px;
    }
    
    .default-locale {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    select {
        padding: 0px;
        margin-top: 50px;
    }
    
    hr {
        border-width: 2px;
    }
    
    .orange {
        color: #ff6633;
    }
    
    .logos {
        img {
            max-height: 90px;
        }
        
        .partner-logo-container {
            position: relative; 
            height: 90px;
        }
        
        .partner-logo-exists {
            .homebinder {
                float: right;
                margin-right: 10px;
            }
        }
        
        .partner-logo-does-not-exist {
            .homebinder {
                margin: auto;
            }
        }
        
        .partner-logo-onboarding {
            float: left;
            margin-left: 10px;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    
    .stats {
        h1 {
            font-size: 48px;
            margin-top: 0px;
        }
    }
    
    .form {
        margin-top: 15px;
    }
    
    .third-party {
        margin-top: 15px;
    }
    
    .table > tbody > tr > td {
        border: none;
        padding: 0px 5px;
    }
    
    .video {
        margin: 15px 0px;
    }
    
    .form-error {
        margin: 18px 0px 0px 0px;
        color: #d0021b;
    }
}

// add margin-top on small and extra-small devices
@media (max-width: @screen-sm-max) {
    .homeowner-onboarding {
        margin-top: 20px;
    }
}