<div class="container-fluid">
	<div class="row">
		<h3 class="text-center">{{payment.model.resources.title}}</h3>
		<h4 class="text-muted text-center">{{payment.model.subscription.property}}</h4>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 text-right">
			<a href="" class="btn btn-primary" ng-click="payment.model.back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{payment.model.resources.back}}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div ng-show="payment.model.showCouponForm">
				<div class="well">
					<form role="form" name="couponForm" ng-submit="payment.model.submitCouponForm()">
						<div class="form-group">
							<div class="row">
								<div class="col-xs-6">
									<label for="promo_code">{{payment.model.resources.coupon}}:</label>
									<div class="input-group">
										<input ng-model="payment.model.coupon.value" name="coupon" type="text" class="form-control" autofocus="true" required />
										<span class="input-group-btn">
			                                <button ng-disabled="payment.model.processing || couponForm.$invalid" type="submit" class="btn btn-primary">{{payment.model.resources.apply}}</button>
			                            </span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group" ng-hide="ctrl.skipTokenize">
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<label class="control-label">{{payment.model.resources.creditCard}}</label>
									<hb-credit-card-form cfg="payment.model.creditCardConfig"></hb-credit-card-form>
								</div>
								<div class="col-sm-6 col-xs-12">
									<button style="margin-top: 25px;" ng-disabled="payment.model.processing" type="button" ng-click="payment.model.tokenize()" class="pull-left btn btn-primary">{{payment.model.resources.upgrade}}</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div ng-show="payment.model.showPlans">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h4>Feature</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-center">{{payment.model.resources.renter}}</h4>
							</div>
							<div class="col-xs-3">
								<h4 class="text-center">{{payment.model.resources.homeowner}}</h4>
							</div>
						</div>
					</div>
					<table class="table">
						<tr>
							<th class="col-xs-6">{{payment.model.resources.storage}}</th>
							<th class="col-xs-3 text-center">10 MB</th>
							<th class="col-xs-3 text-center">10 GB</th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.maintenanceReminder}}</th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.projectPlanning}}</th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.homePros}}</th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.sellerReports}}</th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.concierge}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.conciergeInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.inventory}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.inventoryInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.recalls}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.recallsInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.buildFax}}&reg;&nbsp;{{payment.model.resources.buildFax1}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.buildFaxInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.capitalExpense}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.capitalExpenseInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.homeownerGuide}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.homeownerGuideInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.premiumSupport}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.premiumSupportInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">{{payment.model.resources.customEmail}}&nbsp;<span class="glyphicon glyphicon-info-sign text-primary hidden-xs" popover-placement="top" popover="{{payment.model.resources.customEmailInfo}}" popover-trigger="mouseenter"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok ltgray"></span></th>
							<th class="col-xs-3 text-center"><span class="glyphicon glyphicon-ok orange"></span></th>
						</tr>
						<tr>
							<th class="col-xs-6">&nbsp;</th>
							<th class="col-xs-3 text-center">{{payment.model.resources.free}}</th>
							<th class="col-xs-3 text-center orange">Just $2.99/{{payment.model.resources.month}}</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
