<div class="container-fluid">
    <div class="page-header">
        <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()">{{ctrl.model.resources.newButton}}</button>
        <button ng-if="ctrl.model.partnerAgentsTable" class="btn btn-default pull-right" ng-click="ctrl.model.agentMergeModal()" ng-disabled="ctrl.model.numChecked < 1" style="margin-right: 20px; border-color: #ff6633; color: #ff6633;">{{ctrl.model.resources.mergeAgents}}</button>
        <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white;">
            <div class="row">
                <div class="col-sm-5 col-xs-4">
                    <h4 class="text-muted">
                        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
                        <small ng-if="ctrl.model.currentUser.role === 'admin'" class="hidden-sm hidden-xs">{{ctrl.model.resources.searchInfo}}</small>
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <div class="pull-right">
                        <form role="form" name="searchForm">
                            <div class="form-group">
                                <label for="text">Search:</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" name="search" ng-model="ctrl.model.searchValue" ng-enter="ctrl.model.search()" class="form-control searchbox" placeholder="search by user name, ID, email..." ng-minlength="1" required/>
                                    <span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
                                    </button>
                                    <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Show:</label>
                        <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading" style="background-color: white;" ng-if="ctrl.model.currentUser.role === 'admin'">
            <div class="row">
                <div class="col-xs-4" ng-if="false">
                    <div class="form-group">
                        <label for="headers">Choose/Remove Headers:</label>
                        <ui-select ng-model="ctrl.model.headers" multiple close-on-select="false" reset-search-input="true">
                            <ui-select-match placeholder="Select header..">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="item in ctrl.model.headerOptions | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Role:</label>
                        <select ng-options="role.name as role.value for role in ctrl.model.rolesOptions" ng-model="ctrl.model.userArgs.role" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>State/Province:</label>
                        <ui-select name="state" ng-model="ctrl.model.userArgs.state" theme="bootstrap" on-select="ctrl.model.refresh()">
                            <ui-select-match placeholder="Select or search a State/Province..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices group-by="ctrl.model.Address.findCountry" repeat="item.value as item in ctrl.model.statesOptions | filter: {name: $select.search.name, country: {value: ctrl.model.userArgs.country}} track by $index" value="{{$select.selected.value}}">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Country:</label>
                        <select ng-options="country.value as country.name for country in ctrl.model.countriesOptions" ng-model="ctrl.model.userArgs.country" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="search">Created by:</label>
                        <select ng-options="option.name as option.value for option in ctrl.model.createOptions" ng-model="ctrl.model.userArgs.create_method" class="form-control" ng-change="ctrl.model.refresh()"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="background-color: white;">
                    <thead>
                        <tr>
                            <th ng-if="ctrl.model.partnerAgentsTable" class="text-center">{{ctrl.model.resources.select}}</th>
                            <th ng-if="ctrl.model.canViewHeadshot()" class="hidden-xs"></th>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in ctrl.model.items">
                            <td ng-if="ctrl.model.partnerAgentsTable" class="text-center" style="vertical-align: middle;"><input type="checkbox" ng-model="user.checked" ng-change="ctrl.model.checkChanged(user)" ng-disabled="ctrl.model.numChecked === ctrl.model.maxChecked && !user.checked" style="transform: scale(1.5);"></td>
                            <td ng-if="ctrl.model.canViewHeadshot()" class="hidden-xs">
                                <img ng-if="!user.user_profile_attributes.head_shot_file" class="img-responsive center-block" ng-src="/img/avatar.png" alt="User Avatar" height="80" width="80" />
                                <img ng-if="user.user_profile_attributes.head_shot_file" class="img-responsive center-block" ng-src="{{user.user_profile_attributes.head_shot_file}}" alt="ctrl.model.resources.imgAlt" height="80" width="80" />
                            </td>
                            <td ng-show="ctrl.model.columns.id">{{user.id}}</td>
                            <td ng-show="ctrl.model.columns.name">{{user.user_profile_attributes.first_name}}&nbsp;{{user.user_profile_attributes.last_name}}</td>
                            <td ng-show="ctrl.model.columns.email">{{user.email}}</td>
                            <td ng-show="ctrl.model.columns.phone">
                                <span ng-if="user.user_profile_attributes.mobile_phone.international">{{user.user_profile_attributes.mobile_phone.international}}</span>
                            </td>
                            <td ng-show="ctrl.model.columns.role">{{user.role}}</td>
                            <td ng-show="ctrl.model.columns.sign_in_count">{{user.sign_in_count}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								<span>{{ctrl.model.resources.optionsButton}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-click="ctrl.model.editItem(user)" ng-if="ctrl.model.settings.canEdit">
                                            <a href="">
                                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.view}}
                                            </a>
                                        </li>
                                        <li ng-click="ctrl.model.impersonate(user)" ng-if="ctrl.model.canImpersonate(user)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ctrl.model.resources.impersonate}}
                                            </a>
                                        </li>
                                        <li ng-click="ctrl.model.invite(user)" ng-if="ctrl.model.canInvite(user)">
                                            <a href="">
                                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.invite}}
                                            </a>
                                        </li>
                                        <li ng-click="ctrl.model.deleteItem(user, $index)" ng-if="ctrl.model.canRemoveUsers()">
                                            <a href="">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="7">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                                </pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>