<div class="row">
    <div class="col-xs-5">
        <h1 class="text-left">
            <i class="glyphicon glyphicon-check text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a>
        </h1>
    </div>
    <div class="col-xs-5">
        <form role="form" name="searchForm">
            <div class="form-group">
                <label for="text">Search:</label>
                <div class="input-group input-group-sm">
                    <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="{{ctrl.model.resources.searchText}}" ng-minlength="1" required/>
                    <span class="input-group-btn">
        		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
            		<span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label for="search">Show:</label>
            <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="form-group">
            <label for="search">{{ctrl.model.resources.binderColumn}}:</label>
            <input type="text" ng-model="ctrl.model.recallArgs.binderId" class="form-control" placeholder="543">
        </div>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <label for="search">{{ctrl.model.resources.applianceId}}:</label>
            <input type="text" ng-model="ctrl.model.recallArgs.applianceId" class="form-control" placeholder="12313">
        </div>
    </div>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <th>{{ctrl.model.resources.dateColumn}}</th>
                <th>{{ctrl.model.resources.binderColumn}}</th>
                <th>{{ctrl.model.resources.ownerColumn}}</th>
                <th>{{ctrl.model.resources.nameColumn}}</th>
                <th>{{ctrl.model.resources.makeColumn}}</th>
                <th>{{ctrl.model.resources.modelColumn}}</th>
                <th>{{ctrl.model.resources.serialColumn}}</th>
                <th>{{ctrl.model.resources.linkColumn}}</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="appliance_recall in ctrl.model.items">
                    <td>{{appliance_recall.recall.details.RecallDate | date}}</td>
                    <td>{{appliance_recall.appliance.binder_id}}</td>
                    <td>{{appliance_recall.binder_owner.email}}</td>
                    <td>{{appliance_recall.appliance.name}}</td>
                    <td>{{appliance_recall.appliance.manufacturer}}</td>
                    <td>{{appliance_recall.appliance.model}}</td>
                    <td>{{appliance_recall.appliance.serial_no}}</td>
                    <td>
                        <a ng-href="{{appliance_recall.recall.details.URL}}" target="_blank">Link</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        						<span>{{ctrl.model.resources.options}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li ng-click="ctrl.model.setStatus(appliance_recall, 'verified', 'does_not_apply', 'does_not_apply')">
                                    <a href="">
                                        {{ctrl.model.resources.does_not_apply}}
                                    </a>
                                </li>
                                <li ng-click="ctrl.model.setStatus(appliance_recall, 'verified', 'false_positive', 'does_not_apply')">
                                    <a href="">
                                        {{ctrl.model.resources.false_positive}}
                                    </a>
                                </li>
                                <li ng-click="ctrl.model.setStatus(appliance_recall, 'verified', 'potential_recall', 'pending')">
                                    <a href="">
                                        {{ctrl.model.resources.potential_recall}}
                                    </a>
                                </li>
                                <li ng-click="ctrl.model.setStatus(appliance_recall, 'verified', 'confirmed_recall', 'pending')">
                                    <a href="">
                                        {{ctrl.model.resources.confirmed_recall}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="8">
                        <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>