<div class="uploader">
    <label ng-show="!ctrl.cfg.hide_upload" class="btn btn-primary btn-file" ng-class="{'disabled': ctrl.disabled}">
        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{ctrl.cfg.selectButtonLabel}}<input id="{{ctrl.cfg.id}}" type="file" class="form-control" file-list name="files" ng-show="false" accept="{{ctrl.filters.extensions}}" ng-multiple="ctrl.cfg.multiSelect"/>
        <span ng-if="ctrl.cfg.limitAlert"class="limit-alert">{{ctrl.limitAlert}}</span>
    </label>
    <div ng-if="ctrl.cfg.showTable" class="file-table" ng-hide="ctrl.files.length === 0">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in ctrl.files">
                    <td class="file-name"><span ng-if="file.status == 4" class="glyphicon glyphicon-exclamation-sign" popover="{{ctrl.uploadError}}" popover-trigger="mouseenter">&nbsp;</span>{{file.name}}</td>
                    <td class="autosize-col">
                        <span>{{ file.size | bytes }}</span>
                    </td>
                    <td class="autosize-col"><button class="btn btn-danger btn-xs" ng-click="ctrl.removeFile(file)" tooltip="Remove"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="file-upload" ng-show="ctrl.showUploadButton() && ctrl.files.length > 0">
        <a href="" class="btn btn-primary" ng-click="ctrl.uploadFiles()">
            <span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Files</a>
    </div>
</div>