/*
 * UPLOADER.LESS
 * Styles for the uplaoder
 * 
 -------------------------------------------------- */

.uploader {
  margin: 10px 0;
  
  .table {
    margin-bottom: 0;
    
    .progress {
      margin-bottom: 0;
    }
    
    .file-name {
      width: 50%;
    }
    
    .autosize-col {
      white-space: nowrap;
    }
  }
  
  .file-select {
    padding: 10px 0;
    
    .limit-alert {
      font-size:12px;
      font-style:italic;
      vertical-align:bottom;
    }
  }
  
  .file-upload {
    padding: 10px 0;
  }
  
  .file-table {
    border-style: solid;
    border-width: 1px;
    border-color: #A8A8A8;
    background-color: #F0F0F0;
    max-height: 200px;
    overflow: auto;
  }
  
  .progress {
    width: 200px;
  }
  
  .push-top {
    margin-top: 15px;
  }
}