.annual-property-review {
    padding: 25px 25px;
    max-width: 1200px;
    width: 85%;
    margin: 20px auto 0;
    @media only screen and (max-width: 500px) {
        width: 100%;
        margin: 0;
        padding: 10px 5px;
    }
    .paper-document {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 10px 10px;
    }
    .report {
        padding: 50px 50px 25px;
        font-size: 16px;
        width: 100%;
        margin: 20px auto 0;
        display: block;
        background-color: #fff;
        overflow: hidden;
        @media only screen and (max-width: 1023px) {
            padding: 30px 15px 15px;
        }
        @media only screen and (max-width: 500px) {
            margin: 10px 0 0;
            padding: 5px;
        }
    }
    .report-heading {
        height: 180px;
        @media only screen and (max-width: 1023px) {
            height: 130px;
        }
        @media only screen and (max-width: 500px) {
            height: auto;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            text-align: center;
        }
        >div {
            &.pull-right {
                @media only screen and (max-width: 500px) {
                    float: none !important;
                }
            }
            &.col-xs-4 {
                @media only screen and (max-width: 500px) {
                    width: auto !important;
                }
            }
        }
        .meta {
            padding: 0 20px 0;
            img {
                @media only screen and (max-width: 1023px) {
                    max-width: 75px;
                }
                @media only screen and (max-width: 500px) {
                    display: none;
                }
            }
            h1 {
                margin: 0;
                font-size: 45px;
                @media only screen and (max-width: 1023px) {
                    font-size: 26px;
                    line-height: 1.45;
                    text-transform: capitalize;
                }
                @media only screen and (max-width: 500px) {
                    font-size: 24px;
                    line-height: 1.45;
                }
                small {
                    top: -13px;
                    position: relative;
                }
            }
            h5 {
                color: @gray-light;
                font-weight: normal;
                margin-bottom: 2px;
                a {
                    color: @gray-light;
                    font-weight: normal;
                }
            }
            .hb-logo {
                img {
                    margin-right: 25px
                }
            }
        }
    }
}
