<div class="container-fluid annual-property-review">
    <div ng-if="ctrl.user">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <a href="" ng-click="ctrl.backHome()">
                    <h4 class="pull-left"><i class="glyphicon glyphicon-home"></i>&nbsp;{{ctrl.resources.dashbard}}</h4>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Report Status<span class="visible-xs">:&nbsp;{{ctrl.apr.status}}</span></h2>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-2">
                <h4>{{ctrl.resources.canceledHold}}</h4>
            </div>
            <div class="col-xs-2">
                <h4>{{ctrl.resources.active}}</h4>
            </div>
            <div class="col-xs-2">
                <h4>{{ctrl.resources.scheduled}}</h4>
            </div>
            <div class="col-xs-2">
                <h4>{{ctrl.resources.draft}}</h4>
            </div>
            <div class="col-xs-2">
                <h4>{{ctrl.resources.draftCompleted}}</h4>
            </div>
            <div class="col-xs-2">
                <h4>{{ctrl.resources.completed}}!</h4>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-12">
                <progressbar max="ctrl.max" value="ctrl.progress"></progressbar>
            </div>
        </div>
    </div>
    <div class="paper-document">
        <div class="report">
            <div class="row hidden-xs">
                <div class="col-xs-12 report-heading">
                    <div class="meta">
                        <div class="col-md-2 hidden-xs">
                            <div class="pull-left hb-logo"><img class="img-responsive" src="/img/flatlogonotext.png" /></div>
                        </div>
                        <div class="col-xs-8">
                            <h1 class="">{{ctrl.resources.title}}&trade; {{ ctrl.apr.created_at | date : 'yyyy'}}</h1>
                        </div>
                        <div class="col-md-2 hidden-xs">
                            <div class="pull-right"><img class="img-responsive" src="{{ctrl.apr.reviewer_company.logo}}" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden-lg hidden-md hidden-sm col-xs-8">
                    <h1 class="text-left">APR {{ ctrl.apr.created_at | date : 'yyyy'}}</h1>
                </div>
                <div class="col-sm-12 col-xs-4">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				            <span>APR Options</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li ng-click="ctrl.editApr()" ng-if="ctrl.user">
                                <a href="">
                                        <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;{{ctrl.resources.editApr}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canSchedule" ng-click="ctrl.schedule()">
                                <a href="">
                                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ctrl.resources.schedule}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canMessageReviewer" ng-click="ctrl.messageModal()">
                                <a href="">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contact {{ctrl.apr.reviewer_company.name}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canMessageHomeowner" ng-click="ctrl.messageModal()">
                                <a href="">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.resources.contactHomeowner}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canStartDraft" ng-click="ctrl.startDraft()">
                                <a href="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.resources.startDraft}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canDraftComplete" ng-click="ctrl.draftComplete()">
                                <a href="">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.resources.finalizeDraft}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canReDraft" ng-click="ctrl.reDraft()">
                                <a href="">
                                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;&nbsp;{{ctrl.resources.moveToDraft}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canComplete" ng-click="ctrl.complete()">
                                <a href="">
                                        <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ctrl.resources.completeReport}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canCancel" ng-click="ctrl.cancel()">
                                <a href="">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;{{ctrl.resources.cancel}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canHold" ng-click="ctrl.hold()">
                                <a href="">
                                        <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{{ctrl.resources.confirmHold}}
                                    </a>
                            </li>
                            <li ng-if="ctrl.canDownload" ng-click="ctrl.download()">
                                <a href="">
                                        <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;{{ctrl.resources.downloadPDF}}
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center hidden-xs" ng-if="ctrl.user || ctrl.apr.status === 'completed'">
                    <a href="" ng-click="ctrl.uploadImages()" ng-show="ctrl.apr.annual_property_review_photos.length < 1 && ctrl.apr.status != 'completed'">
                        <img class="img-responsive center-block" ng-src="/img/camera.png" alt="Homeowner House" height="200" width="200" tooltip="Upload Image"/>
                    </a>
                    <a href="" ng-show="ctrl.apr.annual_property_review_photos.length > 0" ng-click="ctrl.uploadImages()">
                        <img ng-src="{{ctrl.apr.annual_property_review_photos[0].location}}" class="center-block img-responsive">
                    </a>
                    <a href="" ng-if="ctrl.apr.annual_property_review_photos.length < 1 && ctrl.apr.status === 'completed'">
                        <img ng-src="/img/no-image-available.jpg" class="center-block img-responsive">
                    </a>
                    <hb-uploader cfg="ctrl.imgUploader" file-uploaded="ctrl.imgUploadSuccess(file)" file-error="ctrl.imgUploadError({response: response})" file-added="ctrl.imgAdded()"></hb-uploader>
                </div>
                <div class="col-md-6 col-sm-12 text-left">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="2">{{ctrl.resources.aprDetails}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ctrl.resources.reviewedOn}}</td>
                                    <td>{{ctrl.details.reviewedOn}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.preparedFor}}</td>
                                    <td>{{ctrl.details.preparedFor}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.address}}</td>
                                    <td>{{ctrl.details.address}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.reviewerCompany}}</td>
                                    <td>{{ctrl.details.reviewerCompany}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.reviewerPhone}}</td>
                                    <td>{{ctrl.details.reviewerPhone.national}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.reviewer}}</td>
                                    <td>{{ctrl.details.reviewer}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.binder}}</td>
                                    <td ng-if="ctrl.details.binder_id"><a ui-sref="binder.overview({ binderId: ctrl.details.binder_id })" target="_blank">{{ctrl.details.binder_id}}</a></td>
                                    <td ng-if="!ctrl.details.binder_id && !ctrl.canMessageReviewer">{{ctrl.resources.notApplicable}}</td>
                                    <td ng-if="!ctrl.details.binder_id && ctrl.canMessageReviewer">
                                        <button class="btn btn-primary" ng-click="ctrl.createBinder()">Create Binder!</button>
                                    </td>
                                </tr>
                                <tr ng-if="ctrl.user.role === 'admin'">
                                    <td>{{ctrl.resources.promoCode}}</td>
                                    <td ng-if="ctrl.details.promo_code_name">{{ctrl.details.promo_code_name}}</td>
                                    <td ng-if="!ctrl.details.promo_code_name">{{ctrl.resources.notApplicable}}</td>
                                </tr>
                                <tr ng-if="ctrl.user.role === 'admin'">
                                    <td>{{ctrl.resources.promoAmountOff}}</td>
                                    <td ng-if="ctrl.details.promo_code_amount_off">{{ctrl.details.promo_code_amount_off | currency}}</td>
                                    <td ng-if="!ctrl.details.promo_code_amount_off">{{ctrl.resources.notApplicable}}</td>
                                </tr>
                                <tr ng-if="ctrl.user">
                                    <td>{{ctrl.resources.homeownerLink}}</td>
                                    <td><a href="{{ctrl.details.homeownerLink}}" target="_blank">Click here</a></td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.stripePaymentId}}</td>
                                    <td>{{ctrl.apr.stripe_charge_id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center" ng-if="!ctrl.user && ctrl.apr.status != 'completed'" style="margin-top: 25px;">
                    <span ng-if="ctrl.apr.status === 'active'">
                        Thank you for ordering your Annual Property Review&trade;! A customer service representative will be in touch with you within 1 business day to schedule the completion of your APR within 7-14 days. If you need to hold/cancel or contact {{apr.reviewer_company.name}}, please
                        click on the APR Options button above. If you don't feel you've received the value, we'll give you your money back. No questions asked. Just let us know within 30 days of getting the report.
                    </span>
                    <span ng-if="ctrl.apr.status === 'scheduled'">
                        Your APR has been scheduled! A reminder email will be sent to you 24 hours before your review date. If you need to hold/cancel or contact {{apr.reviewer_company.name}}, please
                        click on the APR Options button above. If you don't feel you've received the value, we'll give you your money back. No questions asked. Just let us know within 30 days of getting the report.
                    </span>
                    <span ng-if="ctrl.apr.status === 'draft'">
                        {{ctrl.resources.draftMessage}}
                    </span>
                    <span ng-if="ctrl.apr.status === 'canceled'">
                        {{ctrl.resources.canceledMessage}}
                    </span>
                    <span ng-if="ctrl.apr.status === 'on_hold'">
                        {{ctrl.resources.onHoldMessage}}
                    </span>
                </div>
            </div>
            <div ng-if="ctrl.user || ctrl.apr.status === 'completed'">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2">{{ctrl.resources.homeownerComments}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-if="ctrl.apr.client_comments.length > 0">{{ctrl.apr.client_comments}}</td>
                                        <td ng-if="ctrl.apr.client_comments.length < 1 || !ctrl.apr.client_comments" class="text-center">
                                            <h3>No Homeowner Comments</h3>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7">{{ctrl.resources.findings}}</th>
                                        <tr>
                                            <th class="col-md-3 col-xs-4">{{ctrl.resources.photos}}</th>
                                            <th class="col-md-2 col-xs-4">{{ctrl.resources.finding}}</th>
                                            <th class="col-sm-1 hidden-xs">{{ctrl.resources.priority}}/{{ctrl.resources.cost}}</th>
                                            <th class="col-sm-3 hidden-xs">{{ctrl.resources.details}}</th>
                                            <th class="col-sm-3" ng-class="{'hidden-xs': ctrl.apr.status != 'completed'}">{{ctrl.resources.homePro}}&nbsp;<a href=""><span class="glyphicon glyphicon-info-sign" popover="These Pros are offered by the firm that completed your APR."></span></a></th>
                                            <th class="col-xs-1" ng-if="ctrl.canEdit && ctrl.findings.length > 0"></th>
                                        </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="finding in ctrl.findings | orderBy:ctrl.prioritySort">
                                        <td class="col-md-3 col-xs-4">
                                            <carousel interval="0" disable-animation="true" tooltip="Upload more photos by clicking on the middle of the image" tooltip-enable="ctrl.apr.status != 'completed'">
                                                <slide ng-repeat="photo in finding.annual_property_review_photos" active="photo.active" ng-click="ctrl.uploadImages(finding.id)">
                                                    <img ng-src="{{photo.location}}" class="center-block" height="200" width="200">
                                                </slide>
                                            </carousel>
                                            <a href="" tooltip="Click me to upload photos" tooltip-enable="ctrl.apr.status != 'completed'"><img ng-if="finding.annual_property_review_photos.length < 1" class="img-responsive center-block" ng-src="/img/no-image-available.jpg" alt="Item Photo" height="200" width="200" ng-click="ctrl.uploadImages(finding.id)"/></a>
                                        </td>
                                        <td class="col-md-2 col-xs-4">{{finding.name}}</td>
                                        <td class="col-sm-1 hidden-xs">
                                            <span>{{finding.priority | priority}}</span>
                                            <br>
                                            <span>{{finding.estimated_cost | enum}}</span>
                                        </td>
                                        <td class="col-sm-3 hidden-xs">
                                            <span>{{finding.details}}</span>
                                            <span ng-if="!finding.details">No Details</span>
                                        </td>
                                        <td class="col-sm-3" ng-class="{'hidden-xs': ctrl.apr.status != 'completed'}">
                                            <div ng-if="finding.homeowner_item">
                                                <p>To Be Completed by the Homeowner</p>
                                            </div>
                                            <div ng-if="!finding.homeowner_item">
                                                <p class="hidden-xs">{{finding.recommended_homepro.name}}</p>
                                                <p class="hidden-xs">
                                                    <span ng-if="finding.recommended_homepro.phone.international">{{finding.recommended_homepro.phone.international}}</span>
                                                </p>
                                                <span ng-if="!finding.recommended_homepro">None Selected</span>
                                                <div class="btn-group" ng-if="finding.recommended_homepro && (ctrl.canReDraft || !ctrl.user)">
                                                    <button type="button" class="btn btn-sm btn-secondary" ng-click="ctrl.viewHomePro(finding.recommended_homepro)">More Info</button>
                                                    <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.requestQuote(finding.recommended_homepro)" ng-if="finding.recommended_homepro.email">Request Quote</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-1" ng-if="ctrl.canEdit && ctrl.findings.length > 0">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary" ng-click="ctrl.editFinding(finding)"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button type="button" class="btn btn-secondary" ng-click="ctrl.deleteFinding(finding)"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="ctrl.findings.length < 1">
                                        <td colspan="7">
                                            <h3 class="text-center">No Findings Items added</h3>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr ng-if="ctrl.canEdit">
                                        <th colspan="7"><button type="button" class="btn btn-primary pull-right" ng-click="ctrl.addFinding()">{{ctrl.resources.add}}</button></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="5">{{ctrl.resources.homePlanning}}</th>
                                    </tr>
                                    <tr>
                                        <th class="col-xs-3">{{ctrl.resources.item}}</th>
                                        <th class="col-xs-2">{{ctrl.resources.lifeRemaining}}</th>
                                        <th class="col-xs-2 hidden-xs">{{ctrl.resources.approxCost}}</th>
                                        <th class="col-xs-3 hidden-xs">{{ctrl.resources.comments}}</th>
                                        <th class="col-xs-2" ng-if="ctrl.canEdit && ctrl.capitalItems.length > 0"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.capitalItems | orderBy:ctrl.lifeSort">
                                        <td class="col-xs-3">{{item.name}}</td>
                                        <td class="col-xs-2">{{item.life | enum}}</td>
                                        <td class="col-xs-2 hidden-xs">{{item.cost | enum}}</td>
                                        <td class="col-xs-3 hidden-xs">
                                            <span ng-if="item.comments.length > 0">{{item.comments}}</span>
                                            <span ng-if="item.comments.length < 1 || !item.comments">No Comments Added</span>
                                        </td>
                                        <td class="col-xs-2" ng-if="ctrl.canEdit && ctrl.capitalItems.length > 0 && ctrl.apr.status != 'complete'">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary" ng-click="ctrl.editCapitalItem(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button type="button" class="btn btn-secondary" ng-click="ctrl.deleteCapitalItem(item)"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="ctrl.capitalItems.length < 1">
                                        <td class="col-xs-12" colspan="5">
                                            <h3 class="text-center">No Home Planning Items added</h3>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr ng-if="ctrl.canEdit">
                                        <th colspan="5"><button type="button" class="btn btn-primary pull-right" ng-click="ctrl.addCapitalItem()">{{ctrl.resources.add}}</button></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{ctrl.resources.reviewerComments}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-if="ctrl.canEditComments">
                                            <text-angular ng-model="ctrl.reviewerComments" rows="5"></text-angular>
                                        </td>
                                        <td ng-if="!ctrl.canEditComments">
                                            <p ng-bind-html="ctrl.reviewerComments" ng-if="ctrl.reviewerComments.length > 0"></p>
                                            <h3 ng-if="ctrl.reviewerComments.length < 1 || !ctrl.reviewerComments" class="text-center">{{ctrl.default_comments}}</h3>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tfoot>
                                    <tr ng-if="ctrl.canEditComments">
                                        <th colspan="5"><button type="button" class="btn btn-primary pull-right" ng-click="ctrl.reviewerCommentsUpdated()">{{ctrl.resources.save}}</button></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-primary" ng-if="ctrl.canDraftComplete" ng-click="ctrl.draftComplete()">Finalize Draft</button>
                        <button type="button" class="btn btn-primary" ng-if="ctrl.canComplete" ng-click="ctrl.complete()">Complete Report</button>
                    </div>
                </div>
            </div>
            <div ng-if="!ctrl.user">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-left">{{ctrl.resources.liability}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p><strong>{{ctrl.resources.reviewerMessage}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
