<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.model.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover table-condensed" style="background-color: white;">
                <tbody>
                    <tr ng-repeat="item in ctrl.model.items">
                        <td colspan="2">
                            <input type="checkbox" name="select" class="form-control" ng-model="item.selected" ng-click="ctrl.model.onCheck(item)" ng-disabled="ctrl.model.submitted" style="margin: 2px;">
                        </td>
                        <td colspan="2">{{item.name}}</td>
                        <td colspan="2">
                            <span ng-repeat="type in item.types"> 
							    {{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
							</span>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.model.items.length < 1">
                        <td colspan="3">
                            <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                            </pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row" ng-if="ctrl.model.items.length > 0">
            <div class="col-xs-6 col-xs-offset-3">
                <button class="btn btn-primary" ng-click="ctrl.model.create()" ng-disabled="ctrl.model.submitted">{{ctrl.model.resources.add}}</button>
            </div>
        </div>
    </div>
</div>