<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<form name="ctrl.form" novalidate>
			<div class="form-group col-md-8 col-md-offset-2">
				<span>{{ctrl.apr.client_first_name}}&nbsp;{{ctrl.apr.client_last_name}}</span><br/>
				<span>{{ctrl.apr.address1}}&nbsp;{{ctrl.apr.address2}}</span><br/>
				<span>{{ctrl.apr.city}},&nbsp;{{ctrl.apr.state}}&nbsp;{{ctrl.apr.zip}}</span><br/>
				<span>{{ctrl.apr.client_email}}</span><br/>
				<span ng-if="ctrl.apr.client_phone.international">{{ctrl.apr.client_phone.international}}</span>
			</div>
			<div class="form-group col-md-12">
				<label>{{ctrl.resources.reviewer}}</label>
				<hb-user-lookup cfg="ctrl.lookupCfg" selection="ctrl.reviewer"></hb-user-lookup>
			</div>
			<div class="form-group col-md-12">
				<label>{{ctrl.resources.date}}</label>
				<input class="form-control" ng-model="ctrl.scheduledDate" type="text" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" min="ctrl.today" max="ctrl.max" show-button-bar="false" show-weeks="false" is-open="ctrl.date_opened" ng-click="ctrl.date_opened = true"
				/>
			</div>
			<div class="form-group col-md-12">
				<label>{{ctrl.resources.time}}</label>
				<timepicker ng-model="ctrl.scheduledTime" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></timepicker>
			</div>
			<div class="form-group col-md-12">
				<div ng-if="ctrl.invalid" class="alert alert-danger" role="alert">{{ctrl.resources.errorMsg}}</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ctrl.schedule()" autofocus>{{ctrl.resources.schedule}}</button>
	<button class="btn btn-secondary" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
</div>