 <div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-info"></span>&nbsp;&nbsp;Account Status</h4>
</div>
<div class="modal-body">
    <h4 class="text-center">{{ctrl.status_message}}</h4>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">OK</button>
</div>