/*
.public-header {
  background-color: #f4f5f6;
  border-bottom: 1px solid #e3e2e2;
  .navbar-brand {
    color: @brand-primary;
    &:hover { 
      color: @brand-primary; 
    }
    @media only screen and (max-width: 500px) {
      height: auto;
      line-height: 1.45;
      padding: 10px;
    }
    img {
      max-width: 45px;
      top: -10px;
      position: relative;
    }
  }
}
*/

.seller-report {
  .vertically-center {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }
  .public-binder {
    margin-top: -50px;
    @media only screen and (max-width: 500px) {
      margin-top: 0;
    }
    @media only screen and (max-width: 320px) {
      margin-top: 0;
    }
    //color: @darksienna;
    // .footer { 
    //  text-align: center;
    //  padding: 30px 0 0; 
    // }
    .report-wrapper {
      max-width: 1200px;
      width: 85%;
      margin: 20px auto 0;
      @media only screen and (max-width: 500px) {
        width: 100%;
        margin: 0;
        padding: 10px 5px;
      }
    }
    .report-actions {
      text-align: right;
      height: 35px;
      h3 {
        margin-top: 5px;
      }
      a {
        margin: 0 5px;
        @media only screen and (max-width: 500px) {
          margin: 0;
        }
      }
      > div {
        &.pull-left {
          @media only screen and (max-width: 1023px) {
            float: none !important;
            text-align: center;
          }
          @media only screen and (max-width: 500px) {
            float: none !important;
            text-align: center;
          }
          @media only screen and (max-width: 320px) {
            float: none !important;
            text-align: center;
          }
        }
        &.pull-right {
          @media only screen and (max-width: 320px) {
            float: none !important;
            text-align: center;
          }
        }
      }
      .shareTitle {
        margin-top: 7px;
        display: inline;
        @media only screen and (max-width: 1023px) {
          display: none !important;
        }
        @media only screen and (max-width: 500px) {
          display: none !important;
        }
      }
      @media only screen and (max-width: 1023px) {
        height: 80px;
        margin: 0 10px;
      }
      @media only screen and (max-width: 320px) {
        height: 80px;
        margin: 0 10px;
      }
    }
    .paper-document {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 10px 10px;
      line-height: 0;
      .move-down {
        line-height: 20px;
      }
      .actions {
        padding: 30px 50px;
        display: inline-block;
        margin: 0;
        width: 100%;
        background-color: #f4f5f6;
        @media only screen and (max-width: 500px) {
          padding: 20px 0;
        }
        > div {
          text-align: center;
          &.col-xs-12 {
            > span {
              @media only screen and (max-width: 1023px) {
                display: none;
              }
              @media only screen and (max-width: 500px) {
                display: none;
              }
            }
            > div {
              &.addthis_toolbox_bottom {
                @media only screen and (max-width: 1023px) {
                  padding: 0;
                }
                @media only screen and (max-width: 500px) {
                  padding: 0;
                }
              }
            }
          }
        }
        .btn {
          margin: 0 5px;
          @media only screen and (max-width: 500px) {
            margin: 0 auto;
            text-align: center;
          }
        }
        .btn-default {
          border: none;
          padding: 0;
          width: 40px;
          height: 40px;
          background-color: transparent;
          overflow: hidden;
          opacity: 0.9;
          img {
            border-radius: 7px;
            width: 100%;
          }
          &:hover {
            opacity: 1;
          }
        }
        .addthis_toolbox_bottom {
          width: 145px;
          margin: 0 auto;
          height: 50px;
          padding: 10px 0;
          @media only screen and (max-width: 1023px) {
            padding: 0;
          }
          @media only screen and (max-width: 500px) {
            padding: 0;
          }
        }
      }
      .footer {
        background-color: @brand-primary;
        border-radius: 0 0 10px 10px;
        color: #fff;
        display: inline-block;
        font-size: 17px;
        line-height: 1.45;
        margin: 0;
        padding: 30px 40px;
        text-align: center;
        width: 100%;
        @media only screen and (max-width: 500px) {
          padding: 15px 15px 20px;
        }
        .btn {
          background-color: #fff;
          color: @brand-primary;
          font-size: 17px;
          @media only screen and (max-width: 500px) {
            display: block;
            font-size: 16px;
            margin: 10px auto 0;
            width: 65%;
          }
          &:hover {
            color: @brand-primary;
          }
        }
        p {
          margin: 0;
          @media only screen and (max-width: 500px) {
            font-size: 16px;
          }
        }
      }
    }
    .report {
      padding: 50px 50px 25px;
      font-size: 16px;
      width: 100%;
      margin: 20px auto 0;
      display: block;
      background-color: #fff;
      overflow: hidden;
      @media only screen and (max-width: 1023px) {
        padding: 30px 15px 15px;
      }
      @media only screen and (max-width: 500px) {
        margin: 10px 0 0;
        padding: 5px;
      }
      .disclaimer {
        line-height: 1.45;
        padding: 20px 0 0;
        text-align: center;
        @media only screen and (max-width: 500px) {
          font-size: 12px;
        }
      }
      .report-heading {
        height: 180px;
        @media only screen and (max-width: 1023px) {
          height: 130px;
        }
        @media only screen and (max-width: 500px) {
          height: auto;
          width: 100%;
          max-width: 100%;
          overflow: hidden;
          text-align: center;
        }
        > div {
          &.pull-right {
            @media only screen and (max-width: 500px) {
              float: none !important;
            }
          }
          &.col-xs-4 {
            @media only screen and (max-width: 500px) {
              width: auto !important;
            }
          }
        }
        .meta {
          padding: 0 20px 0;
          img {
            @media only screen and (max-width: 1023px) {
              max-width: 75px;
            }
            @media only screen and (max-width: 500px) {
              display: none;
            }
          }
          h1 {
            margin: 0;
            font-size: 45px;
            @media only screen and (max-width: 1023px) {
              font-size: 26px;
              line-height: 1.45;
              text-transform: capitalize;
            }
            @media only screen and (max-width: 500px) {
              font-size: 24px;
              line-height: 1.45;
            }
            small {
              top: -13px;
              position: relative;
            }
          }
          h5 {
            color: @gray-light;
            font-weight: normal;
            margin-bottom: 2px;
            a {
              color: @gray-light;
              font-weight: normal;
            }
          }
          .hb-logo {
            img {
              margin-right: 25px
            }
          }
        }
        .provider {
          top: -50px;
          right: -40px;
          .wrapper {
            // border-left: 1px solid @gray-light;
            // border-bottom: 1px solid @gray-light;
            // padding: 40px 50px 50px 50px;
            height: 200px;
            border-radius: 0 0 0 10px;
            display: table;
            width: 100%;
          }
          .label {
            margin: 0;
            color: @gray-light;
            font-style: italic;
            text-align: center;
            display: block;
            width: 100%;
            height: 20px;
            position: absolute;
            top: 22px;
            left: 0;
            @media only screen and (max-width: 1023px) {
              top: 22px;
            }
          }
          .provider-logo {
            position: relative;
            top: 35px;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 160px;
            color: @gray-light;
            font-style: italic;
            text-align: center;
            img {
              max-width: 160px;
              max-height: 160px;
            }
            @media only screen and (max-width: 1023px) {
              float: right;
            }
          }
          @media only screen and (max-width: 1023px) {
            top: -30px;
            right: 0;
            height: 100px;
            float: right;
          }
          @media only screen and (max-width: 991px) {
            top: -130px;
            right: 0;
            height: 100px;
            float: right;
          }
          @media only screen and (max-width: 500px) {
            top: 0;
            right: 0;
            float: none !important;
          }
        }
        .photo {
          text-align: right;
          img {
            max-width: 100%;
          }
        }
      }
      section {
        margin: 25px 0;
        @media only screen and (max-width: 500px) {
          margin-bottom: 10px;
          margin-top: 0;
        }
        &:first-of-type {
          margin-top: 0;
        }
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
          color: @brand-primary;
          @media only screen and (max-width: 500px) {
            font-size: 18px;
            margin: 0;
            padding-left: 5px;
          }
        }
        .table {
          padding: 0 30px;
          border-collapse: separate;
          @media only screen and (max-width: 500px) {
            margin: 0 0 10px;
            padding: 5px;
          }
          tbody {
            padding: 0 30px;
            @media only screen and (max-width: 500px) {
              padding: 0;
            }
          }
          th {
            border-top: none;
            border-bottom: 1px solid @gray;
            padding: 0;
            label {
              text-transform: uppercase;
              color: @gray-light;
              font-size: 12px;
              @media only screen and (max-width: 500px) {
                font-size: 11px;
                text-transform: none;
              }
            }
            &:last-of-type {
              text-align: right;
              @media only screen and (max-width: 500px) {
                text-align: left;
              }
            }
          }
          td {
            padding: 10px;
            vertical-align: middle;
            border-top: none;
            border-bottom: 1px solid @gray-light;
            @media only screen and (max-width: 500px) {
              font-size: 14px;
              padding: 10px 10px 10px 0;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            small {
              color: @gray-light;
            }
            span {
              display: block;
              &.notes {
                font-size: 14px;
              }
            }
            &.make {
              @media only screen and (max-width: 500px) {
                font-size: 14px;
                text-overflow: ellipsis;
              }
            }
            &:first-of-type {
              span:first-of-type {
                font-weight: bold;
                font-size: 18px;
                @media only screen and (max-width: 500px) {
                  font-size: 14px;
                }
              }
            }
            &:last-of-type {
              text-align: right;
              @media only screen and (max-width: 500px) {
                text-align: left;
              }
            }
            .notes {
              color: @gray-light;
            }
          }
        }
        .table-include-all {
          td {
            border-bottom: none;
          }
        }
        .line-height {
          line-height: normal;
        }
        .thumbnails {
          > li {
            > div {
              > a {
                > img {
                  @media only screen and (max-width: 1023px) {
                    max-width: 125px !important;
                  }
                  @media only screen and (max-width: 500px) {
                    margin-bottom: 0;
                  }
                }
              }
            }
            @media only screen and (max-width: 1023px) {
              margin-bottom: 0;
            }
            @media only screen and (max-width: 500px) {
              max-width: 125px !important;
            }
          }
        }
      }
    }
  }
  /*
   * STYLES FOR EDIT SELLERS REPORT
   */
  accordion {
    .panel-body {
      padding: 0px !important;
    }
    h4 {
      &.panel-title {
        font-size: 22px;
        padding-top: 3px;
      }
    }
  }
  .image-container {
    margin-top: 15px;
  }
}