<div class="seller-report" ng-show="!ctrl.loading.isLoading()">
	<div class="public-binder" ng-hide="!ctrl.is_public">

		<meta property="og:title" content="HomeBinder.com" />
		<meta property="og:description" content="My Home is for Sale!  Click the following link to see the HomeBinder Report for my home." />
		<meta property="og:image" content="/img/flatlogo.png" />

		<div class="report-wrapper">
			<div class="report-actions">
				<div class="pull-left">
					<h3 class="orange">{{ctrl.resources.title}}</h3>
				</div>
				<div class="pull-right">
					<a href="" class="btn btn-md btn-primary" ng-click="ctrl.download(false)">{{ctrl.resources.downloadSummary}}</a>
					<a href="" class="btn btn-md btn-primary" ng-click="ctrl.download(true)">{{ctrl.resources.downloadFull}}</a>
				</div>
			</div>

			<div class="paper-document">
				<div class="report">
					<div class="row report-heading">
						<div class="col-md-8 meta">
							<div class="pull-left hb-logo"><img src="/img/flatlogonotext.png" /></div>
							<h5>{{ctrl.resources.sellerReportFor}}</h5>
							<h1>{{ ctrl.data.binder.property.address1 }}<br/><small>{{ ctrl.data.binder.property.city }}, {{ ctrl.data.binder.property.state }}</small></h1>
						</div>
						<div class="col-md-4 provider" ng-if="ctrl.data.binder.logo_url">
							<div class="wrapper">
								<p class="label"><small>{{ctrl.resources.providedBy}}</small></p>
								<p class="provider-logo">
									<a href=""><img ng-src="{{ctrl.data.binder.logo_url}}" /></a>
								</p>
							</div>
						</div>
					</div>

					<section class="row" id="details">
						<div ng-if="ctrl.data.binder.hero_photo" class="col-xs-6">
							<h3>{{ctrl.resources.homePhoto}}</h3>
							<hr/>
							<img class="img-responsive center-block" ng-src="{{ctrl.data.binder.hero_photo}}"></img>
						</div>
						<div ng-class='{"col-xs-6": ctrl.data.binder.hero_photo, "col-xs-12": !ctrl.data.binder.hero_photo}'>
							<h3>{{ctrl.resources.homeDetails}}</h3>
							<div ng-if="ctrl.data.binder.details">
								<hr class="gallery-divider" />
								<p class="line-height" ng-bind-html="ctrl.data.binder.details"></p>
							</div>
							<div ng-if="!ctrl.data.binder.details">
								<hr class="gallery-divider" />
								<p class="no-data">{{ctrl.resources.homeNoDetails}}</p>
							</div>
						</div>
					</section>

					<div class="col-xs-12">
						<section class="row" id="appliances" ng-if="ctrl.data.appliances.length > 0">
							<h3>{{ctrl.resources.appliancesTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-5">
										<label>{{ctrl.resources.appliancesDetails}}</label>
									</th>
									<th class="col-xs-5">
										<label>{{ctrl.resources.appliancesMake}} &amp; {{ctrl.resources.appliancesModel}}</label>
									</th>
									<th class="col-xs-2">
										<label>{{ctrl.resources.appliancesDate}}</label>
									</th>
								</tr>
								<tr ng-repeat="appliance in ctrl.data.appliances | orderBy:'install_date':'desc'">
									<td class="col-xs-5">
										<span class="name capitalize">{{ appliance.name }}</span>
										<span class="notes">{{ appliance.details }}</span>
									</td>
									<td class="col-xs-5 make"><span class="capitalize"><strong>{{ appliance.manufacturer }}</strong></span><small class="uppercase">{{ appliance.model }}</small></td>
									<td class="col-xs-2 installed"><span>{{ appliance.install_date | date: 'yyyy' }}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="maintenance" ng-if="ctrl.data.maintenance.length > 0">
							<h3>{{ctrl.resources.maintenanceTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-9">
										<label>{{ctrl.resources.maintenanceDescription}}</label>
									</th>
									<th class="col-xs-3">
										<label>{{ctrl.resources.maintenanceFrequency}}</label>
									</th>
								</tr>
								<tr ng-repeat="maintenance_item in ctrl.data.maintenance | orderBy:'name':'asc'">
									<td class="col-xs-5">
										<span class="description capitalize">{{ maintenance_item.name}}</span>
										<span class="notes">{{ maintenance_item.details}}</span>
									</td>
									<td class="col-xs-3 frequency"><span>Every&nbsp;{{ maintenance_item.interval }}&nbsp;{{ maintenance_item.maintenance_cycle }}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="improvements" ng-if="ctrl.data.improvements.length > 0">
							<h3>{{ctrl.resources.improvementsTitle}}</h3>
							<table class="table" ng-if="ctrl.data.improvements.length > 0">
								<tr>
									<th ng-class="{'col-xs-6': ctrl.data.show_project_costs, 'col-xs-9': !ctrl.data.show_project_costs}">
										<label>{{ctrl.resources.improvementsDescription}}</label>
									</th>
									<th class="col-xs-3" ng-if="ctrl.data.show_project_costs">
										<label>{{ctrl.resources.improvementsCosts}}</label>
									</th>
									<th class="col-xs-3">
										<label>{{ctrl.resources.improvementsCompleted}}</label>
									</th>
								</tr>
								<tr ng-repeat="project in ctrl.data.improvements | orderBy:'end_date':'desc'">
									<td ng-class="{'col-xs-6': ctrl.data.show_project_costs, 'col-xs-9': !ctrl.data.show_project_costs}">
										<span class="description capitalize">{{ project.name }}</span>
										<span class="notes">{{ project.details }}</span>
									</td>
									<td class="col-xs-3" ng-if="ctrl.data.show_project_costs">{{ project.cost_cents | currency }}</td>
									<td class="col-xs-3 frequency"><span>{{ project.end_date | date: 'MMMM yyyy' }}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="contractors" ng-if="ctrl.data.contractors.length > 0">
							<h3>{{ctrl.resources.contractorsTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-5">
										<label>{{ctrl.resources.contractorsName}}</label>
									</th>
									<th class="col-xs-3">
										<label>{{ctrl.resources.contractorsType}}</label>
									</th>
									<th class="col-xs-4">
										<label>{{ctrl.resources.contractorsContact}}</label>
									</th>
								</tr>
								<tr ng-repeat="binder_contractor in ctrl.data.contractors | orderBy:'contractor.name':'asc'">
									<td class="col-xs-5">
										<span class="name capitalize">{{ binder_contractor.contractor.name }}</span>
										<span class="notes">{{ binder_contractor.details }}</span>
									</td>
									<td class="col-xs-3 type capitalize">
										<span ng-repeat="type in binder_contractor.types"> 
											{{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
										</span>
									</td>
									<td class="col-xs-4 contact">
										<span ng-show="binder_contractor.contractor.phone.international">{{ binder_contractor.contractor.phone.international }}</span>
										<span ng-show="binder_contractor.contractor.email"><a href="mailto:{{ binder_contractor.contractor.email }}">{{ binder_contractor.contractor.email }}</a></span>
									</td>
								</tr>
							</table>
						</section>

						<section class="row" id="paints" ng-if="ctrl.data.paints.length > 0">
							<h3>{{ctrl.resources.paintsTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-9">
										<label>{{ctrl.resources.paintsName}}</label>
									</th>
									<th class="col-xs-3">
										<label>{{ctrl.resources.paintsMake}}</label>
									</th>
								</tr>
								<tr ng-repeat="paint in ctrl.data.paints | orderBy:'paint.name':'asc'">
									<td class="col-xs-9">
										<span class="name capitalize">{{ paint.name }}</span>
										<span class="notes">{{ paint.details }}</span>
									</td>
									<td class="col-xs-3 type capitalize"><span>{{ paint.manufacturer }}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="permits" ng-if="ctrl.data.permits.length > 0">
							<h3>{{ctrl.resources.permitsTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-4">
										<label>{{ctrl.resources.permitsNumber}}</label>
									</th>
									<th class="col-xs-4">
										<label>{{ctrl.resources.permitsType}}</label>
									</th>
									<th class="col-xs-4">
										<label>{{ctrl.resources.permitsDate}}</label>
									</th>
								</tr>
								<tr ng-repeat="permit in ctrl.data.permits | orderBy:'permit.permit_number':'asc'">
									<td class="col-xs-4">
										<span class="name capitalize">{{ permit.permit_number }}</span>
										<span class="notes">{{ permit.status }}</span>
									</td>
									<td class="col-xs-4 type capitalize"><span>{{ permit.permit_type}}</span></td>
									<td class="col-xs-4 type capitalize"><span>{{ permit.permit_date | date}}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="finishes" ng-if="ctrl.data.finishes.length > 0">
							<h3>{{ctrl.resources.finishesTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-5">
										<label>{{ctrl.resources.finishesName}}</label>
									</th>
									<th class="col-xs-3">
										<label>{{ctrl.resources.finishesMake}}</label>
									</th>
									<th class="col-xs-4">
										<label>{{ctrl.resources.finishesModel}}</label>
									</th>
								</tr>
								<tr ng-repeat="finish in ctrl.data.finishes | orderBy:'finish.name':'asc'">
									<td class="col-xs-5">
										<span class="name capitalize">{{ finish.name }}</span>
										<span class="notes">{{ finish.details }}</span>
									</td>
									<td class="col-xs-3 type capitalize"><span>{{ finish.make }}</span></td>
									<td class="col-xs-4 type capitalize"><span>{{ finish.model }}</span></td>
								</tr>
							</table>
						</section>

						<section class="row" id="documents" ng-if="ctrl.data.documents.length > 0">
							<h3>{{ctrl.resources.documentsTitle}}</h3>
							<table class="table">
								<tr>
									<th class="col-xs-11">
										<label>{{ctrl.resources.documentsName}}</label>
									</th>
									<th class="col-xs-1"></th>
								</tr>
								<tr ng-repeat="doc in ctrl.data.documents | orderBy:'name'">
									<td class="col-xs-11">
										<a ng-href="{{doc.location}}" class="name capitalize" target="_blank">{{doc.name}}</a>
									</td>
									<td></td>
								</tr>
							</table>
						</section>

						<section class="row" id="gallery" ng-if="ctrl.data.images.length > 0">
							<h3>{{ctrl.resources.galleryTitle}}</h3>
							<hr class="gallery-divider" />
							<ul class="thumbnails">
								<li ng-repeat="image in ctrl.data.images | orderBy:'name'">
									<div class="photo-thumb">
										<a class="thumbnail" href="{{image.location}}" data-toggle="lightbox" data-gallery="all-images-gallery">
											<img style="max-width: 200px;" ng-src="{{image.location}}">
										</a>
									</div>
								</li>
							</ul>
						</section>
					</div>

					<p class="disclaimer"><small><em>{{ctrl.resources.helpText}}</em></small></p>
				</div>
				<div class="actions">

					<div class="col-xs-12">
						<span>{{ctrl.resources.share}}</span>

						<!-- AddThis Button BEGIN -->
						<div data-addthis-toolbox class="addthis_toolbox addthis_default_style addthis_32x32_style addthis_toolbox_bottom">
							<a class="addthis_button_facebook"></a>
							<a class="addthis_button_twitter"></a>
							<a class="addthis_button_google_plusone_share"></a>
							<a class="addthis_button_email"></a>
						</div>

						<a href="" class="btn btn-md btn-primary" ng-click="ctrl.download(false)">{{ctrl.resources.downloadSummary}}</a>
						<a href="" class="btn btn-md btn-primary" ng-click="ctrl.download(true)">{{ctrl.resources.downloadFull}}</a>
					</div>
				</div>
			</div>
			<div class="footer">
				<p>{{ctrl.resources.centralize}} <a class="btn" href="/homeowners/register">{{ctrl.resources.getStarted}}</a></p>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-hide="ctrl.is_public">
		<div class="row">
			<div class="col-xs-12 vertically-center text-center">
				<div class="well well-lg">{{ctrl.response_text}}</div>
			</div>
		</div>
	</div>
</div>