<div class="container-fluid">
    <div class="page-header">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.partners.length}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="{{ctrl.model.resources.refreshTip}}" tooltip-placement="right"></i></a></h2>
			</div>
			<div class="col-xs-4">
				<input style="float: right; margin-top: 18px;" type="month" ng-model="ctrl.model.currentMonth" placeholder="yyyy-MM"/>
			</div>
		</div>
	</div>
    <div class="panel panel-default">
        <div class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="background-color: white;">
                    <thead>
                        <tr>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                    <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                    <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
						<tr ng-repeat="partner in ctrl.model.partners">
							<td>{{partner.id}}</td>
							<td>{{partner.contact}}</td>
							<td>{{partner.email}}</td>
							<td><a href="https://dashboard.stripe.com/customers/{{partner.stripe}}">{{partner.stripe}}</a></td>
							<td>{{partner.planOneCount}}</td>
							<td>{{partner.planTwoCount}}</td>
							<td>{{partner.totalCost | currency}}</td>
						</tr>
                        <tr ng-if="ctrl.model.partners.length < 1">
                            <td colspan="{{ctrl.model.columnspan}}">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
					<tfoot>
						<tr>
							<td colspan="{{ctrl.model.columnspan}}">
							</td>
						</tr>
					</tfoot>
                </table>
            </div>
        </div>
    </div>
</div>