<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="50" placeholder="Desert Cloud" />
						<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="manufacturer" class="control-label">{{ctrl.model.resources.manufacturer}}</label>
						<input name="manufacturer" class="form-control" ng-model="ctrl.model.manufacturer" type="text" typeahead="type for type in ctrl.model.manufacturers | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="50" placeholder="Benjamin Moore" />
						<div ng-messages="ctrl.model.form.manufacturer.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.code.$invalid && ctrl.model.form.$submitted }">
						<label for="code" class="control-label">{{ctrl.model.resources.code}}</label>
						<input name="code" class="form-control" ng-model="ctrl.model.code" type="text" ng-maxlength="50" placeholder="#CFSD92" />
						<div ng-messages="ctrl.model.form.code.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.makeup.$invalid && ctrl.model.form.$submitted }">
						<label for="makeup" class="control-label">{{ctrl.model.resources.makeup}}</label>
						<input name="makeup" class="form-control" ng-model="ctrl.model.makeup" type="text" ng-maxlength="50" placeholder="Latex, Oil, Water Based" />
						<div ng-messages="ctrl.model.form.makeup.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="paint_type" class="control-label">{{ctrl.model.resources.paint_type}}</label>
						<input name="paint_type" class="form-control" ng-model="ctrl.model.paint_type" type="text" typeahead="type for type in ctrl.model.paint_types | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Paint, Primer, Stain" />
						<div ng-messages="ctrl.model.form.paint_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="sheen" class="control-label">{{ctrl.model.resources.sheen}}</label>
						<input name="sheen" class="form-control" ng-model="ctrl.model.sheen" type="text" typeahead="type for type in ctrl.model.sheens | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Eggshell, Satin, Gloss" />
						<div ng-messages="ctrl.model.form.sheen.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.store.$invalid && ctrl.model.form.$submitted }">
						<label for="store" class="control-label">{{ctrl.model.resources.store}}</label>
						<input name="store" class="form-control" ng-model="ctrl.model.store" type="text" typeahead="type for type in ctrl.model.stores | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Home Depot, Lowe's" />
						<div ng-messages="ctrl.model.form.store.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.price.$invalid && ctrl.model.form.$submitted }">
						<label for="price" class="control-label">{{ctrl.model.resources.price}}</label>
						<input name="price" class="form-control" ng-model="ctrl.model.price" type="number" />
						<div ng-messages="ctrl.model.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.purchase_date.$invalid && ctrl.model.form.$submitted }">
						<label for="purchase_date" class="control-label">{{ctrl.model.resources.purchase_date}}</label>
						<input name="purchase_date" class="form-control" ng-model="ctrl.model.purchase_date" value="{{ ctrl.model.install_date }}" type="text" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" min="ctrl.model.today"
						 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true" />
						<div ng-messages="ctrl.model.form.purchase_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
						<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
						<label>{{ctrl.model.resources.additionalDetails}}</label>
						<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this area/room"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>{{ctrl.model.resources.media}}</label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 text-center">
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
				</div>
				<div class="col-sm-6 col-xs-12 text-center">
					<div class="uploader">
						<label class="btn btn-primary btn-file" ng-click="ctrl.model.uploadPhotos()">
		        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Select images to upload
		    </label>
					</div>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
