<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
				<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="50" placeholder="Home, Garage, Shed" />
				<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
				<label for="construction_style" class="control-label">{{ctrl.model.resources.construction_style}}</label>
				<input name="construction_style" class="form-control" ng-model="ctrl.model.construction_style" type="text" typeahead="type for type in ctrl.model.construction_styles | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Ranch, Colonial"
				/>
				<div ng-messages="ctrl.model.form.construction_style.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
				<label for="construction_type" class="control-label">{{ctrl.model.resources.construction_type}}</label>
				<input name="construction_type" class="form-control" ng-model="ctrl.model.construction_type" type="text" typeahead="type for type in ctrl.model.construction_types | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Brick, Prefab, Wood"
				/>
				<div ng-messages="ctrl.model.form.construction_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="sq_ft" class="control-label">{{ctrl.model.resources.sq_ft}}</label>
				<input name="sq_ft" class="form-control" ng-model="ctrl.model.sq_ft" type="number" max="1000000" placeholder="1000" />
				<div ng-messages="ctrl.model.form.sq_ft.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="beds" class="control-label">{{ctrl.model.resources.beds}}</label>
				<input name="beds" class="form-control" ng-model="ctrl.model.beds" type="number" max="50" placeholder="1" />
				<div ng-messages="ctrl.model.form.beds.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="baths" class="control-label">{{ctrl.model.resources.baths}}</label>
				<input name="baths" class="form-control" ng-model="ctrl.model.baths" type="number" max="50" placeholder="1" />
				<div ng-messages="ctrl.model.form.baths.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
				<label for="heat_type" class="control-label">{{ctrl.model.resources.heat_type}}</label>
				<input name="heat_type" class="form-control" ng-model="ctrl.model.heat_type" type="text" typeahead="type for type in ctrl.model.heat_types | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Forced Hot Air" />
				<div ng-messages="ctrl.model.form.heat_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
				<label for="heat_source" class="control-label">{{ctrl.model.resources.heat_source}}</label>
				<input name="heat_source" class="form-control" ng-model="ctrl.model.heat_source" type="text" typeahead="type for type in ctrl.model.heat_sources | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Electric" />
				<div ng-messages="ctrl.model.form.heat_source.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
				<label for="year_built" class="control-label">{{ctrl.model.resources.year_built}}</label>
				<input name="year_built" class="form-control" ng-model="ctrl.model.year_built" type="number" min="1700" max="{{ctrl.model.year}}" placeholder="1960" />
				<div ng-messages="ctrl.model.form.year_built.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
				</div>
			</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
				<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
				<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
				<label>{{ctrl.model.resources.additionalDetails}}</label>
				<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this structure"></textarea>
			</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
				<label>{{ctrl.model.resources.media}}</label>
			</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
