<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-star fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.resources.tableTitle}}&nbsp;&nbsp;</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary pull-right" ng-click="ctrl.addBranding()" ng-disabled="ctrl.branding_users.length > 7"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}</button>
                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.tableInfo}}</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="header in ctrl.resources.tableHeaders">{{header}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="branding in ctrl.branding_users">
                        <td>{{branding.id}}</td>
                        <td>
                            <span ng-if="!branding.newUser">{{branding.user.display_name}}</span>
                            <hb-lookup cfg="ctrl.lookupCfg" selection="branding.user" ng-if="branding.newUser" select="ctrl.onSelect(branding, $index)"></hb-lookup>
                        </td>
                        <td>{{branding.user.company}}</td>
                        <td>{{branding.partner_id}}</td>
                        <td>
                            <i ng-if="!branding.user.head_shot_file" class="fa fa-id-card-o fa-3" aria-hidden="true"></i>
                            <img ng-if="branding.user.head_shot_file" alt="User Profile" class="img-responsive center-block" ng-src="{{branding.user.head_shot_file}}">
                        </td>
                        <td>
                            <i ng-if="!branding.user.logo_file" class="fa fa-id-card-o fa-3" aria-hidden="true"></i>
                            <img ng-if="branding.user.logo_file" alt="User Profile" class="img-responsive center-block" ng-src="{{branding.user.logo_file}}">
                        </td>
                        <td>
                            <select name="scope" class="form-control" ng-model="branding.scope" ng-required="true" ng-change="branding.saveUser = true">
							     <option ng-repeat="option in ctrl.branding_scopes" value="{{option.value}}" ng-selected="option.value == branding.scope" ng-if="ctrl.showScope(branding.scope, option.value)">
                                    {{option.name}}
                                </option>
							</select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.save(branding, $index)" ng-if="branding.saveUser" ng-disabled="!branding.email && !branding.scope"><span class="glyphicon glyphicon-ok"></span></button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.remove(branding, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.branding_users.length < 1">
                        <td colspan="7" class="text-center">{{ctrl.resources.tableEmpty}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>