<div class="form-group col-xs-12 col-md-6 text-center">
	<hb-uploader cfg="ctrl.docUploader" file-uploaded="ctrl.docUploadSuccess(file)" file-error="ctrl.docUploadError({response: response})" file-added="ctrl.documentAdded()"></hb-uploader>
	<div class="col-xs-12 table-responsive">
		<table class="table table-hover table-condensed table-bordered">
			<tbody>
				<tr ng-repeat="document in ctrl.documents">
					<td><i class="{{document.name | icon}}"></i></td>
					<td>{{document.name | limitTo: 15 }}{{document.name.length > 15 ? '&hellip;' : ''}}</td>
					<td ng-click="ctrl.remove($index, document)"><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>