<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" src="/img/appo.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>{{ctrl.resources.title}}</strong> -
					<span class="text-primary">{{ctrl.appliances.length}}</span>
					<span ng-if="!ctrl.appForm.$invalid || ctrl.appliances.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.appForm.$invalid && ctrl.appliances.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
					<small class="text-danger">{{ctrl.resources.subTitle}}</small>
					</span>
				</h3>
			</div>
			<div class="col-xs-1 orange-button">
				<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_app_collapsed" ng-click="ctrl.is_app_collapsed = !ctrl.is_app_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_app_collapsed, 'glyphicon glyphicon-plus': ctrl.is_app_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_app_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.helpText}}</h4>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4 text-left">
								<h4>{{ctrl.resources.nameColumn}}</h4>
							</div>
							<div class="col-xs-4 text-center">
								<h4>{{ctrl.resources.notesColumn}}</h4>
							</div>
							<div class="col-xs-4">
								<h4></h4>
							</div>
						</div>
					</div>
					<div class="panel-heading" ng-repeat="app in ctrl.appliances | orderBy:'name'">
						<div class="row">
							<form role="form" name="ctrl.appForm">
								<div class="col-xs-4 text-left">
									<span>{{app.name}}</span>
								</div>
								<div class="col-xs-4 text-center">
									<span>{{app.notes}}</span>
								</div>
								<div class="col-xs-4 text-center">
									<button type="button" class="btn btn-primary" ng-click="ctrl.edit(app)"><span class="glyphicon glyphicon-pencil"></span></button>
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove(app)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-left">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addApp()" ng-disabled="ctrl.appForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>