<div class="modal-header transferForm">
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Maintenance Items</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <label>One or more maintenance items have a due date that has already passed. Please update any invalid dates.</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">Close</button>
</div>