<form name="ctrl.model.form" role="form" novalidate>
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.aprTitle}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <div class="checkbox" ng-class="{ disabled: ctrl.model.settings.readOnly }">
                <label>
                    <input ng-if="ctrl.model.settings.readOnly" type="checkbox" value="" ng-model="ctrl.model.item.configuration.can_perform_apr" disabled>
                    <input ng-if="!ctrl.model.settings.readOnly" type="checkbox" value="" ng-model="ctrl.model.item.configuration.can_perform_apr">{{ctrl.model.resources.canPerformReviews}}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="apr_cost" class="control-label">{{ctrl.model.resources.cost}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">${{ctrl.model.item.configuration.annual_property_review_cost}}</p>
            <div ng-if="!ctrl.model.settings.readOnly" class="input-group">
                <div class="input-group-addon">$</div>
                <input name="apr_cost" id="apr_cost" type="number" class="form-control" ng-model="ctrl.model.item.configuration.annual_property_review_cost" ng-min="1" ng-required="ctrl.model.item.configuration.can_perform_apr" />
            </div>
            <div ng-messages="ctrl.model.form.apr_cost.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="!ctrl.model.settings.readOnly">
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.item.configuration.can_perform_apr">
        <div class="form-group col-xs-12">
            <label for="apr_cost" class="control-label">{{ctrl.model.resources.url}}</label>
            <p class="form-control-static"><a href="{{ctrl.model.aprLink}}" target="_blank">{{ctrl.model.aprLink}}</a></p>
        </div>
    </div>
</form>
