<div class="landing-inspectors">
  <div class="header">
    <div class="container hidden-xs">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img alt="Brand" src="../../img/flatlogo2s.png">
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/index">{{ctrl.model.resources.homeowners}}</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.model.resources.professionals}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/inspectors">{{ctrl.model.resources.inspectors}}</a></li>
                <li><a href="/agents">{{ctrl.model.resources.agents}}</a></li>
                <li><a href="/lenders">{{ctrl.model.resources.lenders}}</a></li>
                <li><a href="/pros">{{ctrl.model.resources.homepros}}</a></li>
                <li><a href="/managers">{{ctrl.model.resources.managers}}</a></li>
                <li><a href="/builders">{{ctrl.model.resources.builders}}</a></li>
                <li><a href="/hoas">{{ctrl.model.resources.hoas}}</a></li>
                <li><a href="/insurances">{{ctrl.model.resources.insurances}}</a></li>
              </ul>
            </li>
            <li class="dropdown" ng-if="false">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.resources.language}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="ctrl.setLocale('en-us', true)">{{ctrl.resources.english}}</a></li>
                <li><a href="" ng-click="ctrl.setLocale('sp', true)">{{ctrl.resources.spanish}}</a></li>
                <li><a href="" ng-click="ctrl.setLocale('fr', true)">{{ctrl.resources.french}}</a></li>
              </ul>
            </li>
            <li><a href="http://blog.homebinder.com">{{ctrl.model.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.model.resources.support}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="pull-right"><a href="/login">{{ctrl.model.resources.signIn}}</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <nav class="navbar navbar-inverse hidden-sm hidden-md hidden-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>              
      </button>
          <a class="navbar-brand" href="/index"><img src="../../img/flatlogonotext.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/inspectors">{{ctrl.model.resources.inspectors}}</a></li>
            <li><a href="/agents">{{ctrl.model.resources.agents}}</a></li>
            <li><a href="/lenders">{{ctrl.model.resources.lenders}}</a></li>
            <li><a href="/pros">{{ctrl.model.resources.homepros}}</a></li>
            <li><a href="/managers">{{ctrl.model.resources.managers}}</a></li>
            <li><a href="/builders">{{ctrl.model.resources.builders}}</a></li>
            <li><a href="/hoas">{{ctrl.model.resources.hoas}}</a></li>
            <li><a href="/insurances">{{ctrl.model.resources.insurances}}</a></li>
            <li><a href="http://blog.homebinder.com">{{ctrl.model.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.model.resources.support}}</a></li>
            <li><a href="/login">{{ctrl.model.resources.signIn}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="hero text-center">
      <div class="col-md-5 col-sm-8">
        <h1>{{ctrl.model.resources.proTitle}}</h1>
        <h2>{{ctrl.model.resources.proSubtitle}}</h2>
        <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.model.requestTrial()">{{ctrl.model.resources.requestTrial}}</a>
        <a class="hidden-xs btn btn-lg btn-primary" ng-click="ctrl.model.startTrial()">{{ctrl.model.resources.startTrial}}</a>
        <a class="btn btn-lg btn-white" href="https://calendly.com/alec-2/15min">{{ctrl.model.resources.scheduleDemo}}</a>
        <p class="text-center" style="top: 15px; position: relative;"></p>
      </div>
      <p class="callus hidden-sm hidden-xs">{{ctrl.model.resources.callUs}}: <span>1-800-377-6915</span></p>
    </div>
  </div>
  <div class="row section features">
    <div class="container">
      <div class="col-md-12 text-center">
        <div class="col-md-6  col-md-offset-3 ">
          <h2>{{ctrl.model.resources.genericMarketing}}&nbsp;<br/>&nbsp;{{ctrl.model.resources.digitalBinder1}}</h2>
          <p>{{ctrl.model.resources.homeownerSupport}}</p>
        </div>
        <div class="col-md-12 hidden-sm hidden-xs" style="height:160px;"></div>
        <div class="col-sm-4 text-center"><img src="../../img/appr.png">
          <p>{{ctrl.model.resources.recallAlerts}}</p>
        </div>
        <div class="col-sm-4 text-center"><img src="../../img/mainr.png">
          <p>{{ctrl.model.resources.scheduledMaintenanceReminders}}</p>
        </div>
        <div class="col-sm-4 text-center"><img src="../../img/reportr.png">
          <p>{{ctrl.model.resources.providerOfRecord}}</p>
        </div>
        <div class="col-md-12 text-center">
          <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.model.requestTrial()">{{ctrl.model.resources.requestTrial}}</a>
          <a class="visible-xs btn btn-lg btn-white" href="https://calendly.com/alec-2/15min">{{ctrl.model.resources.scheduleDemo}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row section team">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>{{ctrl.model.resources.conciergeSupport}}</h2>
        <p>{{ctrl.model.resources.serviceSpeed}}</p>
      </div>
      <div class="col-md-12 text-center">
        <div class="col-md-2 col-md-offset-1 col-sm-6 text-center">
          <img src="../../img/alec.jpg">
          <p>Alec Ahee</p>
          <p>{{ctrl.model.resources.headOfSales}}</p>
        </div>
        <div class="col-md-2 col-sm-6 text-center">
          <img src="../../img/Greg.jpg">
          <p>Greg Moretti</p>
          <p>{{ctrl.model.resources.headOfCustomerSuccess}}</p>
        </div>
        <div class="col-md-2 col-sm-6 text-center">
          <img src="../../img/gerlin.jpg">
          <p>Gerlin Guillaume</p>
          <p>{{ctrl.model.resources.productDevelopment}}</p>
        </div>
        <div class="col-md-2 col-sm-6 text-center">
          <img src="../../img/riley.jpg">
          <p>Riley Roberts</p>
          <p>{{ctrl.model.resources.headOfMarketing}}</p>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <img src="../../img/jack.jpg">
          <p>Jack Huntress</p>
          <p>{{ctrl.model.resources.founder}}</p>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
        <p>{{ctrl.model.resources.supportTeam}}</p>
      </div>
      <div class="col-md-12 text-center">
        <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.model.requestTrial()">{{ctrl.model.resources.requestTrial}}</a>
        <a class="visible-xs btn btn-lg btn-white" href="https://calendly.com/alec-2/15min">{{ctrl.model.resources.scheduleDemo}}</a>
      </div>
    </div>
  </div>
  <div class="row section text-center pricing">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>{{ctrl.model.resources.relationshipBuilding}}</h2>
        <h3>{{ctrl.model.resources.binderPricing1}}&nbsp;<span style="color: #ff6633;">{{ctrl.model.firstPrice}}</span> - <span style="color: #ff6633;">{{ctrl.model.secondPrice}}</span>&nbsp;{{ctrl.model.resources.binderPricing2}}</h3>
        <h4>{{ctrl.model.resources.demoInfo}}</h4>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div>
            <img src="../../img/alert.png">
            <p>{{ctrl.model.resources.automatedRecallAlerts}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><img src="../../img/mail.gif">
            <p>{{ctrl.model.resources.brandedEmails}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><img src="../../img/dash.gif">
            <p>{{ctrl.model.resources.managementApp}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a class="hidden-xs btn btn-lg btn-primary" ng-click="ctrl.model.startTrial()" style="margin-top: 20px;">{{ctrl.model.resources.startTrial}}</a> <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.model.requestTrial()">{{ctrl.model.resources.requestTrial}}</a>
        <a class="btn btn-lg btn-white" href="https://calendly.com/alec-2/15min" style="margin-top: 20px;">{{ctrl.model.resources.scheduleDemo}}</a>
      </div>
      <div class="col-md-8 col-md-offset-2 text-center">
        <p style="margin-top: 30px;">{{ctrl.model.resources.freeBinders}}&nbsp;<br/>{{ctrl.model.resources.veteranPricing}}</p>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="inspectors">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a class="logo"><img src="../../img/flatlogo2s.png"></a>
          <ul>
            <li class="hidden-xs"><a href="/index" class="active">{{ctrl.model.resources.homeowners}}</a> </li>
            <li class="hidden-xs"><a href="/inspectors">{{ctrl.model.resources.inspectors}}</a> </li>
            <li class="hidden-xs"><a href="/agents">{{ctrl.model.resources.agents}}</a> </li>
            <li>
              <p>&copy; {{ctrl.model.yyyy}} HomeBinder Inc.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul style="text-align: center;">
            <li><a href="http://blog.homebinder.com">{{ctrl.model.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.model.resources.support}}</a></li>
            <li><a href="/terms">{{ctrl.model.resources.terms}}</a></li>
            <li><a href="/privacy">{{ctrl.model.resources.privacy}}</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: right;">
          <li class="hidden-xs">1-800-377-6915</li>
          <li class="hidden-xs">SUPPORT AT HOMEBINDER DOT COM</li>
          <a href="http://www.facebook.com/homebinder" target="_blank"><img src="../../img/facebookgrey.gif" alt="Facebook image for HomeBinder's home management software"></a>&nbsp;
          <a href="http://www.twitter.com/homebinder" target="_blank"><img src="../../img/twittergrey.gif" alt="Facebook image for HomeBinder's home management software"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '9224990';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript';
    dc.async = true;
    dc.src = '//tag.getdrip.com/9224990.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
