<div class="container-fluid marketingResources">
    <div class="page-header">
        <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()" ng-if="ctrl.model.canEdit()">{{ctrl.model.resources.newButton}}</button>
        <h2 class="text-center">{{ctrl.model.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <p>Your Marketing Materials are the keys to success in effectively using HomeBinder in your business. HomeBinder will only bring you value if your clients user their HomeBinder accounts.</p>
            <p>Make sure you use your marketing materials to maximize the impact that HomeBinder has with the clients that you work with. Here is your <a href="http://support.homebinder.com/getting-started/homebinder-quick-start-guide" target="_blank">Step by step guide to getting started</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ng-repeat="item in ctrl.model.items">
                <div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
                <div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
                <div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
                <div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class='embed-container' ng-if="item.resource_type === 'document'">
                            <embed ng-src="{{item.document_file}}">
                        </div>
                        <div class='embed-container' ng-if="item.resource_type === 'link'">
                            <embed ng-src="{{item.url}}">
                        </div>
                        <div class='embed-container' ng-if="item.resource_type === 'image'">
                            <embed ng-src="{{item.image_file}}">
                        </div>
                        <!--<img class="img-responsive center-block" ng-src="{{item.image_file}}" ng-if="item.resource_type === 'image'" height="200px">-->
                        <div class="caption">
                            <h5 ng-if="item.resource_type != 'link'">{{item.name}}</h5>
                            <h5 ng-if="item.resource_type === 'link'"><a href="{{item.url}}" target="_blank">{{item.name}}</a></h5>
                            <p>{{item.description}}</p>
                            <div class="btn-group dropup button-group text-left">
                                <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Options</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-if="ctrl.model.settings.canEdit"><a href="" ng-click="ctrl.model.editItem(item, $index)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</a></li>
                                    <li><a href="" ng-click="ctrl.model.viewFile(item)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;View</a></li>
                                    <li><a href="" ng-click="ctrl.model.downloadFile(item)" ng-if="ctrl.model.canDownload(item)"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a></li>
                                    <li ng-if="ctrl.model.settings.canDelete"><a href="" ng-click="ctrl.model.preDeleteItem(item)"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ctrl.model.items.length < 1">
                <h3 class="text-center">No items found</h3>
            </div>
        </div>
    </div>
</div>