.areas-view {
    .areas {
        border: 1px solid transparent;
    }
    .areas:hover {
        border: 1px solid #f63;
        cursor: hand;
        cursor: pointer;
    }
    a:hover {
        text-decoration: none;
    }
}

.aside-header {
    z-index: 1000;
}

.aside-body {
    margin-top: 80px;
    max-height: 1200px;
}

.aside-footer {
    z-index: 1000;
}


.modal-dialog .dropdown-menu {
    z-index: 2000;
}

#intercom-container{
    z-index: 1000 !important;
}