<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<button class="btn btn-primary pull-right" type="button" ng-click="ctrl.model.addModal()" ng-disabled="ctrl.model.contractForm.$invalid">
				<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.add}}
			</button>
			<i class="fa fa-id-badge text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-2 text-center">
						<h4>Name</h4>
					</div>
					<div class="col-lg-2 col-xs-3 text-center">
						<h4>Types</h4>
					</div>
					<div class="col-lg-2 col-xs-3 text-center">
						<h4>Email</h4>
					</div>
					<div class="col-xs-2 text-center">
						<h4>Phone</h4>
					</div>
					<div class="col-lg-2 hidden-xs hidden-sm hidden-md text-center">
						<h4>Notes</h4>
					</div>
					<div class="col-xs-2">
						<h4></h4>
					</div>
				</div>
			</div>
			<div ng-if="ctrl.model.items.length > 0" class="panel-heading" ng-repeat="item in ctrl.model.items | orderBy:'name'">
				<div class="row">
					<form role="form" name="ctrl.model.contractForm" novalidate>
						<div class="col-xs-2 text-center">
							<span>{{item.contact}}</span>
						</div>
						<div class="col-lg-2 col-xs-3 text-center">
							<span ng-repeat="type in item.types">{{type.name}}{{{true: '', false: ', '}[$last]}} </span>
						</div>
						<div class="col-lg-2 col-xs-3 text-center" style="word-wrap: break-word">
							<span>{{item.contractor.email}}</span>
						</div>
						<div class="col-xs-2 text-center">
							<span>{{item.contractor.phone.national}}</span>
						</div>
						<div class="col-lg-2 hidden-xs hidden-sm hidden-md text-center">
							<span>{{item.details}}</span>
						</div>
						<div class="col-xs-2 text-center">
							<button type="button" class="btn btn-primary" ng-click="ctrl.model.edit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
							<button type="button" class="btn btn-primary" ng-click="ctrl.model.deleteItem(item, $index)"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>