<div class="modal-header">
    <h4 class="modal-title">{{ctrl.model.resources.title}}</h4>
</div>
<div class="modal-body body-scroll">
    <div class="container-fluid dashboard-builder">
        <form name="ctrl.form" novalidate>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{ active: ctrl.model.showDetails }"><a href="" aria-controls="details" role="tab" data-toggle="tab" ng-click="ctrl.model.viewDetails()">{{ctrl.model.resources.detailsTab}}</a></li>
                <li role="presentation" ng-class="{ active: ctrl.model.showWidgets }"><a href="" aria-controls="widgets" role="tab" data-toggle="tab" ng-click="ctrl.model.viewWidgets()">{{ctrl.model.resources.widgetsTab}}</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" ng-class="{ active: ctrl.model.showDetails }" id="details">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-6" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
                                <label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}</label>
                                <input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="250" placeholder="{{ctrl.model.resources.namePlaceholder}}" title="{{ctrl.model.resources.nameTip}}"/>
                                <div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrl.model.admin">
                            <div class="form-group col-md-6">
                                <label for="type" class="control-label">{{ctrl.model.resources.typeLabel}}</label>
                                <select ng-model="ctrl.model.scope" ng-options="type.label for type in ctrl.model.typeOptions" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>
                                    <input type="checkbox" ng-model="ctrl.model.default" />&nbsp;{{ctrl.model.resources.defaultLabel}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6" ng-class="{ 'has-error': ctrl.form.key.$invalid && ctrl.form.$submitted }">
                                <label for="description" class="control-label">{{ctrl.model.resources.descriptionLabel}}</label>
                                <textarea ng-model="ctrl.model.description" ng-maxlength="1000" class="form-control" rows="5"></textarea>
                                <div ng-messages="ctrl.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrl.model.admin">
                            <div class="form-group col-md-6 applies-to">
                                <label for="type" class="control-label">{{ctrl.model.resources.appliesToLabel}}</label>
                                <div class="option"><input type="radio" ng-model="ctrl.model.appliesTo" value="system" />&nbsp;{{ctrl.model.resources.appliesToGlobal}}</div>
                                <div class="option"><input type="radio" ng-model="ctrl.model.appliesTo" value="partner" />&nbsp;{{ctrl.model.resources.appliesToPartner}}</div>
                                <div class="option"><input type="radio" ng-model="ctrl.model.appliesTo" value="org" />&nbsp;{{ctrl.model.resources.appliesToOrg}}</div>
                                <div class="lookup"><hb-lookup ng-if="ctrl.model.showLookup()" cfg="ctrl.model.lookupCfg" selection="ctrl.model.applyTo"></hb-lookup></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" ng-class="{ active: ctrl.model.showWidgets }" id="widgets">
                    <span class="help-text">{{ctrl.model.resources.helpText}}</span>
                    <button type="button" class="btn btn-primary add-widget" ng-click="ctrl.model.addWidgets()">{{ctrl.model.resources.addWidgetButton}}</button>
                    <div class="widgethost-container">
                        <hb-widget-host widgets="ctrl.model.widgets"
                                        cfg="ctrl.model.widgetHostConfig"></hb-widget-host>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.model.save()" autofocus>{{ctrl.model.resources.saveButton}}</button>
    <button type="button" class="btn btn-default" ng-click="ctrl.model.cancel()">{{ctrl.model.resources.cancelButton}}</button>
</div>