.dashboard-modal {
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin-top: 0;
        .modal-content {
            height: 100%;
            .modal-body {
                height:73%;
                overflow-y: auto;
            }
        }
        .modal-footer {
            margin-bottom: 10px;
        }
    }
    
    .dashboard-builder {
        .tab-pane {
            margin-top: 15px;
        }
        .help-text {
            font-size: 1.1em;
        }
        .add-widget {
            margin: 0 10px;
        }
        .widgethost-container {
            min-height: 300px;
            margin: 25px 0;
        }
        .applies-to {
            .option {
                display: block;
                
                input[type="radio"] {
                    margin-right: 10px;
                }
            }
            
            .lookup {
                margin-top: 10px;
            }
        }
    }
}