<div class="page-header">
    <h3>Binders&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user_binder in ctrl.model.items">
                    <td>{{user_binder.binder.id}}</td>
                    <td>{{user_binder.binder.name}}</td>
                    <td>{{user_binder.binder.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td>{{user_binder.role}}</td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="3">
                        <h3 class="text-center">User doesn't have any binders</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>