<div id="footer">
	<div class="container-fluid">
		<ul class="nav nav-pills pull-left">
			<li class="navbar-text">© {{ctrl.resources.copyright}} {{ctrl.yyyy}} HomeBinder.com Inc.</li>
			<li class="hidden-sm hidden-xs"><a href="/terms">{{ctrl.resources.terms}}</a></li>
			<li class="hidden-sm hidden-xs"><a href="/privacy">{{ctrl.resources.privacy}}</a></li>
			<li class="hidden-sm hidden-xs"><a href="/APRTermsOfService">{{ctrl.resources.apr}}</a></li>
			<li class="navbar-text hidden-sm hidden-xs">{{ctrl.resources.call}}: 800.377.6915</li>
		</ul>
		<ul class="nav nav-pills pull-right">
			<li class="navbar-text">{{ctrl.constants.name}}-{{ctrl.constants.version}}-{{ctrl.constants.date}}-{{ctrl.constants.buildTime}}</li>
		</ul>
    </div>
</div>
