<div ng-if="!ctrl.model.loading.isLoading()">    
    <div class="modal-header">
    	<h3 class="modal-title">{{ctrl.model.title}}</h3>
    </div>
    <div class="modal-body body-scroll">
        <div ng-if="ctrl.model.isLoading">{{ctrl.model.resources.loading}}</div>
        <div ng-if="!ctrl.model.isLoading">
			<hb-warranty-configuration-form ng-if="ctrl.model.showForm"
							cfg="ctrl.model.formCfg"
							on-saved="ctrl.model.onSaved(item)"></hb-warranty-configuration-form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ctrl.model.close()"
                type="button"
                class="btn btn-default">{{ctrl.model.resources.cancelButton}}</button>
        <button ng-click="ctrl.model.save()"
                type="button"
                class="btn btn-primary">{{ctrl.model.resources.saveButton}}</button>
    </div>
</div>