<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.improvementsTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/projects" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_improvements_collapsed" ng-click="ctrl.is_improvements_collapsed = !ctrl.is_improvements_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_improvements_collapsed, 'glyphicon glyphicon-plus': ctrl.is_improvements_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.improvementsTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_improvements_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.improvements.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.improvementsTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allImprovements, "btn btn-default": !ctrl.allImprovements}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allImprovements, "glyphicon glyphicon-eye-close": !ctrl.allImprovements}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.improvements.length > 0">
		<thead>
			<tr>
				<th class="col-xs-4">
					<label>{{ctrl.resources.improvementsDescription}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.costs}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.improvementsCompleted}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		</tbody>
		<tr ng-repeat="project in ctrl.improvements | orderBy:'end_date':'desc'">
			<td class="col-xs-4">
				<span class="description capitalize">{{ project.name }}</span>
				<span class="notes">{{ project.details }}</span>
			</td>
			<td class="col-xs-3"><span>{{ project.cost_cents | currency }}</span></td>
			<td class="col-xs-3 frequency"><span>{{ project.end_date | date: 'MMMM yyyy' }}</span></td>
			<td class="col-xs-2 text-center">
				<button ng-click="ctrl.setInclude(project)" type="button" ng-class='{"btn btn-primary": project.seller_report_item.include, "btn btn-default": !project.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": project.seller_report_item.include, "glyphicon glyphicon-eye-close": !project.seller_report_item.include}'></span></button>
				<!--<button type="button" class="btn btn-primary" ng-click="ctrl.destroy(project)"><span class="glyphicon glyphicon-remove"></span></button>-->
			</td>
		</tr>
		</tbody>
	</table>
	<!--<div class="row">-->
	<!--	<div class="col-xs-6 text-left">-->
	<!--		<button class="btn btn-primary" type="button" ng-click="ctrl.addImprov()" ng-disabled="ctrl.appForm.$invalid">-->
	<!--			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Improvements-->
	<!--		</button>-->
	<!--	</div>-->
	<!--</div>-->
	<div ng-if="ctrl.improvements.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.improvementsBinderNone}}</p>
	</div>
</div>
<br/>
<hr>