.custom-modals {

    hr {
        color: black;
    }
    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
    .vertically-center {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }
    
    h5 {
        position: relative;
        top: -18px;
    }
    
    span.span-text {
        position: relative;
        top: -18px;
    }

}

.full .modal-dialog {
    width: auto;
    margin-left: 225px;
    margin-right: 225px;
    max-width: 900px;
    @media (max-width: 1130px) {
        margin-left: 100px;
        margin-right: 100px;
    }
    @media (max-width: 920px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.modal-header {
    background-color: @brand-primary;
    color: white !important;
}
.modal-title {
    color: white !important;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-footer {
    button.btn.btn-default, a.btn.btn-default  {
        border-color: @brand-primary;
        color: @brand-primary;
    }
}
