<div class="modal-header" ng-show="modal.title">
    <h4 class="modal-title"><span class="{{modal.glyphicon}}"></span>&nbsp;&nbsp;{{modal.title}}</h4>
</div>
<div class="modal-body">
    <h4 ng-show="modal.majorMessage">{{modal.majorMessage}}</h4>
    <p ng-show="modal.minorMessage">{{modal.minorMessage}}</p>
</div>
<div class="modal-footer" ng-show="modal.buttons.length > 0">
    <button ng-show="button.isFocused" ng-repeat="button in modal.buttons" ng-class="button.cls" ng-click="modal.click(button)" autofocus>{{button.label}}</button>
    <button ng-hide="button.isFocused" ng-repeat="button in modal.buttons" ng-class="button.cls" ng-click="modal.click(button)">{{button.label}}</button>
</div>