<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="50" placeholder="Renovate Kitchen" />
						<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="project_type" class="control-label">{{ctrl.model.resources.project_type}}</label>
						<input name="project_type" class="form-control" ng-model="ctrl.model.project_type" type="text" typeahead="type for type in ctrl.model.projectTypes | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Remodel, Addition" />
						<div ng-messages="ctrl.model.form.project_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.start_date.$invalid && ctrl.model.form.$submitted }">
						<label for="start_date" class="control-label">{{ctrl.model.resources.start_date}}</label>
						<input name="start_date" class="form-control" ng-model="ctrl.model.start_date" value="{{ ctrl.model.start_date }}" type="text" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" max="ctrl.model.end_date"
						 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[0].opened" ng-click="ctrl.model.open(0)" />
						<div ng-messages="ctrl.model.form.start_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.end_date.$invalid && ctrl.model.form.$submitted }">
						<label for="end_date" class="control-label">{{ctrl.model.resources.end_date}}</label>
						<input name="end_date" class="form-control" ng-model="ctrl.model.end_date" value="{{ ctrl.model.end_date }}" type="text" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" min="ctrl.model.start_date"
						 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[1].opened" ng-click="ctrl.model.open(1)" />
						<div ng-messages="ctrl.model.form.end_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.status.$invalid && ctrl.model.form.$submitted }">
						<label for="status" class="control-label">{{ctrl.model.resources.status}}</label>
						<select ng-if="ctrl.model.show_select" ng-model="ctrl.model.status" ng-options="status.name as status.name for status in ctrl.model.projectStatuses" class="form-control">
				</select>
						<div ng-messages="ctrl.model.form.status.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.cost.$invalid && ctrl.model.form.$submitted }">
						<label for="cost" class="control-label">{{ctrl.model.resources.cost}}</label>
						<input name="cost" class="form-control" ng-model="ctrl.model.cost" type="number" />
						<div ng-messages="ctrl.model.form.cost.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
						<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
						<label>{{ctrl.model.resources.additionalDetails}}</label>
						<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this project"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>{{ctrl.model.resources.media}}</label>
					</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
