<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="close pull-right" tooltip="Close Modal" ng-click="ctrl.dismiss()">&times;</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img ng-if="ctrl.template.image_url" class="img-responsive center-block" ng-src="{{ctrl.template.image_url}}">
                <img ng-if="!ctrl.template.image_url" class="center-block img-responsive" ng-src="/img/no-image-available.jpg">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <label for="appliance_template" class="control-label">{{ctrl.resources.itemName}}</label>
                    <select name="appliance_template" ng-model="ctrl.template" ng-options="template.name for template in ctrl.templates track by template.id" class="form-control" ng-required="true">
                	</select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <button class="btn btn-primary" ng-click="ctrl.createFromTemplate()">{{ctrl.resources.useTemplate}}</button>
            </div>
            <div class="col-xs-6 text-center">
                <button class="btn btn-secondary" ng-click="ctrl.createOwn()">{{ctrl.resources.createOwn}}</button>
            </div>
        </div>
    </div>
</div>