<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-users fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.resources.title}}&nbsp;&nbsp;</h1>
    </div>
</div>
<binder-form-users-table cfg="ctrl.cfg"></binder-form-users-table>