<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form name="ctrl.form" novalidate>
    		<div class="form-group col-md-12">
    			<label>{{ctrl.resources.cancelInfo}}</label>
    		</div>
            <div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.cancelReason.$invalid && ctrl.form.$submitted }">
    			<label>{{ctrl.resources.cancelReason}}</label>
    			<textarea class="form-control" ng-model="ctrl.cancelReason" rows="5" ng-maxlength="1000"></textarea>
    			<div ng-messages="ctrl.form.cancelReason.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted"></div>
    		</div>
    		<div class="form-group col-md-12">
                <div ng-if="ctrl.invalid" class="alert alert-danger" role="alert">{{ctrl.error}}</div>
            </div>
    	</form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.confirm()" autofocus>{{ctrl.resources.confirm}}</button>
    <button class="btn btn-secondary" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
</div>
