<ui-select ng-if="ctrl.config.multiple && ctrl.binder"
           ng-model="ctrl.selected"
           multiple
           close-on-select="false"
           on-select="ctrl.onSelect($select, $item, $model)"
           on-remove="ctrl.onRemove($item, $model)"
           reset-search-input="true">
    <ui-select-match placeholder="Documents, images, projects">{{$item.name}}</ui-select-match>
    <ui-select-choices group-by="ctrl.getGroup" repeat="item.tag as item in ctrl.items | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>   
    
    
<ui-select ng-if="!ctrl.config.multiple && ctrl.binder"
           ng-show="ctrl.binder"
           ng-model="ctrl.tags"
           reset-search-input="true">
    <ui-select-match>{{$select.selected.name}}</ui-select-match>
    <ui-select-choices group-by="ctrl.getGroup" repeat="item.tag as item in ctrl.items track by $index | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>