<div class="container-fluid">
	<div class="page-header">
		<h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="{{ctrl.model.resources.refreshTip}}" tooltip-placement="right"></i></a></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-xs-5">
					<h4 class="text-muted">
						<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
						<small class="hidden-xs hidden-sm">{{ctrl.model.resources.searchInfo}}</small>
					</h4>
				</div>
				<div class="col-xs-5">
					<div class="pull-right">
						<form role="form" name="searchForm">
							<div class="form-group">
								<label for="text">{{ctrl.model.resources.search}}:</label>
								<div class="input-group input-group-sm">
									<input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="{{ctrl.model.resources.placeHolder}}" ng-minlength="1" required/>
									<span class="input-group-btn">
	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
	                		<span class="glyphicon glyphicon-search"></span>
									</button>
									<button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label for="search">{{ctrl.model.resources.showLabel}}:</label>
						<select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row hb-custom-table">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" style="background-color: white;">
					<thead>
						<tr>
							<th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
								<span ng-if="attribute.sorted">
                                    <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                    <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
								<span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in ctrl.model.items">
							<td>{{job.status}}</td>
							<td>{{job.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
							<td>{{job.partner.id}} - {{job.partner.name}}</td>
							<td>{{job.job_id}}</td>
							<td>{{job.binder_id}}</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        								<span>{{ctrl.model.resources.options}}</span>
                                        <span class="caret"></span>
                                    </button>
									<ul class="dropdown-menu pull-right">
										<li ng-if="job.inspection_report_location" ng-click="ctrl.model.openLink(job.inspection_report_location)">
											<a href="">
                                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ctrl.model.resources.viewInspectionReport}}
                                            </a>
										</li>
										<li ng-click="ctrl.model.deleteItem(job, $index)" tooltip="{{ctrl.model.resources.delete}}">
											<a href="">
                                                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                            </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr ng-if="ctrl.model.items.length < 1">
							<td colspan="{{ctrl.model.columnspan}}">
								<h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="{{ctrl.model.columnspan}}">
								<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
								</pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>