<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.appliancesTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/appliances" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_app_collapsed" ng-click="ctrl.is_app_collapsed = !ctrl.is_app_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_app_collapsed, 'glyphicon glyphicon-plus': ctrl.is_app_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.appliancesTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_app_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.appliances.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.appliancesTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allAppliances, "btn btn-default": !ctrl.allAppliances}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allAppliances, "glyphicon glyphicon-eye-close": !ctrl.allAppliances}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.appliances.length > 0">
		<thead>
			<tr>
				<th class="col-xs-3 text-left">
					<label>{{ctrl.resources.appliancesDetails}}</label>
				</th>
				<th class="col-xs-4 text-center">
					<label>{{ctrl.resources.appliancesMake}} &amp; {{ctrl.resources.appliancesModel}}</label>
				</th>
				<th class="col-xs-3 text-center">
					<label>{{ctrl.resources.appliancesDate}}</label>
				</th>
				<th class="col-xs-2 text-center">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="appliance in ctrl.appliances | orderBy:'install_date':'desc'">
				<td class="col-xs-3 text-left">
					<span class="name capitalize"><strong>{{ appliance.name }}</strong></span>
					<span class="notes">{{ appliance.details }}</span>
				</td>
				<td class="col-xs-4 text-center make">
					<p class="capitalize"><strong>{{ appliance.manufacturer }}</strong></p>
					<p><small class="uppercase">{{ appliance.model }}</small></p>
				</td>
				<td class="col-xs-3 text-center">
					<span class="installed">{{ appliance.install_date | date: 'yyyy' }}</span>
				</td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(appliance)" type="button" ng-class='{"btn btn-primary": appliance.seller_report_item.include, "btn btn-default": !appliance.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": appliance.seller_report_item.include, "glyphicon glyphicon-eye-close": !appliance.seller_report_item.include}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-if="ctrl.appliances.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.appliancesBinderNone}}</p>
	</div>
</div>
<br/>
<hr>