<div ng-message="required" class="error-text">A value is required</div>
<div ng-message="minlength" class="error-text">The value is too short</div>
<div ng-message="maxlength" class="error-text">The value is too long</div>
<div ng-message="email" class="error-text">The value is not a valid email address</div>
<div ng-message="pattern" class="error-text">Fields are not equal</div>
<div ng-message="regex" class="error-text">Invalid route name</div>
<div ng-message="max" class="error-text">The value is too large</div>
<div ng-message="min" class="error-text">The value is too small</div>
<div ng-message="date" class="error-text">Invalid Date</div>
<div ng-message="zip" class="error-text">Invalid Zip Code/Postal Code</div>
<div ng-message="phone" class="error-text">Invalid phone number</div>
<div ng-message="url" class="error-text">Invalid URL</div>
<div ng-message="arrayRequired" class="error-text">At least 1 selection is required</div>