<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<div class="pull-right">
				<button ng-click="ctrl.model.uploadDocuments()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Upload Documents
				</button>
				<hb-uploader cfg="ctrl.model.uploadCfg" file-uploaded="ctrl.model.onFileUploadedSuccess(file)" file-error="ctrl.model.onFileUploadError(response)" current-files="ctrl.model.items" file-added="ctrl.model.fileAdded()"></hb-uploader>
			</div>
			<i class="fa fa-file-text text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-5 text-left">
						<h4>{{ctrl.model.resources.headers[0]}}</h4>
					</div>
					<div class="col-xs-4 text-center">
						<h4>{{ctrl.model.resources.headers[1]}}</h4>
					</div>
					<div class="col-xs-3">
						<h4></h4>
					</div>
				</div>
			</div>
			<div class="panel-heading" ng-repeat="doc in ctrl.model.items">
				<div class="row">
					<div class="col-xs-5"><span class="text-primary text-left" ng-click="viewDocument(item)">{{doc.name}}</span></div>
					<div class="col-xs-4 text-center">{{doc.size | bytes}}</div>
					<div class="col-xs-3 text-center">
						<button type="button" class="btn btn-primary" ng-click="ctrl.model.deleteItem(doc, $index)"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
