<div class="panel-body repair-pricer-prepaid">
    <div class="row images">
        <div class="col-xs-6">
            <img class="img-responsive center-block homebinder" src="/img/newInspector/brandLogo.png"></img>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive center-block repair-pricer" src="/img/newInspector/repairPricer.png"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Agent Order Form for Repair Pricer Reports</h1>
            <p>If there's a free Repair Pricer report available for your property, you can order a report directly from this page and receive it within 24 hours.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <form class="form" name="ctrl.form" role="form" novalidate autocomplete="off">
                <div ng-if="ctrl.step === 'one'">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>*={{ctrl.resources.required}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="agent_first"><strong>{{ctrl.resources.agentFirst}}</strong></label>
                            <input class="form-control" name="agent_first" type="text" ng-model="ctrl.buyer_agent.first_name" ng-minlength="2" ng-maxlength="128" placeholder="John" autofocus />
                            <div ng-messages="ctrl.form.agent_first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="agent_last"><strong>{{ctrl.resources.agentLast}}</strong></label>
                            <input class="form-control" name="agent_last" type="text" ng-model="ctrl.buyer_agent.last_name" ng-minlength="2" ng-maxlength="128" placeholder="Smith" />
                            <div ng-messages="ctrl.form.agent_last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="agent_email"><strong>{{ctrl.resources.agentEmail}}</strong></label>
                            <input name="agent_email" ng-model="ctrl.buyer_agent.email" type="email" class="form-control" ng-maxlength="255" />
                            <div ng-messages="ctrl.form.agent_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="do_date">{{ctrl.resources.closingDate}}</label>
                                <input name="do_date" class="form-control" ng-model="ctrl.closing_date" type="text" value="{{ctrl.closing_date}}" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.date_opened"
                                    ng-click="ctrl.date_opened = true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="first_name"><strong>{{ctrl.resources.clientFirst}}*</strong></label>
                            <input class="form-control" name="first_name" type="text" ng-model="ctrl.user.user_profile_attributes.first_name" required ng-minlength="2" ng-maxlength="128" placeholder="John" autofocus />
                            <div ng-messages="ctrl.form.first_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="last_name"><strong>{{ctrl.resources.clientLast}}*</strong></label>
                            <input class="form-control" name="last_name" type="text" ng-model="ctrl.user.user_profile_attributes.last_name" required ng-minlength="2" ng-maxlength="128" placeholder="Smith" />
                            <div ng-messages="ctrl.form.last_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="email"><strong>{{ctrl.resources.clientEmail}}*</strong></label>
                            <input name="email" ng-model="ctrl.user.email" type="email" class="form-control" ng-maxlength="255" required/>
                            <div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="phone"><strong>{{ctrl.resources.contactPhone}}</strong></label>
                            <div class="input-group">
                                <span class="input-group-addon">+{{ctrl.country.code}}</span>
                                <input id="phone" ng-model="ctrl.user.user_profile_attributes.mobile_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                            </div>
                            <div ng-messages="ctrl.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="address">{{ctrl.resources.address1}}*</label>
                            <input name="address" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.address1" ng-maxlength="50" required/>
                            <div ng-messages="ctrl.form.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="city">{{ctrl.resources.city}}*</label>
                            <input name="city" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.city" ng-maxlength="50" required/>
                            <div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="state">{{ctrl.resources.state}}*</label>
                            <ui-select ng-model="ctrl.user.user_profile_attributes.address_attributes.state" on-select="ctrl.onSelect($item)" theme="bootstrap">
                                <ui-select-match placeholder="Select a state">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
                                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="zip">{{ctrl.resources.zip}}*</label>
                            <input name="zip" type="text" class="form-control" ng-model="ctrl.user.user_profile_attributes.address_attributes.zip" ng-maxlength="20" required/>
                            <div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left"><u>{{ctrl.resources.orderOptions}}:</u></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center">{{ctrl.resources.rushNote}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="checkbox">
                                <label>{{ctrl.resources.poolReport}}</label>
                                <input type="checkbox" ng-model="ctrl.reportOptions.pool" value="ctrl.reportOptions.pool" ng-true-value="true" ng-false-value="false">
                                <p class="form-text text-muted">
                                    {{ctrl.resources.additional29}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="checkbox">
                                <label>{{ctrl.resources.homeHistory}}</label>
                                <input type="checkbox" ng-model="ctrl.reportOptions.history" value="ctrl.reportOptions.history" ng-true-value="true" ng-false-value="false">
                                <p class="form-text text-muted">
                                    {{ctrl.resources.additional29}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="checkbox">
                                <label>{{ctrl.resources.rush}}</label>
                                <input type="checkbox" ng-model="ctrl.reportOptions.rush" value="ctrl.reportOptions.rush" ng-true-value="true" ng-false-value="false">
                                <p class="form-text text-muted">
                                    {{ctrl.resources.additional49}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.next('two')" ng-disabled="ctrl.form.$invalid">{{ctrl.resources.next}}</button>
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.step === 'two'">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-center">Upload Inspection Report</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" ng-click="ctrl.next('one')">{{ctrl.resources.back}}</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <hb-uploader class="hb-uploadeder" cfg="ctrl.uploader" file-added="ctrl.next('three')"></hb-uploader>
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.step === 'three'">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-center">{{ctrl.resources.uploadPoolReport}}</h4>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" ng-click="ctrl.next('two')">{{ctrl.resources.back}}</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <hb-uploader class="hb-uploadeder" cfg="ctrl.poolUploader" file-added="ctrl.next('four')"></hb-uploader>
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.step === 'four'">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-responsive">
                                <tr>
                                    <th>{{ctrl.resources.name}}</th>
                                    <th>{{ctrl.resources.cost}}</th>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.repairPricerReport}}</td>
                                    <td>{{ctrl.repair_pricer_costs.report | currency}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.poolReport}}</td>
                                    <td>{{ctrl.repair_pricer_costs.pool | currency}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.homeHistory}}</td>
                                    <td>{{ctrl.repair_pricer_costs.history | currency}}</td>
                                </tr>
                                <tr>
                                    <td>{{ctrl.resources.rush}}</td>
                                    <td>{{ctrl.repair_pricer_costs.rush | currency}}</td>
                                </tr>
                                <tr>
                                    <td><strong>{{ctrl.resources.total}}</strong></td>
                                    <td>{{ctrl.total | currency}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" ng-if="ctrl.total > 0">
                            <div class="row">
                                <div class="col-xs-12">
                                    <hb-credit-card-form cfg="ctrl.creditCardConfig"></hb-credit-card-form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" ng-click="ctrl.next('three')" ng-disabled="ctrl.processing">{{ctrl.resources.back}}</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-primary" ng-click="ctrl.getToken()" ng-disabled="ctrl.processing">{{ctrl.resources.order}}</button>
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.step === 'five'">
                    <p class="text-center">{{ctrl.resources.successMessage}}</p>
                </div>
            </form>
        </div>
    </div>
</div>