.repair-pricer-prepaid {
    h1 {
       font-size: 26px; 
       color: #ff6633;
    }
    
    .images {
        .homebinder {
            width: 75px;
            float: right;
            margin: 10px;
        }
        
        .repair-pricer {
            float: left;
            margin: 35px 10px 10px 10px;
        }
    }
    
    .form {
        margin-top: 15px;
    }
    
    .uploader {
        margin: 0px;
    }
}