.resources {
    
    .dropdown-menu {
        z-index: 1200;
    }
    
    .vertical-center {
        display: flex;
        align-items: center;
    }
    
    .orange {
        background: @brand-primary;
        color: white;
        height: auto;
        height: 140px;
        border-radius: 6px;
        
        
            div {
                
                .lead {
                    font-size: 15px;
                    color: white;
                }
            }
    }
    
    .blank {
        background: transparent;
        height: auto;
        height: 140px;
        border-radius: 6px;
        
        
        div {
            
            .lead {
                font-size: 15px;
                color: @brand-primary;
            }
        }
    }
    
    .glyphicon .glyphicon-plus {
        color: @brand-primary;
    }
    
    .btn-default {
        color: @brand-primary;
    }
}

.screenshot {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    display: block;
}

.white-buttons {
    
    .btn-default {
        color: @brand-primary;
        border-color: @brand-primary;
    }
}
