<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.title}} - {{ctrl.model.item.name}}</h4>
</div>
<div class="modal-body">
	<form name="ctrl.model.form" novalidate>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-12" ng-if="ctrl.model.currentUser.role === 'admin'">
					<div ng-if="ctrl.model.item.contractor">
						<label>{{ctrl.model.resources.contractor}}</label>
						<hb-home-pro-lookup cfg="ctrl.model.homeProLookupCfg" selection="ctrl.model.item.contractor"></hb-home-pro-lookup>
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
					<label for="name" class="control-label">{{ctrl.model.resources.nameColumn}}</label>
					<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="50" placeholder="John Doe" />
					<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12">
					<label for="types" class="control-label">{{ctrl.model.resources.typesColumn}}</label>
					<ui-select name="types" ng-model="ctrl.model.item.partner_contractor_types" tagging="ctrl.model.tagTransform" multiple close-on-select="true" on-select="ctrl.model.onTypeSelect($select, $item)" on-remove="ctrl.model.onTypeRemove($item)" reset-search-input="true" array-required>
						<ui-select-match placeholder="Plumber">{{$item.type.name}}</ui-select-match>
						<ui-select-choices refresh="ctrl.model.searchTypes($select.search)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.typeOptions">
							{{option.name}}
						</ui-select-choices>
					</ui-select>
					<div ng-messages="ctrl.model.form.types.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-if="!ctrl.model.item.id">
					<label for="send_email_invitation" class="control-label">{{ctrl.model.resources.notificationColumn}}</label>
					<input id="send_email_invitation" class="form-control" ng-model="ctrl.model.item.send_email_invitation" type="checkbox">
				</div>
				<div class="form-group col-md-12">
					<label for="name" class="control-label">{{ctrl.model.resources.subTypesColumn}}</label>
					<ui-select ng-model="ctrl.model.item.partner_contractor_sub_types" tagging="ctrl.model.tagTransform" multiple close-on-select="true" on-select="ctrl.model.onSubTypeSelect($select, $item)" on-remove="ctrl.model.onSubTypeRemove($item)" reset-search-input="true">
						<ui-select-match placeholder="Small Projects, Whole house">{{$item.sub_type.name}}</ui-select-match>
						<ui-select-choices refresh="ctrl.model.searchSubTypes($select.search)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.subTypeOptions">
							{{option.name}}
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.email.$invalid && ctrl.model.form.$submitted }">
					<label for="email" class="control-label">{{ctrl.model.resources.emailColumn}}</label>
					<input name="email" class="form-control" ng-model="ctrl.model.item.email" type="email" ng-maxlength="255" placeholder="johndoe@gmail.com" />
					<div ng-messages="ctrl.model.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.email.$invalid && ctrl.model.form.$submitted }">
					<label for="website" class="control-label">{{ctrl.model.resources.website}}</label>
					<input name="website" type="url" class="form-control" ng-model="ctrl.model.item.website" name="url" placeholder="https://www.mywebsite.com" ng-pattern="ctrl.model.url_regex" http-prefix/>
					<div ng-messages="ctrl.model.form.url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.phone.$invalid && ctrl.model.form.$submitted }">
					<label for="phone" class="control-label">{{ctrl.model.resources.phoneColumn}}</label>
					<div class="input-group">
						<span class="input-group-addon">+{{ctrl.model.country.code}}</span>
						<input name="phone" type="phone" class="form-control" ng-model="ctrl.model.item.phone.national" placeholder="555-123-4567" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
					</div>
					<div ng-messages="ctrl.model.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div ng-if="ctrl.model.item.id" class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.secondary_name.$invalid && ctrl.model.form.$submitted }">
					<label for="secondary_name" class="control-label">{{ctrl.model.resources.secondaryName}}</label>
					<input name="secondary_name" class="form-control" ng-model="ctrl.model.item.secondary_name" type="text" ng-maxlength="100" placeholder="John Smith" />
					<div ng-messages="ctrl.model.form.secondary_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div ng-if="ctrl.model.item.id" class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.secondary_phone.$invalid && ctrl.model.form.$submitted }">
					<label for="secondary_phone" class="control-label">{{ctrl.model.resources.secondaryPhone}}</label>
					<div class="input-group">
						<span class="input-group-addon">+{{ctrl.model.country.code}}</span>
						<input id="secondary_phone" ng-model="ctrl.model.item.secondary_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
					</div>
					<div ng-messages="ctrl.model.form.secondary_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div ng-if="ctrl.model.item.id" class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.secondary_email.$invalid && ctrl.model.form.$submitted }">
					<label for="secondary_email" class="control-label">{{ctrl.model.resources.secondaryEmail}}</label>
					<input name="secondary_email" class="form-control" ng-model="ctrl.model.item.secondary_email" type="text" ng-maxlength="255" />
					<div ng-messages="ctrl.model.form.secondary_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.address1.$invalid && ctrl.model.form.$submitted }">
					<label for="address1" class="control-label">{{ctrl.model.resources.address1}}</label>
					<input name="address1" class="form-control" ng-model="ctrl.model.item.address.address1" type="text" ng-maxlength="50" />
					<div ng-messages="ctrl.model.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.address2.$invalid && ctrl.model.form.$submitted }">
					<label for="address2" class="control-label">{{ctrl.model.resources.address2}}</label>
					<input name="address2" class="form-control" ng-model="ctrl.model.item.address.address2" type="text" ng-maxlength="50" />
					<div ng-messages="ctrl.model.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.city.$invalid && ctrl.model.form.$submitted }">
					<label for="city" class="control-label">{{ctrl.model.resources.city}}</label>
					<input name="city" class="form-control" ng-model="ctrl.model.item.address.city" type="text" ng-maxlength="50" />
					<div ng-messages="ctrl.model.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.state.$invalid && ctrl.model.form.$submitted }">
					<label for="state" class="control-label">{{ctrl.model.resources.state}}</label>
					<ui-select ng-model="ctrl.model.item.address.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)" name="state">
						<ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices group-by="ctrl.model.address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
							<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
					<div ng-messages="ctrl.model.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.zip.$invalid && ctrl.model.form.$submitted }">
					<label for="zip" class="control-label">{{ctrl.model.resources.zip}}</label>
					<input name="zip" class="form-control" ng-model="ctrl.model.item.address.zip" type="text" ng-maxlength="20" />
					<div ng-messages="ctrl.model.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.notes.$invalid && ctrl.model.form.$submitted }">
					<label>{{ctrl.model.resources.notesColumn}}</label>
					<textarea name="notes" class="form-control" ng-model="ctrl.model.item.notes" type="text" rows="5" ng-maxlength="1000" placeholder="Enter additional details about this home pro"></textarea>
					<div ng-messages="ctrl.model.form.notes.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ctrl.model.save()">{{ctrl.model.resources.save}}</button>
	<button ng-click="ctrl.model.cancel()" type="button" class="btn btn-default">{{ctrl.model.resources.cancel}}</button>
</div>