<div class="container-fluid areas-view">
	<hb-header cfg="ctrl.model.toolbarCfg" query="ctrl.model.query" sort="ctrl.model.reverseSort"></hb-header>
	<div class="row">
		<div ng-repeat="appliance in ctrl.model.items | filter: ctrl.model.query | orderBy:ctrl.model.sortBy:ctrl.model.reverseSort track by $index">
			<div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
			<div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
			<div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
			<div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body areas" ng-click="ctrl.model.viewDetails(appliance)">
						<a href="">
							<h3 class="panel-title">{{appliance.name}}<small class="text-danger hidden-sm" ng-show="ctrl.model.showRecallMessage(appliance)">&nbsp;&nbsp;{{ctrl.model.resources.potentialRecall}}</small></h3>
						</a>
						<h5 class="text-muted hidden-sm">{{appliance.manufacturer}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pagination ng-if="ctrl.model.items.length > 0" total-items="ctrl.model.toolbarCfg.total" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.refresh()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
	</pagination>
	<div class="row" ng-if="ctrl.model.items.length < 1">
		<div class="col-xs-12">
			<img class="img-responsive center-block" ng-src="/img/blankAppliancesExample.png">
		</div>
	</div>
</div>