<form name="ctrl.model.form" role="form" novalidate>
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly && ctrl.model.currentUser.role === 'admin'">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly && ctrl.model.currentUser.role === 'admin'" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.title}}<small class="text-center" ng-if="ctrl.model.currentUser.role === 'admin'">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-left">Payment</h3>
            <p ng-if="ctrl.model.item.stripe_customer_id">{{ctrl.model.item.name}} is currently paying with {{ctrl.model.card.brand}} ending in - {{ctrl.model.card.last4}} EXP: {{ctrl.model.card.exp_month}}/{{ctrl.model.card.exp_year}}.</p>
            <button class="btn btn-default" ng-click="ctrl.model.activateAccount()" ng-if="!ctrl.model.item.stripe_customer_id">Activate Your Account!</button>
            <button class="btn btn-default" ng-click="ctrl.model.updatePayment()" ng-if="ctrl.model.item.stripe_customer_id">Update Payment Method</button>
        </div>
    </div>
    <div ng-if="ctrl.model.currentUser.role === 'admin'" style="margin-top: 15px;">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="account_number">{{ctrl.model.resources.number}}</label>
                <p class="form-control-static">{{ctrl.model.item.account_number}}</p>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="name">{{ctrl.model.resources.name}}*</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.name}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="name" ng-model="ctrl.model.item.name" type="text" class="form-control" required placeholder="Account Name" />
                <div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="account_status">{{ctrl.model.resources.status}}*</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.account_status}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="account_status" ng-model="ctrl.model.item.account_status" class="form-control" ng-options="status.name as status.value for status in ctrl.model.account_statuses" required>
            						</select>
                <div ng-messages="ctrl.model.form.account_status.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="account_sub_status">{{ctrl.model.resources.subStatus}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.account_sub_status}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="account_sub_status" ng-model="ctrl.model.item.account_sub_status" class="form-control" ng-options="status.name as status.value for status in ctrl.model.account_sub_statuses">
            						</select>
                <div ng-messages="ctrl.model.form.account_sub_status.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="account_type">{{ctrl.model.resources.type}}*</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.account_type}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="account_type" ng-model="ctrl.model.item.account_type" class="form-control" ng-options="type.name as type.value for type in ctrl.model.account_types" required>
            						</select>
                <div ng-messages="ctrl.model.form.account_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="account_sub_type">{{ctrl.model.resources.subType}}*</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.account_sub_type}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="account_sub_type" ng-model="ctrl.model.item.account_sub_type" class="form-control" ng-options="type.name as type.value for type in ctrl.model.account_sub_types" required>
            						</select>
                <div ng-messages="ctrl.model.form.account_sub_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="payment_type">{{ctrl.model.resources.payment}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.payment_type}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="payment_type" ng-model="ctrl.model.item.payment_type" class="form-control" ng-options="type.name as type.value for type in ctrl.model.payment_types">
        						</select>
                <div ng-messages="ctrl.model.form.payment_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="billing_frequency">{{ctrl.model.resources.frequency}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.billing_frequency}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="billing_frequency" ng-model="ctrl.model.item.billing_frequency" class="form-control" ng-options="type.name as type.value for type in ctrl.model.billing_frequencies">
        						</select>
                <div ng-messages="ctrl.model.form.billing_frequency.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="trial_expiration">{{ctrl.model.resources.expiration}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.trial_expiration | date}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="trial_expiration" ng-model="ctrl.model.item.trial_expiration" type="text" class="form-control" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options"
                    show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[0].opened" ng-click="ctrl.model.open(0)" />
                <div ng-messages="ctrl.model.form.trial_expiration.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="billing_activation">{{ctrl.model.resources.activation}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.billing_activation | date}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="billing_activation" ng-model="ctrl.model.item.billing_activation" type="text" class="form-control" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options"
                    show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[1].opened" ng-click="ctrl.model.open(1)" />
                <div ng-messages="ctrl.model.form.billing_activation.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="subscription_amount_cents">{{ctrl.model.resources.subscription}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.subscription_amount_cents | currency}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="subscription_amount_cents" ng-model="ctrl.model.item.subscription_amount_cents" type="text" class="form-control" placeholder="Subscription Amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                />
                <div ng-messages="ctrl.model.form.subscription_amount_cents.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="transaction_amount_cents">{{ctrl.model.resources.transaction}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.transaction_amount_cents | currency}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="transaction_amount_cents" ng-model="ctrl.model.item.transaction_amount_cents" type="text" class="form-control" placeholder="Transaction Amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"
                />
                <div ng-messages="ctrl.model.form.transaction_amount_cents.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="notes">{{ctrl.model.resources.notes}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.notes}}</p>
                <textarea ng-if="!ctrl.model.settings.readOnly" name="notes" ng-model="ctrl.model.item.notes" class="form-control" placeholder="Notes" rows="3"></textarea>
                <div ng-messages="ctrl.model.form.notes.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="notes">{{ctrl.model.resources.stripe}}</label>
                <input ng-if="!ctrl.model.settings.readOnly" name="stripe_customer_id" ng-model="ctrl.model.item.stripe_customer_id" type="text" class="form-control" placeholder="Stripe Customer ID" />
                <a ng-if="ctrl.model.settings.readOnly" href="https://dashboard.stripe.com/customers/{{ctrl.model.item.stripe_customer_id}}">
                    <p class="form-control-static">
                        {{ctrl.model.item.stripe_customer_id}}</p>
                </a>
            </div>
        </div>
    </div>
</form>
