<div class="page-header">
    <h3>Binder Subscription&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a>
        <div class="form-group pull-right" ng-if="ctrl.model.currentUser.role === 'admin' && !ctrl.model.subscription" >
            <button ng-click="ctrl.model.addSubscription()" type="button" class="btn btn-primary ng-binding"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;{{ctrl.model.resources.addSubscription}}</button>
        </div>
    </h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12">
        <table class="table table-hover table-responsive" style="background-color: white;">
            <thead>
                <tr>
                    <th ng-repeat="header in ctrl.model.resources.headers">{{header}}</th>
                    <th ng-if="ctrl.model.currentUser.role === 'admin'">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="ctrl.model.subscription">
                    <td>{{ctrl.model.subscription.plan}}</td>
                    <td>{{ctrl.model.subscription.payment_status}}</td>
                    <td>{{ctrl.model.subscription.card_type}}</td>
                    <td>{{ctrl.model.subscription.last4}}</td>
                    <td>{{ctrl.model.subscription.discountDisplay | currency}}</td>
                    <td>{{ctrl.model.subscription.end_date | date}}</td>
                    <td ng-if="ctrl.model.currentUser.role === 'admin'">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>{{ctrl.model.resources.options}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li ng-if="ctrl.model.subscription.plan === 'free'" ng-click="ctrl.model.upgradeSubscription()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;{{ctrl.model.resources.upgradeSubscription}}
                                    </a>
                                </li>
                                <li ng-if="ctrl.model.subscription.plan != 'free'" ng-click="ctrl.model.downgradeSubscription()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;{{ctrl.model.resources.downgradeSubscription}}
                                    </a>
                                </li>
                                <li ng-click="ctrl.model.deleteItem(ctrl.model.subscription, $index)">
                                    <a href="">
                                        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.deleteSubscription}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!ctrl.model.subscription">
                    <td colspan="7">
                        <h3 class="text-center">{{ctrl.model.resources.noSubscription}}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>