<application-header></application-header>

<div class="container-fluid">
	<div class="row push-top-legal">
		<div class="col-xs-12">
			<h1 class="text-center">HomeBinder.com Privacy Policy</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>This Privacy Policy is effective as of July 8, 2013:</p>
			<p>Thank you for visiting the HomeBinder web site ("Site") located at www.homebinder.com. This Privacy Policy details certain policies implemented by HomeBinder, Inc. ("HomeBinder", "us", "we" or "our") governing use of personally identifiable information
				collected from users of our Site. By using the Site, you agree to this Privacy Policy and the terms and conditions set forth below.</p>

			<br />
			<h4>AMENDMENTS TO PRIVACY POLICY</h4>
			<hr />
			<p>If our information practices change at some time in the future we will post the policy changes to our Site to notify you of these changes. If you are concerned about how your information is used, you should check back at our Site periodically.</p>

			<br />
			<h4>WHAT PERSONAL INFORMATION DO WE COLLECT?</h4>
			<hr />
			<p>We collect and maintain three types of information from users of our Site:
				<ul>
					<li><u>Personal Data</u>: We collect certain personally identifiable information ("Personal Data") from users of our Site, including name, physical address, e-mail address, and credit card information. In addition, as part of our service offerings, users
						can upload and post information, documents, videos, photos and other materials relating to residences they own, manage or operate ("User Content"), which User Content may also contain Personal Data of users and others. You are responsible for obtaining
						permission to upload or post any Personal Data of any third party contained in the User Content you provide to the Site.</li>
					<br />
					<li><u>Aggregate Data</u>: This is data about groups of users that does not identify directly or indirectly any particular individual. For example, we may analyze Personal Data and Anonymous Data for trends and statistics in the aggregate, but such information
						will be maintained, used and disclosed in aggregate form only and it will not contain personally identifiable information. We may use such Aggregate Data to analyze trends, administer the Site, track users' movement, and gather broad demographic
						information for aggregate use.</li>
				</ul>
			</p>

			<br />
			<h4>HOW DO WE COLLECT YOUR INFORMATION?</h4>
			<hr />
			<p>We collect Personal Data and Anonymous Data through various different means from users of our Site:
				<ul>
					<li>We collect information, including Personal Data, when users register on our Site, purchase products or services on our Site, interact with us through customer service or other communications, respond to customer surveys, enter contests or sweepstakes
						or other promotions, or post or upload information or material to our Site, including on message boards, chat rooms and other public forums and interactive areas ("Interactive Areas").</li>
					<br />
					<li>We use "cookie" technology to enhance your experience. A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. We do not link the information we store in cookies to any personally-identifiable information you
						submit while on our Site. If you've registered for our Site, cookies tell us whether you've been to the Site before, and help identify information you've already viewed on the Site or information that would be of most interest to you. The cookie
						itself does not obtain any personal information from you or extract any information from your computer.</li>
				</ul>
			</p>

			<br />
			<h4>HOW DO WE USE THE INFORMATION WE COLLECT?</h4>
			<hr />
			<p>We use the Personal Data and other information we collect to:
				<ul>
					<li>Provide you products and services through our Site;</li>
					<br />
					<li>Process transactions online and to communicate with you regarding our current and future products and services;</li>
					<br />
					<li>Notify you of our new products and services and other developments and provide you information of the products and services of third parties with whom we have relationships;</li>
					<br />
					<li>Offer, administer and fulfill promotions in compliance with applicable laws, including, but not limited to, administering sweepstakes and contest promotions;</li>
					<br />
					<li>Improve the content, products and services offered through our Site; and</li>
					<br />
					<li>Track and monitor activities to ensure compliance with our Terms and Conditions and other policies.</li>
				</ul>
			</p>

			<br />
			<h4>WITH WHOM DO WE SHARE THE INFORMATION WE COLLECT?</h4>
			<hr />
			<p>Our policy is not to disclose your Personal Data to any third parties, except in the following circumstances:
				<ul>
					<li>We may disclose such information to third party vendors (e.g., data storage and processing facilities) that we use to assist us in storing and processing our data, conducting transactions through this Site and in managing and providing services through
						the Site. We endeavor to require our third party vendors to agree to similar obligations of confidentiality to those contained in this Privacy Policy;</li>
					<br />
					<li>We may disclose such information to other third parties at your request or when you have elected to use their services through our Site. For example, you may elect to publicly post or display Personal Data and information about your residence in
						our Interactive Areas. We are not responsible for any disclosure or use of your Personal Data that are posted to Interactive Areas or that you provide to third parties (we encourage you to review their privacy policies before submitting Personal
						Data to them);</li>
					<br />
					<li>We may disclose Personal Data and other information about you as we believe is reasonably necessary to comply with laws, regulations, court or administrative orders, or other governmental authority or to prevent harm to yourself or others, or to
						the Site; and</li>
					<br />
					<li>Finally, we may disclose your Personal Data to our subsidiary and affiliated companies, upon a transfer or sale to another entity of all or substantially all of our stock or assets in the line of business that this privacy policy relates or upon
						any merger or other corporate reorganization.</li>
				</ul>
			</p>
			<p>We may also share Aggregate Data regarding use of our Site with third parties for marketing and other purposes, but such aggregate information will not specifically identify any particular user.</p>

			<br />
			<h4>LINKS TO THIRD PARTY SITES</h4>
			<hr />
			<p>The Site may provide links to other Web sites or resources over which HomeBinder does not have control ("External Web Sites"). You acknowledge that HomeBinder is providing these links to you only as a convenience, and further agree that HomeBinder
				is not responsible for the content of such External Web Sites. Your use of External Web Sites is subject to the terms of use and privacy policies located on the linked to External Web Sites. We recommend that you review such policies before using
				such External Web Sites.</p>

			<br />
			<h4>ACCESS TO YOUR INFORMATION</h4>
			<hr />
			<p>We provide you the ability to exercise certain controls and choices regarding our collection, use and sharing of your Personal Data:
				<ul>
					<li>You may correct, update and delete your registration account;</li>
					<br />
					<li>You may change your choices for subscriptions;</li>
					<br />
					<li>You may choose whether to receive from us offers and promotions for our products and services, or products and services that we think may be of interest to you;</li>
				</ul>
			</p>
			<p>You may request access to the personal information we hold about you and that we amend or delete it and we request third parties with whom we have shared the information do the same Please be aware that, if you do not allow us to collect personal information
				from you, we may not be able to deliver certain products and services to you, and some of our services may not be able to take account of your interests and preferences.</p>

			<br />
			<h4>CHILDREN</h4>
			<hr />
			<p>HomeBinder is not intended for use by children and HomeBinder does not knowingly collect personally identifiable information from children under the age of 18. Children should not provide us any personally identifiable information.</p>

			<br />
			<h4>SECURITY</h4>
			<hr />
			<p>We or our technology partners may employ procedural and technological measures designed to protect the security of Personal Data that we may collect. Such measures are reasonably designed to help protect your Personal Data from loss, unauthorized access,
				disclosure, alteration or destruction. We may use firewalls, password protection and other security measures to help prevent unauthorized access to your Personal Data. However, you are responsible for maintaining the confidentiality and security of
				the login id and password for your account at the Site, and for all activities on your account using that login id and password. If you suspect or know any unauthorized use of your login id and password, please contact us immediately at <a href="mailto:support@homebinder.com">support@homebinder.com</a></p>

			<br />
			<h4>PRIVACY POLICY OFFICER</h4>
			<hr />
			<p>For questions about our privacy policy, please contact:
				<address>
			<strong>Greg Moretti</strong><br>
			greg@homebinder.com<br>
			<abbr title="Phone">P:</abbr> 800-377-6915 ext. 3
			</address>
			</p>
		</div>
	</div>
</div>

<application-footer></application-footer>