<application-header></application-header>

<div class="container-fluid">
	<div class="row push-top-legal">
		<div class="col-xs-12">
			<h1 class="text-center">HomeBinder.com Terms of Use</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEB SITE.</p>
			<p>EFFECTIVE DATE: July 18, 2013. LAST UPDATED: November 3, 2015</p>
			<p>By using www.homebinder.com and any related subdomains, services, software and tools offered on or through HomeBinder.com (collectively, the "Site"), you agree to these Terms and Conditions and any and all policies set forth on the Site (collectively
				the "Agreement"). As used in this Agreement, "HomeBinder", "us" or "we" refers to HomeBinder.com, Inc. PLEASE READ THIS AGREEMENT CAREFULLY AS IT CONSTITUTES A BINDING CONTRACT BETWEEN YOU AND HOMEBINDER. HomeBinder reserves the right to make changes
				to this Agreement at any time, and such changes will be effective immediately upon being posted on the Site. Each time you use the Site, you should review the current Agreement. You can determine when this Agreement was last revised by referring to
				the "LAST UPDATED" legend at the top of this Agreement. Your continued use of the Site will indicate your acceptance of the current Agreement.</p>

			<br />
			<h4>SITE USE  AND RESTRICTIONS</h4>
			<hr />
			<p>The Site offers various features related to your own residence or residences that you may own, manage or operate. You may access and use the Site on a non-exclusive, non-transferable basis, for your personal non-commercial use in accordance with all
				applicable laws and regulations, and in accordance with this Agreement. The Site and may not be used for any commercial purposes unless expressly agreed to by HomeBinder in writing.</p>
			<p>You shall not: (a) modify, distribute, transmit, display, perform, reproduce, publish, license, create derivative works of, transfer, or sell any portion of the Site or the Services; (b) reverse engineer, decompile, disassemble, or attempt to derive
				the source code for any software or feature offered on or through the Site; (c) other than for your use of the Site as expressly permitted in this Agreement, access or attempt to access any systems or servers on which the Site is hosted or modify
				or alter the Site in any way; or (d) forge headers, create a false identity or otherwise manipulate identifiers in order to deceive others or disguise the origin of any User Content or other information transmitted to or via the Sites.</p>

			<br />
			<h4>REGISTRATION FOR SERVICES AND YOUR ACCOUNT</h4>
			<hr />
			<p>Your username and password are for your personal use only. If you use the Site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility
				for all activities that occur under your account or password, whether or not you authorized or were aware of them. HomeBinder reserves the right to refuse service, terminate accounts, remove or edit content, or cancel or services in its sole discretion.</p>
			<p>You agree that HomeBinder may periodically send you email to the email address you signed up with for various items such as suggested content, recommendations, reminders, newsletters, promotions, and other notices about the system and your content
				in the system.</p>

			<br />
			<h4>PRIVACY POLICY</h4>
			<hr />
			<p>Any personal information that you provide in connection with your registration and use of the Site will be subject to the HomeBinder Privacy Policy at www.homebinder.com/privacy. By using the Site, you agree to be bound by the terms of the Privacy
				Policy.</p>

			<br />
			<h4>USER SUBMISSIONS</h4>
			<hr />
			<p>The Site will allow you to upload, post, and display documents relating to your residence such as appliance and equipment information, home improvement and repairs, invoices, user manuals, photos, mortgage-related documents, financial information,
				video, photos, text messages, other materials, items and user-generated content (collectively, "User Content").</p>
			<p>If you submit any User Content within or in connection with the Site, you agree (a) not to upload, post or otherwise transmit any User Content that violates or infringes in any way upon the rights of others, including any copyright, trademark , trade
				secret, patent or other intellectual property rights, or any statements which may defame, harass, stalk or threaten others; (b) not to upload, post or otherwise transmit any User Content that is offensive or contains expressions of bigotry, racism,
				abusiveness, vulgarity or profanity; (c) not to upload, post or otherwise transmit any material that contains sexually explicit images, pornography or that is otherwise obscene; (d) not to upload, post or otherwise transmit any User Content that violates
				any law or engage in activity that would constitute a criminal offense or give rise to a civil liability; (e) not to upload, post or otherwise transmit, without HomeBinder's express prior approval, User Content which contains advertising or any solicitation
				with respect to products or services; (f) not to impersonate any person or entity; (g) not to invade or violate any person's right of privacy or publicity, including, without limitation, harvesting or collecting personally-identifiable information;
				(g) not to upload, post or otherwise transmit any User Content, software or other materials which contain a virus or other harmful or disruptive component; (h) not to interfere with or disrupt the Site or the servers or networks connected to the Site,
				or disobey any requirements, procedures, policies or regulations of networks connected to the Site; and (i) not to post any information that is false, misleading or inaccurate. Any User Content that violates any of the foregoing requirements may be
				edited, deleted or removed by HomeBinder without notice to users.</p>
			<p>HomeBinder shall have the right, but not the obligation, to monitor User Content posted or uploaded to the Site to determine compliance with this Agreement or any other policies posted by HomeBinder and to satisfy any law, regulation or authorized
				government request. HomeBinder reserves the right to screen, edit, refuse to post or remove without notice any User Content posted or uploaded to the Site at any time and for any reason.</p>

			<br />
			<h4>POSTING AND TRANSFER OF USER CONTENT</h4>
			<hr />
			<p>This Site may allow you to transfer such User Content to another user or to any person that has purchased your residence or that you wish to share with. You represent and warrant that you have full right, power and authority to post and transfer the
				User Content and that doing so will not violate the rights or interests of any third party. HomeBinder is not responsible for any loss, damage, mutilation, alteration, theft, deletion or modification of any User Content.</p>

			<br />
			<h4>TERMINATION</h4>
			<hr />
			<p>HomeBinder reserves the right, without notice and in its sole discretion, to terminate your account or your use of the Site, and to block or prevent future access to and use of the Site if you violate any terms of this Agreement. Upon any such termination,
				your right to use the Site will immediately cease. You agree that any termination of your access to or use of the Site may be effected without prior notice, and that we may immediately deactivate or delete your user credentials, and all related information
				and files associated with it, and/or bar any further access to such information or files. You agree that we shall not be liable to you or any third party for any termination of your access to the Site or to any such information or files, and we shall
				not be required to make such information or files available to you after any such termination. Upon termination, all provisions of this Agreement which are by their nature intended to survive termination, all representations and warranties, limitation
				of liabilities, and all indemnities shall survive such termination.</p>

			<br />
			<h4>INTELLECTUAL PROPERTY RIGHTS</h4>
			<hr />
			<p>All content included on the Site, such as text, graphics, logos, images, audio clips, video, data, software and other material (collectively "Content"), is owned or licensed property of HomeBinder or its software and content suppliers and is protected
				by copyright, trademark, patent or other proprietary rights. The collection, arrangement, and assembly of all Content on the Site is the exclusive property of HomeBinder and protected by U.S. and international copyright laws.</p>
			<p>HomeBinder&trade; and the HomeBinder logo are trademarks of HomeBinder.com, Inc. Unauthorized use is strictly prohibited.</p>

			<br />
			<h4>DISCLAIMERS OF WARRANTIES</h4>
			<hr />
			<p>While HomeBinder attempts to ensure your access and use of the Site is safe, HomeBinder cannot and does not represent or warrant that the Site or its server will be error-free, uninterrupted, free from unauthorized access (including third party hackers
				or denial of service attacks) or otherwise meet your requirements. HomeBinder further disclaims any and all warranties, express or implied, regarding the User Content.</p>
			<p>THE SITE AND ALL INFORMATION, CONTENT, MATERIALS AND OTHER PRODUCTS (INCLUDING SOFTWARE), SERVICES AND USER CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE ARE PROVIDED BY HOMEBINDER ON AN "AS IS," "AS AVAILABLE" BASIS, WITHOUT
				REPRESENTATIONS OR WARRANTIES OF ANY KIND. HOMEBINDER MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE OR THE INFORMATION, THE ACCURACY OR COMPLETENESS OF CONTENT, MATERIALS, PRODUCTS (INCLUDING
				SOFTWARE), SERVICES OR USER CONTENT INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THE SITE OR ITS SERVERS, THAT THE SERVICES WILL BE ERROR FREE OR UNINTERRUPTED, OR THAT EMAILS SENT FROM HOMEBINDER ARE FREE OF MALWARE OR OTHER HARMFUL COMPONENTS.
				YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE IS AT YOUR SOLE RISK. HOMEBINDER WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THE SITE OR FROM ANY INFORMATION, CONTENT, MATERIALS PRODUCTS (INCLUDING SOFTWARE), SERVICES OR USER
				CONTENT OF ANY KIND ARISING FROM THE USE OF THE SITE, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, CONSEQUENTIAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN WRITING. TO THE FULL EXTENT PERMITTED BY LAW, HOMEBINDER DISCLAIMS
				ANY AND ALL REPRESENTATIONS AND WARRANTIES WITH RESPECT TO THE SITE AND ITS CONTENTS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE OR USE.</p>
			<p>On the Site, we may display names, marks, products or services of third parties, pop-up texts, or links to third party sites. IN NO EVENT WILL WE BE LIABLE, DIRECTLY OR INDIRECTLY, TO ANYONE FOR ANY DAMAGE OR LOSS ARISING FROM OR RELATING TO ANY USE,
				CONTINUED USE OR RELIANCE ON ANY PRODUCTS, SERVICES, OR LINKED THIRD PARTY SITE, OR ANY LINK CONTAINED IN A LINKED SITE. If you decide to link to any such third party sites, you do so entirely at your own risk.</p>

			<br />
			<h4>LIMITATION OF LIABILITY</h4>
			<hr />
			<p>UNDER NO CIRCUMSTANCES SHALL HOMEBINDER OR ANY OF ITS RESPECTIVE EMPLOYEES, DIRECTORS, OFFICERS, AGENTS, VENDORS OR SUPPLIERS BE LIABLE FOR 
			ANY DIRECT OR INDIRECT LOSSES OR DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OF OR INABILITY TO USE THE SITE. THIS IS A COMPREHENSIVE 
			LIMITATION OF LIABILITY THAT APPLIES TO ALL LOSSES AND DAMAGES OF ANY KIND INCLUDING RELATED TO APPLIANCE RECALLS (WHETHER GENERAL, SPECIAL, 
			CONSEQUENTIAL, INCIDENTAL, EXEMPLARY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, LOSS OF DATA, INCOME OR PROFITS), WHETHER IN CONTRACT, 
			NEGLIGENCE OR OTHER TORTIOUS ACTION, EVEN IF AN AUTHORIZED REPRESENTATIVE OF HOMEBINDER HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE 
			POSSIBILITY OF SUCH DAMAGES. IF YOU ARE DISSATISFIED WITH THE SITE OR ANY CONTENT ON THE SITE, OR WITH THIS AGREEMENT, YOUR SOLE AND EXCLUSIVE 
			REMEDY IS TO DISCONTINUE USING THE SITE. YOU ACKNOWLEDGE THAT YOUR USE OF THE SITE IS AT YOUR SOLE RISK. APPLICABLE LAW MAY NOT ALLOW THE 
			LIMITATION OF LIABILITY SET FORTH ABOVE, SO THIS LIMITATION OF LIABILITY MAY NOT APPLY TO YOU.</p>

			<br />
			<h4>REPRESENTATION AND WARRANTIES/INDEMNIFICATION AND DEFENSE OF HOMEBINDER</h4>
			<hr />
			<p>You represent and warrant that your User Content is accurate and not misleading, does not and will not violate the IP Rights or any other rights of any third party, and does not violate this Agreement. As a condition of the use of the Site, you agree
				to defend, indemnify and hold harmless HomeBinder, and its respective employees, directors, officers, agents, vendors and suppliers from and against any liabilities, losses, investigations or inquiries, claims, suits, damages, costs and expenses (including
				without limitation, reasonable attorneys' fees and expenses) (each, a "Claim") arising out of or otherwise relating to your use of the Site or the User Content.</p>

			<br />
			<h4>ENFORCEMENT OF THIS AGREEMENT</h4>
			<hr />
			<p>BY ACCESSING AND USING THE SITE AND THE SERVICES, YOU AGREE THAT YOUR ACCESS TO AND USE OF THE SITE AND SERVICES IS SUBJECT TO THIS AGREEMENT, AS WELL AS ALL APPLICABLE LAWS, AS GOVERNED AND INTERPRETED PURSUANT TO THE LAWS OF THE STATE OF MASSACHUSETTS,
				UNITED STATES OF AMERICA. The laws of the State of Massachusetts, without regard to its choice-of-law principles, govern all matters arising out of or related to this Agreement, including the sale of any products. You agree that the exclusive forum
				and venue for any legal action arising out of or related to this Agreement, including the sale or license of any products, shall be the federal or state courts of the County of Middlesex, Massachusetts and you submit to the personal jurisdiction and
				venue of those courts.</p>

			<br />
			<h4>COPYRIGHT AND TRADEMARK INFRINGEMENT</h4>
			<hr />
			<p>HomeBinder may, in appropriate circumstances and at our discretion, terminate service and/or access to the Site for users who infringe the intellectual property rights of others. If you believe that your work is the subject of copyright infringement
				and/or trademark infringement and appears on our Sites, please provide HomeBinder's designated agent the following information required by the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act, 17 U.S.C.
				&sect;512 ("DMCA"):</p>
			<p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Identification of the copyrighted and/or trademarked work claimed to have been infringed, or, if multiple works
				at a single online site are covered by a single notification, a representative list of such works at that site. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or
				access to which is to be disabled at the Sites, and information reasonably sufficient to permit HomeBinder to locate the material. Information reasonably sufficient to permit HomeBinder to contact you as the complaining party, such as an address,
				telephone number, and, if available, an electronic mail address at which you may be contacted. A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright and/or trademark owner,
				its agent, or the law. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Send any notices to HomeBinder.com,
				Inc at 358 Great Road, Acton, MA 01720 ATTN: Jack Huntress. Please also note that for copyright infringements under Section 512(f) of the U.S. Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing
				may be subject to liability.</p>

			<br />
			<h4>MISCELLANEOUS</h4>
			<hr />
			<p>This Agreement, including policies incorporated herein, constitute the entire agreement between you and HomeBinder with respect to the Site. This Agreement supersedes all prior or contemporaneous communications and proposals, whether electronic, oral
				or written, between you and HomeBinder with respect to the Site. No failure to exercise, partial exercise of, or delay in exercising any right or remedy, or failure to require the satisfaction of any condition under, this Agreement shall operate as
				a waiver or estoppel of any right, remedy or condition. If any provision of this Agreement is held invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions will not be affected or impaired. Nothing in
				this Agreement creates a relationship of agent and principal, partners, joint venturers or employer-employee between the parties, and no act or obligation of either party will in any way bind the other. You may not assign, transfer or sublicense any
				or all of your rights or obligations under this Agreement without our express prior written consent. We may also provide notice of changes to this Agreement by displaying such notices or by providing links to such notices. You agree that a printed
				version of this Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents
				and records originally generated and maintained in printed form. We will not be responsible for failure to fulfill any obligation due to causes beyond our control.</p>

		</div>
	</div>
</div>

<application-footer></application-footer>