<div class="row">
    <div class="col-xs-12 email-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="logo" src="/img/flatlogo2s.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4 style="margin-bottom: 18px;">Hello Agent!</h4>
                <h4>{{ctrl.model.branding_user.user_profile_attributes.company}} has set up John Smith with a free HomeBinder account with maintenance reminder emails, appliance recall alerts, and more as part of the inspection service at 1234 Address, Boston, MA.</h4>
                <div ng-if="ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification'">
                    <h4>Your inspector has also paid extra so that you can get a free Repair Pricer report that will provide you, within 24 hours, the repair cost estimates for the items discovered in the inspection report for upcoming negotiations.</h4>
                    <h4>You can order the report for your client by clicking the button below.</h4>
                    <button class="btn btn-primary-dark flat-button" type="button">Order Repair Pricer</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4 style="margin-bottom: 18px;"><strong>Note From {{ctrl.model.branding_user.user_profile_attributes.company}}:</strong></h4>
                <div ng-if="(ctrl.model.email_type === 'agent_transfer_notification' && !ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent) ||
                            (ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification' && !ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent)">
                    <h4>We provide all of our clients with a free lifetime subscription to HomeBinder as part of their inspection service.</h4>
                    <h4>A primary reason why we've paid for HomeBinder is so that you the agent can stay top of mind with our mutual clients after the transaction.</h4>
                </div>
                <div ng-if="ctrl.model.email_type === 'agent_transfer_notification' && ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent">
                    <h4 ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent"></h4>
                </div>
                <div ng-if="ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification' && ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent">
                    <h4 ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div ng-if="ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification'">
                    <h4>This branding below will be included in all maintenance reminder emails and will also be included in the client's HomeBinder as the "Agent of Record".</h4>
                    <br>
                </div>
                <h4><strong>Click the button below</strong> to confirm/edit your contact information that will be viewable by your clients. You can update your information at any time.</h4>
                <br>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <div class="row">
                            <div class="col-xs-6">
                                <img class="img-responsive center-block" ng-src="/img/avatar.png"></img>
                            </div>
                            <div class="col-xs-6">
                                <img class="img-responsive center-block" ng-src="/img/genericlogo.jpg"></img>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <h4>Agent First Name</h4>
                        <h4>Agent Last Name</h4>
                        <h4>Agent Email</h4>
                        <h4>Agent Phone Number</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-primary-dark flat-button" type="button">Access my Account!</button>
                    </div>
                </div>
                <br>
                <h4><strong>Note:</strong> You will not be able to get a copy of the inspection report through HomeBinder as each binder is private to the client. Please contact the client or the Home Inspector directly to get a copy.</h4>
                <br>
            </div>
        </div>
        <div class="row branding">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-6">
                        <h5 style="margin-bottom: 18px;">Courtesy of,</h5>
                        <h5>{{ctrl.model.branding_user.user_profile_attributes.company}}</h5>
                        <h5>{{ctrl.model.branding_user.user_profile_attributes.first_name}}&nbsp;{{ctrl.model.branding_user.user_profile_attributes.last_name}}</h5>
                        <h5>{{ctrl.model.branding_user.email}}</h5>
                        <h5 ng-if="ctrl.model.branding_user.user_profile_attributes.mobile_phone.international">{{ctrl.model.branding_user.user_profile_attributes.mobile_phone.international}}</h5>
                        <h5 ng-if="ctrl.model.branding_user.user_profile_attributes.website">{{ctrl.model.branding_user.user_profile_attributes.website}}</h5>
                        <img ng-if="!ctrl.model.branding_user.user_profile_attributes.logo_file" class="img-responsive" ng-src="/img/genericlogo.jpg"></img>
                        <img ng-if="ctrl.model.branding_user.user_profile_attributes.logo_file" class="img-responsive" ng-src="{{ctrl.model.branding_user.user_profile_attributes.logo_file}}"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>