<div class="container-fluid">
	<div class="page-header">
		<h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<form role="form" name="searchForm">
					<div class="form-group">
						<label for="text">{{ctrl.model.resources.search}}:</label>
						<div class="input-group input-group-sm">
							<input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="template id, name, description..." ng-minlength="1" required/>
							<span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
							</button>
							<button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="row hb-custom-table">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" style="background-color: white;">
					<thead>
						<tr>
							<th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
								<span ng-if="attribute.sorted">
                                    <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                    <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                </span>
								<span ng-if="!attribute.sorted && attribute.sortable">
                                    <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                </span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="template in ctrl.model.items">
							<td>{{template.id}}</td>
							<td>{{template.name}}</td>
							<td>{{template.system | yesNo}}</td>
							<td>{{template.partner | yesNo}}</td>
							<td>{{template.default | yesNo}}</td>
						</tr>
						<tr ng-if="ctrl.model.items.length < 1">
							<td colspan="5">
								<h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
								</pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>