<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <form name="ctrl.reportForm" role="form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.client_first.$invalid}">
                    <label>{{ctrl.resources.firstName}}*</label>
                    <input type="text" class="form-control" name="client_first" placeholder="First Name" ng-model="ctrl.report.client_first" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.reportForm.client_first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.client_last.$invalid}">
                    <label>{{ctrl.resources.lastName}}*</label>
                    <input class="form-control" type="text" name="client_last" ng-model="ctrl.report.client_last" placeholder="{{ctrl.resources.lastName}}" ng-minlength="1" ng-maxlength="50" required />
                    <div ng-messages="ctrl.reportForm.client_last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.client_email.$invalid}">
                    <label for="email">{{ctrl.resources.email}}*</label>
                    <input id="email" type="email" class="form-control" name="client_email" ng-model="ctrl.report.client_email" placeholder="client@gmail.com" ng-minlength="1" ng-maxlength="255" required/>
                    <div ng-messages="ctrl.reportForm.client_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.client_phone.$invalid}">
                    <label>{{ctrl.resources.clientPhone}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">+{{ctrl.country.code}}</span>
                        <input id="phone" ng-model="ctrl.report.client_phone.number" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                    </div>
                    <div ng-messages="ctrl.requestForm.client_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8" ng-class="{ 'has-error': ctrl.requestForm.address.$invalid}">
                <div class="form-group">
                    <label>{{ctrl.resources.address1}}*</label>
                    <input type="text" class="form-control" name="address" placeholder="Address" ng-model="ctrl.report.address.address1" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.requestForm.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>{{ctrl.resources.address2}}</label>
                    <input type="text" class="form-control" name="unit" placeholder="{{ctrl.resources.address2}}" ng-model="ctrl.report.address.address2" ng-minlength="1" ng-maxlength="50" />
                    <div ng-messages="ctrl.requestForm.unit.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.city.$invalid}">
                    <label>{{ctrl.resources.city}}*</label>
                    <input type="text" class="form-control" name="city" placeholder="{{ctrl.resources.city}}" ng-model="ctrl.report.address.city" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.requestForm.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_state.$invalid}">
                    <label>{{ctrl.resources.state}}*</label>
                    <ui-select name="property_state" ng-model="ctrl.report.address.state" on-select="ctrl.onSelectState($item)" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="{{ctrl.resources.stateSearch}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="ctrl.Address.findCountry" repeat="item.value as item in ctrl.options.states | filter: $select.search track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_country.$invalid}">
                    <label for="property_country">{{ctrl.resources.country}}</label>
                    <ui-select name="property_country" ng-model="ctrl.report.address.country" on-select="ctrl.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in ctrl.options.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.requestForm.property_country.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_postalcode.$invalid}">
                    <label for="zip">{{ctrl.resources.zip}}</label>
                    <input id="zip" type="text" class="form-control" name="property_postalcode" ng-model="ctrl.report.address.zip" ng-minlength="1" ng-maxlength="20" />
                    <div ng-messages="ctrl.requestForm.property_postalcode.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.agent_name.$invalid}">
                    <label>{{ctrl.resources.agentFirst}}</label>
                    <input type="text" class="form-control" name="agent_name" placeholder="{{ctrl.resources.agentFirst}}" ng-model="ctrl.report.buyer_agent_first" ng-minlength="1" ng-maxlength="100" />
                    <div ng-messages="ctrl.reportForm.agent_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.agent_contact.$invalid}">
                    <label>{{ctrl.resources.agentLast}}</label>
                    <input class="form-control" type="text" name="agent_contact" ng-model="ctrl.report.buyer_agent_last" placeholder="{{ctrl.resources.agentLast}}" ng-minlength="1" ng-maxlength="255" />
                    <div ng-messages="ctrl.reportForm.agent_contact.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.reportForm.agent_email.$invalid}">
                    <label>{{ctrl.resources.agentEmail}}</label>
                    <input class="form-control" type="email" name="agent_email" ng-model="ctrl.report.buyer_agent_email" placeholder="{{ctrl.resources.agentEmail}}" ng-minlength="1" ng-maxlength="255" />
                    <div ng-messages="ctrl.reportForm.agent_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-left">{{ctrl.resources.additional}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.partnerName}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.partner.name}} - {{ctrl.report.partner.id}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.prepaid}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.partner.prepaid | yesNo}} - {{ctrl.report.amount_charged | currency}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.rushReport}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.rush_report | yesNo}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.poolReport}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.order_pool_report | yesNo}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.homeHistoryReport}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.order_home_history_report | yesNo}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.closingDate}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.closing_date | date}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.stripeChargeId}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.stripe_charge_id}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.stripeRefundId}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.stripe_refund_id}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.binderID}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.binder_id}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.timeLeft}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.time_left}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.reportId}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.report_id}}
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>{{ctrl.resources.reportType}}</label>
                    <p class="form-text text-muted">
                        {{ctrl.report.report_type}}
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.submitForm()" ng-disabled="ctrl.reportForm.$invalid">{{ctrl.resources.submitText}}</button>
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>