<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Maintenance Item - {{ctrl.model.item.name}}</h4>
</div>
<div class="modal-body">
	<form name="ctrl.model.form" novalidate>
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-12" ng-if="ctrl.model.item.library_template">
					<label for="binder_template" class="control-label">Binder Template</label>
					<select name="binder_template" ng-model="ctrl.model.binder_template" ng-options="binder_template.name for binder_template in ctrl.model.binder_templates track by binder_template.id" class="form-control" ng-required="true">
					</select>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
					<label for="name" class="control-label">Name</label>
					<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="100" placeholder="Smoke Alarm" ng-if="!ctrl.model.showTypeaheads" />
					<input name="name" class="form-control" ng-model="ctrl.model.item.name" type="text" autofocus required ng-maxlength="100" placeholder="Smoke Alarm" typeahead="type.name for type in ctrl.model.maintenance_templates | filter:$viewValue | limitTo:8" autocomplete="off"
					 typeahead-on-select="ctrl.model.onSelect($item, $model, $label)" ng-if="ctrl.model.showTypeaheads" />
					<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.frequency.$invalid && ctrl.model.form.$submitted }">
					<label>Frequency</label>
					<select class="form-control" name="frequency" ng-change="ctrl.model.frequencyChange()" ng-model="ctrl.model.item.frequency" ng-options="intv.value as intv.name for intv in ctrl.model.frequencies" required></select>
					<div ng-messages="ctrl.model.form.frequency.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div ng-if="ctrl.model.item.frequency != 'As Needed'" class="form-group col-md-12">
					<label>Due Date Type</label>
					<div class="radio">
						<label><input type="radio" name="due_date_type" ng-model="ctrl.model.item.due_date_read_only" ng-change="ctrl.model.changeDate()" data-ng-value="false">Set # of days after</label>
						<p ng-if="!ctrl.model.item.read_only" class="form-text text-muted">
							This setting is used for maintenance tasks that can be accomplished at any time throughout the year or based on a certain number of days after the inspection. (e.g. Change smoke detector batteries 90 days after the inspection)
						</p>
					</div>
					<div class="radio">
						<label><input type="radio" name="due_date_type" ng-model="ctrl.model.item.due_date_read_only" ng-change="ctrl.model.changeDate()" data-ng-value="true">Set Due Date</label>
						<p ng-if="!ctrl.model.item.read_only" class="form-text text-muted">
							This setting is used for maintenance tasks that are seasonal and need to be accomplished at a certain point in time during the year. (e.g. Service heating system on October 1 before the winter.)
						</p>
					</div>
				</div>
				<div ng-if="ctrl.model.item.frequency != 'As Needed'" class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.due_date.$invalid && ctrl.model.form.$submitted }">
					<input type="text" datepickerPopup name="due_date" ng-model="ctrl.model.item.due_date" class="form-control" value="{{ ctrl.model.item.due_date | date}}" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options"
					 min="ctrl.model.today" show-button-bar="false" show-weeks="false" required ng-if="ctrl.model.item.due_date_read_only" is-open="ctrl.model.date[$index].opened" ng-click="ctrl.model.date[$index].opened = true" />
					<div ng-messages="ctrl.model.form.due_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted" ng-show="ctrl.model.item.due_date_read_only">
					</div>
		
					<input type="number" class="form-control" name="due_date" ng-model="ctrl.model.item.initial_due_date_interval" required ng-pattern="/^[0-9]+$/" ng-min="1" ng-max="2999" ng-if="!ctrl.model.item.due_date_read_only" />
					<div ng-messages="ctrl.model.form.due_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted" ng-show="!ctrl.model.item.due_date_read_only">
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.description.$invalid && ctrl.form.$submitted }" ng-if="ctrl.model.item.library_template">
					<label>{{ctrl.model.resources.descriptionColumn}}</label>
					<textarea name="description" class="form-control" ng-model="ctrl.model.item.description" type="text" rows="5" ng-maxlength="1000" placeholder="Enter a description for this maintenance"></textarea>
					<div ng-messages="ctrl.model.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div ng-if="ctrl.model.currentUser.role === 'admin'">
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.estimated_cost.$invalid && ctrl.model.form.$submitted }">
						<label for="estimated_cost" class="control-label">Estimated Cost</label>
						<input name="estimated_cost" class="form-control" ng-model="ctrl.model.item.estimated_cost" type="number" placeholder="100" />
						<div ng-messages="ctrl.model.form.estimated_cost.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.estimated_time.$invalid && ctrl.model.form.$submitted }">
						<label for="estimated_time" class="control-label">Estimated Time</label>
						<input name="estimated_time" class="form-control" ng-model="ctrl.model.item.estimated_time" type="text" ng-maxlength="100" placeholder="1 hour" />
						<div ng-messages="ctrl.model.form.estimated_time.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.types.$invalid && ctrl.model.form.$submitted }">
						<label for="name" class="control-label">Home Pro Types</label>
						<ui-select name="types" ng-model="ctrl.model.maintenance_template_contractor_types" tagging="ctrl.model.tagTransform" multiple close-on-select="true" on-select="ctrl.model.onTypeSelect($select, $item)" on-remove="ctrl.model.onTypeRemove($item)" reset-search-input="true">
							<ui-select-match placeholder="Plumbing">{{$item.type.name}}</ui-select-match>
							<ui-select-choices refresh="ctrl.model.searchTypes($select.search)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.typeOptions">
								{{option.name}}
							</ui-select-choices>
						</ui-select>
						<div ng-messages="ctrl.model.form.types.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
					<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.video_url.$invalid && ctrl.model.form.$submitted }">
						<label for="video_url" class="control-label">Video URL</label>
						<input name="video_url" class="form-control" ng-model="ctrl.model.item.video_url" type="text" placeholder="https://www.youtube.com/embed/o3e_j-bcPXM" />
						<div ng-messages="ctrl.model.form.video_url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.model.form.notes.$invalid && ctrl.model.form.$submitted }">
					<label>Notes</label>
					<textarea ng-model="ctrl.model.item.notes" rows="5" name="notes" ng-maxlength="1000" ng-hide="true"></textarea>
					<text-angular ng-model="ctrl.model.item.notes" rows="5" placeholder="Enter additional details about this item"></text-angular>
					<div ng-messages="ctrl.model.form.notes.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-md-12 text-center" ng-if="ctrl.model.item.library_template">
					<label>{{ctrl.model.resources.photoColumn}}</label>
					<div class="image" ng-if="ctrl.model.item.image_url">
						<img class="img-responsive center-block" ng-src="{{ctrl.model.item.image_url}}" alt="Template Photo" />
						<div class="delete" ng-click="ctrl.model.removePhoto()">
							<a href=""></a>
						</div>
					</div>
					<img ng-if="!ctrl.model.item.image_url" class="img-responsive center-block" ng-src="/img/no-image-available.jpg" alt="Not Available" />
					<hb-uploader cfg="ctrl.model.photoUploader" file-added="ctrl.model.changePhoto()"></hb-uploader>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ctrl.model.save()">Save</button>
	<button ng-click="ctrl.model.cancel()" type="button" class="btn btn-default">Cancel</button>
</div>