<application-header></application-header>

<div class="jumbotron">
	<div class="container">
		<h1>401!</h1>
		<p><a href="/" class="btn btn-lg btn-primary">Back to HomeBinder</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<h1>Sorry you don't have permission to do that.</h1>
	    <p>
			<a href="/" class="btn btn-primary btn-large">
		      Back to Homebinder
		    </a>
		</p>
	</div>
</div>

<application-footer></application-footer>