<application-header></application-header>

<div class="jumbotron">
	<div class="container">
		<h1>404!</h1>
		<p><a href="/" class="btn btn-lg btn-primary">Back to HomeBinder</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<h1>Are you lost?</h1>
	    <p>&nbsp;</p>
	    <p>You may have mistyped the address or the page may have moved.</p>
	    <p>&nbsp;</p>
	    <p>
			<a href="/" class="btn btn-primary btn-large">
		      Back to Homebinder
		    </a>
		</p>
	</div>
</div>

<application-footer></application-footer>