<application-header></application-header>

<div class="jumbotron">
	<div class="container">
		<h1>422!</h1>
		<p><a href="/" class="btn btn-lg btn-primary">Back to HomeBinder</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
	    <h1>The change you wanted was rejected.</h1>
	    <p>&nbsp;</p>
	    <p>Maybe you tried to change something you didn't have access to.</p>
	    <p>&nbsp;</p>
	    <p>
			<a href="/" class="btn btn-primary btn-large">
		      Back to Homebinder
		    </a>
		</p>
	</div>
</div>

<application-footer></application-footer>