<application-header></application-header>
<div class="container">
	<div class="row">
		<h1>That's an Error!!</h1>
	  	<p>&nbsp;</p>
	  	<p>We're sorry, but something went wrong.</p>
	  	<p>Please go back and try again.</p>
	  	<p>&nbsp;</p>
	  	<p>
	    	<a href="/" class="btn btn-primary btn-large">
	      	Back to Homebinder
	    	</a>
	  	</p>
	</div>
</div>
<application-footer></application-footer>