<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <h3>{{ctrl.model.resources.locale}}</h3>
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label for="default_locale">{{ctrl.model.resources.locale}}</label>
            <select id="default_locale" name="default_locale" class="form-control" ng-model="ctrl.model.item.user_profile_attributes.default_locale" ng-options="option.value as option.name for option in ctrl.model.localeOptions" ng-change="ctrl.model.updateLocale()"
            />
        </div>
    </div>
</div>