<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Agent - {{ctrl.agent.user_profile_attributes.first_name}} {{ctrl.agent.user_profile_attributes.last_name}}</h4>
</div>
<div class="modal-body">
	<form role="form" name="ctrl.form">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-8">
					<div>
						<label>Look up an existing agent: </label>
						<hb-lookup cfg="ctrl.lookupCfg" selection="ctrl.agent" select="ctrl.onSelect()"></hb-lookup>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-6">
					<label for="first_name">{{ctrl.resources.agentFirstName}}*</label>
					<input id="first_name" name="first_name" ng-model="ctrl.agent.user_profile_attributes.first_name" type="text" class="form-control" ng-minlength="1" ng-maxlength="50" required/>
					<div ng-messages="ctrl.form.first_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
				<div class="col-xs-6">
					<label for="last_name">{{ctrl.resources.agentLastName}}*</label>
					<input id="last_name" name="last_name" ng-model="ctrl.agent.user_profile_attributes.last_name" type="text" class="form-control" ng-minlength="1" ng-maxlength="50" required/>
					<div ng-messages="ctrl.form.last_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-6">
					<label for="agent_email">{{ctrl.resources.agentEmail}}*</label>
					<input id="agent_email" name="email" ng-model="ctrl.agent.email" type="email" class="form-control" required/>
					<div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
				<div class="col-xs-6">
					<label for="company">{{ctrl.resources.agentOffice}}*</label>
					<input id="company" name="company" ng-model="ctrl.agent.user_profile_attributes.company" type="text" class="form-control" ng-minlength="1" required/>
					<div ng-messages="ctrl.form.company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-6">
					<label for="website">{{ctrl.resources.agentWebsite}}</label>
					<input id="website" name="website" type="url" class="form-control" placeholder="https://www.mywebsite.com" ng-model="ctrl.agent.user_profile_attributes.website" ng-pattern="ctrl.url_regex" http-prefix ng-maxlength="250" />
					<div ng-messages="ctrl.form.website.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
				<div class="col-xs-6">
					<label for="agent_phone">{{ctrl.resources.agentPhone}}</label>
					<div class="input-group">
						<span class="input-group-addon">+{{ctrl.country.code}}</span>
						<input name="agent_phone" type="phone" class="form-control" ng-model="ctrl.agent.user_profile_attributes.mobile_phone.national" placeholder="555-123-4567" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
					</div>
					<div ng-messages="ctrl.form.agent_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="ctrl.role === 'buyer_agent'">
			<div class="row">
				<div class="col-xs-6">
					<label for="agent_phone">{{ctrl.resources.repairPricer}}</label>
					<div class="input-group">
						<input type="checkbox" ng-model="ctrl.access_repair_pricer">
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-disabled="ctrl.processing" ng-click="ctrl.save()">Save</button>
	<button ng-click="ctrl.cancel()" type="button" class="btn btn-default">Cancel</button>
</div>