<div class="col-xs-6 agent-branding" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'agent'">
    <div class="row">
        <div class="col-xs-6">
            <img class="img-responsive" ng-src="/img/avatar.png"></img>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" ng-src="/img/genericlogo.jpg"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Agent First and Last Name</h5>
            <h5>Agent Phone Number</h5>
            <h5>Agent Company Name</h5>
            <h5>Agent Email</h5>
        </div>
    </div>
        <div class="row">
        <div class="col-xs-12">
            <p>Message from your agent:</p>
            <h5>Thank your for your business! Wish you the best of luck!</h5>
        </div>
    </div>
</div>
