<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_first.$invalid && ctrl.form.$submitted }">
			<label for="client_first">{{ctrl.model.resources.clientFirst}}*</label>
			<input name="client_first" ng-model="ctrl.model.client_first" type="text" class="form-control" required/>
			<div ng-messages="ctrl.form.client_first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_last.$invalid && ctrl.form.$submitted }">
			<label for="client_last">{{ctrl.model.resources.clientLast}}*</label>
			<input name="client_last" ng-model="ctrl.model.client_last" type="text" class="form-control" required/>
			<div ng-messages="ctrl.form.client_last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_email.$invalid && ctrl.form.$submitted }">
			<label for="client_email">{{ctrl.model.resources.clientEmail}}*</label>
			<input name="client_email" ng-model="ctrl.model.client_email" type="text" class="form-control" required/>
			<div ng-messages="ctrl.form.client_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_phone.$invalid && ctrl.form.$submitted }">
			<label for="client_phone">{{ctrl.model.resources.clientPhone}}</label>
			<div class="input-group">
				<span class="input-group-addon">+{{ctrl.model.country.code}}</span>
				<input name="client_phone" ng-model="ctrl.model.client_phone.national" type="text" class="form-control" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
			</div>
			<div ng-messages="ctrl.form.client_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-6 col-xs-12" ng-if="ctrl.model.resource">
			<label for="warranty_company" class="control-label">{{ctrl.model.resources.purchaseDate}}:</label>
			<p class="form-control-static">{{ctrl.model.resource.partner.id}} - {{ctrl.model.resource.partner.name}} - {{ctrl.model.resource.partner.contact}}</p>
		</div>
		<div class="form-group col-md-6 col-xs-12" ng-if="ctrl.model.resource">
			<label for="warranty_company" class="control-label">{{ctrl.model.resources.inspectionDate}}</label>
			<p class="form-control-static">{{ctrl.model.inspection_date | date}}</p>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.binder.$invalid && ctrl.form.$submitted }">
			<label for="binder" class="control-label">{{ctrl.model.resources.binderLabel}}</label>
			<hb-lookup cfg="ctrl.model.binderLookupCfg" selection="ctrl.model.binder"></hb-lookup>
			<input ng-show="false" name="binder" class="form-control" ng-model="ctrl.model.binder.name" type="text" required/>
			<div ng-messages="ctrl.form.binder.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="col-xs-9">
			<label for="address1">{{ctrl.model.resources.address1}}*</label>
			<input id="address1" ng-model="ctrl.model.property.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
			<div ng-messages="ctrl.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="col-xs-3">
			<label for="address2">{{ctrl.model.resources.address2}}</label>
			<input id="address2" ng-model="ctrl.model.property.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
			<div ng-messages="ctrl.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="city">{{ctrl.model.resources.city}}*</label>
			<input id="city" ng-model="ctrl.model.property.city" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
			<div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="state">{{ctrl.model.resources.state}}*</label>
			<ui-select ng-model="ctrl.model.property.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)" name="state" ng-required="true">
				<ui-select-match placeholder="{{ctrl.model.resources.stateSearch}}">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices group-by="ctrl.model.address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
			<div ng-messages="ctrl.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="zip">{{ctrl.model.resources.zip}}*</label>
			<input id="zip" ng-model="ctrl.model.property.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" required/>
			<div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="country">{{ctrl.model.resources.country}}*</label>
			<ui-select name="property_country" ng-model="ctrl.model.property.country" on-select="ctrl.model.onSelectCountry($item)" theme="bootstrap" ng-required="true">
				<ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="item.value as item in ctrl.model.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
					<span ng-bind-html="item.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.warranty_company.$invalid && ctrl.form.$submitted }">
			<label for="warranty_company" class="control-label">{{ctrl.model.resources.companyLabel}}*</label>
			<select name="warranty_company" ng-model="ctrl.model.warranty_company" ng-options="company.name for company in ctrl.model.warranty_companies track by company.id" ng-change="ctrl.model.onCompanyChange()" class="form-control" ng-required="true">
			</select>
			<div ng-messages="ctrl.form.warranty_company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.warranty_plan.$invalid && ctrl.form.$submitted }">
			<label for="warranty_plan" class="control-label">{{ctrl.model.resources.planLabel}}*</label>
			<select name="warranty_plan" ng-model="ctrl.model.warranty_plan" ng-options="plan.name for plan in ctrl.model.warranty_plans track by plan.id" ng-change="ctrl.model.onPlanChange()" class="form-control" ng-required="true">
			</select>
			<div ng-messages="ctrl.form.warranty_plan.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.price.$invalid && ctrl.form.$submitted }">
			<label for="price" class="control-label">{{ctrl.model.resources.priceLabel}}</label>
			<input name="price" class="form-control" ng-model="ctrl.model.price" type="number" ng-min="1" required/>
			<div ng-messages="ctrl.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6" ng-class="{ 'has-error': ctrl.form.status.$invalid && ctrl.form.$submitted }">
			<label for="status" class="control-label">{{ctrl.model.resources.statusLabel}}</label>
			<select name="status" ng-model="ctrl.model.status" ng-options="status.value as status.name for status in ctrl.model.statuses | orderBy:'name'" class="form-control" ng-required="true">
				</select>
			<div ng-messages="ctrl.form.status.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6">
			<label for="expiration_date">{{ctrl.model.resources.expirationLabel}}</label>
			<input name="expiration_date" ng-model="ctrl.model.expiration_date" type="text" class="form-control" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[0].opened"
			 ng-click="ctrl.model.open(0)" />
			<div ng-messages="ctrl.form.expiration_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
	</form>
</div>