<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <form name="ctrl.requestForm" role="form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.partner_name.$invalid}">
                    <label>{{ctrl.resources.routeName}}*</label>
                    <input class="form-control" type="text" name="partner_name" ng-model="ctrl.error.partner_name" placeholder="{{ctrl.resources.routeName}}" required />
                    <div ng-messages="ctrl.requestForm.partner_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.api_key.$invalid}">
                    <label>{{ctrl.resources.apiKey}}*</label>
                    <input class="form-control" type="text" name="api_key" ng-model="ctrl.error.api_key" placeholder="{{ctrl.resources.apiKey}}" required />
                    <div ng-messages="ctrl.requestForm.api_key.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.client_first.$invalid}">
                    <label>{{ctrl.resources.firstName}}*</label>
                    <input type="text" class="form-control" name="client_first" placeholder="First Name" ng-model="ctrl.error.client_first" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.requestForm.client_first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.client_last.$invalid}">
                    <label>{{ctrl.resources.lastName}}*</label>
                    <input class="form-control" type="text" name="client_last" ng-model="ctrl.error.client_last" placeholder="{{ctrl.resources.lastName}}" ng-minlength="1" ng-maxlength="50" required />
                    <div ng-messages="ctrl.requestForm.client_last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.client_email.$invalid}">
                    <label for="email">{{ctrl.resources.email}}*</label>
                    <input id="email" type="email" class="form-control" name="client_email" ng-model="ctrl.error.client_email" placeholder="client@gmail.com" ng-minlength="1" ng-maxlength="255" required/>
                    <div ng-messages="ctrl.requestForm.client_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6" ng-class="{ 'has-error': ctrl.requestForm.template.$invalid}">
                <div class="form-group">
                    <label for="template">{{ctrl.resources.templateId}}*</label>
                    <input id="template" type="text" name="template" class="form-control" ng-model="ctrl.error.binder_template_id" placeholder="35" required/>
                    <div ng-messages="ctrl.requestForm.template.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8" ng-class="{ 'has-error': ctrl.requestForm.address.$invalid}">
                <div class="form-group">
                    <label>{{ctrl.resources.address1}}*</label>
                    <input type="text" class="form-control" name="address" placeholder="Address" ng-model="ctrl.error.property_address" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.requestForm.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>{{ctrl.resources.address2}}</label>
                    <input type="text" class="form-control" name="unit" placeholder="{{ctrl.resources.address2}}" ng-model="ctrl.error.property_address2" ng-minlength="1" ng-maxlength="50" />
                    <div ng-messages="ctrl.requestForm.unit.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.city.$invalid}">
                    <label>{{ctrl.resources.city}}*</label>
                    <input type="text" class="form-control" name="city" placeholder="{{ctrl.resources.city}}" ng-model="ctrl.error.property_city" ng-minlength="1" ng-maxlength="50" required/>
                    <div ng-messages="ctrl.requestForm.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_state.$invalid}">
                    <label>{{ctrl.resources.state}}*</label>
                    <ui-select name="property_state" ng-model="ctrl.error.property_state" on-select="ctrl.onSelectState($item)" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="{{ctrl.resources.stateSearch}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="ctrl.Address.findCountry" repeat="item.value as item in ctrl.options.states | filter: $select.search track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_country.$invalid}">
                    <label for="property_country">{{ctrl.resources.country}}</label>
                    <ui-select name="property_country" ng-model="ctrl.error.property_country" on-select="ctrl.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                        <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in ctrl.options.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.requestForm.property_country.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.property_postalcode.$invalid}">
                    <label for="zip">{{ctrl.resources.zip}}</label>
                    <input id="zip" type="text" class="form-control" name="property_postalcode" ng-model="ctrl.error.property_postalcode" ng-minlength="1" ng-maxlength="20" />
                    <div ng-messages="ctrl.requestForm.property_postalcode.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.agent_name.$invalid}">
                    <label>{{ctrl.resources.agentCompany}}</label>
                    <input type="text" class="form-control" name="agent_name" placeholder="{{ctrl.resources.agentCompany}}" ng-model="ctrl.error.agent_name" ng-minlength="1" ng-maxlength="100" />
                    <div ng-messages="ctrl.requestForm.agent_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.agent_contact.$invalid}">
                    <label>{{ctrl.resources.agentContact}}</label>
                    <input class="form-control" type="text" name="agent_contact" ng-model="ctrl.error.agent_contact" placeholder="{{ctrl.resources.agentContact}}" ng-minlength="1" ng-maxlength="255" />
                    <div ng-messages="ctrl.requestForm.agent_contact.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.agent_phone.$invalid}">
                    <label>{{ctrl.resources.agentPhone}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">+{{ctrl.country.code}}</span>
                        <input id="phone" ng-model="ctrl.error.agent_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                    </div>
                    <div ng-messages="ctrl.requestForm.agent_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': ctrl.requestForm.agent_email.$invalid}">
                    <label>{{ctrl.resources.agentEmail}}</label>
                    <input class="form-control" type="email" name="agent_email" ng-model="ctrl.error.agent_email" placeholder="{{ctrl.resources.agentEmail}}" ng-minlength="1" ng-maxlength="255" />
                    <div ng-messages="ctrl.requestForm.agent_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.submitForm()" ng-disabled="ctrl.requestForm.$invalid">{{ctrl.resources.submitText}}</button>
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>