<div ng-if="!ctrl.model.itemId">
    <div class="page-header">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="active_warranty_account" class="control-label">{{ctrl.model.resources.activeLabel}}</label>
                <p ng-if="ctrl.configuration.active_warranty_account" class="form-control-static">{{ctrl.configuration.active_warranty_account | yesNo}}</p>
                <input ng-if="!ctrl.configuration.active_warranty_account" name="active_warranty_account" class="form-control" ng-model="ctrl.configuration.active_warranty_account" ng-change="ctrl.model.enableWarrantyAccount()" type="checkbox" value="ctrl.configuration.active_warranty_account"
                    ng-true-value="true" ng-false-value="false">
            </div>
        </div>
        <div class="row" ng-if="ctrl.configuration.active_warranty_account">
            <div class="col-xs-12">
                <p>Warranties are currently disabled for your account. Click <a href="https://www.completehomewarranty.com/home-inspectors/" target="_blank">here</a> to learn more about the warranty plans available with your HomeBinder subscription.</p>

                <p>A member of our staff will reach out to you shortly with more information.</p>

                <p>Feel Free to reach out to us directly with questions: support@homebinder.com OR 800-377-6915</p>
            </div>
        </div>
    </div>
</div>
<div ng-if="ctrl.model.itemId">
    <form name="ctrl.model.form" role="form" novalidate>
        <div class="page-header">
            <div ng-if="ctrl.model.settings.readOnly">
                <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
            </div>
            <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
                <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
                <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
            </div>
            <h3>{{ctrl.model.resources.title}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="warranty_company" class="control-label">{{ctrl.model.resources.companyLabel}}*</label>
                <p ng-if="ctrl.model.settings.readOnly || ctrl.model.currentUser.role != 'admin'" class="form-control-static">{{ctrl.model.item.warranty_company.name}}</p>
                <select ng-if="!ctrl.model.settings.readOnly && ctrl.model.currentUser.role === 'admin'" name="warranty_company" ng-model="ctrl.model.item.warranty_company" ng-options="company.name for company in ctrl.model.warranty_companies track by company.id" ng-change="ctrl.model.onCompanyChange()"
                    class="form-control" ng-required="true">
				</select>
                <div ng-messages="ctrl.model.form.warranty_company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="warranty_plan_options" class="control-label">Warranty Plan Options</label>
                <div class="form-group" ng-repeat="plan in ctrl.model.item.warranty_plans">
                    <p>{{plan.name}} - {{plan.price | currency}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="warranty_plan" class="control-label">{{ctrl.model.resources.planLabel}}*</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.warranty_plan.name}}</p>
                <select ng-if="!ctrl.model.settings.readOnly" name="warranty_plan" ng-model="ctrl.model.item.warranty_plan" ng-options="plan.name for plan in ctrl.model.warranty_plans track by plan.id" class="form-control" ng-required="true">
				</select>
                <div ng-messages="ctrl.model.form.warranty_plan.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error': ctrl.model.form.price.$invalid && ctrl.model.form.$submitted }">
                <label for="price" class="control-label">{{ctrl.model.resources.priceLabel}}*</label>
                <p class="form-control-static">{{ctrl.model.item.price}}</p>
                <div ng-messages="ctrl.model.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="accountNumber" class="control-label">{{ctrl.model.resources.accountLabel}}*</label>
                <p class="form-control-static">{{ctrl.model.item.account_number}}</p>
                <div ng-messages="ctrl.model.form.accountNumber.contact.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="automatic_purchases" class="control-label">{{ctrl.model.resources.automaticLabel}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.automatic_purchases | yesNo}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="automatic_purchases" class="form-control" ng-model="ctrl.model.item.automatic_purchases" type="checkbox" value="ctrl.model.item.automatic_purchases" ng-true-value="true" ng-false-value="false">
            </div>
        </div>
    </form>
</div>