<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ctrl.model.resources.agentWelcomeMessage1}}</h3>
                
                <p>{{ctrl.model.resources.agentWelcomeMessage2}}</p>
                
                <p>{{ctrl.model.resources.agentWelcomeMessage3}}</p>
                
                <p>{{ctrl.model.resources.agentWelcomeMessage5}}&nbsp;<a ng-href="https://www.youtube.com/watch?v=F36lipXzcXI&feature=youtu.be" target="_blank">{{ctrl.model.resources.agentWelcomeMessage6}}</a>.</p>
                
                <p>{{ctrl.model.resources.agentWelcomeMessage7}}</p>
                
                <h4 class="agent-notification">{{ctrl.model.resources.agentRepairPricerDirection}}</h3>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()">{{ctrl.model.resources.newButton}}</button>
        <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="{{ctrl.model.resources.refreshList}}" tooltip-placement="right"></i></a></h2>
    </div>
    <hb-binder-table></hb-binder-table>
</div>