.hb-custom-table {
    .sortable {
        cursor: pointer
    }
    .th {
        color: rgba(0, 0, 0, .54);
        size: 12px;
    }
    .tr {
        border-right: 0px solid;
        border-left: 0px solid;
    }
}