<div class="panel panel-default">
    <div class="panel-heading" style="background-color: white;">
        <div class="row">
            <div class="col-xs-5">
                <h4 class="text-muted">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
                    <small class="hidden-xs hidden-sm">{{ctrl.model.resources.searchInfo}}</small>
                </h4>
            </div>
            <div class="col-xs-5">
                <div class="pull-right">
                    <form role="form" name="searchForm">
                        <div class="form-group">
                            <label for="text">Search:</label>
                            <div class="input-group input-group-sm">
                                <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by binder name, address, state..." ng-minlength="1" ng-enter="ctrl.model.search()" required/>
                                <span class="input-group-btn">
	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
	                		<span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="search">Show:</label>
                    <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading" style="background-color: white;" ng-if="ctrl.model.currentUser.role != 'agent'">
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="search">Search type:</label>
                    <select ng-options="type.name as type.value for type in ctrl.model.searchTypes" ng-model="ctrl.model.searchType" class="form-control" ng-change="ctrl.model.searchTypeChange()"></select>
                </div>
            </div>
            <div class="col-xs-4" ng-if="ctrl.model.showSearch()">
                <div class="form-group">
                    <label for="search">{{ctrl.model.searchType | titleize}}:</label>
                    <hb-lookup cfg="ctrl.model.partnerLookupCfg" selection="ctrl.model.partner" ng-if="ctrl.model.searchType === 'partners'" select="ctrl.model.refresh()"></hb-lookup>
                    <hb-lookup cfg="ctrl.model.userLookupCfg" selection="ctrl.model.user" ng-if="ctrl.model.searchType === 'users'" select="ctrl.model.refresh()"></hb-lookup>
                </div>
            </div>
            <div class="col-xs-4" ng-if="ctrl.model.currentUser.role === 'admin'">
                <div class="form-group">
                    <label>State/Province</label>
                    <ui-select name="state" ng-model="ctrl.model.binderArgs.state" theme="bootstrap" on-select="ctrl.model.refresh()">
                        <ui-select-match placeholder="Select or search a State/Province..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="ctrl.model.Address.findCountry" repeat="item.value as item in ctrl.model.statesOptions | filter: {name: $select.search.name, country: {value: ctrl.model.binderArgs.country}} track by $index" value="{{$select.selected.value}}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-xs-2" ng-if="ctrl.model.currentUser.role === 'admin'">
                <div class="form-group">
                    <label for="search">Country:</label>
                    <select ng-options="country.value as country.name for country in ctrl.model.countriesOptions" ng-model="ctrl.model.binderArgs.country" class="form-control" ng-change="ctrl.model.refresh()"></select>
                </div>
            </div>
            <div class="col-xs-8" ng-if="ctrl.model.currentUser.role != 'admin'">
                <p><strong>All Binders</strong> - &nbsp;include binders created by all users for {{ctrl.model.partner.name}}, even binders that have been transferred or shared</p>
                <p><strong>Transferred Binders</strong> - &nbsp;include only binders that have been transferred</p>
                <p><strong>Shared Binders</strong> - &nbsp;include only binders that have been shared</p>
                <p ng-if="ctrl.model.currentUser.role === 'inspector'">NOTE:&nbsp;Binder information is not available once the binder is transferred</p>
            </div>
        </div>
        <div class="row" ng-if="ctrl.model.currentUser.role === 'admin'">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="search">Created by:</label>
                    <select ng-options="option.name as option.value for option in ctrl.model.createOptions" ng-model="ctrl.model.binderArgs.create_method" class="form-control" ng-change="ctrl.model.refresh()"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row hb-custom-table">
        <div class="col-xs-12 table-responsive">
            <table class="table table-hover" style="background-color: white;">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
                            <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                            <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="binder in ctrl.model.items">
                        <td>
                            <div ng-if="binder.hero_photo">
                                <img class="img-responsive center-block" ng-src="{{binder.hero_photo}}" alt="Homeowner House" />
                            </div>
                            <div ng-if="!binder.hero_photo">
                                <a ng-if="binder.permissions.can_write && binder.permissions.can_read" href="" ng-click="ctrl.model.uploadPhoto(binder)">
                                    <img class="img-responsive center-block" ng-src="/img/upload_property_photo.png" alt="Homeowner House" />
                                </a>
                                <a ng-if="!binder.permissions.can_write && binder.permissions.can_read">
                                    <img class="img-responsive center-block" ng-src="/img/propertyphoto.png" alt="Homeowner House" />
                                </a>
                            </div>
                        </td>
                        <td>{{binder.id}}</td>
                        <td>
                            <span ng-if="!binder.permissions.can_read">{{ binder.name }}</span>
                            <a ng-if="binder.permissions.can_read" ui-sref="binder.overview({ binderId: binder.id })">{{ binder.name }}</a>
                        </td>
                        <td>{{binder.property.address1}}&nbsp;{{binder.property.city}},&nbsp;{{binder.property.state}}&nbsp;{{binder.property.country}}</td>
                        <td>{{binder.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                        <td ng-if="ctrl.model.currentUser.role === 'admin'">{{binder.owner.email}}</td>
                        <td ng-if="ctrl.model.currentUser.role === 'inspector'">
                            <div ng-if="binder.permissions.can_write && binder.permissions.can_read">
                                <div ng-if="binder.recalls < 1" class="alert alert-success" role="alert">
                                    <p class="text-center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> No Recalls Identified</p>
                                </div>
                                <div ng-if="binder.recalls > 0" class="alert alert-warning" role="alert">
                                    <p class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Recall(s) Identified</p>
                                </div>
                            </div>
                            <div ng-if="!binder.permissions.can_write && !binder.permissions.can_read">
                                N/A
                            </div>
                        </td>
                        <td ng-if="ctrl.model.currentUser.role != 'admin'">{{binder.status | transferStatus}}</td>
                        <td ng-if="ctrl.model.currentUser.role === 'agent'">{{binder.creator}}</td>
                        <td ng-if="ctrl.model.currentUser.role === 'agent'">
                            <span ng-if="!binder.seller_report">None</span>
                            <a ng-if="binder.seller_report" href="/sellerreport/{{binder.seller_report.code}}" class="btn btn-primary btn-lg" target="_blank">{{binder.seller_report.code}}</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!binder.permissions.can_destroy && !ctrl.model.canOrderRP(binder)">
        								<span>{{ctrl.model.resources.options}}</span>
                                        <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-if="binder.permissions.can_write" ng-click="ctrl.model.viewBinder(binder)">
                                        <a href="">
                                            <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;
                                            <span ng-if="binder.permissions.can_read">{{ctrl.model.resources.fullEdit}}</span>
                                            <span ng-if="!binder.permissions.can_read">{{ctrl.model.resources.importData}}</span>
                                        </a>
                                    </li>
                                    <li ng-if="!binder.pending_transfer && binder.permissions.can_transfer" ng-click="ctrl.model.transferBinder(binder)" tooltip="Transfer binder" ng-if="binder.permissions.can_write && binder.permissions.can_read">
                                        <a href="">
                                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.transfer}}
                                        </a>
                                    </li>
                                    <li ng-if="binder.pending_transfer && binder.permissions.can_transfer" ng-click="ctrl.model.resendTransferEmail(binder)">
                                        <a href="">
                                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.transferResend}}
                                        </a>
                                    </li>
                                    <li ng-click="ctrl.model.getAppliances(binder)" ng-if="binder.permissions.can_write && binder.permissions.can_read">
                                        <a id="downloadPDF" href="">
                                            <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;{{ctrl.model.resources.recall}}
                                        </a>
                                    </li>
                                    <li ng-if="binder.permissions.can_read && !binder.pending_transfer">
                                        <a href="" ng-click="ctrl.model.share(binder)">
                                            <span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;{{ctrl.model.resources.share}}
                                        </a>
                                    </li>
                                    <li ng-if="binder.permissions.can_orphan" ng-click="ctrl.model.orphanBinder(binder, $index)">
                                        <a href="">
                                            <span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;{{ctrl.model.resources.orphan}}
                                        </a>
                                    </li>
                                    <li ng-if="binder.permissions.can_write && binder.permissions.can_read && ctrl.model.canViewWarranties()" ng-click="ctrl.model.showWarranties(binder, $index)">
                                        <a href="">
                                            <i class="fa fa-shield"></i>&nbsp;&nbsp;{{ctrl.model.resources.warranties}}
                                        </a>
                                    </li>
                                    <li ng-if="binder.permissions.can_destroy" ng-click="ctrl.model.deleteItem(binder, $index)" tooltip="Delete">
                                        <a href="">
                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.delete}}
                                        </a>
                                    </li>
                                    <li ng-if="ctrl.model.canOrderRP(binder)" ng-click="ctrl.model.orderRP(binder)">
                                        <a href="">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Order Repair Pricer
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.model.items.length < 1">
                        <td colspan="{{ctrl.model.columnspan}}">
                            <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{ctrl.model.columnspan}}">
                            <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                            </pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>