<form>
    <div class="form-group">
        <select ng-options="filter.name as filter.value for filter in ctrl.cfg.filters"
                ng-model="ctrl.cfg.filter"
                class="form-control"></select>
    </div>
    <button id="filter-button" type="submit" class="btn btn-primary btn-block" ng-click="ctrl.search()" ng-disabled="ctrl.disableFilter">{{ctrl.cfg.filterButtonLabel}}</button>
</form>