<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ctrl.model.resources.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R2n2GSMI6Ss" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <a href="https://www.homebinder.com/sellerreport/C7975D" target="_blank" class="btn btn-primary btn-lg" target="_blank" style="white-space: normal;">{{ctrl.model.resources.view}}</a>
            </div>
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.model.remove()" style="white-space: normal;">
                    <span>{{ctrl.model.resources.create}}</span>
                </button>
            </div>
        </div>
    </div>
</div>