<div class="buildfax-import">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;{{ctrl.resources.buildfax}}&reg; {{ctrl.resources.terms}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid" ng-show="ctrl.hide === 'false'">
            <div class="row" style="overflow: scroll; max-height: 200px;">
                <p ng-bind-html="ctrl.resources.sentence1"></p>
                <p ng-bind-html="ctrl.resources.sentence2"></p>
                <p ng-bind-html="ctrl.resources.sentence3"></p>
                <p ng-bind-html="ctrl.resources.sentence4"></p>
                <p ng-bind-html="ctrl.resources.sentence5"></p> 
                <p ng-bind-html="ctrl.resources.sentence6"></p>
                <p ng-bind-html="ctrl.resources.sentence7"></p>
                <p ng-bind-html="ctrl.resources.sentence8"></p>
                <p ng-bind-html="ctrl.resources.sentence9"></p>
            </div>
        </div>
        <div class="container-fluid import" ng-show="ctrl.hide === 'true'">
            <div ng-show="ctrl.step == 'one'">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-info">{{ctrl.resources.wait}}&reg; {{ctrl.resources.checkExisting}}</p>
                    </div>
                    <img class="center-block" src="/img/busy.gif" />
                </div>
            </div>
            <div ng-show="ctrl.step == 'two'">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{ctrl.response.message}}</p>

                        <table class="table table-striped" ng-if="ctrl.response.code != 0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ctrl.resources.number}}</th>
                                    <th>{{ctrl.resources.status}}</th>
                                    <th>{{ctrl.resources.contractor}}</th>
                                    <th>{{ctrl.resources.date}}</th>
                                </tr>
                            </thead>
                            <tbody style="max-height: 300px; overflow: auto;">
                                <tr ng-repeat="permit in ctrl.response.permits">
                                    <td><input type="checkbox" name="import_{{$index}}" ng-model="permit.import" ng-click="ctrl.checkBox(permit)"></td>
                                    <td>{{permit.permit_number}}</td>
                                    <td>{{permit.status}}</td>
                                    <td>{{permit.contractors[0]}}</td>
                                    <td>{{permit.permit_date | date}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div ng-show="ctrl.step == 'three'">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-info">{{ctrl.resources.errorMessage}}</p>
                    </div>
                </div>
            </div>
            <div ng-show="ctrl.step == 'four'">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-info">{{ctrl.resources.loading}}</p>
                    </div>
                    <img class="center-block" src="/img/busy.gif" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" ng-click="ctrl.import()" value="Accept" ng-show="ctrl.step === 'zero'"/>
        <input type="button" class="btn btn-primary" ng-click="ctrl.createPermits()" value="Create" ng-show="ctrl.showCreate()" />
        <input type="button" class="btn btn-default" ng-click="ctrl.cancel()" value="{{ctrl.cancelText}}" ng-show="ctrl.showButtons()"/>
    </div>
</div>