<form name="ctrl.model.form" role="form" class="branding-form" novalidate>
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.brandingTitle}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="branding" class="control-label">{{ctrl.model.resources.option}}*&nbsp;<a href="" ng-click="ctrl.model.showBrandingInfo()"><span class="glyphicon glyphicon-info-sign"></span></a></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_user_branding_option | branding:ctrl.model.item.partner_type}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" ng-options="option.value as option.name for option in ctrl.model.branding_options" name="default_user_branding_option" id="branding" class="form-control" ng-model="ctrl.model.item.configuration.default_user_branding_option"
                ng-required="true">
				</select>
            <div ng-messages="ctrl.model.form.default_user_branding_option.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="name" class="control-label"><strong>{{ctrl.model.resources.id}}*</strong></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_user_branding_id}}&nbsp;-&nbsp;{{ctrl.model.branding_user.user_profile_attributes.first_name}}&nbsp;{{ctrl.model.branding_user.user_profile_attributes.last_name}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" ng-options="user.user_profile_attributes.id as user.email for user in ctrl.model.users" name="branding" id="branding" class="form-control" ng-model="ctrl.model.item.configuration.default_user_branding_id" ng-change="ctrl.model.setBrandingUser(user)"
                ng-required="true">
				</select>
            <div ng-messages="ctrl.model.form.default_user_branding_id.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="email_types" class="control-label">{{ctrl.model.resources.email}}</label>
            <select ng-options="email.value as email.name for email in ctrl.model.email_types" name="email_types" id="email_types" class="form-control" ng-model="ctrl.model.email_type">
			</select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="message" class="control-label">{{ctrl.model.resources.message}}</label>
            <p ng-if="ctrl.model.settings.readOnly && ctrl.model.branding_user.user_profile_attributes.message" class="form-control-static" ng-bind-html="ctrl.model.branding_user.user_profile_attributes.message"></p>
            <p ng-if="ctrl.model.settings.readOnly && !ctrl.model.branding_user.user_profile_attributes.message" class="form-control-static"><em>{{ctrl.model.resources.noMessage}}</em></p>
            <text-angular ng-if="!ctrl.model.settings.readOnly" name="message" id="details" ng-model="ctrl.model.branding_user.user_profile_attributes.message" rows="5" ng-maxlength="500"></text-angular>
        </div>
        <div ng-if="ctrl.model.email_type === 'transfer' || ctrl.model.email_type === 'share'" class="form-group col-xs-12 col-sm-6">
            <label for="transfer_message_to_homeowner" class="control-label">{{ctrl.model.resources.transfer_message_to_homeowner}}</label>
            <p ng-if="ctrl.model.settings.readOnly && ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner" class="form-control-static" ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner"></p>
            <p ng-if="ctrl.model.settings.readOnly && !ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner" class="form-control-static"><em>{{ctrl.model.resources.defaultMessage}}</em></p>
            <text-angular ng-if="!ctrl.model.settings.readOnly" name="transfer_message_to_homeowner" id="transfer_message_to_homeowner" ng-model="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner" rows="5" ng-maxlength="500"></text-angular>
        </div>
        <div ng-if="ctrl.model.email_type === 'agent_transfer_notification'" class="form-group col-xs-12 col-sm-6">
            <label for="transfer_message_to_agent" class="control-label">{{ctrl.model.resources.transfer_message_to_agent}}</label>
            <p ng-if="ctrl.model.settings.readOnly && ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent" class="form-control-static" ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent"></p>
            <p ng-if="ctrl.model.settings.readOnly && !ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent" class="form-control-static"><em>{{ctrl.model.resources.defaultMessage}}</em></p>
            <text-angular ng-if="!ctrl.model.settings.readOnly" name="transfer_message_to_agent" id="transfer_message_to_agent" ng-model="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_agent" rows="5" ng-maxlength="500"></text-angular>
        </div>
        <div ng-if="ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification'" class="form-group col-xs-12 col-sm-6">
            <label for="transfer_message_to_prepaid_agent" class="control-label">{{ctrl.model.resources.transfer_message_to_prepaid_agent}}</label>
            <p ng-if="ctrl.model.settings.readOnly && ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent" class="form-control-static" ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent"></p>
            <p ng-if="ctrl.model.settings.readOnly && !ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent" class="form-control-static"><em>{{ctrl.model.resources.defaultMessage}}</em></p>
            <text-angular ng-if="!ctrl.model.settings.readOnly" name="transfer_message_to_prepaid_agent" id="transfer_message_to_prepaid_agent" ng-model="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_prepaid_agent" rows="5" ng-maxlength="500"></text-angular>
        </div>
    </div>
    <maintenance-email ng-if="ctrl.model.email_type === 'maintenance'"></maintenance-email>
    <recall-email ng-if="ctrl.model.email_type === 'recall'"></recall-email>
    <transfer-email ng-if="ctrl.model.email_type === 'transfer'"></transfer-email>
    <transfer-email ng-if="ctrl.model.email_type === 'share'"></transfer-email>
    <agent-transfer-email ng-if="ctrl.model.email_type === 'agent_transfer_notification'"></agent-transfer-email>
    <agent-transfer-email ng-if="ctrl.model.email_type === 'agent_prepaid_rp_transfer_notification'"></agent-transfer-email>
</form>