<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{keywordForm.resources.title}}</h4>
</div>  
<div class="modal-body">
    <div class="container">
        <div class="col-md-10">
            <form ng-submit="keywordForm.add()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{keywordForm.resources.addNew}}</label>
                            <input type="text" class="form-control" autofocus ng-model="keywordForm.form.keyword" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{keywordForm.resources.addNew}}</button>
                </div>
            </form>
        <h4>{{keywordForm.resources.current}}</h4>
        <div class="keyword-list-container">
            <ul>
                <li ng-repeat="kw in keywordForm.keywords | orderBy:'keyword'">
                    <span>{{kw.keyword}}<a href="" ng-click="keywordForm.remove(kw)" tooltip="Remove"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="" class="btn btn-primary" ng-click="keywordForm.close()">{{keywordForm.resources.close}}</a>
</div>