<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">{{ctrl.model.resources.message}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="height: 250px; overflow: auto;">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-3">{{ctrl.model.resources.nameColumn}}</th>
                            <th class="col-xs-3">{{ctrl.model.resources.importedBy}}</th>
                            <th class="col-xs-2">{{ctrl.model.resources.type}}</th>
                            <th class="col-xs-2"></th>
                            <th class="col-xs-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ctrl.model.items">
                            <td class="col-xs-3">{{item.item.name}}</td>
                            <td class="col-xs-3">{{item.user.email}}</td>
                            <td class="col-xs-2">{{item.type}}</td>
                            <td class="col-xs-2 text-center">
                                <button class="btn btn-primary btn-sm" ng-click="ctrl.model.update(item, true, false)" ng-disabled="item.processing">{{ctrl.model.resources.verify}}</button>
                            </td>
                            <td class="col-xs-2 text-center">
                                <button class="btn btn-secondary btn-sm" ng-click="ctrl.model.update(item, true, true)" ng-disabled="item.processing">{{ctrl.model.resources.dismiss}}</button>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="5">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>