<div class="container transfer-welcome">
    <div class="row col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-image">
                <div class="row">
                    <div class=" col-sm-6 col-xs-12 vertically-center">
                        <a ui-sref="root">
							<img class="img-responsive center-block" ng-src="/img/flatlogo.png" />
						</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center" ng-if="ctrl.model.verified">{{ctrl.model.resources.congratulations}}</p>
                        <p class="text-center" ng-if="!ctrl.model.verified">{{ctrl.model.resources.declined}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4">{{ctrl.model.resources.nameColumn}}</th>
                                        <th class="col-xs-4">{{ctrl.model.resources.importedBy}}</th>
                                        <th class="col-xs-4">{{ctrl.model.resources.type}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ctrl.model.items">
                                        <td class="col-xs-4">{{item.item.name}}</td>
                                        <td class="col-xs-3">{{item.user.email}}</td>
                                        <td class="col-xs-2">{{item.type}}</td>
                                    </tr>
                                    <tr ng-if="ctrl.model.items.length < 1">
                                        <td colspan="5">
                                            <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a herf="" ui-sref="login" class="btn btn-primary btn-lg">Login</a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-right">
		  			&copy; {{ctrl.model.year}} HomeBinder
		  		</span>
                <span class="clearfix">&nbsp;</span>
            </div>
        </div>
    </div>
    <hb-support-text></hb-support-text>
</div>