<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <div class="pull-right">
            <button type="submit" ng-click="ctrl.model.updateEmail()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.changeEmail}}</h3>
    </div>
    <form name="ctrl.model.emailForm" role="form" novalidate>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="email">{{ctrl.model.resources.changeEmail}}</label>
                <input id="email" ng-model="ctrl.model.new_email" name="email" type="email" class="form-control" required placeholder="{{ctrl.model.resources.changeEmailPlaceholder}}" ng-maxlength="255" />
                <div ng-messages="ctrl.model.emailForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.emailForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="confirm_password">{{ctrl.model.resources.enterPassword}}</label>
                <input id="confirm_password" ng-model="ctrl.model.confirm_password" name="confirm_password" type="password" class="form-control" required ng-minlength="8" ng-maxlength="128" placeholder="{{ctrl.model.resources.enterPasswordPlaceholder}}" />
                <div ng-messages="ctrl.model.emailForm.confirm_password.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.emailForm.$submitted">
                </div>
            </div>
        </div>
    </form>
</div>