<div class="page-header">
    <h3>Widgets</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5 class="text-uppercase">Excluded Widgets</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-repeat="array in ctrl.excludedWidgets" class="row">
            <div ng-repeat="excluded in array" class="col-xs-6 col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-disabled="true" ng-checked="true"> {{excluded.widget.name}}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5 class="text-uppercase">Available Widgets</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-repeat="array in ctrl.widgets" class="row">
            <div ng-repeat="widget in array" class="col-xs-6 col-md-3">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-click="ctrl.clicked(widget)" ng-checked="widget.checked"> {{widget.name}}
                </label>
            </div>
        </div>
    </div>
</div>