<application-header></application-header>

<div>
	<div class="jumbotron">
		<div class="container">
			<h1>{{ctrl.resources.title}}</h1>
			<p>{{ctrl.resources.subtitle}}</p>
			<p><a ui-sref="binders.new" class="btn btn-lg btn-primary">{{ctrl.resources.newBinder}}</a></p>
		</div>
	</div>

	<div class="container">

		<div class="row">
			<div ng-repeat="binder in ctrl.binders">
				<div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
				<div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
				<div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
				<div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="thumbnail">
						<a href="" ng-click="ctrl.clickBinder(binder)">
							<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ binder.property.address1 }},{{  binder.property.city }},{{ binder.property.state }}&zoom=15&size=300x200&key=AIzaSyBkAHC5xhv7J2CSDJWOgAEAbhEaATTsb1Y&sensor=false&markers=color:red|*|{{ binder.property.address1 }}{{ binder.property.city }}, {{ binder.property.state }}"
							/>
							<h6 class="text-center" ng-if="binder.primary"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;{{ctrl.resources.primaryMessage}}</h6>
							<h3 class="text-center">{{binder.name}}</h3>
							<h5 class="text-center">{{ binder.property.address1 }}, {{ binder.property.city }}, {{ binder.property.state }} {{ binder.property.zip}}</h5>
						</a>
						<div class="caption text-center">
							<div class="btn-group button-group text-left">
								<a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>{{ctrl.resources.options}}</span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu pull-right">
									<li><a href="/binders/{{ binder.id }}/edit"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.resources.edit}}</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="" ng-click="ctrl.deleteBinder(binder)"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.resources.remove}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<application-footer></application-footer>
