<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" src="/img/contracto.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>{{ctrl.resources.title}}</strong> -
					<span class="text-primary">{{ctrl.contractors.length}}</span>
					<span ng-if="!ctrl.contractForm.$invalid || ctrl.contractors.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.contractForm.$invalid && ctrl.contractors.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
					<small
						class="text-danger">{{ctrl.resources.subTitle}}</small>
						</span>
				</h3>
			</div>
			<div class="col-xs-1 orange-button">
				<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_contract_collapsed" ng-click="ctrl.is_contract_collapsed = !ctrl.is_contract_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_contract_collapsed, 'glyphicon glyphicon-plus': ctrl.is_contract_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_contract_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.helpText}}</h4>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2 text-left">
								<h4>{{ctrl.resources.nameColumn}}</h4>
							</div>
							<div class="col-lg-3 col-xs-3 text-center">
								<h4>{{ctrl.resources.typesColumn}}</h4>
							</div>
							<div class="col-lg-3 col-xs-3 text-center" style="word-wrap: break-word">
								<h4>{{ctrl.resources.emailColumn}}</h4>
							</div>
							<div class="col-xs-2 text-center">
								<h4>{{ctrl.resources.phoneColumn}}</h4>
							</div>
							<div class="col-xs-2">
								<h4></h4>
							</div>
						</div>
					</div>
					<div ng-if="ctrl.contractors.length > 0" class="panel-heading" ng-repeat="item in ctrl.contractors | orderBy:'name'">
						<div class="row">
							<form role="form" name="ctrl.contractForm" novalidate>
								<div class="col-xs-2 text-left">
									<span>{{item.partner_contractor.name | titleize}}</span>
								</div>
								<div class="col-lg-3 col-xs-3 text-center">
									<span ng-repeat="type in item.partner_contractor.types"> 
										{{type.name}}{{{true: '', false: ', '}[$last]}}&nbsp;
									</span>
								</div>
								<div class="col-lg-3 col-xs-3 text-center" style="overflow:auto;">
									<span>{{item.partner_contractor.email}}</span>
								</div>
								<div class="col-xs-2 text-center">
									<span ng-if="item.partner_contractor.phone.international">{{item.partner_contractor.phone.international}}</span>
								</div>
								<div class="col-xs-2">
									<button type="button" class="btn btn-primary" ng-click="ctrl.edit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-left">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addContractor()" ng-disabled="ctrl.contractForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>