<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ctrl.model.resources.title}}</h3>
        <h5 class="panel-title">{{ctrl.model.resources.subTitle}}</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bQf2uiTBGSo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-center">{{ctrl.model.resources.helpText}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <a href="/apr" class="btn btn-primary btn-lg" target="_blank" ng-click="ctrl.model.learnMore()" style="white-space: normal;">{{ctrl.model.resources.learnMore}}</a>
            </div>
            <div class="col-xs-6 text-right">
                <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.model.remove()" style="white-space: normal; font-size: 14px;">
                    <span class="visible-lg visible-md hidden-sm hidden-xs">{{ctrl.model.resources.cancelText1}}</span>
                    <span class="hidden-lg hidden-md visible-sm visible-xs">{{ctrl.model.resources.cancelText2}}</span>
                </button>
            </div>
        </div>
    </div>
</div>