<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.partner.$invalid && ctrl.form.$submitted }">
			<label for="partner" class="control-label">{{ctrl.model.resources.partnerLabel}}</label>
			<hb-lookup cfg="ctrl.model.partnerLookupCfg" selection="ctrl.model.partner"></hb-lookup>
			<input ng-show="false" name="partner" class="form-control" ng-model="ctrl.model.partner.name" type="text" required/>
			<div ng-messages="ctrl.form.partner.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.warranty_company.$invalid && ctrl.form.$submitted }">
			<label for="warranty_company" class="control-label">{{ctrl.model.resources.companyLabel}}*</label>
			<select name="warranty_company" ng-model="ctrl.model.warranty_company" ng-options="company.name for company in ctrl.model.warranty_companies track by company.id" ng-change="ctrl.model.onCompanyChange()" class="form-control" ng-required="true">
			</select>
			<div ng-messages="ctrl.form.warranty_company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label for="warranty_plan_options" class="control-label">Warranty Plan Options*</label>
			<ng-form class="form-horizontal" name="ctrl.planForm_{{$index}}" ng-repeat="plan in ctrl.model.partner_warranty_plans">
				<div class="form-group" ng-class="{ 'has-error': ctrl.planForm_{{$index}}.$invalid && ctrl.form.$submitted }">
					<label for="name" class="col-xs-4 control-label">{{plan.name}}</label>
					<div class="col-xs-8">
						<input name="price_{{$index}}" class="form-control" ng-model="plan.price" type="number" ng-min="1" required/>
						<div ng-messages="ctrl.planForm_{{$index}}['price_{{$index}}'].$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
						</div>
					</div>
				</div>
			</ng-form>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.warranty_plan.$invalid && ctrl.form.$submitted }">
			<label for="warranty_plan" class="control-label">{{ctrl.model.resources.planLabel}}*</label>
			<select name="warranty_plan" ng-model="ctrl.model.warranty_plan" ng-options="plan.name for plan in ctrl.model.partner_warranty_plans track by plan.id" class="form-control" ng-required="true">
			</select>
			<div ng-messages="ctrl.form.warranty_plan.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.account_number.$invalid && ctrl.form.$submitted }">
			<label for="account_number" class="control-label">{{ctrl.model.resources.accountLabel}}</label>
			<input name="account_number" class="form-control" ng-model="ctrl.model.account_number" type="text" ng-maxlength="100" placeholder="{{ctrl.model.resources.accountPlaceholder}}" required/>
			<div ng-messages="ctrl.form.account_number.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-12 col-sm-6">
			<label for="automatic_purchases" class="control-label">{{ctrl.model.resources.automaticLabel}}</label>
			<input name="automatic_purchases" class="form-control" ng-model="ctrl.model.automatic_purchases" type="checkbox" value="ctrl.model.automatic_purchases" ng-true-value="true" ng-false-value="false">
			<div ng-messages="ctrl.form.automatic_purchases.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
	</form>
</div>