<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block" ng-src="/img/rp-report_cover.jpg" height="25%" width="25%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Turn any home inspection report into a highly accurate cost estimate within 24 hours for just $49.95.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">See <a href="https://s3.amazonaws.com/homebinderpdf/170_Mountain_Park_Rd_Roswell_GA_30075.pdf" target="_blank">Example</a></h3>
        </div>
    </div>
    <div class="row white-buttons" style="position: relative; top: 25px;">
        <div class="col-xs-6 text-center">
            <a href="https://drive.google.com/file/d/1qWxllVWeb2obD4Vx98ta0F_BJVKoVp8f/view" target="_blank" class="btn btn-primary btn-lg" ng-click="ctrl.learnMore()" style="white-space: normal;">Learn More</a>
        </div>
        <div class="col-xs-6 text-center">
            <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.order()" style="white-space: normal;">
                Order Now
            </button>
        </div>
    </div>
</div>