<form class="landing-inspectors-new" name="trialForm" role="form">
    <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Inspector Video</h4>
    </div>
    <div class="modal-body">
        <iframe width="560" height="340" src="https://www.youtube.com/embed/28rw6PplGBM?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Close</a>
    </div>
</form>