<div class="container homeowner">
	<div class="row">
		<div class="col-xs-12 col-md-10 center-block">
			<div><img class="img-responsive center-block flatlogo" src="/img/flatlogo.png" /></div>
			<h1 class="text-center">{{ctrl.resources.title}}</h1>
			<hr>

			<div class="row list">
				<div class="col-xs-6">
					<h4 ng-class="{'text-center text-muted': ctrl.step != 'stepOne', 'text-center text-success': ctrl.step === 'stepOne'}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ctrl.resources.ownerInfo}}</h4>
				</div>
				<div class="col-xs-6">
					<h4 ng-class="{'text-center text-muted': ctrl.step != 'stepTwo', 'text-center text-success': ctrl.step === 'stepThree'}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{ctrl.resources.propertyInfo}}</h4>
				</div>
			</div>
			<div ng-show="ctrl.step === 'stepOne'">
				<div class="panel panel-default">
					<div class="panel-heading text-center" style="background-color: white;">
						<h4>{{ctrl.resources.ownerHelpText}}</h4>
					</div>
					<div class="panel-body">
						<form role="form" name="ctrl.registerForm">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<label for="default_locale">{{ctrl.resources.preferredLanguage}}</label>
										<select id="default_locale" name="default_locale" class="form-control input-lg" ng-model="ctrl.info.default_locale" ng-options="option.value as option.name for option in ctrl.localeOptions" ng-change="ctrl.setLocale(ctrl.info.default_locale, true)" />
										<div ng-messages="ctrl.form.default_locale.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html">
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.country.$valid}'>
										<label for="country" class="control-label">{{ctrl.resources.country}}*</label>
										<select name="country" ng-model="ctrl.country" ng-options="country as country.name for country in ctrl.countries" class="form-control input-lg" ng-required="true" ng-change="ctrl.setStates()">
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.first.$valid}'>
										<label>{{ctrl.resources.firstName}}*</label>
										<input type="text" class="form-control input-lg" name="first" placeholder="{{ctrl.resources.firstName}}" ng-model="ctrl.info.first" ng-minlength="1" ng-maxlength="50" autofocus required/>
										<span ng-if="ctrl.registerForm.first.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.registerForm.first.$error.minlength && !ctrl.registerForm.first.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.registerForm.first.$error.maxlength && !ctrl.registerForm.first.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.registerForm.first.$error.required && !ctrl.registerForm.first.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.last.$valid}'>
										<label>{{ctrl.resources.lastName}}*</label>
										<input type="text" class="form-control input-lg" name="last" placeholder="{{ctrl.resources.lastName}}" ng-model="ctrl.info.last" ng-minlength="1" ng-maxlength="50" required/>
										<span ng-if="ctrl.registerForm.last.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.registerForm.last.$error.minlength && !ctrl.registerForm.last.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.registerForm.last.$error.maxlength && !ctrl.registerForm.last.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.registerForm.last.$error.required && !ctrl.registerForm.last.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.email.$valid}'>
										<label>{{ctrl.resources.email}}*</label>
										<input type="email" class="form-control input-lg" name="email" placeholder="homeowner@email.com" ng-model="ctrl.info.email" required/>
										<span ng-if="ctrl.registerForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.registerForm.email.$error.email && !ctrl.registerForm.email.$pristine" class="error">{{ctrl.validationErrors.email}}</span>
										<span ng-show="ctrl.registerForm.email.$error.required && !ctrl.registerForm.email.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.phone.$valid}'>
										<label>{{ctrl.resources.phone}}*</label>
										<div class="input-group">
											<span class="input-group-addon">+{{ctrl.country.code}}</span>
											<input type="text" class="form-control input-lg" name="phone" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="ctrl.info.phone" required/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.password.$valid}'>
										<label>{{ctrl.resources.password}}*</label>
										<input type="password" class="form-control input-lg" name="password" placeholder="{{ctrl.resources.password}}" ng-model="ctrl.info.password" ng-minlength="8" ng-maxlength="128" required/>
										<span ng-if="ctrl.registerForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.registerForm.password.$error.minlength && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.minlength}} 8</span>
										<span ng-show="ctrl.registerForm.password.$error.maxlength && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 128</span>
										<span ng-show="ctrl.registerForm.password.$error.required && !ctrl.registerForm.password.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.registerForm.confirmPassword.$valid}'>
										<label>{{ctrl.resources.confirmPassword}}*</label>
										<input type="password" class="form-control input-lg" name="confirmPassword" placeholder="{{ctrl.resources.confirmPassword}}" ng-model="ctrl.info.confirmPassword" compare-to="ctrl.info.password" required/>
										<span ng-if="ctrl.registerForm.confirmPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.registerForm.confirmPassword.$error.compareTo && !ctrl.registerForm.confirmPassword.$pristine && !ctrl.registerForm.confirmPassword.$error.required && ctrl.registerForm.password.$valid" class="error">{{ctrl.validationErrors.passwordsNotEqual}}</span>
										<span ng-show="ctrl.registerForm.confirmpassword.$error.required && !ctrl.registerForm.confirmPassword.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<div class="text-right">
							<button type="button" class="btn btn-lg btn-primary" ng-click="ctrl.next()" ng-disabled="ctrl.registerForm.$invalid">{{ctrl.resources.next}} <span class="glyphicon glyphicon-arrow-right"></span></button>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="ctrl.step === 'stepTwo'">
				<div class="panel panel-default">
					<div class="panel-heading text-center" style="background-color: white;">
						<h4>{{ctrl.resources.propertyHelpText}}</h4>
					</div>
					<div class="panel-body">
						<form role="form" name="ctrl.propertyForm">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.name.$valid}'>
										<label>{{ctrl.resources.propertyName}}*</label>
										<input type="text" class="form-control input-lg" name="name" placeholder="{{ctrl.resources.propertyName}}" ng-model="ctrl.info.name" ng-minlength="1" ng-maxlength="50" required/>
										<span ng-if="ctrl.propertyForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.propertyForm.name.$error.minlength && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.propertyForm.name.$error.maxlength && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.propertyForm.name.$error.required && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.address.$valid}'>
										<label>{{ctrl.resources.address1}}*</label>
										<input type="text" class="form-control input-lg" name="address" placeholder="{{ctrl.resources.address1}}" ng-model="ctrl.info.address1" ng-minlength="1" ng-maxlength="50" required/>
										<span ng-if="ctrl.propertyForm.address.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.propertyForm.address.$error.minlength && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.propertyForm.address.$error.maxlength && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.propertyForm.address.$error.required && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.unit.$valid}'>
										<label>{{ctrl.resources.address2}}</label>
										<input type="text" class="form-control input-lg" name="unit" placeholder="{{ctrl.resources.address2}}" ng-model="ctrl.info.address2" ng-minlength="1" ng-maxlength="50" />
										<span ng-show="ctrl.propertyForm.unit.$error.minlength && !ctrl.propertyForm.unit.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.propertyForm.unit.$error.maxlength && !ctrl.propertyForm.unit.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.city.$valid}'>
										<label>{{ctrl.resources.city}}*</label>
										<input type="text" class="form-control input-lg" name="city" placeholder="{{ctrl.resources.city}}" ng-model="ctrl.info.city" ng-minlength="1" ng-maxlength="50" required/>
										<span ng-if="ctrl.propertyForm.city.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.propertyForm.city.$error.minlength && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.propertyForm.city.$error.maxlength && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.propertyForm.city.$error.required && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.state.$valid}'>
										<label>{{ctrl.resources.state}}*</label>
										<ui-select ng-model="ctrl.info.state" on-select="ctrl.onSelect($item)" theme="bootstrap" ng-required="true" name="state">
											<ui-select-match placeholder="{{ctrl.resources.selectState}}">{{$select.selected.name}}</ui-select-match>
											<ui-select-choices group-by="ctrl.Address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
												<span ng-bind-html="item.name | highlight: $select.search"></span>
											</ui-select-choices>
										</ui-select>
										<span ng-show="ctrl.propertyForm.state.$error.required && !ctrl.propertyForm.state.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class='{"has-feedback": ctrl.propertyForm.zip.$valid}'>
										<label>{{ctrl.resources.zip}}*</label>
										<input type="text" class="form-control input-lg" name="zip" placeholder="{{ctrl.resources.zip}}" ng-model="ctrl.info.zip" ng-minlength="1" ng-maxlength="50" required/>
										<span ng-if="ctrl.propertyForm.zip.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
										<span ng-show="ctrl.propertyForm.zip.$error.minlength && !ctrl.propertyForm.zip.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.propertyForm.zip.$error.maxlength && !ctrl.propertyForm.zip.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
										<span ng-show="ctrl.propertyForm.zip.$error.required && !ctrl.propertyForm.zip.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-heading"></div>
					<div class="panel-heading text-center" style="background-color: white;">
						<h5 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.uploadText}}</h5>
					</div>
					<div class="panel-heading text-center" style="background-color: white;">
						<div class="row">
							<div class="col-xs-6">
								<img ng-if="ctrl.images.length < 1" class="img-responsive center-block" height="150" width="150" ng-src="https://s3.amazonaws.com/homebinderstatic/img/home.png" alt="Homeowner House" />
								<img ng-if="ctrl.images.length > 0" class="img-responsive center-block" ng-src="{{ctrl.image.src}}" alt="Homeowner House" />
							</div>
							<div class="col-xs-6">
								<div ng-if="ctrl.images.length < 1" class="form-group text-center">
									<hb-uploader cfg="ctrl.uploader" file-uploaded="ctrl.imgUploaded(file)" file-added="ctrl.fileAdded()" file-error="ctrl.imgUploadError(response)"></hb-uploader>
								</div>
								<div ng-if="ctrl.images.length > 0">
									<div class="row">
										<div class="col-xs-6">{{ctrl.images[0].name}}</div>
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" ng-click="ctrl.remove_image()"><span class="glyphicon glyphicon-remove"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6">
						<div class="text-left">
							<button type="button" class="btn btn-lg btn-default" ng-click="ctrl.previousSteps()">{{ctrl.resources.previous}}</button>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="text-right">
							<button type="button" class="btn btn-lg btn-primary" ng-click="ctrl.submitForm()" ng-disabled="ctrl.propertyForm.$invalid || ctrl.has_submitted">{{ctrl.resources.finish}}! <span class="glyphicon glyphicon-arrow-right"></span></button>
						</div>
					</div>
				</div>
				<homeowner-form-maintenance-items items="ctrl.maintenanceItems" ng-show="false"></homeowner-form-maintenance-items>
			</div>
			<hb-support-text></hb-support-text>
		</div>
	</div>
</div>