.homeowner {
    .center-block {
        float: none !important
    }
    .home-icons {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .list {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .panel-heading {
        background-color: white;
    }
    .move-button {
        position: relative;
        top: 10px;
        right: 10px;
    }
    img.flatlogo {
        height: 100px !important;
    }
    .btn .btn-default {
        border-color: @brand-primary !important;
        color: @brand-primary !important;
    }
    .ui-select-bootstrap>.ui-select-match>.btn,
    .form-control:focus {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}