<div class="homeowner-upgrade">
	<form name="form" role="form" ng-submit="ctrl.submit()" novalidate>
		<div class="modal-header">
			<h4 class="modal-title text-center">{{ctrl.resources.title}}</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12">
					<h4 class="text-center">{{ctrl.resources.helpText}}</h4>
				</div>
			</div>
			<div class="row" style="margin-top: 25px;">
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/10gb.gif" style="position: relative; top: 25px;">
					</figure>
				</div>
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/noun_List_10797_ff6633.png">
					</figure>
				</div>
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/noun_Oven_80535_ff6633.png">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<figcaption class="text-center">{{ctrl.resources.more}}&nbsp;<span class="hidden-xs hidden-sm">{{ctrl.resources.documentsAndPhotos}}</span>&nbsp;{{ctrl.resources.storage}}</figcaption>
				</div>
				<div class="col-xs-4">
					<figcaption class="text-center">{{ctrl.resources.inventory}}&nbsp;<span class="hidden-xs hidden-sm">{{ctrl.resources.tracking}}</span></figcaption>
				</div>
				<div class="col-xs-4">
					<figcaption class="text-center"><span class="hidden-xs hidden-sm">{{ctrl.resources.appliance}}</span>&nbsp;{{ctrl.resources.recalls}}</figcaption>
				</div>
			</div>
			<div class="row" style="margin-top: 25px;">
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/noun_Sent Documents_684778_ff6633.png">
					</figure>
				</div>
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/noun_Book_16378_ff6633.png">
					</figure>
				</div>
				<div class="col-xs-4">
					<figure>
						<img class="center-block img-responsive" src="/img/noun_guide_1146104_ff6633.png">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<figcaption class="text-center"><span class="hidden-xs hidden-sm">{{ctrl.resources.buildfax}}&reg;</span>&nbsp;{{ctrl.resources.permits}}&nbsp;<span class="hidden-xs hidden-sm">{{ctrl.resources.access}}</span></figcaption>
				</div>
				<div class="col-xs-4">
					<figcaption class="text-center">{{ctrl.resources.new}}&nbsp;<span class="hidden-xs hidden-sm">{{ctrl.resources.homeownerGuide}}</span><span class="visible-xs visible-sm">{{ctrl.resources.owner}}</span>&nbsp;{{ctrl.resources.ebook}}</figcaption>
				</div>
				<div class="col-xs-4">
					<figcaption class="text-center">{{ctrl.resources.support}}&nbsp;<span class="hidden-xs hidden-sm">{{ctrl.resources.customEmail}}</span></figcaption>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h4 class="text-success text-center">{{ctrl.resources.upgradeText}}</h4>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a ng-click="ctrl.close()" href="{{ctrl.binder.subscription.url}}" class="btn btn-primary">{{ctrl.resources.learnMore}}</a>
			<button ng-click="ctrl.close()" type="button" class="btn btn-default">{{ctrl.resources.decline}}</button>
		</div>
	</form>
</div>