<div class="landing-agents">
  <div class="header">
    <div class="container hidden-xs">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img alt="Brand" src="../../img/flatlogo2s.png">
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/index">{{ctrl.resources.homeowners}}</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.resources.professionals}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/inspectors">{{ctrl.resources.inspectors}}</a></li>
                <li><a href="/agents">{{ctrl.resources.agents}}</a></li>
                <li><a href="/lenders">{{ctrl.resources.lenders}}</a></li>
                <li><a href="/pros">{{ctrl.resources.homepros}}</a></li>
                <li><a href="/managers">{{ctrl.resources.managers}}</a></li>
                <li><a href="/builders">{{ctrl.resources.builders}}</a></li>
                <a class="dropdown-item" href="/hoas">{{ctrl.resources.hoas}}</a>
                <a class="dropdown-item" href="/insurances">{{ctrl.resources.insurances}}</a>
              </ul>
            </li>
            <li class="dropdown" ng-if="false">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.resources.language}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="ctrl.setLocale('en-us', true)">{{ctrl.resources.english}}</a></li>
                <li><a href="" ng-click="ctrl.setLocale('sp', true)">{{ctrl.resources.spanish}}</a></li>
                <li><a href="" ng-click="ctrl.setLocale('fr', true)">{{ctrl.resources.french}}</a></li>
              </ul>
            </li>
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="pull-right"><a href="/login">{{ctrl.resources.signIn}}</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <nav class="navbar navbar-inverse hidden-sm hidden-md hidden-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>              
      </button>
          <a class="navbar-brand" href="/index"><img src="../../img/flatlogonotext.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/inspectors">{{ctrl.resources.inspectors}}</a></li>
            <li><a href="/agents">{{ctrl.resources.agents}}</a></li>
            <li><a href="/lenders">{{ctrl.resources.lenders}}</a></li>
            <li><a href="/pros">{{ctrl.resources.homepros}}</a></li>
            <li><a href="/managers">{{ctrl.resources.managers}}</a></li>
            <li><a href="/builders">{{ctrl.resources.builders}}</a></li>
            <li><a href="/hoas">{{ctrl.resources.hoas}}</a></li>
            <li><a href="/insurances">{{ctrl.resources.insurances}}</a></li>
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/login">{{ctrl.resources.signIn}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="hero pull-left text-center">
      <h1>{{ctrl.resources.title}}&nbsp;<br>&nbsp;{{ctrl.resources.subtitle}}</h1>
      <h2>Add a&nbsp;<a href="https://www.homebinder.com/sellerreport/C7975D">HomeBinder Report</a>&nbsp;to your listings to better communicate the value of a home and justify above market appraisal values by sharing info beyond the MLS.</h2>
      <a class="hidden-xs btn btn-lg btn-primary" ng-click="ctrl.startTrial()">{{ctrl.resources.startTrial}}</a>
      <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.requestTrial()">{{ctrl.resources.requestTrial}}</a>
    </div>
    <div class="hero text-center">
      <p class="callus hidden-sm hidden-xs"><span>Now integrated with<img class="brokerMint" src="../../img/brokerMint.png"></span></p>
    </div>
  </div>
  <div class="row section three">
    <div class="container text-center">
      <h2>{{ctrl.resources.affordable}}</h2>
      <p>{{ctrl.resources.threeMinutes}}</p>
      <div class="col-sm-6 text-center"> <img src="../../img/list2.png">
        <h4>{{ctrl.resources.differentiate}}</h4>
        <p>{{ctrl.resources.shareBranded}}&nbsp;<a href="https://www.homebinder.com/sellerreport/C7975D">{{ctrl.resources.homebinderReports}}</a>&nbsp;{{ctrl.resources.homebinderReportsText}}</p>
      </div>
      <div class="col-sm-6 text-center">
        <img src="../../img/close2.png">
        <h4>{{ctrl.resources.justifyAppraisal}}</h4>
        <p>{{ctrl.resources.include}}&nbsp;<a href="https://www.homebinder.com/sellerreport/C7975D">{{ctrl.resources.homebinderReports}}</a>&nbsp;{{ctrl.resources.homebinderReportsText1}}</p>
      </div>
    </div>
  </div>
  <div class="row section setup">
    <div class="container">
      <div class="col-sm-8">
        <div class="monitor"> <img src="../../img/ReportGif.gif"> </div>
      </div>
      <div class="col-sm-4 text-center">
        <h2>{{ctrl.resources.infoBuyers}}</h2>
        <img src="../../img/divider.gif">
        <p>{{ctrl.resources.fillOut}}</p>
        <a class="hidden-xs btn btn-lg btn-primary" ng-click="ctrl.startTrial()">{{ctrl.resources.startTrial}}</a>
        <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.requestTrial()">{{ctrl.resources.requestTrial}}</a><br/>
        <span class="trigger">{{ctrl.resources.creditCard}}</span> </div>
    </div>
  </div>
  <div class="row section text-center pricing">
    <div class="container">
      <h2>{{ctrl.resources.noHassle}}</h2>
      <p class="price"><span>$</span>24<span>/{{ctrl.resources.home}}</span></p>
      <p>{{ctrl.resources.homeBinderHelp}}</p>
      <a class="hidden-xs btn btn-lg btn-primary" ng-click="ctrl.startTrial()">{{ctrl.resources.startTrial}}</a>
      <a class="visible-xs btn btn-lg btn-primary" ng-click="ctrl.requestTrial()">{{ctrl.resources.requestTrial}}</a> <br/>
      <span class="trigger">{{ctrl.resources.freeBinders}}</span> </div>
  </div>
  <div class="row section say">
    <div class="container">
      <div class="col-sm-4 text-center" id="videoanchor">
        <h2>{{ctrl.resources.buyerQuestion}}</h2>
        <img src="../../img/divider.gif">
        <p class="text-center">{{ctrl.resources.effortlessMarketing}}</p>
        <a class="btn btn-lg btn-primary" href="/inspectors">{{ctrl.resources.shareInspectors}}</a>
      </div>
      <div class="col-sm-8">
        <div class="monitor"><img src="../../img/BinderGif.gif">
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="inspectors">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a class="logo"><img src="../../img/flatlogo2s.png"></a>
          <ul>
            <li class="hidden-xs"><a href="/index" class="active">{{ctrl.resources.homeowners}}</a> </li>
            <li class="hidden-xs"><a href="/inspectors">{{ctrl.resources.inspectors}}</a> </li>
            <li class="hidden-xs"><a href="/agents">{{ctrl.resources.agents}}</a> </li>
            <li>
              <p>&copy; {{ctrl.yyyy}} HomeBinder Inc.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul style="text-align: center;">
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/terms">{{ctrl.resources.terms}}</a></li>
            <li><a href="/privacy">{{ctrl.resources.privacy}}</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: right;">
          <li class="hidden-xs">1-800-377-6915</li>
          <li class="hidden-xs">SUPPORT AT HOMEBINDER DOT COM</li>
          <a href="http://www.facebook.com/homebinder" target="_blank"><img src="../../img/facebookgrey.gif" alt="Facebook image for HomeBinder's home management software"></a>&nbsp;
          <a href="http://www.twitter.com/homebinder" target="_blank"><img src="../../img/twittergrey.gif" alt="Facebook image for HomeBinder's home management software"></a>
        </div>
      </div>
    </div>
  </footer>
</div>