<div class="panel panel-default">
    <div class="panel-heading">
        <h3 ng-show="ctrl.model.state.isIdle()" class="panel-title">{{ctrl.model.configuration.title}}</h3>
        <h3 ng-show="!ctrl.model.state.isIdle()" class="panel-title">{{ctrl.model.resources.partnerWidgetTitle}}</h3>
    </div>
    <div class="panel-body">
        <div ng-show="ctrl.model.state.isIdle()">
            <div class="row text-center">
                <div class="col-xs-12">
                    <p>{{ctrl.model.configuration.body}}</p>
                </div>
            </div>
            <div class="row text-center" ng-if="ctrl.model.configuration.url && ctrl.model.configuration.buttonLabel">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="ctrl.model.onLinkClick()">{{ctrl.model.configuration.buttonLabel}}</button>
                </div>
            </div>
        </div>
        <div ng-show="ctrl.model.state.isBusy()">
            <div class="alert alert-info">{{ctrl.model.resources.loading}}</div>
        </div>
        <div ng-show="ctrl.model.state.isError()">
            <div class="alert alert-danger">
                <a href="" ng-click="ctrl.model.refresh()">
                    <span class="glyphicon glyphicon-ban-circle"></span>{{ctrl.model.resources.tryAgain}}
                </a>
            </div>
        </div>
    </div>
</div>