<div class="container-fluid">
	<div class="page-header">
		<button class="btn btn-primary pull-right" ng-click="ctrl.model.addDashboard()">{{ctrl.model.resources.newButton}}</button>
		<h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-sm-5 col-xs-4">
					<h4 class="text-muted">
						<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
						<small ng-if="ctrl.model.currentUser.role === 'admin'" class="hidden-sm hidden-xs">{{ctrl.model.resources.searchInfo}}</small>
					</h4>
				</div>
				<div class="col-xs-6 col-sm-5">
					<div class="pull-right">
						<form role="form" name="searchForm">
							<div class="form-group">
								<label for="text">Search:</label>
								<div class="input-group input-group-sm">
									<input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by dashboard name, ID..." ng-minlength="1" required/>
									<span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
									</button>
									<button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<label for="search">Show:</label>
						<select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row hb-custom-table">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" style="background-color: white;">
					<thead>
						<tr>
							<th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
								<span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
								<span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dashboard in ctrl.model.items track by $index">
							<td>{{dashboard.id}}</td>
							<td>{{dashboard.name}}</td>
							<td>{{dashboard.description}}</td>
							<td>{{dashboard.default | yesNo}}</td>
							<td>
								<button type="button" class="btn btn-default btn-xs hb-datagrid-col-button" ng-click="ctrl.model.editDashboard(dashboard)" tooltip="{{ctrl.model.resources.editTip}}"><span class="glyphicon glyphicon-edit"></span></button>
								<button type="button" class="btn btn-danger btn-xs hb-datagrid-col-button" ng-click="ctrl.model.deleteItem(dashboard, $index)" tooltip="{{ctrl.model.resources.deleteTip}}"><span class="glyphicon glyphicon-remove"></span></button>
							</td>
						</tr>
						<tr ng-if="ctrl.model.items.length < 1">
							<td colspan="5">
								<h3 class="text-center">No Dashboards found</h3>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
								</pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>