.dashboards {
    .id-column {
        width: 10%;
    }
    .name-column {
        width: 25%;
    }
    .descrition-column {
        width: 40%;
    }
    .default-column {
        width: 10%;
        text-align: center;
    }
    .actions-column {
        width: 15%;
    }
}

// Masonry grid container
.masonry {
    column-count: 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    
    column-gap: 15px;
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    
    margin-top: 15px;
}

// Masonry grid items
.item {
    display: inline-block;
    margin: 0px 0px 15px 0px;
    width: 100%;
} 

// Only extra small devices
@media (max-width:@screen-xs-max) {
    .masonry {
        column-count: 1;
    }
}

// Only small devices
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .masonry {
        column-count: 2;
    }
}