<div class="buildfax-import">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid" ng-hide="ctrl.hide === 'true'">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="boxes" ng-click="ctrl.import()">
                        <img class="img-responsive center-block" src="img/buildfax.png" />
                        <h3>{{ctrl.resources.importHeader}}</h3>
                        <p>{{ctrl.resources.importHelpText}}</p>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="boxes" ng-click="ctrl.create()">
                        <img class="img-responsive center-block" src="img/projo.png" />
                        <h3>{{ctrl.resources.createHeader}}</h3>
                        <p>{{ctrl.resources.createHelpText}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" ng-click="ctrl.cancel()" value="Cancel" />
    </div>
</div>