.buildfax-import {
    table {
        width: 100%;
    }
    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }
    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    thead th {
        height: 30px;
        /*text-align: left;*/
    }
    tbody {
        height: 220px;
        overflow-y: auto;
    }
    thead {
        /* fallback */
    }
    tbody td,
    thead th {
        width: 19.2%;
        float: left;
    }
    .boxes {
        text-align: center;
        background-color: #fff;
        padding: 40px;
        border: 3px solid @gray-light;
        border-radius: 10px;
        margin: 0 auto;
        display: block;
        height: 300px;
        color: @darksienna;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            border-color: @brand-primary;
        }
        @media only screen and (max-width: 500px) {
            padding: 12px;
        }
        h3 {
            color: @brand-primary;
            padding-bottom: 10px;
            border-bottom: 1px solid @gray-light;
            @media only screen and (max-width: 500px) {
                font-size: 18px;
                line-height: 1.4;
                margin-top: 12px;
            }
        }
    }
}