<div class="container-fluid binderForm" style="position: relative; top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white; min-height: 700px;">
            <div class="row" style="position: relative; top:15px;">
                <div class="col-sm-2 hidden-xs" style="border-right: 1px solid #dddddd; margin-top: 30px;">
                    <ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
                        <div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.navigation_links">
                            <li role="presentation">
                                <h6 class="dropdown-header"><strong>{{header.name}}</strong></h6>
                            </li>
                            <li role="presentation" ng-repeat="link in header.links" ng-click="ctrl.changeLink(link)">
                                <a href="" class="dropdown-item" ng-class="{'text-muted disabled': !link.active}" style="position:relative;right:-10px;">{{link.name}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <appliance-manufacturers ng-if="ctrl.currentLink.value == 'appliance_manufacturers'"></appliance-manufacturers>
                </div>
            </div>
        </div>
    </div>
</div>