<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" src="/img/maino.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>{{ctrl.resources.title}}</strong> -
					<span class="text-primary">{{ctrl.items.length}}</span>
					<span ng-if="!ctrl.maintForm.$invalid || ctrl.items.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.maintForm.$invalid && ctrl.items.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;
					<small class="text-danger">{{ctrl.resources.subTitle}}</small>
					</span>
				</h3>
			</div>
			<div class="col-xs-1 orange-button">
				<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_maint_collapsed" ng-click="ctrl.is_maint_collapsed = !ctrl.is_maint_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_maint_collapsed, 'glyphicon glyphicon-plus': ctrl.is_maint_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_maint_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.helpText}}</h4>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3 text-left">
								<h4>{{ctrl.resources.itemColumn}}</h4>
							</div>
							<div class="col-xs-2 text-center">
								<h4>{{ctrl.resources.frequencyColumn}}</h4>
							</div>
							<div class="col-xs-3 text-center">
								<h4>{{ctrl.resources.dateColumn}}</h4>
							</div>
							<div class="col-xs-3 text-center">
								<h4>{{ctrl.resources.notesColumn}}</h4>
							</div>
							<div class="col-xs-1">
								<h4></h4>
							</div>
						</div>
					</div>
					<div class="panel-heading" ng-repeat="item in ctrl.items">
						<div class="row">
							<div class="col-xs-3 text-left">
								<span>{{item.name}}</span>
							</div>
							<div class="col-xs-2 text-center">
								<span>{{item.frequency}}</span>
							</div>
							<div class="col-xs-2 text-center">
								<span ng-if="item.due_date">{{item.due_date | date}}</span>
								<span ng-if="item.initial_due_date_interval > 0">{{item.initial_due_date_interval}} days after binder creation</span>
							</div>
							<div class="col-xs-3 text-center">
								<p ng-bind-html="item.notes"></p>
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.edit(item)"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span></button>
								<button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.send(item)" tooltip="Send a test email reminder to yourself"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-left">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addItem()" ng-disabled="ctrl.maintForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.add}}
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>