<form>
    <div class="form-group">
        <select ng-options="category.label for category in ctrl.categories"
                ng-model="ctrl.category"
                class="form-control"></select>
    </div>
    <div ng-show="ctrl.showLookup" class="form-group">
        <hb-lookup cfg="ctrl.lookupCfg" selection="ctrl.item"></hb-lookup>
    </div>
    <button id="filter-button" type="submit" class="btn btn-primary btn-block" ng-click="ctrl.executeFilter()" ng-disabled="ctrl.disableFilter">{{ctrl.cfg.filterButtonLabel}}</button>
</form>