<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <text-angular ng-model="ctrl.message" placeholder="{{ctrl.placeholder}}"></text-angular>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.sendMessage()" type="button" class="btn btn-primary" ng-disabled="ctrl.message.length < 10 || ctrl.sending">{{ctrl.resources.send}}</button>
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>