<div class="merge-agent-modal">
    <div class="modal-header text-center">
        <button type="button" class="close" aria-hidden="true" ng-click="ctrl.model.close()">&times;</button>
        <h3>{{ctrl.model.resources.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>{{ctrl.model.resources.description1}}&nbsp;<strong>{{ctrl.model.agent1.user_profile_attributes.first_name}}&nbsp;{{ctrl.model.agent1.user_profile_attributes.last_name}}</strong>&nbsp;{{ctrl.model.resources.at}}&nbsp;<strong>{{ctrl.model.agent1.user_profile_attributes.email}}</strong>.&nbsp;{{ctrl.model.resources.description2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div class="pull-right">
                    <form role="form" name="searchForm">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by user name, ID, email..." ng-minlength="1" required/>
                                <span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
                </div>
            </div>
        </div>
        <form class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover agent-search" style="background-color: white;">
                    <thead>
                        <tr>
                            <th class="text-center">{{ctrl.model.resources.select}}</th>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in ctrl.model.items">
                            <td class="text-center"><input type="checkbox" ng-model="user.checked" ng-change="ctrl.model.checkChanged(user)" ng-disabled="(ctrl.model.numChecked === ctrl.model.maxChecked && !user.checked) || user.id === ctrl.model.agent1.id" ng-checked="user.id === ctrl.model.agent1.id" style="transform: scale(1.5);"></td>
                            <td ng-show="ctrl.model.columns.id">{{user.id}}</td>
                            <td ng-show="ctrl.model.columns.name">{{user.user_profile_attributes.first_name}}&nbsp;{{user.user_profile_attributes.last_name}}</td>
                            <td ng-show="ctrl.model.columns.email">{{user.email}}</td>
                            <td ng-show="ctrl.model.columns.phone">
                                <span ng-if="user.user_profile_attributes.mobile_phone.international">{{user.user_profile_attributes.mobile_phone.international}}</span>
                            </td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="5">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                                </pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-12 text-center">
                <button class="btn btn-primary" ng-click="ctrl.model.agentMergeModal()" ng-disabled="ctrl.model.numChecked < 2">{{ctrl.model.resources.details}}</button>
            </div>
        </form>
    </div>
</div>