<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}*</label>
			<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" ng-maxlength="100" placeholder="{{ctrl.model.resources.namePlaceholder}}" autofocus required/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.contactLabel}}*</label>
			<input name="name" class="form-control" ng-model="ctrl.model.contact" type="text" ng-maxlength="100" placeholder="{{ctrl.model.resources.contactPlaceholder}}" required/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="email" class="control-label">{{ctrl.model.resources.emailLabel}}*</label>
			<input name="email" class="form-control" ng-model="ctrl.model.email" type="email" ng-maxlength="100" placeholder="{{ctrl.model.resources.emailPlaceholder}}" required/>
			<div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="secondary_email" class="control-label">{{ctrl.model.resources.secondEmailLabel}}</label>
			<input name="secondary_email" class="form-control" ng-model="ctrl.model.secondary_email" type="email" ng-maxlength="100" placeholder="{{ctrl.model.resources.emailPlaceholder}}"/>
			<div ng-messages="ctrl.form.secondary_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
	</form>
</div>