<form name="ctrl.model.form" role="form" novalidate>
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.title}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.apiKey}}&nbsp;<button class="btn btn-primary btn-sm" role="button" ng-if="ctrl.model.currentUser.role === 'admin'" ng-show="!ctrl.model.settings.readOnly" ng-click="ctrl.model.generateApiKey()">Generate API Key</button></label>
            <p class="form-control-static">{{ctrl.model.item.api_key}}</p>
            <p class="form-text text-muted">
                {{ctrl.model.resources.apiKeyText}}
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="partner_key" class="control-label">{{ctrl.model.resources.partnerKey}}</label>
            <p ng-if="ctrl.model.settings.readOnly || !ctrl.model.settings.canEditKey" class="form-control-static">{{ctrl.model.item.partner_key}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" ng-show="ctrl.model.settings.canEditKey" name="partner_key" id="partner_key" type="text" class="form-control" ng-model="ctrl.model.item.partner_key" placeholder="API route name" ng-regex ng-minlength="5" ng-maxlength="30"
            />
            <div ng-messages="ctrl.model.form.partner_key.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" tesr="ctrl.model.partnerForm.$submitted">
            </div>
            <p class="form-text text-muted">
                {{ctrl.model.resources.partnerKeyText}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.binderAction}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.automation_binder_action | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="notifications" class="form-control" ng-model="ctrl.model.item.configuration.automation_binder_action" type="checkbox" value="ctrl.model.item.configuration.automation_binder_action" ng-true-value="true"
                ng-false-value="false" ng-click="ctrl.model.transferConfirm()">
            <p class="form-text text-muted">
                {{ctrl.model.resources.binderActionText}}
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.item.partner_type === 'inspector' || ctrl.model.item.partner_type === 'lender' || ctrl.model.item.partner_type === 'builder'">
            <label for="agent_email" class="control-label">{{ctrl.model.resources.agents}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.send_agents_transfer_notification | agentNotifications}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" name="send_agents_transfer_notification" id="send_agents_transfer_notification" class="form-control" ng-model="ctrl.model.item.configuration.send_agents_transfer_notification" ng-options="option.value as option.name for option in ctrl.model.agent_options"
                required>
			</select>
            <!--<p class="form-text text-muted">-->
            <!--    {{ctrl.model.resources.agentsText}}-->
            <!--</p>-->
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.action}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_binder_action}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" name="select" id="select" class="form-control" ng-model="ctrl.model.item.configuration.default_binder_action" ng-options="option.value as option.name for option in ctrl.model.transfer_options" required>
			</select>
            <p class="form-text text-muted">
                {{ctrl.model.resources.actionText}}
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.delay}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.binder_action_delay_length}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" id="delay" type="number" class="form-control" ng-model="ctrl.model.item.configuration.binder_action_delay_length" placeholder="5 hours" min="1" required/>
            <p class="form-text text-muted">
                {{ctrl.model.resources.delayText}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="name" class="control-label"><strong>{{ctrl.model.resources.template}}</strong></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_binder_template_id}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" ng-options="template.id as template.name for template in ctrl.model.item.configuration.binder_templates" name="branding" id="branding" class="form-control" ng-model="ctrl.model.item.configuration.default_binder_template_id"
                required>
			</select>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.item.partner_type === 'inspector' ">
            <label for="code" class="control-label">{{ctrl.model.resources.transactionType}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_transaction_type}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" name="select" id="select" class="form-control" ng-model="ctrl.model.item.configuration.default_transaction_type" ng-options="option.value as option.name for option in ctrl.model.default_transaction_types"
                required>
			</select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.settings.showClientCalls">
            <label for="code" class="control-label">{{ctrl.model.resources.clientCalls}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.allow_client_calls | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="allow_client_calls" class="form-control" ng-model="ctrl.model.item.configuration.allow_client_calls" type="checkbox" value="ctrl.model.item.configuration.allow_client_calls" ng-true-value="true" ng-false-value="false">
            <p class="form-text text-muted">
                {{ctrl.model.resources.clientCalls}}
            </p>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="code" class="control-label">{{ctrl.model.resources.isn}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.show_isn_tab | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="show_isn_tab" class="form-control" ng-model="ctrl.model.item.configuration.show_isn_tab" type="checkbox" value="ctrl.model.item.configuration.show_isn_tab" ng-true-value="true" ng-false-value="false">
            <p class="form-text text-muted">
                {{ctrl.model.resources.isnText}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.repairPricerMessaging}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.repair_pricer_messaging_enabled | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="repair_pricer_messaging_enabled" class="form-control" ng-model="ctrl.model.item.configuration.repair_pricer_messaging_enabled" type="checkbox" value="ctrl.model.item.configuration.repair_pricer_messaging_enabled"
                ng-true-value="true" ng-false-value="false">
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.repairPricerId}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.repair_pricer_id}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="repair_pricer_id" id="repair_pricer_id" type="text" class="form-control" ng-model="ctrl.model.item.configuration.repair_pricer_id" placeholder="Repair Pricer ID" ng-minlength="2" ng-maxlength="30" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="code" class="control-label">{{ctrl.model.resources.reportType}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_repair_pricer_report_type}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" name="select" id="select" class="form-control" ng-model="ctrl.model.item.configuration.default_repair_pricer_report_type" ng-options="option.value as option.name for option in ctrl.model.report_type_options"
                required>
			</select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="code" class="control-label">{{ctrl.model.resources.repairPricerPrePaid}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.repair_pricer_pre_paid_reports | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="repair_pricer_pre_paid_reports" class="form-control" ng-model="ctrl.model.item.configuration.repair_pricer_pre_paid_reports" type="checkbox" value="ctrl.model.item.configuration.repair_pricer_pre_paid_reports"
                ng-true-value="true" ng-false-value="false">
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="code" class="control-label">{{ctrl.model.resources.repairPricerEnabled}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.repair_pricer_enabled | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="repair_pricer_enabled" class="form-control" ng-model="ctrl.model.item.configuration.repair_pricer_enabled" type="checkbox" value="ctrl.model.item.configuration.repair_pricer_enabled" ng-true-value="true"
                ng-false-value="false">
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.selfServeLink">
        <div class="form-group col-xs-12">
            <label for="name" class="control-label"><strong>{{ctrl.model.resources.selfServe}}</strong></label>
            <p><a href="{{ctrl.model.selfServeLink}}" target="_blank">{{ctrl.model.selfServeLink}}</a></p>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="false">
            <label for="default_locale">{{ctrl.model.resources.locale}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.default_locale}}</p>
            <select id="default_locale" name="default_locale" ng-if="!ctrl.model.settings.readOnly" class="form-control" ng-model="ctrl.model.item.configuration.default_locale" ng-options="option.value as option.name for option in ctrl.model.localeOptions" />
            <div ng-messages="ctrl.model.form.default_locale.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.item.partner_type === 'broker'">
        <div class="form-group col-xs-12">
            <label for="name" class="control-label"><strong>{{ctrl.model.resources.brokerMint}}</strong></label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.configuration.broker_mint_api_key}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="broker_mint_api_key" id="broker_mint_api_key" type="text" class="form-control" ng-model="ctrl.model.item.configuration.broker_mint_api_key" placeholder="{{ctrl.model.resources.brokerMint}}" ng-minlength="2"
                ng-maxlength="30" />
        </div>
    </div>
</form>