<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" ng-src="/img/contracto.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>Home Pros</strong>  - 
					<span class="text-primary">{{ctrl.contractors.length}}</span>
					<small class="text-muted">&nbsp;&nbsp;(Optional)</small>
					<span ng-if="!ctrl.contractForm.$invalid || ctrl.contractors.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.contractForm.$invalid && ctrl.contractors.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<small class="text-danger">Please fill out the home pros form.</small></span>
				</h3>
			</div>
			<div class="col-xs-1">
				<a href="" class="btn btn-primary" type="button" ng-model="ctrl.is_contract_collapsed" ng-click="ctrl.is_contract_collapsed = !ctrl.is_contract_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_contract_collapsed, 'glyphicon glyphicon-plus': ctrl.is_contract_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_contract_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;List the pros from Electricians to Landscapers that you've used at your home. You can always add more later.</h4>
					</div>
					<div ng-if="ctrl.contractors.length > 0" class="panel-heading" ng-repeat="item in ctrl.contractors">
						<div class="row">
							<form role="form" name="ctrl.contractForm" novalidate>
								<div ng-if="item.new_item">
									<div class="col-xs-3 text-center">
										<input type="text" name="name_{{$index}}" ng-model="item.name" class="form-control" placeholder="Name" ng-minlength="1" required/>
										<span ng-show="ctrl.contractForm['name_{{$index}}'].$error.minlength" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<br/>
										<span ng-show="ctrl.contractForm['name_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
										<input type="text" name="type_{{$index}}" class="form-control" ng-model="item.type" placeholder="Type"/>
									</div>
									<div class="col-xs-3">
										<input type="text" name="phone_{{$index}}" ng-model="item.phone" class="form-control" placeholder="222-222-2222"/>
										<br/>
										<input type="email" name="email_{{$index}}" ng-model="item.email" class="form-control" placeholder="email@email.com"/>
									</div>
								</div>
								<div class="col-xs-5">
									<textarea name="notes" ng-model="item.notes" class="form-control" placeholder="Notes"></textarea>
								</div>
								<div class="col-xs-1 text-center">
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove($index)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addContractor()" ng-disabled="ctrl.contractForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Home Pro
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>