<div class="modal-header">
	<h4 class="modal-title"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
	<h4>{{ctrl.resources.body}}</h4>
	<p>{{ctrl.resources.byClicking}} <a href=""><strong popover-placement="top" popover="{{ctrl.resources.termsOfServiceText}}" popover-trigger="mouseenter"><u>{{ctrl.resources.termsOfService}}</u></strong></a></p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ctrl.close()">{{ctrl.resources.confirm}}</button>
	<button class="btn btn-secondary" ng-click="ctrl.cancel()">{{ctrl.resources.cancel}}</button>
</div>