<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.warranty_company.$invalid && ctrl.form.$submitted }">
			<label for="warranty_company" class="control-label">{{ctrl.model.resources.companyLabel}}*</label>
			<select name="warranty_company" ng-model="ctrl.model.warranty_company" ng-options="company.name for company in ctrl.model.warranty_companies track by company.id" class="form-control" ng-required="true">
				</select>
			<div ng-messages="ctrl.form.warranty_company.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}*</label>
			<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" required ng-maxlength="100" placeholder="{{ctrl.model.resources.namePlaceholder}}" required/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.price.$invalid && ctrl.form.$submitted }">
			<label for="price" class="control-label">{{ctrl.model.resources.priceLabel}}*</label>
			<input name="price" class="form-control" ng-model="ctrl.model.price" type="number" required ng-min="1" required/>
			<div ng-messages="ctrl.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.duration.$invalid && ctrl.form.$submitted }">
			<label for="duration" class="control-label">{{ctrl.model.resources.durationLabel}}*</label>
			<input name="duration" class="form-control" ng-model="ctrl.model.duration" type="number" required ng-min="1" required/>
			<div ng-messages="ctrl.form.duration.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6" ng-class="{ 'has-error': ctrl.form.cycle.$invalid && ctrl.form.$submitted }">
			<label for="cycle" class="control-label">{{ctrl.model.resources.cycleLabel}}*</label>
			<select name="cycle" ng-model="ctrl.model.cycle" ng-options="cycle.value as cycle.name for cycle in ctrl.model.cycles | orderBy:'name'" class="form-control" ng-required="true">
				</select>
			<div ng-messages="ctrl.form.cycle.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.description.$invalid && ctrl.form.$submitted }">
			<label for="description" class="control-label">{{ctrl.model.resources.descriptionLabel}}*</label>
			<textarea ng-model="ctrl.model.description" name="description" ng-maxlength="1000" class="form-control" rows="5" placeholder="{{ctrl.model.resources.descriptionPlaceholder}}"></textarea>
			<div ng-messages="ctrl.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
	</form>
</div>