<div ng-if="!ctrl.model.loading.isLoading()">
    <div class="modal-header aside-header">
        <h3 class="modal-title">{{ctrl.model.title}}</h3>
    </div>
    <div class="modal-body aside-body">
        <div ng-if="ctrl.model.isLoading">Loading...</div>
        <div ng-if="!ctrl.model.isLoading">
            <hb-area-details ng-if="ctrl.model.showDetails" cfg="ctrl.model.detailsCfg" on-destroyed="ctrl.model.onDestroyed(item)" on-edit="ctrl.model.onEdit()" on-close="ctrl.model.onClose()"></hb-area-details>
            <hb-area-form ng-if="ctrl.model.showForm" cfg="ctrl.model.formCfg" on-saved="ctrl.model.onSaved(item)" , on-cancel="ctrl.model.onClose()"></hb-area-form>
        </div>
    </div>
    <div class="modal-footer aside-footer">
        <button ng-if="ctrl.model.showDelete" ng-click="ctrl.model.destroy()" type="button" class="btn btn-danger button-left">{{ctrl.model.resources.deleteButton}}</button>
        <button ng-if="ctrl.model.showClose" ng-click="ctrl.model.close()" type="button" class="btn btn-default">{{ctrl.model.resources.closeButton}}</button>
        <button ng-if="ctrl.model.showCancel" ng-click="ctrl.model.close()" type="button" class="btn btn-default">{{ctrl.model.resources.cancelButton}}</button>
        <button ng-if="ctrl.model.showEdit" ng-click="ctrl.model.edit()" type="button" class="btn btn-primary">{{ctrl.model.resources.editButton}}</button>
        <button ng-if="ctrl.model.showSave" ng-click="ctrl.model.save()" type="button" class="btn btn-primary">{{ctrl.model.resources.saveButton}}</button>
    </div>
</div>