<div class="row">
    <div class="col-xs-12 email-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin dark-orange">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="logo" src="/img/flatlogo2s.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h4>Maintenance Due for John Smith at 1234 Address, Boston, MA</h4>
                <h3>Filter Service Due</h3>
                <div ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand'">
                    <h4>Reminder from your {{ctrl.model.branding_user.user_profile_attributes.full_role}} {{ctrl.model.branding_user.user_profile_attributes.first_name}} {{ctrl.model.branding_user.user_profile_attributes.last_name}} at {{ctrl.model.branding_user.user_profile_attributes.company}} and your Agent Sally Sells O'Lot at Sally's Local Real Estate Brokerage</h4>
                </div>
                <div ng-if="ctrl.model.item.configuration.default_user_branding_option === 'user'">
                    <h4>Reminder from your {{ctrl.model.branding_user.user_profile_attributes.full_role}} {{ctrl.model.branding_user.user_profile_attributes.first_name}} {{ctrl.model.branding_user.user_profile_attributes.last_name}} at {{ctrl.model.branding_user.user_profile_attributes.company}}</h4>
                </div>
                <div ng-if="ctrl.model.item.configuration.default_user_branding_option === 'agent'">
                    <h4>Reminder from your Agent Sally Sells O'Lot at Sally's Local Real Estate Brokerage</h4>
                </div>
                <div ng-if="ctrl.model.item.configuration.default_user_branding_option === 'none'">
                    <h4>Reminder from The Homebinder Team</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin dark-orange">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h5>Maintenance Information</h5>
                <div class="content-block">
                    <h5 style="font-size: 16px;">Due Date:</h5>
                    <h3>Friday, September 6, 2019</h3>
                </div>
                <div class="content-block">
                    <h5 style="font-size: 16px;">Notes:</h5>
                    <h4>Use a 20x20x1 HEPA Filtrete filter</h4>
                </div>
                <button class="btn btn-lg btn-default-dark">View Maintenace Reminder</button>
                <button class="btn btn-lg btn-primary-dark flat-button">Find Home Pro</button>
                <p class="dark-orange note">Note: This is simply a reminder for you to complete this maintenance item. Nothing has been scheduled, no one is already planning on coming to your home, and you have not been billed for anything.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin dark-orange">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h5>HomeBinder is Provided By:</h5>
                <br>
                <p class="description" style="margin-bottom: 18px;">HomeBinder is a home management app to help throughout the duration of your homeownership with maintenance reminder emails, appliance recall alerts, preferred home pros and a document storage for important details about your home.</p>
            </div>
        </div>
        <div class="row branding">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class ="col-xs-6" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'user'">
                        <h5><strong>Your {{ctrl.model.branding_user.user_profile_attributes.full_role}}</strong></h5>
                    </div>
                    <div class ="col-xs-6" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'agent'">
                        <h5><strong>Your Agent</strong></h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <user-branding></user-branding>
                    <agent-branding></agent-branding>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <hb-branding></hb-branding>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin dark-orange">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center app-links">
                <h4>Download our Mobile App!</h4>
                <a href="https://itunes.apple.com/us/app/homebinder/id1437973275?ls=1&amp;mt=8" target="_blank"><img src="../../../../../img/appStore.png"/></a>
                <a href="https://play.google.com/store/apps/details?id=com.homebinder.homeowner1" target="_blank"><img src="../../../../../img/googlePlay.png"/></a>
            </div>
        </div>
    </div>
</div>