<div class="col-xs-6 user-branding" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'user' || ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.email_type === 'transfer' || ctrl.model.email_type === 'share'">
    <div class="row">
        <div class="col-xs-6">
            <img ng-if="!ctrl.model.branding_user.user_profile_attributes.head_shot_file" class="img-responsive" ng-src="/img/avatar.png"></img>
            <img ng-if="ctrl.model.branding_user.user_profile_attributes.head_shot_file" class="img-responsive" ng-src="{{ctrl.model.branding_user.user_profile_attributes.head_shot_file}}"></img>
        </div>
        <div class="col-xs-6">
            <img ng-if="!ctrl.model.branding_user.user_profile_attributes.logo_file" class="img-responsive" ng-src="/img/genericlogo.jpg"></img>
            <img ng-if="ctrl.model.branding_user.user_profile_attributes.logo_file" class="img-responsive" ng-src="{{ctrl.model.branding_user.user_profile_attributes.logo_file}}"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>{{ctrl.model.branding_user.user_profile_attributes.first_name}}&nbsp;{{ctrl.model.branding_user.user_profile_attributes.last_name}}</h5>
            <h5 ng-if="ctrl.model.branding_user.user_profile_attributes.mobile_phone.international">{{ctrl.model.branding_user.user_profile_attributes.mobile_phone.international}}</h5>
            <h5>{{ctrl.model.branding_user.user_profile_attributes.company}}</h5>
            <h5>{{ctrl.model.branding_user.email}}</h5>
        </div>
    </div>
    <div class="row" ng-if="ctrl.model.branding_user.user_profile_attributes.message">
        <div class="col-xs-12">
            <p>Message from your {{ctrl.model.item.partner_type}}:</p>
            <h5 ng-bind-html="ctrl.model.branding_user.user_profile_attributes.message"></h5>
        </div>
    </div>
</div>