<div class="modal-header">
    <h4 class="modal-title" class="text-center"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;{{ctrl.model.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary pull-right" ng-click="ctrl.model.orderNew()">Order new</button>
            </div>
        </div>
        <div class="row hb-custom-table">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover" style="background-color: white;">
                    <thead>
                        <tr>
                            <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
                                <span ng-if="attribute.sorted">
                                        <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                        <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                                    </span>
                                <span ng-if="!attribute.sorted && attribute.sortable">
                                        <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                                    </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="warranty in ctrl.model.items">
                            <td>{{warranty.id}}</td>
                            <td>{{warranty.warranty_company.name}}</td>
                            <td>{{warranty.warranty_plan.name}}</td>
                            <td>{{warranty.status}}</td>
                            <td>{{warranty.last_inspection.transaction_date | date}}</td>
                            <td>{{warranty.created_at | date}}</td>
                        </tr>
                        <tr ng-if="ctrl.model.items.length < 1">
                            <td colspan="{{ctrl.model.columnspan}}">
                                <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.model.cancelForm()" type="button" class="btn btn-default">Cancel</button>
</div>
