<div class="container-fluid">
    <div class="page-header">
        <button ng-if="ctrl.model.currentUser.role != 'admin'" class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()">{{ctrl.model.resources.newButton}}</button>
        <div class="btn-group pull-right" ng-if="ctrl.model.currentUser.role === 'admin'">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>Binders</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li ng-click="ctrl.model.newItem()">
                    <a href="">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.newButton}}
                    </a>
                </li>
                <li ng-click="ctrl.model.downloadHomeownerReport()">
                    <a href="">
                        <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download Hon Report
                    </a>
                </li>
            </ul>
        </div>
        <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
    </div>
    <hb-binder-table></hb-binder-table>
</div>