<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="100" placeholder="Sweep Chimney" />
						<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.frequency.$invalid && ctrl.model.form.$submitted }">
								<label for="frequency" class="control-label">{{ctrl.model.resources.interval}}</label>
								<input name="frequency" class="form-control" ng-model="ctrl.model.interval" type="number" />
								<div ng-messages="ctrl.model.form.frequency.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
								</div>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.cycle.$invalid && ctrl.model.form.$submitted }">
								<label for="cycle" class="control-label">&nbsp;</label>
								<select ng-model="ctrl.model.maintenance_cycle" ng-options="cycle.name as cycle.name for cycle in ctrl.model.cycles | orderBy:'name'" class="form-control">
				</select>
								<div ng-messages="ctrl.model.form.cycle.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error': ctrl.model.form.do_date.$invalid && ctrl.model.form.$submitted }">
					<label for="do_date" class="control-label">{{ctrl.model.resources.do_date}}</label>
					<input name="do_date" class="form-control" ng-model="ctrl.model.do_date" type="text" value="{{ ctrl.model.do_date }}" datepicker-popup="{{ ctrl.model.datepicker.format }}" show-button-bar="false" show-weeks="false" is-open="ctrl.model.date_opened" ng-click="ctrl.model.date_opened = true"
					 convert-date/>
					<div ng-messages="ctrl.model.form.do_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error': ctrl.model.form.completed_date.$invalid && ctrl.model.form.$submitted }">
					<label for="completed_date" class="control-label">{{ctrl.model.resources.completed_date}}</label>
					<p class="form-control-static">{{ctrl.model.completed_date | date:'M/d/y':'UTC'}}</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-sm-6" ng-class="{ 'has-error': ctrl.model.form.notifications.$invalid && ctrl.model.form.$submitted }">
					<label for="notifications" class="control-label">{{ctrl.model.resources.email_notifications}}</label>
					<input name="notifications" class="form-control" ng-model="ctrl.model.email_notifications" type="checkbox" value="ctrl.model.email_notifications">
					<div ng-messages="ctrl.model.form.notifications.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6">
					<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
					<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
					<label>{{ctrl.model.resources.additionalDetails}}</label>
					<textarea name="details" class="form-control" ng-hide="true" ng-model="ctrl.model.details" type="text" rows="5" ng-maxlength="1000"></textarea>
					<text-angular ng-model="ctrl.model.details" rows="5" placeholder="Enter additional details about this item"></text-angular>
					<div ng-messages="ctrl.model.form.details.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12">
					<label>{{ctrl.model.resources.media}}</label>
				</div>
				<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
				<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
			</div>
		</form>
	</div>
</div>
