<div class="page-header">
    <button class="btn btn-primary pull-right" ng-click="ctrl.model.orderNew()">Order new</button>
    <h3>{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th ng-repeat="attribute in ctrl.model.headers" ng-class="{'sortable': attribute.sortable}" ng-click="ctrl.model.sortTable(attribute)" ng-show="attribute.show">{{attribute.name}}&nbsp;
                        <span ng-if="attribute.sorted">
                                <i class="fa fa-sort-desc text-primary" aria-hidden="true" ng-if="attribute.order === 'desc'"></i>
                                <i class="fa fa-sort-asc text-primary" aria-hidden="true" ng-if="attribute.order === 'asc'"></i>
                            </span>
                        <span ng-if="!attribute.sorted && attribute.sortable">
                                <i class="fa fa-sort text-muted" aria-hidden="true"></i>
                            </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="warranty in ctrl.model.items">
                    <td>{{warranty.id}}</td>
                    <td>{{warranty.warranty_company.name}}</td>
                    <td>{{warranty.warranty_plan.name}}</td>
                    <td>{{warranty.status}}</td>
                    <td>{{warranty.last_inspection.transaction_date | date}}</td>
                    <td>{{warranty.created_at | date}}</td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="{{ctrl.model.columnspan}}">
                        <h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>