<span ng-if="$select.selected.displayName"><strong>{{$select.selected.displayName}}</strong> - {{$select.selected.email}}</span>
<span ng-if="!$select.selected.displayName">{{$select.selected.email}}</span>