<div class="buildfax-import">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Finding</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <hb-uploader cfg="ctrl.uploader" file-uploaded="ctrl.uploadSuccess(file)" file-error="ctrl.uploadError(response)" file-added="ctrl.uploadImage()"></hb-uploader>
                    <a class="boxes" ng-click="ctrl.addPhoto()">
                        <img class="img-responsive center-block" src="img/camera.png" />
                        <h4>Add Photo</h4>
                        <p>A finding will automatically be added for you</p>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="boxes" ng-click="ctrl.createFinding()">
                        <img class="img-responsive center-block" src="img/projo.png" style="margin-top: 40px;"/>
                        <h4>Create Finding</h4>
                        <p>Add a photo at a later time.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" ng-click="ctrl.cancel()" value="Cancel" />
    </div>
</div>