.loading {
  
    .modal-body {
        max-height: 350px;
    }
    .vertically-center {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }
    
}

.loading .modal-dialog {
    max-width: 400px;
}

