<div class="loading">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 vertically-center">
                <p class="text-center">{{ctrl.message}}&nbsp;<img src="/img/busy.gif" /></p>
                <p class="text-center" ng-if="ctrl.minorMessage"><strong class="text-danger">Warning:&nbsp;</strong>{{ctrl.minorMessage}}</p>
            </div>
        </div>
    </div>
</div>