<div class="container-fluid binderForm settings" style="position: relative; top:15px;">
    <div class="row hidden-sm hidden-md hidden-lg mobile-nav">
        <div class="col-xs-12">
            <div class="well well-lg" style="background-color: white;">
                <ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
                    <div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.model.navigation_links">
                        <li role="presentation" ng-repeat="link in header.links" ng-click="ctrl.model.changeLink(link)">
                            <a href="" class="dropdown-item" ng-class="{'text-muted disabled': !link.active}" style="position:relative;right:-10px;">{{link.name}}</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white; min-height: 700px;">
            <div class="row" style="position: relative; top:15px;">
                <div class="col-sm-2 hidden-xs desktop-nav" style="border-right: 1px solid #dddddd; margin-top: 30px;">
                    <ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
                        <div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.model.navigation_links">
                            <li role="presentation">
                                <h6 class="dropdown-header"><strong>{{header.name}}</strong></h6>
                            </li>
                            <li role="presentation" ng-repeat="link in header.links" ng-click="ctrl.model.changeLink(link)">
                                <a href="" class="dropdown-item" ng-class="{'text-muted disabled': !link.active}" style="position:relative;right:-10px;">{{link.name}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <partners-edit-form-account ng-if="ctrl.model.currentLink.value == 'account'" links="ctrl.model.navigation_links"></partners-edit-form-account>
                    <partners-edit-form-apr ng-if="ctrl.model.currentLink.value == 'apr'"></partners-edit-form-apr>
                    <partners-edit-form-automation ng-if="ctrl.model.currentLink.value == 'automation'" links="ctrl.model.navigation_links" settings="ctrl.model.settings"></partners-edit-form-automation>
                    <partners-edit-form-billing ng-if="ctrl.model.currentLink.value == 'billing'"></partners-edit-form-billing>
                    <partners-edit-form-warranties ng-if="ctrl.model.currentLink.value == 'warranties'"></partners-edit-form-warranties>
                    <partners-edit-form-widgets ng-if="ctrl.model.currentLink.value == 'widgets'"></partners-edit-form-widgets>
                    <partners-edit-form-resources ng-if="ctrl.model.currentLink.value == 'resources'"></partners-edit-form-resources>
                    <partners-edit-form-users ng-if="ctrl.model.currentLink.value == 'users'"></partners-edit-form-users>
                    <partners-edit-form-dashboards ng-if="ctrl.model.currentLink.value == 'dashboards'"></partners-edit-form-dashboards>
                    <partners-edit-form-branding ng-if="ctrl.model.currentLink.value == 'branding'"></partners-edit-form-branding>
                    <partners-edit-form-isn ng-if="ctrl.model.currentLink.value == 'isn'"></partners-edit-form-isn>
                    <partners-edit-form-custom-widget ng-if="ctrl.model.currentLink.value == 'customWidget'"></partners-edit-form-custom-widget>
                </div>
            </div>
        </div>
    </div>
</div>