.settings {
    .text-bold {
        font-weight: 700;
    }
    .preview {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        color: white !important;
        float: right;
        display: inline-block;
        height: 50px;
        background-color: #757574;
        h3 {
            margin-top: 10px;
            color: white;
        }
    }
    .email-body {
        background-color: white;
        .push-up {
            header {
                position: relative;
                top: -20px;
            }
            .col-md-6 {
                position: relative;
                top: 20px;
            }
            .flat-button {
                background-color: #FF8812;
                padding: 12px 18px 12px 18px;
                border-radius: 3px;
                cursor: default;
            }
            .no-cursor {
                cursor: default;
            }
        }
        img.logo {
            height: 100px;
        }
        .btn-static {
            margin-top: 10px;
            cursor: default;
        }
        .btn-static:active {
            -moz-box-shadow: inset 0 0 0px white;
            -webkit-box-shadow: inset 0 0 0px white;
            box-shadow: inset 0 0 0px white;
        }
        .call-out {
            .well {
                background-color: @brand-primary;
                color: white;
                h4 {
                    color: white;
                }
                hr {
                    border-color: white;
                    border-width: 1px;
                }
            }
        }
    }
    .grey {
        border-color: grey;
        border-width: 2px 0;
    }
    .move-top {
        position: relative;
        top: -15px;
    }
    .panel-heading {
        background-color: white;
    }
    .flat-button {
        padding: 12px 18px 12px 18px;
        border-radius: 3px;
        cursor: default;
    }
    .box {
        border: 3px solid black;
    }
}

.branding-form {
    h1, h2, h3, h4, h5, p {
        font-family: Helvetica;
        color: #202020;
    }
    
    h3 {
        margin-bottom: 18px;
    }
    
    h4 {
        font-size: 16px;
    }
    
    h5 {
        font-size: 18px;
        font-weight: bold;
    }
    
    .thin {
        border-width: 2px 0px;
    }
    
    .dark-orange {
        color: #ea5b3a;
        border-color: #ea5b3a;
    }
    
    .btn-default-dark, .btn-primary-dark {
        display: block;
        margin: auto;
        border: 2px solid #ea5b3a;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
    }
    
    .btn-default-dark {
        color: #ea5b3a;
        background-color: #ffffff;
        margin-top: 18px;
    }
    
    .btn-primary-dark {
        color: #ffffff;
        background-color: #ea5b3a;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    
    .content-block {
        margin: 18px 0px;
        
        h1, h2, h3, h4, h5, p {
            margin: 5px 0px;
        }
    }
    
    .note {
        line-height: 200%;
        margin-top: 18px;
    }
    
    .description {
        line-height: 200%;
        font-size: 14px;
    }
    
    .branding {
        h5 {
            font-weight: normal;
            font-size: 16px;
        }
        
        .user-branding, .agent-branding {
            overflow: auto;
            word-wrap: break-word;
        }
    }
    
    .app-links {
        margin-top: 18px;
        margin-bottom: 18px;
        
        a {
            display: block;
            margin: 5px 0px;
        }
    }
    
    .btn-round {
        display: block;
        border-radius: 100px;
        margin: auto;
        margin-top: 18px;
        margin-bottom: 18px;
        padding: 15px;
    }
    
    .no-thanks {
        display: block;
        margin: auto;
        margin-top: 36px; 
        margin-bottom: 36px;
        color: #ea5b3a;
        font-weight: bold;
        font-size: 16px;
        font-family: Arial;
        text-decoration: none;
    }
}