<div class="modal-header">
    <h4 class="modal-title">What's This?</h4>
</div>
<div class="modal-body">
    <p class="text-center">
        This option will automatically adjust the Next Due Date in the New Binder form to be this number of days from the point of creating the binder.  It can be useful for items such as filters, adding water softener or pumping a septic tank.
    </p>
</div>