<div class="modal-body">
	<div class="container-fluid">
		<div class="row more-info">
			<div class="col-xs-12">
				<p class="text-center"><strong>Create your FREE lifetime HomeBinder (Premium Level) account, courtesy of {{ctrl.partner.name}} below. HomeBinder is the digital 3-ring binder that will help you track paint colors by room, manage maintenance tasks store important home-related
					documents, and much more!</strong></p>
			</div>
		</div>
		<form name="ctrl.form" novalidate>
			<div class="container-fluid form">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<label class="text-muted" for="firstName">{{ctrl.resources.firstName}}</label>
							<input id="firstName" ng-model="ctrl.apr.client_first_name" type="text" class="form-control" name="firstName" ng-minlength="1" ng-maxlength="50" required autofocus/>
							<div ng-messages="ctrl.form.firstName.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.firstName.$dirty || ctrl.form.$submitted">
							</div>
						</div>
						<div class="col-xs-6">
							<label class="text-muted" for="lastName">{{ctrl.resources.lastName}}</label>
							<input id="lastName" ng-model="ctrl.apr.client_last_name" type="text" class="form-control" name="lastName" ng-minlength="1" ng-maxlength="50" required/>
							<div ng-messages="ctrl.form.lastName.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.lastName.$dirty || ctrl.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<label class="text-muted" for="email">{{ctrl.resources.email}}</label>
							<input id="email" ng-model="ctrl.apr.client_email" type="email" class="form-control" name="email" required/>
							<div ng-messages="ctrl.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.email.$dirty || ctrl.form.$submitted">
							</div>
						</div>
						<div class="col-xs-6">
							<label class="text-muted" for="phone">{{ctrl.resources.phone}}</label>
							<div class="input-group">
				    			<span class="input-group-addon">+{{ctrl.country.code}}</span>
				    			<input id="phone" ng-model="ctrl.apr.client_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" required/>
							</div>
							<div ng-messages="ctrl.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.phone.$dirty || ctrl.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-9">
							<label class="text-muted" for="address1">{{ctrl.resources.address1}}</label>
							<input id="address1" ng-model="ctrl.apr.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
							<div ng-messages="ctrl.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.address1.$dirty || ctrl.form.$submitted">
							</div>
						</div>
						<div class="col-xs-3">
							<label class="text-muted" for="address2">{{ctrl.resources.address2}}</label>
							<input id="address2" ng-model="ctrl.apr.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
							<div ng-messages="ctrl.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.address2.$dirty || ctrl.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<label class="text-muted" for="city">{{ctrl.resources.city}}</label>
							<input id="city" ng-model="ctrl.apr.city" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
							<div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.city.$dirty || ctrl.form.$submitted">
							</div>
						</div>
						<div class="col-xs-6">
							<label class="text-muted" for="state">{{ctrl.resources.state}}</label>
							<ui-select ng-model="ctrl.apr.state" theme="bootstrap" on-select="ctrl.onSelect($item)" name="state" ng-required="true">
								<ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
									<span ng-bind-html="item.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<div ng-messages="ctrl.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.state.$dirty || ctrl.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<label class="text-muted" for="zip">{{ctrl.resources.zip}}</label>
							<input id="zip" ng-model="ctrl.apr.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" required/>
							<div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.zip.$dirty || ctrl.form.$submitted">
							</div>
						</div>
						<div class="col-xs-6">
							<label class="text-muted" for="country">{{ctrl.resources.country}}</label>
							<input id="country" ng-model="ctrl.apr.country" type="text" class="form-control" readonly/>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-xs-12 text-center">
				<button class="btn btn-primary" ng-click="ctrl.submit()" ng-disabled="ctrl.processing">Create</button>
				<button class="btn btn-secondary" ng-click="ctrl.cancel()" ng-disabled="ctrl.processing">Cancel</button>
			</div>
		</div>
	</div>
</div>