<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-xs-4 control-label">{{ctrl.resources.name}}</label>
                        <div class="col-xs-8">
                            <p class="form-control-static">{{ctrl.pro.displayName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-xs-4 control-label">{{ctrl.resources.email}}</label>
                        <div class="col-xs-8">
                            <p class="form-control-static"><a href="mailto:{{ctrl.pro.email}}">{{ctrl.pro.email}}</a></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-xs-4 control-label">{{ctrl.resources.phone}}</label>
                        <div class="col-xs-8">
                            <p class="form-control-static">
                                <span ng-if="ctrl.pro.phone.international">{{ctrl.pro.phone.international}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.pro.website">
                        <label for="phone" class="col-xs-4 control-label">{{ctrl.resources.website}}</label>
                        <div class="col-xs-8">
                            <a href="{{ctrl.pro.website}}" target="_blank">{{ctrl.resources.visitWebsite}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="website" class="col-xs-4 control-label">{{ctrl.resources.notes}}:</label>
                        <div class="col-xs-8">
                            <p class="form-control-static">{{ctrl.pro.notes}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>