<div class="container-fluid">
    <hb-toolbar cfg="ctrl.toolbarCfg"></hb-toolbar>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li ng-class='{"active": ctrl.current_tab == tab.name}' ng-repeat="tab in ctrl.tabs" ng-click="ctrl.setTabName(tab)"><a href="">{{tab.name}}</a></li>
            </ul>
        </div>
    </div>

    <div style="margin-top: 15px;">
        <div ng-if="ctrl.current_tab == 'KPI Summary'" style="background-color: white;">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Winning Inspectors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Total ACV</h3>
                        <h4 class="text-center text-primary">{{ctrl.data.total_acv | currency}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Retaining Inspectors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Binders</h3>
                        <h4 class="text-center text-primary">{{ctrl.inspectors.total_binders.count}}&nbsp; | {{ctrl.inspectors.total_binders.percentage | percentage: 2}}</h4>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Creating Binders</h3>
                        <h4 class="text-center text-primary">{{ctrl.inspectors.total_inspectors_with_binders | percentage: 2}}</h4>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Retention Rate</h3>
                        <h4 class="text-center text-primary">{{ctrl.inspectors.retention_rate | percentage: 2}}</h4>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Engaging Homeowners</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Homeowner Interaction</h3>
                        <h4 class="text-center text-primary">{{ctrl.homeowners.interaction | percentage: 2}}</h4>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="well" style="background-color: white;">
                        <h3 class="text-center">Homeowner Acceptance</h3>
                        <h4 class="text-center text-primary">{{ctrl.homeowners.acceptance | percentage: 2}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.current_tab == 'Binder Totals'" style="background-color: white;">
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Binder Aggregate Totals</th>
                                <th class="text-center">New in last 7 days</th>
                                <th class="text-center">New in last 30 days</th>
                                <th class="text-center">3 Month Average</th>
                                <th class="text-center">6 Month Average</th>
                                <th class="text-center">12 Month Average</th>
                                <th class="text-center">Total on site</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Binders</td>
                                <td class="text-center">{{ctrl.data.binders.all.last_seven.count}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.last_thirty.count}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.last_ninety.count}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.half_year.count}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.year.count}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.total.count}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Binders Setup</th>
                                <th class="text-center">Last 7 days</th>
                                <th class="text-center">Last 30 days</th>
                                <th class="text-center">3 Month Average</th>
                                <th class="text-center">6 Month Average</th>
                                <th class="text-center">12 Month Average</th>
                                <th class="text-center">Total on site</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Total Binders
                                </td>
                                <td class="text-center"><span>{{ctrl.data.binders.all.last_seven.count}}</span>&nbsp; | <span>{{ctrl.data.binders.all.last_seven.percentage | percentage: 2}}</span></td>
                                <td class="text-center">{{ctrl.data.binders.all.last_thirty.count}}&nbsp; | {{ctrl.data.binders.all.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.last_ninety.count}}&nbsp; | {{ctrl.data.binders.all.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.half_year.count}}&nbsp; | {{ctrl.data.binders.all.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.year.count}}&nbsp; | {{ctrl.data.binders.all.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.all.total.count}}&nbsp; | {{ctrl.data.binders.all.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Admin Binders</td>
                                <td class="text-center">{{ctrl.data.binders.admin.last_seven.count}}&nbsp; | {{ctrl.data.binders.admin.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.admin.last_thirty.count}}&nbsp; | {{ctrl.data.binders.admin.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.admin.last_ninety.count}}&nbsp; | {{ctrl.data.binders.admin.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.admin.half_year.count}}&nbsp; | {{ctrl.data.binders.admin.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.admin.year.count}}&nbsp; | {{ctrl.data.binders.admin.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.admin.total.count}}&nbsp; | {{ctrl.data.binders.admin.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Homeowner Binders</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.last_seven.count}}&nbsp; | {{ctrl.data.binders.homeowner.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.last_thirty.count}}&nbsp; | {{ctrl.data.binders.homeowner.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.last_ninety.count}}&nbsp; | {{ctrl.data.binders.homeowner.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.half_year.count}}&nbsp; | {{ctrl.data.binders.homeowner.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.year.count}}&nbsp; | {{ctrl.data.binders.homeowner.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.homeowner.total.count}}&nbsp; | {{ctrl.data.binders.homeowner.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Inspector Binders</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.last_seven.count}}&nbsp; | {{ctrl.data.binders.inspectors.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.last_thirty.count}}&nbsp; | {{ctrl.data.binders.inspectors.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.last_ninety.count}}&nbsp; | {{ctrl.data.binders.inspectors.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.half_year.count}}&nbsp; | {{ctrl.data.binders.inspectors.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.year.count}}&nbsp; | {{ctrl.data.binders.inspectors.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.inspectors.total.count}}&nbsp; | {{ctrl.data.binders.inspectors.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Agents Binders</td>
                                <td class="text-center">{{ctrl.data.binders.agents.last_seven.count}}&nbsp; | {{ctrl.data.binders.agents.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.agents.last_thirty.count}}&nbsp; | {{ctrl.data.binders.agents.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.agents.last_ninety.count}}&nbsp; | {{ctrl.data.binders.agents.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.agents.half_year.count}}&nbsp; | {{ctrl.data.binders.agents.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.agents.year.count}}&nbsp; | {{ctrl.data.binders.agents.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.agents.total.count}}&nbsp; | {{ctrl.data.binders.agents.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Partner Binders</td>
                                <td class="text-center">{{ctrl.data.binders.partners.last_seven.count}}&nbsp; | {{ctrl.data.binders.partners.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.partners.last_thirty.count}}&nbsp; | {{ctrl.data.binders.partners.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.partners.last_ninety.count}}&nbsp; | {{ctrl.data.binders.partners.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.partners.half_year.count}}&nbsp; | {{ctrl.data.binders.partners.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.partners.year.count}}&nbsp; | {{ctrl.data.binders.partners.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.partners.total.count}}&nbsp; | {{ctrl.data.binders.partners.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Orphaned Binders</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.last_seven.count}}&nbsp; | {{ctrl.data.binders.orphan.last_seven.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.last_thirty.count}}&nbsp; | {{ctrl.data.binders.orphan.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.last_ninety.count}}&nbsp; | {{ctrl.data.binders.orphan.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.half_year.count}}&nbsp; | {{ctrl.data.binders.orphan.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.year.count}}&nbsp; | {{ctrl.data.binders.orphan.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.binders.orphan.total.count}}&nbsp; | {{ctrl.data.binders.orphan.total.percentage | percentage: 2}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.current_tab == 'User Totals'" style="background-color: white;">
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>User Aggregate Totals</th>
                                <th class="text-center">New in last 7 days</th>
                                <th class="text-center">New in last 30 days</th>
                                <th class="text-center">3 Month Average</th>
                                <th class="text-center">6 Month Average</th>
                                <th class="text-center">12 Month Average</th>
                                <th class="text-center">Total on site</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Users</td>
                                <td class="text-center">{{ctrl.data.users.all.last_seven}}</td>
                                <td class="text-center">{{ctrl.data.users.all.last_thirty}}</td>
                                <td class="text-center">{{ctrl.data.users.all.last_ninety}}</td>
                                <td class="text-center">{{ctrl.data.users.all.half_year}}</td>
                                <td class="text-center">{{ctrl.data.users.all.year}}</td>
                                <td class="text-center">{{ctrl.data.users.all.total}}</td>
                            </tr>
                            <tr>
                                <td>Agents</td>
                                <td class="text-center">{{ctrl.data.users.agents.last_seven}}</td>
                                <td class="text-center">{{ctrl.data.users.agents.last_thirty}}</td>
                                <td class="text-center">{{ctrl.data.users.agents.last_ninety}}</td>
                                <td class="text-center">{{ctrl.data.users.agents.half_year}}</td>
                                <td class="text-center">{{ctrl.data.users.agents.year}}</td>
                                <td class="text-center">{{ctrl.data.users.agents.total}}</td>
                            </tr>
                            <tr>
                                <td>Inspectors</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.last_seven}}</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.last_thirty}}</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.last_ninety}}</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.half_year}}</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.year}}</td>
                                <td class="text-center">{{ctrl.data.users.inspectors.total}}</td>
                            </tr>
                            <tr>
                                <td>Partners</td>
                                <td class="text-center">{{ctrl.data.users.partners.last_seven}}</td>
                                <td class="text-center">{{ctrl.data.users.partners.last_thirty}}</td>
                                <td class="text-center">{{ctrl.data.users.partners.last_ninety}}</td>
                                <td class="text-center">{{ctrl.data.users.partners.half_year}}</td>
                                <td class="text-center">{{ctrl.data.users.partners.year}}</td>
                                <td class="text-center">{{ctrl.data.users.partners.total}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>User Logins</th>
                                <th class="text-center">Last 30 days</th>
                                <th class="text-center">Last 60 days</th>
                                <th class="text-center">Last 90 days</th>
                                <th class="text-center">Last 6 months</th>
                                <th class="text-center">Last 12 Months</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>All Users</td>
                                <td class="text-center">{{ctrl.data.logins.all.last_thirty.count}}&nbsp; | {{ctrl.data.logins.all.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.all.last_sixty.count}}&nbsp; | {{ctrl.data.logins.all.last_sixty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.all.last_ninety.count}}&nbsp; | {{ctrl.data.logins.all.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.all.half_year.count}}&nbsp; | {{ctrl.data.logins.all.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.all.year.count}}&nbsp; | {{ctrl.data.logins.all.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.all.total.count}}&nbsp; | {{ctrl.data.logins.all.total.percentage | percentage: 2}}</td>
                            </tr>
                            <tr>
                                <td>Organic Users</td>
                                <td class="text-center">{{ctrl.data.logins.organic.last_thirty.count}}&nbsp; | {{ctrl.data.logins.organic.last_thirty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.organic.last_sixty.count}}&nbsp; | {{ctrl.data.logins.organic.last_sixty.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.organic.last_ninety.count}}&nbsp; | {{ctrl.data.logins.organic.last_ninety.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.organic.half_year.count}}&nbsp; | {{ctrl.data.logins.organic.half_year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.organic.year.count}}&nbsp; | {{ctrl.data.logins.organic.year.percentage | percentage: 2}}</td>
                                <td class="text-center">{{ctrl.data.logins.organic.total.count}}&nbsp; | {{ctrl.data.logins.organic.total.percentage | percentage: 2}}</td>
                            </tr>
                            <!--<tr>-->
                            <!--    <td>Users from Agents</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.last_thirty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.last_sixty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.last_ninety | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.half_year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.agents.total | percentage: 2}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--    <td>Users from Inspectors</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.last_thirty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.last_sixty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.last_ninety | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.half_year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.inspectors.total | percentage: 2}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                            <!--    <td>All Users from Partner</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.last_thirty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.last_sixty | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.last_ninety | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.half_year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.year | percentage: 2}}</td>-->
                            <!--    <td>{{ctrl.data.logins.partners.total | percentage: 2}}</td>-->
                            <!--</tr>-->
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>User With No Logins</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>All Users</td>
                                <td class="text-center">{{ctrl.data.nologins.all.count}}</td>
                            </tr>
                            <tr>
                                <td>Organic Users</td>
                                <td class="text-center">{{ctrl.data.nologins.organic.count}}</td>
                            </tr>
                            <tr>
                                <td>Partners</td>
                                <td class="text-center">{{ctrl.data.nologins.partners.count}}</td>
                            </tr>
                            <tr>
                                <td>Agents</td>
                                <td class="text-center">{{ctrl.data.nologins.agents.count}}</td>
                            </tr>
                            <tr>
                                <td>Inspectors</td>
                                <td class="text-center">{{ctrl.data.nologins.inspectors.count}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.current_tab == 'Inspector Engagement'" style="background-color: white;">
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Binders created by Home Inspectors - 60 day Averages</th>
                                <th class="text-center">Total Accepted by Homeowners</th>
                                <th class="text-center">Total Created</th>
                                <th class="text-center">Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="week in ctrl.inspectors.binders">
                                <td>{{week.week_start | date}} - {{week.week_end | date}}</td>
                                <td class="text-center">{{week.accepted}}</td>
                                <td class="text-center">{{week.created}}</td>
                                <td class="text-center">{{week.percentage | percentage: 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered" style="background-color: white;">
                        <thead>
                            <tr>
                                <th>Homeowners created by Inspectors Logins - Week to Week</th>
                                <th class="text-center">Total Logins</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="week in ctrl.inspectors.logins">
                                <td>{{week.week_start | date}} - {{week.week_end | date}}</td>
                                <td class="text-center">{{week.logins}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>