<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-users fa-3 text-primary"></i>&nbsp;&nbsp;{{ctrl.resources.title}}&nbsp;&nbsp;</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary pull-right" ng-click="ctrl.addPartner()" ng-disabled="ctrl.partner_binders.length > 0"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Partner</button>
                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.info}}</h4>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-repeat="header in ctrl.resources.headers">{{header}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="binder in ctrl.partner_binders">
                        <td>
                            <span ng-if="!binder.newPartner">{{binder.partner.id}}</span>
                            <hb-lookup cfg="ctrl.lookupCfg" selection="binder.partner" ng-if="binder.newPartner" select="ctrl.onSelect(binder, $index)"></hb-lookup>
                        </td>
                        <td>{{binder.partner.name}}</td>
                        <td>{{binder.partner.email}}</td>
                        <td>
                            <hb-lookup cfg="ctrl.homeownerLookupCfg" selection="binder.homeowner"></hb-lookup>
                        </td>
                        <td>
                            <select ng-options="option.value as option.name for option in ctrl.partner_roles" name="role" class="form-control" ng-model="binder.role" ng-required="true">
							</select>
                        </td>
                        <td>
                            <a href="" ng-click="ctrl.orderRP(binder)">Open</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.save(binder, $index)" ng-if="binder.savePartner" ng-disabled="ctrl.canSave(binder)"><span class="glyphicon glyphicon-ok"></span></button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.remove(binder, $index)"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.partner_binders.length < 1">
                        <td colspan="6" class="text-center">{{ctrl.resources.empty}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>