<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <div class="pull-right">
            <button type="submit" ng-click="ctrl.model.updatePassword()" class="btn btn-primary text-right" ng-disabled="ctrl.model.passwordForm.$invalid">{{ctrl.model.resources.saveButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.password}}</h3>
    </div>
    <form name="ctrl.model.passwordForm" role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="current_password">{{ctrl.model.resources.currentPassword}}</label>
                    <input id="current_password" ng-model="ctrl.model.current_password" name="current_password" type="password" class="form-control" placeholder="{{ctrl.model.resources.currentPassword}}" required />
                    <span ng-show="ctrl.model.passwordForm.current_password.$error.required && !ctrl.model.passwordForm.current_password.$pristine" class="error">{{ctrl.model.resources.required}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group" ng-class='{"has-feedback": ctrl.model.passwordForm.first_password.$valid}'>
                    <label for="first_password">{{ctrl.model.resources.newPasword}}</label>
                    <input id="first_password" ng-model="ctrl.model.first_password" name="first_password" type="password" class="form-control" placeholder="{{ctrl.model.resources.newPasword}}" required ng-minlength="8" ng-maxlength="128" />
                    <span ng-if="ctrl.model.passwordForm.first_password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span ng-show="ctrl.model.passwordForm.first_password.$error.minlength && !ctrl.model.passwordForm.first_password.$pristine" class="error">{{ctrl.model.resources.minlength}} 8</span>
                    <span ng-show="ctrl.model.passwordForm.first_password.$error.maxlength && !ctrl.model.passwordForm.first_password.$pristine" class="error">{{ctrl.model.resources.maxlength}} 128</span>
                    <span ng-show="ctrl.model.passwordForm.first_password.$error.required && !ctrl.model.passwordForm.first_password.$pristine" class="error">{{ctrl.model.resources.required}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group" ng-class='{"has-feedback": ctrl.model.passwordForm.second_password.$valid}'>
                    <label for="second_password">{{ctrl.model.resources.confirm}}&nbsp;{{ctrl.model.resources.newPasword}}</label>
                    <input id="second_password" ng-model="ctrl.model.second_password" name="second_password" type="password" class="form-control" placeholder="{{ctrl.model.resources.confirm}}&nbsp;{{ctrl.model.resources.newPasword}}" compare-to="ctrl.model.first_password"
                        required />
                    <span ng-if="ctrl.model.passwordForm.second_password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    <span ng-show="ctrl.model.passwordForm.second_password.$error.compareTo && !ctrl.model.passwordForm.second_password.$pristine && !ctrl.model.passwordForm.second_password.$error.required && ctrl.model.passwordForm.first_password.$valid" class="error">{{ctrl.model.resources.passwordsNotEqual}}</span>
                    <span ng-show="ctrl.model.passwordForm.second_password.$error.required && !ctrl.model.passwordForm.second_password.$pristine" class="error">{{ctrl.model.resources.required}}</span>
                </div>
            </div>
        </div>
    </form>
</div>