<ul class="hb-tag-view">
    <li ng-repeat="item in ctrl.items" class="hb-tag-view-item">
        <button ng-click="ctrl.onClickItem(item)" class="btn btn-primary btn-xs">{{item.name}}</a>
    </li>
</ul>