<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}</label>
			<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" required ng-maxlength="255" placeholder="{{ctrl.model.resources.namePlaceholder}}" autofocus required/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.description.$invalid && ctrl.form.$submitted }">
			<label>{{ctrl.model.resources.descriptionLabel}}</label>
			<textarea name="description" class="form-control" ng-model="ctrl.model.description" type="text" rows="5" placeholder="{{ctrl.model.resources.descriptionPlaceholder}}" required></textarea>
			<div ng-messages="ctrl.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="control-label">{{ctrl.model.resources.resourceTypeLabel}}</label>
			<select name="resourceType" ng-model="ctrl.model.resourceType" class="form-control" ng-options="type.value as type.name for type in ctrl.model.resourceTypes" ng-required="true">
			</select>
			<div ng-messages="ctrl.form.resourceType.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-if="ctrl.model.organizationId">
			<label class="control-label">{{ctrl.model.resources.userTypeLabel}}</label>
			<select name="userType" ng-model="ctrl.model.userType" class="form-control" ng-options="type.value as type.name for type in ctrl.model.userTypes" ng-required="ctrl.model.organizationId">
			</select>
			<div ng-messages="ctrl.form.userType.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-xs-6 text-center" ng-if="ctrl.model.resourceType === 'image'">
			<label>{{ctrl.model.resources.imageLabel}}</label>
			<div class="image" ng-if="ctrl.model.resource.image_file">
				<img class="img-responsive center-block" ng-src="{{ctrl.model.resource.image_file}}" alt="Resource Image File" />
			</div>
			<hb-uploader cfg="ctrl.model.imageUploader" file-added="ctrl.model.changeImage()"></hb-uploader>
		</div>
		<div class="form-group col-xs-6 text-center" ng-if="ctrl.model.resourceType === 'document'">
			<label>{{ctrl.model.resources.documentLabel}}</label>
			<hb-uploader cfg="ctrl.model.documentUploader" file-added="ctrl.model.changeDocument()"></hb-uploader>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }" ng-if="ctrl.model.resourceType === 'link'">
			<label for="link" class="control-label">{{ctrl.model.resources.linkLabel}}</label>
			<input name="link" type="url" class="form-control" ng-model="ctrl.model.url" name="link" placeholder="{{ctrl.model.resources.linkPlaceholder}}" ng-required="ctrl.model.resourceType === 'link'" ng-pattern="ctrl.model.url_regex" http-prefix/>
			<div ng-messages="ctrl.form.link.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
	</form>
</div>