<div class="container-fluid areas-view">
	<hb-header cfg="ctrl.model.toolbarCfg" query="ctrl.model.query" sort="ctrl.model.reverseSort"></hb-header>
	<div class="row">
		<div ng-repeat="binderContractor in ctrl.model.items | filter: ctrl.model.query | orderBy:ctrl.model.sortBy:ctrl.model.reverseSort track by $index">
			<div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
			<div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
			<div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
			<div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body areas">
						<a href="" ng-click="ctrl.model.viewDetails(binderContractor)">
							<h3 class="panel-title" ng-if="!binderContractor.contractor">{{binderContractor.contact | titleize}}&nbsp;<i class="fa fa-star" ng-if="!binderContractor.worked_on_property"></i></h3>
							<h3 class="panel-title" ng-if="binderContractor.contractor">{{binderContractor.contractor.name | titleize}}&nbsp;<i class="fa fa-star" ng-if="!binderContractor.worked_on_property"></i></h3>
						</a>
						<h5 class="text-muted hidden-sm" ng-repeat="type in binderContractor.types" ng-click="ctrl.model.viewDetails(binderContractor)">{{type.name}}</h5>
						<button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.model.contact(binderContractor)" ng-if="binderContractor.contractor && binderContractor.contractor.email">Contact</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pagination ng-if="ctrl.model.items.length > 0" total-items="ctrl.model.toolbarCfg.total" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.refresh()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
	</pagination>
	<div class="row" ng-if="ctrl.model.items.length < 1">
		<div class="col-xs-12">
			<img class="img-responsive center-block" ng-src="/img/blankHomeProsExample.png">
		</div>
	</div>
</div>