<div class="modal-header">
    <h4 class="modal-title" class="text-center"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12" ng-if="!ctrl.is_uploading">
            <p class="lead">{{ctrl.resources.subtitle}}</p>
            <p>{{ctrl.resources.info}}</p>
            <div class="form-group">
                <hb-uploader cfg="ctrl.uploader" file-uploaded="ctrl.uploadSuccess(file)" file-error="ctrl.uploadError(response)" file-added="ctrl.uploadImage()"></hb-uploader>
            </div>
        </div>
        <div class="col-md-12 text-center" ng-if="ctrl.is_uploading">
            <p>{{ctrl.resources.loading}}&nbsp;<img src="/img/busy.gif" /></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.cancel()" type="button" class="btn btn-default">{{ctrl.resources.cancel}}</button>
</div>
