<div class="container homebinder-form" ng-show="!ctrl.hideForm">
	<div class="row col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading panel-heading-image"><img src="/img/flatlogo.png" /></div>
			<div class="panel-body">
				<form role="form" name="ctrl.loginForm" ng-submit="ctrl.submit()">
					<div class="form-group">
						<input type="email" class="form-control input-lg" name="email" placeholder="{{ctrl.resources.emailPlaceholder}}" ng-model="ctrl.data.email" autofocus="true" ng-minlength="1" ng-maxlength="255" required/>
						<div ng-messages="ctrl.loginForm.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.loginForm.$submitted">
						</div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" name="password" placeholder="{{ctrl.resources.passwordPlaceholder}}" ng-model="ctrl.data.password" ng-minlength="8" ng-maxlength="128" required/>
						<div ng-messages="ctrl.loginForm.password.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.loginForm.$submitted">
						</div>
					</div>
					<button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.loading.isLoading() && ctrl.loginForm.$valid">{{ctrl.resources.login}}</button>
				</form>
			</div>
			<div class="panel-footer">
				<span class="pull-left">
		  			<a href='/passwords/reset'>{{ctrl.resources.forgotPassword}}</a> | <a href='/homeowners/register'>{{ctrl.resources.signUp}}</a>
		  		</span>
				<span class="pull-right">
		  			&copy; {{ctrl.year}} HomeBinder
		  		</span>
				<span class="clearfix">&nbsp;</span>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>