<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header"><i class="fa fa-key text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.resources.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.info}}</h4>
            </div>
            <div class="panel-heading">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8">
                            <div>
                                <label>{{ctrl.resources.buyerAgent}}: </label>
                                <p class="form-text text-muted" ng-if="ctrl.buyer_agent">
                                    {{ctrl.buyer_agent.user.user_profile_attributes.first_name}}&nbsp;{{ctrl.buyer_agent.user.user_profile_attributes.last_name}} - {{ctrl.buyer_agent.user.email}}
                                </p>
                                <p class="form-text text-muted" ng-if="!ctrl.buyer_agent">
                                    This binder does not have a Buyer Agent
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary pull-right" ng-click="ctrl.add('buyer_agent')" ng-if="!ctrl.buyer_agent"><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-primary pull-right" ng-click="ctrl.deleteItem(ctrl.buyer_agent)" ng-if="ctrl.buyer_agent"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-8">
                            <div>
                                <label>{{ctrl.resources.sellerAgent}}: </label>
                                <p class="form-text text-muted" ng-if="ctrl.seller_agent">
                                    {{ctrl.seller_agent.user.user_profile_attributes.first_name}}&nbsp;{{ctrl.seller_agent.user.user_profile_attributes.last_name}} - {{ctrl.seller_agent.user.email}}
                                </p>
                                <p class="form-text text-muted" ng-if="!ctrl.seller_agent">
                                    This binder does not have a Seller Agent
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary pull-right" ng-click="ctrl.add('seller_agent')" ng-if="!ctrl.seller_agent"><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-primary pull-right" ng-click="ctrl.deleteItem(ctrl.seller_agent)" ng-if="ctrl.seller_agent"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>