.agent-information {
    .agent-option {
        display: table;
        .agent-option-row {
            display: table-row;
            .agent-option-cell {
                &.name {
                    font-size: 1.1em;
                }
                &.row-header {
                    padding-right: 7px;
                }
                display: table-cell;
            }
        }
    }
    .ui-select-bootstrap .ui-select-choices-row {
        border-bottom: 2px solid @dim-border;
    }
    .ui-select-bootstrap .ui-select-choices-row.active>a {
        background-color: @brand-primary;
        border-bottom: 2px solid @brand-dark;
    }
}