<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{{ctrl.model.resources.title}}</h3>
        <div class="pull-right">
            <a ui-sref="binder.projects({binderId: ctrl.model.binderId})" class="btn btn-default btn-sm">
                <span class='glyphicon glyphicon-eye-open'></span>&nbsp;{{ctrl.model.resources.viewAll}}
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ctrl.model.resources.columnName}}</th>
                <th>{{ctrl.model.resources.columnCompletionDate}}</th>
                <th>{{ctrl.model.resources.columnStatus}}</th>
            </tr>
        </thead>
        <tr ng-show="ctrl.model.state.isBusy()">
            <td colspan="3">
                <div class="alert alert-info">{{ctrl.model.resources.loading}}</div>
            </td>
        </tr>
        <tr ng-show="ctrl.model.state.isIdle()" ng-repeat="project in ctrl.model.projects">
            <td>{{project.name | titleize}}</td>
            <td>{{project.end_date | date: "MMMM yyyy"}}</td>
            <td>{{project.status}}</td>
        </tr>
        <tr ng-show="ctrl.model.state.isError()">
            <td colspan="3">
                <div class="alert alert-danger">
                    <a href="" ng-click="ctrl.model.refresh()">
                        <span class="glyphicon glyphicon-ban-circle"></span>{{ctrl.model.resources.tryAgain}}
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>