<div class="container-fluid">
	<form name="ctrl.form" novalidate>
		<div class="form-group col-md-12">
			<label class="control-label">{{ctrl.model.resources.typeLabel}}</label>
			<select ng-model="ctrl.model.widgetDef" class="form-control" ng-options="widgetDef.name for widgetDef in ctrl.model.widgetDefs" ng-change="ctrl.model.widgetDefChanged(ctrl.model.widgetDef)" autofocus>
			</select>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.form.name.$invalid && ctrl.form.$submitted }">
			<label for="name" class="control-label">{{ctrl.model.resources.nameLabel}}</label>
			<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" required ng-maxlength="255" placeholder="{{ctrl.resources.namePlaceholder}}" title="{{ctrl.resources.nameTip}}"/>
			<div ng-messages="ctrl.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-if="ctrl.cfg.asAdmin" ng-class="{ 'has-error': ctrl.form.category.$invalid && ctrl.form.$submitted }">
			<label for="category" class="control-label">{{ctrl.model.resources.categoryLabel}}</label>
			<input name="category" class="form-control" ng-model="ctrl.model.category" type="text" required ng-maxlength="255" placeholder="{{ctrl.resources.categoryPlaceholder}}" title="{{ctrl.resources.categoryTip}}"/>
			<div ng-messages="ctrl.form.category.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12" ng-class="{ 'has-error': ctrl.description.$invalid && ctrl.form.$submitted }">
			<label>{{ctrl.model.resources.descriptionLabel}}</label>
			<textarea name="description" class="form-control" ng-model="ctrl.model.description" type="text" rows="5" placeholder="{{ctrl.resources.descriptionPlaceholder}}" title="{{ctrl.resources.descriptionTip}}"></textarea>
			<div ng-messages="ctrl.form.description.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
			</div>
		</div>
		<div class="form-group col-md-12">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="ctrl.model.restrict"> {{ctrl.model.restrictLabel}}
				</label>
			</div>
		</div>
		<!-- custom configuration -->
		<widget-renderer ng-if="ctrl.model.widgetDef && ctrl.model.widgetDef.isConfigurable" widget="ctrl.model.widgetDef.config" cfg="ctrl.model.configuration"></widget-renderer>
		<!-- errors -->
		<div ng-if="ctrl.error422" class="form-group col-md-12">
			<div class="alert alert-danger" role="alert">{{ctrl.model.resources.saveErrorNameKey}}</div>    
		</div>
	</form>
</div>