<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ctrl.model.resources.title}}</h3>
    </div>
    <div class="panel-body completeness-panel">
        <div ng-show="ctrl.model.state.isIdle()">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ctrl.model.percentComplete}}%"><p>{{ctrl.model.percentComplete}}%</p></div>
            </div>
            <div class="row">
                <div ng-repeat="section in ctrl.model.sections" class="binder-link-parent">
                    <div class="col-xs-6 binder-link" ng-hide="section.complete">
                        <a href="/binders/{{ctrl.model.binderId}}/{{section.link}}">+ {{section.text}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="ctrl.model.state.isBusy()">
            <div class="alert alert-info">{{ctrl.model.resources.loading}}</div>
        </div>
        <div ng-show="ctrl.model.state.isError()">
            <div class="alert alert-danger">
                <a href="" ng-click="ctrl.model.refresh()">
                    <span class="glyphicon glyphicon-ban-circle"></span>{{ctrl.model.resources.tryAgain}}
                </a>
            </div>
        </div>
    </div>
</div>