<div class="landing-inspectors landing-new landing-homeowner-new">
  <div class="section navigation visible-xs hidden-sm hidden-md hidden-lg">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>              
          </button>
          <a class="navbar-brand" href="/index"><img src="../../img/newInspector/flatlogonotext-white.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/inspectors">{{ctrl.resources.inspectors}}</a></li>
            <li><a href="/agents">{{ctrl.resources.agents}}</a></li>
            <li><a href="/lenders">{{ctrl.resources.lenders}}</a></li>
            <li><a href="/pros">{{ctrl.resources.homepros}}</a></li>
            <li><a href="/managers">{{ctrl.resources.managers}}</a></li>
            <li><a href="/builders">{{ctrl.resources.builders}}</a></li>
            <li><a href="/hoas">{{ctrl.resources.hoas}}</a></li>
            <li><a href="/insurances">{{ctrl.resources.insurances}}</a></li>
            <li style="display: none;"><a href="/team">{{ctrl.resources.team}}</a></li>
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/login">{{ctrl.resources.signIn}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="section welcome navigation">
    <div class="container">
      <div class="hidden-xs large-navigation">
      <img class="brand" alt="Brand" src="../../img/newInspector/hbWhiteLogo.png">
      <ul class="nav navbar-nav main-nav">
        <li class="nav-item"><a class="active" href="/index">{{ctrl.resources.homeowners}}</a></li>
        <li class="nav-item dropdown">
          <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ctrl.resources.professionals}} <span class="caret"></span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/inspectors">{{ctrl.resources.inspectors}}</a>
            <a class="dropdown-item" href="/agents">{{ctrl.resources.agents}}</a>
            <a class="dropdown-item" href="/lenders">{{ctrl.resources.lenders}}</a>
            <a class="dropdown-item" href="/pros">{{ctrl.resources.homepros}}</a>
            <a class="dropdown-item" href="/managers">{{ctrl.resources.managers}}</a>
            <a class="dropdown-item" href="/builders">{{ctrl.resources.builders}}</a>
            <a class="dropdown-item" href="/hoas">{{ctrl.resources.hoas}}</a>
            <a class="dropdown-item" href="/insurances">{{ctrl.resources.insurances}}</a>
          </div>
        </li>
        <li style="display: none;" class="nav-item"><a href="/team">{{ctrl.resources.team}}</a></li>
        <li class="nav-item"><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
        <li class="nav-item"><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
      </ul>
      <ul class="navbar-nav registration-buttons pull-right">
        <li><a class="btn btn-primary" href="/login">{{ctrl.resources.signIn}}</a></li>
        <li><a class="btn btn-default hide-small" href="/homeowners/register">{{ctrl.resources.startFreeBinder}}</a></li>
      </ul>
    </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ctrl.resources.homeownershipActionable}}</h1>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
          <h2>{{ctrl.resources.todaysHomeowner}} <span>{{ctrl.resources.reduceHeadaches}}</span> {{ctrl.resources.and}} <span>{{ctrl.resources.saveMoney}}</span> {{ctrl.resources.specificSupport}}</h2>
          <div class="welcome-buttons homeowner-buttons text-center">
            <a class="btn btn-default watch-button" href="/homeowners/register">{{ctrl.resources.startFreeBinder}}</a>
            <a class="btn btn-primary watch-button" href="/homeowners/claim_binder">{{ctrl.resources.claimBinder}}</a>
            <a style="display: none;" class="btn btn-default schedule-button" href="https://calendly.com/alec-2/homebinder-web-demo" target="_blank">{{ctrl.resources.scheduleLiveDemo}}</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive node-web" src="../../img/newInspector/nodeWeb.png">
          <img class="img-responsive dashboard-monitor" src="../../img/newInspector/dashboardDesktop.png">
        </div>
      </div>
    </div>
  </div>
  <div class="section stats">
    <div class="gradient"></div>
    <div class="container text-center">
      <div class="col-md-2 col-md-offset-1 col-xs-12">
        <h2>2m+</h2>
        <h3>{{ctrl.resources.maintenanceRemindersSent}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>300k</h2>
        <h3>{{ctrl.resources.confidentHomeowners}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>112k</h2>
        <h3>{{ctrl.resources.agentsHomeInspectors}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <h2>10k</h2>
        <h3>{{ctrl.resources.serviceProviders}}</h3>
      </div>
      <div class="col-md-2 col-xs-12">
        <img src="../../img//newInspector/techstarsLogo.png">
      </div>
    </div>
  </div>
  <div class="section circles">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/homeHeart.png">
          </div>
          <h2>{{ctrl.resources.peaceOfMind}}</h2>
          <p>{{ctrl.resources.peaceOfMindPara}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/handHome.png">
          </div>
          <h2>{{ctrl.resources.propertySpecificSupport}}</h2>
          <p>{{ctrl.resources.propertySpecificSupportPara}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img class="home-repairs" src="../../img/newInspector/homeRepairs.png">
          </div>
          <h2>{{ctrl.resources.repairsMoney}}</h2>
          <p>{{ctrl.resources.repairsMoneyPara}}</p>
        </div>
      </div>

      <div class="row homeowner-buttons">
          <div class="col-xs-12 text-center">
            <a class="btn btn-primary" href="/homeowners/register">{{ctrl.resources.startFreeBinder}}</a>
            <a class="btn btn-default" href="/homeowners/claim_binder">{{ctrl.resources.claimBinder}}</a>
          </div>
        </div>
    </div>
  </div>
  <div class="section mobile">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.mobileTitle}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.mobileSubtitle}}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-0 col-md-push-4 col-xs-6 col-xs-offset-3 text-center">
          <img class="iPhone" src="../../img/newInspector/iPhone.png">
        </div>
        <div class="col-md-4 col-md-pull-4 col-xs-12 main-content">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/homeCalendar.png">
              <h2>{{ctrl.resources.maintenanceReminders}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.maintenanceRemindersPara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/homeProject.png">
              <h2>{{ctrl.resources.homeProjectPlanning}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.homeProjectPlanningPara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/realEstateVan.png">
              <h2>{{ctrl.resources.moveinSupport}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.moveinSupportPara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/ebook.png">
              <h2>{{ctrl.resources.digitalDoc}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.digitalDocPara}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 main-content">
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/ovenAlert.png">
              <h2>{{ctrl.resources.applianceRecall}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.applianceRecallPara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/worker.png">
              <h2>{{ctrl.resources.referredService}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.referredServicePara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/clipboard.png">
              <h2>{{ctrl.resources.homeInventory}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.homeInventoryPara}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="row">
              <img src="../../img/newInspector/report.png">
              <h2>{{ctrl.resources.saleReport}}</h2>
            </div>
            <div class="row">
              <p>{{ctrl.resources.saleReportPara}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="demo-buttons">
        <div class="row">
          <div class="col-sm-6">
            <a href="https://itunes.apple.com/us/app/homebinder/id1437973275" target="_blank">
              <img class="img-left" src="../../img/newInspector/appStore.png">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="https://play.google.com/store/apps/details?id=com.homebinder.homeowner1&hl=en_US" target="_blank">
              <img class="img-right" src="../../img/newInspector/googlePlay.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section testimonials">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.testimonialsTitle}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.testimonialsSubtitle}}</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="embed-responsive embed-responsive-16by9" >
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YvdYs45g57w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="caption">
            <p><img src="../../img/newInspector/smileIcon.png"><span>{{ctrl.resources.realHomeowners}}</span></p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 col-sm-4">
              <p class="first-paragraph"><span>"</span>{{ctrl.resources.javierQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.javierName}}</p>
            </div>
            <div class="col-md-12 col-sm-4">
              <p><span>"</span>{{ctrl.resources.amandaQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.amandaName}}</p>
            </div>
            <div class="col-md-12 col-sm-4">
              <p><span>"</span>{{ctrl.resources.jasonQuote}}<span>"</span></p>
              <p>-{{ctrl.resources.jasonName}}</p>
            </div>
        </div>
      </div>

      <div class="row homeowner-buttons">
          <div class="col-xs-12 text-center">
            <a class="btn btn-primary" href="/homeowners/register">{{ctrl.resources.startFreeBinder}}</a>
            <a class="btn btn-default" href="/homeowners/claim_binder">{{ctrl.resources.claimBinder}}</a>
          </div>
        </div>
    </div>
  </div>
  <div class="section circles">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/phone.png">
          </div>
          <h2>{{ctrl.resources.thirdParty}}</h2>
          <p>{{ctrl.resources.thirdPartyPara}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/deal.png">
          </div>
          <h2>{{ctrl.resources.seededBy}}</h2>
          <p>{{ctrl.resources.seededByPara}}</p>
        </div>
        <div class="col-sm-4">
          <div class="background-circle">
            <img src="../../img/newInspector/diploma.png">
          </div>
          <h2>{{ctrl.resources.helpingOwners}}</h2>
          <p>{{ctrl.resources.helpingOwnersPara}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section homeowner-cost">
    <div class="container">
      <div class="col-md text-center">
        <h1>{{ctrl.resources.costTitle}}</h1>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="text-center subtitle">{{ctrl.resources.costSubtitle}}</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 text-center price">
          <h1>{{ctrl.resources.free}}</h1>
          <h3>{{ctrl.resources.renterVersion}}</h3>
          <p>{{ctrl.resources.freePara}}</p>
        </div>
        <div class="col-sm-6 text-center price">
          <h1>$2.99/mo</h1>
          <h3>{{ctrl.resources.homeownerVersion}}</h3>
          <p>{{ctrl.resources.homeownerPara}}</p>
        </div>
      </div>

      <div class="row homeowner-buttons">
          <div class="col-xs-12 text-center">
            <a class="btn btn-primary" href="/homeowners/register">{{ctrl.resources.startFreeBinder}}</a>
            <a class="btn btn-default watch-button" href="/homeowners/claim_binder">{{ctrl.resources.claimBinder}}</a>
          </div>
        </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="inspectors">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a class="logo"><img src="../../img/flatlogo2s.png"></a>
          <ul>
            <li class="hidden-xs"><a href="/index" class="active">{{ctrl.resources.homeowners}}</a> </li>
            <li class="hidden-xs"><a href="/inspectors">{{ctrl.resources.inspectors}}</a> </li>
            <li class="hidden-xs"><a href="/agents">{{ctrl.resources.agents}}</a> </li>
            <li>
              <p>&copy; {{ctrl.yyyy}} HomeBinder Inc.</p>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul style="text-align: center;">
            <li><a href="http://blog.homebinder.com">{{ctrl.resources.blog}}</a></li>
            <li><a href="http://support.homebinder.com">{{ctrl.resources.support}}</a></li>
            <li><a href="/terms">{{ctrl.resources.terms}}</a></li>
            <li><a href="/privacy">{{ctrl.resources.privacy}}</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: right;">
          <li class="hidden-xs">1-800-377-6915</li>
          <li class="hidden-xs">SUPPORT AT HOMEBINDER DOT COM</li>
          <a href="http://www.facebook.com/homebinder" target="_blank"><img src="../../img/facebookgrey.gif" alt="Facebook image for HomeBinder's home management software"></a>&nbsp;
          <a href="http://www.twitter.com/homebinder" target="_blank"><img src="../../img/twittergrey.gif" alt="Facebook image for HomeBinder's home management software"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '9224990';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript';
    dc.async = true;
    dc.src = '//tag.getdrip.com/9224990.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
