<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" ng-src="/img/maino.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>Maintenance Items</strong>  - 
					<span class="text-primary">{{ctrl.items.length}}</span>
					<span ng-if="!ctrl.maintenanceForm.$invalid || ctrl.items.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.maintenanceForm.$invalid && ctrl.items.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<small class="text-danger">Please fill out the maintenance items form.</small></span>
				</h3>
			</div>
			<div class="col-xs-1">
				<a href="" class="btn btn-primary" type="button" ng-model="ctrl.is_maint_collapsed" ng-click="ctrl.is_maint_collapsed = !ctrl.is_maint_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_maint_collapsed, 'glyphicon glyphicon-plus': ctrl.is_maint_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_maint_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Remove the maintenance items that don't apply or add your own.</h4>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4 text-left" ng-if="ctrl.type === 'seller'"><h4>Item Name</h4></div>
							<div class="col-xs-2 text-left" ng-if="ctrl.type != 'seller'"><h4>Item Name</h4></div>
							<div class="col-xs-3 text-center"><h4>Frequency</h4></div>
							<div class="col-xs-3 text-center" ng-if="ctrl.type != 'seller'"><h4>Next Due Date</h4></div>
							<div class="col-xs-4 text-center" ng-if="ctrl.type === 'seller'"><h4>Notes</h4></div>
							<div class="col-xs-3 text-center" ng-if="ctrl.type != 'seller'"><h4>Notes</h4></div>
							<div class="col-xs-1"><h4></h4></div>
						</div>
					</div>
					<div class="panel-heading" ng-repeat="item in ctrl.items">
						<div class="row">
							<form role="form" name="ctrl.maintenanceForm" novalidate>
								<div class="col-xs-4 text-left" ng-if="ctrl.type === 'seller'">
									<div ng-if="!item.new_item">
										<span>{{item.name}}</span>
									</div>
									<div ng-if="item.new_item">
										<input type="text" name="name_{{$index}}" ng-model="item.name" class="form-control" placeholder="Clean Dryer Vent" ng-minlength="1" required/>
										<span ng-if="item.error" class="error">
							                {{item.error}}
							            </span>
										<span ng-show="ctrl.maintenanceForm['name_{{$index}}'].$error.minlength" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.maintenanceForm['name_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-2 text-left" ng-if="ctrl.type != 'seller'">
									<div ng-if="!item.new_item">
										<span>{{item.name}}</span>
									</div>
									<div ng-if="item.new_item">
										<input type="text" name="name_{{$index}}" ng-model="item.name" class="form-control" placeholder="Clean Dryer Vent" ng-minlength="1" required/>
										<span ng-if="item.error" class="error">
							                {{item.error}}
							            </span>
										<span ng-show="ctrl.maintenanceForm['name_{{$index}}'].$error.minlength" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.maintenanceForm['name_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-3">
									<select class="form-control" name="interval" ng-model="item.interval" ng-options="intv.value as intv.name for intv in ctrl.frequencies" show-button-bar="false" show-weeks="false"  required></select>
								</div>
								<div class="col-xs-3" ng-if="ctrl.type != 'seller'">
									<input type="text" name="do_date_{{$index}}" ng-model="item.do_date" class="form-control" value="{{ item.do_date }}" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" min="ctrl.today" show-button-bar="false" show-weeks="false" is-open="ctrl.date[$index].opened" ng-click="ctrl.date[$index].opened = true" required/>
									<span ng-show="ctrl.maintenanceForm['do_date_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
								<div class="col-xs-4" ng-if="ctrl.type === 'seller'">
									<textarea name="details" ng-model="item.details" class="form-control" placeholder="Notes" rows="3"></textarea>
								</div>
								<div class="col-xs-3" ng-if="ctrl.type != 'seller'">
									<textarea name="details" ng-model="item.details" class="form-control" placeholder="Notes" rows="3"></textarea>
								</div>
								<div class="col-xs-1 text-center move-button">
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove($index)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addItem()" ng-disabled="ctrl.maintenanceForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Item
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>