<div class="container-fluid" ng-show="!ctrl.model.loading.isLoading()">
	<hb-documents-nav active="ctrl.model.itemType"></hb-documents-nav>
	<hb-header cfg="ctrl.model.toolbarCfg" query="ctrl.model.query" sort="ctrl.model.reverseSort"></hb-header>
	<hb-uploader cfg="ctrl.model.uploadCfg" file-uploaded="ctrl.model.onFileUploadedSuccess(file)" file-error="ctrl.model.onFileUploadError(response)" current-files="ctrl.model.items" file-added="ctrl.model.fileAdded()"></hb-uploader>
	<div class="row" ng-if="ctrl.model.items.length < 1 || ctrl.model.pending.length > 0">
		<div class="col-md-12">
			<img class="screenshot" src="/img/docfill.png"></img>
		</div>
	</div>
	<div ng-repeat="document in ctrl.model.items">
		<div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
		<div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
		<div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
		<div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 documents">
			<div class="thumbnail">
				<a href="">
					<h1 class="text-center" ng-click="ctrl.model.viewDocument(document)"><i class="{{document.icon}}" tooltip="View Document" tooltip-placement="right"></i></h1>
				</a>
				<div class="document-name">
					<h6 class="text-center" ng-if="document.read_only"><strong>{{document.name}}</strong></h6>

					<div class="row" ng-if="!document.read_only">
						<div class="col-xs-12">
							<form role="form" name="nameForm">
								<div class="form-group">
									<div class="input-group input-group-sm">
										<input type="text" name="title" ng-model="document.name" class="form-control" placeholder="Document Name" ng-minlength="1" required/>
										<span class="input-group-btn">
					            		<button class="btn btn-primary" ng-disabled="nameForm.title.$invalid" type="button" ng-click="ctrl.model.update(document)">
					                		<span class="glyphicon glyphicon-ok"></span>
										</button>
										<button class="btn btn-default" type="button" ng-click="ctrl.model.edit(document)">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>


				</div>
				<div class="caption text-center" ng-if="document.accessible">
					<p>{{document.details}}</p>
					<div class="btn-group button-group text-left">
						<a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{ctrl.model.resources.option}}</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="" ng-click="ctrl.model.viewDocument(document)"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ctrl.model.resources.view}}</a>
							</li>
							<li>
								<a href="" ng-click="ctrl.model.deleteItem(document, $index)"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ctrl.model.resources.remove}}</a>
							</li>
							<li>
								<a href="" ng-click="ctrl.model.edit(document)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;{{ctrl.model.resources.edit}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<pagination ng-if="ctrl.model.items.length > 0" total-items="ctrl.model.total" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.refresh()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage"></pagination>
</div>
