<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default" ng-if="ctrl.model.user_contractor && ctrl.model.user_contractor.sign_in_count > 0">
						<div class="container-fluid">
							<div class="row" ng-if="ctrl.model.currentUser.role === 'admin'">
								<div class="form-group col-xs-12 col-sm-6">
									<label>{{ctrl.model.resources.contractor}}</label>
									<hb-home-pro-lookup cfg="ctrl.model.homeProLookupCfg" selection="ctrl.model.item.contractor"></hb-home-pro-lookup>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<h5 class="text-center">{{ctrl.model.resources.infoHeader}}</h5>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-6">
									<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
									<p class="form-control-static">{{ctrl.model.name}}</p>
								</div>
								<div class="form-group col-xs-12 col-sm-6">
									<label for="phone" class="control-label">{{ctrl.model.resources.phone}}</label>
									<p class="form-control-static" ng-if="ctrl.model.phone.national">+{{ctrl.model.country.code}}{{ctrl.model.phone.national}}</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-6">
									<label for="email" class="control-label">{{ctrl.model.resources.email}}</label>
									<p class="form-control-static">{{ctrl.model.email}}</p>
								</div>
								<div class="form-group col-xs-12 col-sm-6">
									<label for="url" class="control-label">{{ctrl.model.resources.url}}</label>
									<p class="form-control-static">{{ctrl.model.url}}</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-6">
									<label for="address1" class="control-label">{{ctrl.model.resources.address1}}</label>
									<p class="form-control-static">{{ctrl.model.address1}}</p>
								</div>
								<div class="form-group col-xs-12 col-sm-6">
									<label for="address2" class="control-label">{{ctrl.model.resources.address2}}</label>
									<p class="form-control-static">{{ctrl.model.address2}}</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-6">
									<label for="city" class="control-label">{{ctrl.model.resources.city}}</label>
									<p class="form-control-static">{{ctrl.model.city}}</p>
								</div>
								<div class="form-group col-xs-12 col-sm-6">
									<label for="state" class="control-label">{{ctrl.model.resources.state}}</label>
									<p class="form-control-static">{{ctrl.model.state}}</p>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-6">
									<label for="zip" class="control-label">{{ctrl.model.resources.zip}}</label>
									<p class="form-control-static">{{ctrl.model.zip}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="!ctrl.model.user_contractor || ctrl.model.user_contractor.sign_in_count < 1">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="100" placeholder="John Smith" />
						<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="name" class="control-label">{{ctrl.model.resources.types}}</label>
						<ui-select name="types" ng-model="ctrl.model.binder_contractor_types" tagging="ctrl.model.tagTransform" multiple close-on-select="true" on-select="ctrl.model.onTypeSelect($select, $item)" on-remove="ctrl.model.onTypeRemove($item)" reset-search-input="true"
						 ng-required="true" array-required>
							<ui-select-match placeholder="Plumber">{{$item.type.name}}</ui-select-match>
							<ui-select-choices refresh="ctrl.model.searchTypes($select.search)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.typeOptions">
								{{option.name}}
							</ui-select-choices>
						</ui-select>
						<div ng-messages="ctrl.model.form.types.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="name" class="control-label">{{ctrl.model.resources.subTypes}}</label>
						<ui-select ng-model="ctrl.model.binder_contractor_sub_types" tagging="ctrl.model.tagTransform" multiple close-on-select="true" on-select="ctrl.model.onSubTypeSelect($select, $item)" on-remove="ctrl.model.onSubTypeRemove($item)" reset-search-input="true">
							<ui-select-match placeholder="Small Projects, Whole house">{{$item.sub_type.name}}</ui-select-match>
							<ui-select-choices refresh="ctrl.model.searchSubTypes($select.search)" refresh-delay="250" minimum-input-length="3" repeat="option in ctrl.model.subTypeOptions">
								{{option.name}}
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
			<div class="row" ng-if="!ctrl.model.item.id">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="phone" class="control-label">{{ctrl.model.resources.phone}}</label>
						<div class="input-group">
							<span class="input-group-addon">+{{ctrl.model.country.code}}</span>
							<input id="phone" ng-model="ctrl.model.phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
						</div>
						<div ng-messages="ctrl.model.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="email" class="control-label">{{ctrl.model.resources.email}}</label>
						<input name="email" class="form-control" ng-model="ctrl.model.email" type="text" ng-maxlength="255" />
						<div ng-messages="ctrl.model.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="!ctrl.model.item.id">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="send_email_invitation" class="control-label">{{ctrl.model.resources.send_email_invitation}}</label>
						<input id="send_email_invitation" class="form-control" ng-model="ctrl.model.send_email_invitation" type="checkbox">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="url" class="control-label">{{ctrl.model.resources.url}}</label>
						<input name="url" class="form-control" ng-model="ctrl.model.url" type="text" ng-maxlength="250" placeholder="https://www.mywebsite.com" ng-pattern="ctrl.model.url_regex" http-prefix/>
						<div ng-messages="ctrl.model.form.url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="ctrl.model.item">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.secondary_name.$invalid && ctrl.model.form.$submitted }">
						<label for="secondary_name" class="control-label">{{ctrl.model.resources.secondaryName}}</label>
						<input name="secondary_name" class="form-control" ng-model="ctrl.model.secondary_name" type="text" ng-maxlength="100" placeholder="John Smith" />
						<div ng-messages="ctrl.model.form.secondary_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.secondary_phone.$invalid && ctrl.model.form.$submitted }">
						<label for="secondary_phone" class="control-label">{{ctrl.model.resources.secondaryPhone}}</label>
						<div class="input-group">
							<span class="input-group-addon">+{{ctrl.model.country.code}}</span>
							<input id="secondary_phone" ng-model="ctrl.model.secondary_phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
						</div>
						<div ng-messages="ctrl.model.form.secondary_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div ng-if="ctrl.model.item" class="form-group" ng-class="{ 'has-error': ctrl.model.form.secondary_email.$invalid && ctrl.model.form.$submitted }">
						<label for="secondary_email" class="control-label">{{ctrl.model.resources.secondaryEmail}}</label>
						<input name="secondary_email" class="form-control" ng-model="ctrl.model.secondary_email" type="text" ng-maxlength="255" />
						<div ng-messages="ctrl.model.form.secondary_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="contact" class="control-label">{{ctrl.model.resources.contact}}</label>
						<input name="contact" class="form-control" ng-model="ctrl.model.contact" type="text" ng-maxlength="255" />
						<div ng-messages="ctrl.model.form.contact.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="account_number" class="control-label">{{ctrl.model.resources.account_number}}</label>
						<input name="account_number" class="form-control" ng-model="ctrl.model.account_number" type="text" ng-maxlength="250" />
						<div ng-messages="ctrl.model.form.account_number.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.worked_on_property.$invalid && ctrl.model.form.$submitted }">
						<label for="worked_on_property" class="control-label">{{ctrl.model.resources.worked_on_property}}</label>
						<input name="worked_on_property" class="form-control" ng-model="ctrl.model.worked_on_property" type="checkbox" value="ctrl.model.worked_on_property">
						<div ng-messages="ctrl.model.form.worked_on_property.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!ctrl.model.item">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="address1" class="control-label">{{ctrl.model.resources.address1}}</label>
							<input name="address1" class="form-control" ng-model="ctrl.model.address1" type="text" ng-maxlength="50" />
							<div ng-messages="ctrl.model.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="address2" class="control-label">{{ctrl.model.resources.address2}}</label>
							<input name="address2" class="form-control" ng-model="ctrl.model.address2" type="text" ng-maxlength="50" />
							<div ng-messages="ctrl.model.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="city" class="control-label">{{ctrl.model.resources.city}}</label>
							<input name="city" class="form-control" ng-model="ctrl.model.city" type="text" ng-maxlength="50" />
							<div ng-messages="ctrl.model.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="state" class="control-label">{{ctrl.model.resources.state}}</label>
							<ui-select ng-model="ctrl.model.state" theme="bootstrap" on-select="ctrl.model.onSelect($item)" name="state">
								<ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices group-by="ctrl.model.address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
									<span ng-bind-html="item.name | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
							<div ng-messages="ctrl.model.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<label for="zip" class="control-label">{{ctrl.model.resources.zip}}</label>
							<input name="zip" class="form-control" ng-model="ctrl.model.zip" type="text" ng-maxlength="20" />
							<div ng-messages="ctrl.model.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label tooltip="Tags allow you to link this item to a building, a paint color, a photo, maintenance item or whatever you like.">{{ctrl.model.resources.tags}}</label>
						<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
						<label>{{ctrl.model.resources.additionalDetails}}</label>
						<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" placeholder="Enter additional details about this home pro"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>{{ctrl.model.resources.media}}</label>
					</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
