<form name="ctrl.model.form" role="form" novalidate>
    <div class="page-header">
        <div ng-if="ctrl.model.settings.readOnly">
            <button class="btn btn-primary pull-right" ng-click="ctrl.model.editForm()">{{ctrl.model.resources.editButton}}</button>
        </div>
        <div ng-if="!ctrl.model.settings.readOnly" class="pull-right">
            <button type="submit" ng-click="ctrl.model.onSave()" class="btn btn-primary text-right">{{ctrl.model.resources.saveButton}}</button>
            <button type="button" ng-click="ctrl.model.cancelForm()" class="btn btn-default text-right">{{ctrl.model.resources.cancelButton}}</button>
        </div>
        <h3>{{ctrl.model.resources.accountTitle}}<small class="text-center">* = {{ctrl.model.resources.required}}</small></h3>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="contact" class="control-label">{{ctrl.model.resources.contact}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.contact}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="contact" type="text" class="form-control" ng-model="ctrl.model.item.contact" placeholder="Bob Smith" required/>
            <div ng-messages="ctrl.model.form.contact.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="name" class="control-label">{{ctrl.model.resources.name}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.name}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="name" type="text" class="form-control" ng-model="ctrl.model.item.name" ng-maxlength="50" placeholder="Bob Inspection Services" required/>
            <div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="email" class="control-label">{{ctrl.model.resources.email}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.email}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="email" type="email" class="form-control" ng-model="ctrl.model.item.email" placeholder="bob@homeinspector.com" required/>
            <div ng-messages="ctrl.model.form.email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="phone" class="control-label">{{ctrl.model.resources.phone}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">
                <span ng-if="ctrl.model.item.phone.international">
                    {{ctrl.model.item.phone.international}}
                </span>
            </p>
            <div class="input-group" ng-if="!ctrl.model.settings.readOnly">
                <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                <input name="phone" type="phone" class="form-control" ng-model="ctrl.model.item.phone.national" placeholder="555-123-4567" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
            </div>
            <div ng-messages="ctrl.model.form.phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="website" class="control-label">{{ctrl.model.resources.website}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.website}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="website" type="url" class="form-control" ng-model="ctrl.model.item.website" name="url" placeholder="https://www.mywebsite.com" ng-pattern="ctrl.model.url_regex" http-prefix/>
            <div ng-messages="ctrl.model.form.url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="email_display_name" class="control-label">{{ctrl.model.resources.display}}*</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.email_display_name}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" id="email_display_name" type="text" class="form-control" ng-model="ctrl.model.item.email_display_name" ng-maxlength="50" placeholder="Bob Smith or Bob Inspection Services" required/>
            <p ng-if="!ctrl.model.settings.readOnly" class="form-text text-muted">
                {{ctrl.model.resources.displayText}}
            </p>
            <div ng-messages="ctrl.model.form.email_display_name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="partner_type" class="control-label">{{ctrl.model.resources.type}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.partner_type}}</p>
            <select ng-if="!ctrl.model.settings.readOnly" ng-options="option.value as option.name for option in ctrl.model.partner_type_options" name="partner_type" id="partner_type" class="form-control" ng-model="ctrl.model.item.partner_type" ng-required="true">
    		</select>
            <div ng-messages="ctrl.model.form.partner_type.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="affiliate_code" class="control-label">{{ctrl.model.resources.affiliate}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.affiliate_code}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" id="affiliate_code" type="text" class="form-control" ng-model="ctrl.model.item.affiliate_code" name="affiliate_code" placeholder="ASHI" />
            <div ng-messages="ctrl.model.form.affiliate_code.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="completed_onboarding" class="control-label">{{ctrl.model.resources.onboarding}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.completed_onboarding | yesNo}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" name="completed_onboarding" class="form-control" ng-model="ctrl.model.item.completed_onboarding" type="checkbox" value="ctrl.model.item.completed_onboarding" ng-true-value="true" ng-false-value="false">
            <div ng-messages="ctrl.model.form.completed_onboarding.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6" ng-if="ctrl.model.currentUser.role === 'admin'">
            <label for="code" class="control-label">{{ctrl.model.resources.code}}</label>
            <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.code}}</p>
            <input ng-if="!ctrl.model.settings.readOnly" id="code" type="text" class="form-control" ng-model="ctrl.model.item.code" name="code" placeholder="CODE" />
            <div ng-messages="ctrl.model.form.code.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
            </div>
        </div>
    </div>
    <div ng-if="ctrl.model.currentUser.role === 'admin'">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="address">{{ctrl.model.resources.address1}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.address1}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="address" type="text" class="form-control" ng-model="ctrl.model.item.address.address1" ng-maxlength="50" />
                <div ng-messages="ctrl.model.partnerForm.address.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="address">{{ctrl.model.resources.address2}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.address2}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="address2" type="text" class="form-control" ng-model="ctrl.model.item.address.address2" ng-maxlength="50" />
                <div ng-messages="ctrl.model.partnerForm.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="city">{{ctrl.model.resources.city}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.city}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="city" type="text" class="form-control" ng-model="ctrl.model.item.address.city" ng-maxlength="50" />
                <div ng-messages="ctrl.model.partnerForm.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="state">{{ctrl.model.resources.state}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.state}}</p>
                <ui-select ng-if="!ctrl.model.settings.readOnly" ng-model="ctrl.model.item.address.state" theme="bootstrap">
                    <ui-select-match placeholder="{{ctrl.model.resources.uiSelectPlaceholder}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices group-by="ctrl.model.address.findCountry" repeat="item.value as item in ctrl.model.states | filter: $select.search track by $index">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="zip">{{ctrl.model.resources.zip}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.zip}}</p>
                <input ng-if="!ctrl.model.settings.readOnly" name="zip" type="text" class="form-control" ng-model="ctrl.model.item.address.zip" ng-maxlength="20" />
                <div ng-messages="ctrl.model.partnerForm.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.partnerForm.$submitted">
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="country">{{ctrl.model.resources.country}}</label>
                <p ng-if="ctrl.model.settings.readOnly" class="form-control-static">{{ctrl.model.item.address.country}}</p>
                <ui-select ng-if="!ctrl.model.settings.readOnly" name="property_country" ng-model="ctrl.model.item.address.country" on-select="ctrl.model.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                    <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.value as item in ctrl.model.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label class="control-label">{{ctrl.model.resources.logo}}</label>
            <div class="image" ng-if="ctrl.model.item.logo_file">
                <img class="img-responsive" ng-src="{{ctrl.model.item.logo_file}}" alt="Company Logo" height="150" width="150" />
                <div class="delete" ng-if="!ctrl.model.settings.readOnly" ng-click="ctrl.model.removeLogo()">
                    <a href=""></a>
                </div>
            </div>
            <img ng-if="!ctrl.model.item.logo_file" class="img-responsive" ng-src="/img/company_logo.png" alt="Company Logo" height="150" width="150" />
            <hb-uploader cfg="ctrl.model.imgUploadCfg" file-added="ctrl.model.setLogo()" ng-if="!ctrl.model.settings.readOnly"></hb-uploader>
        </div>
    </div>
</form>