<div class="row">
	<div class="col-xs-12">
		<h1 class="page-header">
			<div class="form-group pull-right">
				<button ng-click="ctrl.model.uploadImages()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{ctrl.model.resources.upload}}
				</button>
				<hb-uploader cfg="ctrl.model.uploadCfg" file-uploaded="ctrl.model.onFileUploadSuccess(file)" file-error="ctrl.model.onFileUploadError(response)" current-files="ctrl.model.items" file-added="ctrl.model.fileAdded()"></hb-uploader>
			</div>
			<i class="fa fa-file-image-o text-primary" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.title}}
			<span class="text-primary">{{ctrl.model.items.length}}</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.info}}</h4>
			</div>
			<div class="panel-heading" ng-repeat="image in ctrl.model.items">
				<div class="row">
					<div class="col-xs-3"><img class="img-responsive center-block" ng-src="{{image.location}}" alt="Property photo"></img>
					</div>
					<div class="col-xs-3 text-center"><span class="text-primary">{{image.name}}</span></div>
					<div class="col-xs-2 text-center">{{image.size | bytes}}</div>
					<div class="col-xs-2 text-center">
						<button type="button" class="btn btn-primary" ng-click="ctrl.model.update(image)" ng-if="!image.is_hero" ng-disabled="image.processing" tooltip="Set as hero photo"><span class="glyphicon glyphicon-star"></span></button>
					</div>
					<div class="col-xs-2 text-center">
						<button type="button" class="btn btn-primary" ng-click="ctrl.model.deleteItem(image, $index)" tooltip="Delete"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>