<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-11">
			<h3 class="text-left text-primary">
				{{ctrl.resources.paintsTitle}}&nbsp;&nbsp;
				<a ng-href="/binders/{{ ctrl.binderId }}/paints" class="btn btn-primary btn-sm">
					{{ctrl.resources.add}}
				</a>
			</h3>
		</div>
		<div class="col-xs-1 orange-button">
			<a href="" class="btn btn-default" type="button" ng-model="ctrl.is_paints_collapsed" ng-click="ctrl.is_paints_collapsed = !ctrl.is_paints_collapsed">
				<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_paints_collapsed, 'glyphicon glyphicon-plus': ctrl.is_paints_collapsed}"></span>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="well well-sm">
			<h5 class="text-muted text-center"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.resources.showHideText1}} {{ctrl.resources.paintsTitle}} {{ctrl.resources.showHideText2}}</h5>
		</div>
	</div>
</div>
<div ng-show="!ctrl.is_paints_collapsed" class="col-xs-12 push-top">
	<table class="table table-include-all" ng-if="ctrl.paints.length > 0">
		<tbody>
			<tr>
				<td class="col-xs-12 text-right">
					{{ctrl.resources.showHide}} {{ctrl.resources.paintsTitle}}&nbsp;&nbsp;
					<button ng-class='{"btn btn-primary": ctrl.allPaints, "btn btn-default": !ctrl.allPaints}' type="button" ng-click="ctrl.change()"><span ng-class='{"glyphicon glyphicon-eye-open": ctrl.allPaints, "glyphicon glyphicon-eye-close": !ctrl.allPaints}'></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table" ng-if="ctrl.paints.length > 0">
		<thead>
			<tr>
				<th class="col-xs-7">
					<label>{{ctrl.resources.paintsName}}</label>
				</th>
				<th class="col-xs-3">
					<label>{{ctrl.resources.paintsMake}}</label>
				</th>
				<th class="col-xs-2">
					<label>{{ctrl.resources.showHide2}}</label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="paint in ctrl.paints | orderBy:'paint.name':'asc'">
				<td class="col-xs-7">
					<span class="name capitalize">{{ paint.name }}</span>
					<span class="notes">{{ paint.details }}</span>
				</td>
				<td class="col-xs-3 type capitalize"><span>{{ paint.manufacturer }}</span></td>
				<td class="col-xs-2 text-center">
					<button ng-click="ctrl.setInclude(paint)" type="button" ng-class='{"btn btn-primary": paint.seller_report_item.include, "btn btn-default": !paint.seller_report_item.include}'><span ng-class='{"glyphicon glyphicon-eye-open": paint.seller_report_item.include, "glyphicon glyphicon-eye-close": !paint.seller_report_item.include}'></span></button>
					<!--<button type="button" class="btn btn-primary" ng-click="ctrl.destroy(paint)"><span class="glyphicon glyphicon-remove"></span></button>-->
				</td>
			</tr>
		</tbody>
		</tbody>
	</table>
	<!--<div class="row">-->
	<!--	<div class="col-xs-6 text-left">-->
	<!--		<button class="btn btn-primary" type="button" ng-click="ctrl.addPaint()" ng-disabled="ctrl.appForm.$invalid">-->
	<!--			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add paint-->
	<!--		</button>-->
	<!--	</div>-->
	<!--</div>-->
	<div ng-if="ctrl.paints.length == 0">
		<hr class="gallery-divider" />
		<p class="no-data text-center">{{ctrl.resources.paintsBinderNone}}</p>
	</div>
</div>
<br/>
<hr>