<div class="panel panel-default panel-overview">
    <div class="panel-heading">
        <h3 class="panel-title">{{ ctrl.model.binder.name }}</h3>
        <h4>{{ ctrl.model.binder.property.address1 }}, {{ ctrl.model.binder.property.city }}, {{ ctrl.model.binder.property.state }}</h4>
    </div>
    <div ng-show="ctrl.model.state.isIdle()">
        <div class="binder-map panel-body">
            <div class="outer">
                <div class="inner">
                    <img style="height: 350px;" ng-show="ctrl.model.showHeroImage" class="img-responsive" ng-src="{{ctrl.model.binder.image.location}}" alt="Home photo" />
                    <img ng-show="!ctrl.model.showHeroImage" ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{ ctrl.model.binder.property.address1 }}{{ ctrl.model.binder.property.city }}, {{ ctrl.model.binder.property.state }}&zoom=15&size=800x300&key=AIzaSyBkAHC5xhv7J2CSDJWOgAEAbhEaATTsb1Y&sensor=false&markers=color:red|*|{{ ctrl.model.binder.property.address1 }}{{ ctrl.model.binder.property.city }}, {{ ctrl.model.binder.property.state }}" alt="Map of home" />                    
                </div>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.model.state.isBusy()" class="alert alert-info">{{ctrl.model.resources.loading}}</div>
    <div ng-show="ctrl.model.state.isError()" class="alert alert-danger">
        <a href="" ng-click="ctrl.model.refresh()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;{{ctrl.model.resources.tryAgain}}
        </a>
    </div>
</div>