<div class="container-fluid" ng-show="!ctrl.model.loading.isLoading()">
	<hb-documents-nav active="ctrl.model.itemType"></hb-documents-nav>
	<hb-header cfg="ctrl.model.toolbarCfg" query="ctrl.model.query" sort="ctrl.model.reverseSort"></hb-header>
	<hb-uploader cfg="ctrl.model.uploadCfg" file-uploaded="ctrl.model.onFileUploadSuccess(file)" file-error="ctrl.model.onFileUploadError(response)" current-files="ctrl.model.items" file-added="ctrl.model.fileAdded()"></hb-uploader>
	<div ng-if="ctrl.model.items.length < 1 || ctrl.model.pending.length > 0">
		<img class="screenshot" src="/img/gallfill.png"></img>
	</div>
	<hb-gallery chunked="ctrl.model.items" destroy="ctrl.model.deleteItem(image, index)" update="ctrl.model.update(image)"></hb-gallery>
	<pagination ng-if="ctrl.model.items.length > 0" total-items="ctrl.model.total" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.refresh()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
	</pagination>
</div>