<div class="hb-toolbar">
	<div class="row">
		<div ng-class="{'col-xs-12': !ctrl.cfg.currentView, 'col-xs-6': ctrl.cfg.currentView}">
			<h3 ng-class="{'pull-right': ctrl.cfg.currentView, 'text-center': !ctrl.cfg.currentView}">{{ctrl.cfg.title}} <span class="label label-primary">{{ctrl.cfg.total}}</span></h3>
			<h4 ng-if="ctrl.cfg.small_title" class="text-muted text-center">{{ctrl.cfg.small_title}}</h4>
		</div>
		<div class="col-xs-6" ng-if="ctrl.cfg.currentView">
			<div class="dropdown view pull-left">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{{ctrl.cfg.currentView.label}}
				<span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li ng-repeat="view in ctrl.cfg.views">
						<a href="" ng-click="ctrl.cfg.onViewChanged(view)">{{view.label}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center text-muted" ng-if="ctrl.cfg.subtitle">{{ctrl.cfg.subtitle}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-8" ng-if="ctrl.cfg.button">
			<div class="form-group">
				<label for="text">{{ctrl.cfg.button.title}}:</label>
				<p>
					<button class="btn btn-primary" type="button" ng-click="ctrl.cfg.button.click()">{{ctrl.cfg.button.title}}</button>
				</p>
			</div>
		</div>
		<div class="col-sm-4 col-xs-8" ng-if="ctrl.cfg.buttonGroups">
			<br/>
			<div ng-repeat="group in ctrl.cfg.buttonGroups" class="btn-group button-groups">
				<a ng-repeat="btn in group.buttons" href="" class="btn btn-default" ng-click="btn.click()" tooltip="{{btn.tooltip}}">
					{{btn.label}}&nbsp;&nbsp;<span class="glyphicon {{btn.icon}}" aria-hidden="true"></span>
				</a>
			</div>
		</div>
		<div class="col-sm-4 col-xs-8" ng-if="ctrl.cfg.search">
			<form role="form" name="searchForm">
				<div class="form-group">
					<label for="text">Search:</label>
					<div class="input-group input-group-sm">
						<input type="text" name="search" ng-model="ctrl.cfg.searchValue" class="form-control searchbox" placeholder="search..." tooltip="{{ ctrl.cfg.searchTip }}" tooltip-placement="bottom" ng-minlength="1" required/>
						<span class="input-group-btn">
	            		<button class="btn btn-default" type="button" ng-click="ctrl.search()" tooltip="{{ ctrl.searchTip }}" tooltip-placement="bottom">
	                		<span class="glyphicon glyphicon-search"></span>
						</button>
						<button class="btn btn-default" type="button" ng-click="ctrl.clearSearch()" tooltip="{{ ctrl.clearSearchTip }}" tooltip-placement="bottom">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-4 hidden-xs">
			<div class="form-group pull-right" ng-if="ctrl.cfg.sort">
				<label for="select">{{ctrl.cfg.sort.title}}</label>
				<select class="form-control" ng-model="ctrl.cfg.sort.sortOption" ng-change="ctrl.sort()" ng-options="option.desc for option in ctrl.cfg.sort.sortOptions">
				</select>
			</div>
		</div>
		<div class="col-xs-8 hidden-sm hidden-md hidden-lg">
			<div class="form-group pull-left" ng-if="ctrl.cfg.sort">
				<label for="select">{{ctrl.cfg.sort.title}}</label>
				<select class="form-control" ng-model="ctrl.cfg.sort.sortOption" ng-change="ctrl.sort()" ng-options="option.desc for option in ctrl.cfg.sort.sortOptions">
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3" ng-if="ctrl.cfg.filter">
			<button hb-popover popover-cfg="ctrl.cfg.filter.popoverCfg" popover-is-open="true" href="" class="btn btn-primary" style="margin-top: 20px;">
				<span class="glyphicon glyphicon-filter"></span>
			</button>
		</div>
	</div>
	<hr>
</div>