<div class="container-fluid" ng-show="!ctrl.loading.isLoading()">
	<hb-details-nav active="ctrl.itemType"></hb-details-nav>
	<hb-header cfg="ctrl.toolbarCfg" query="ctrl.query" sort="ctrl.reverseSort"></hb-header>
	<div class="row">
		<div class="col-xs-12 text-right">
			<button style="margin-bottom: 18px;" type="button" class="btn btn-lg btn-primary" ng-click="ctrl.submitForm()" ng-disabled="ctrl.propertyForm.$invalid || ctrl.data.form.details.length > 1000">{{ctrl.resources.save}}</button>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form role="form" name="ctrl.propertyForm">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>{{ctrl.resources.propertyName}}*</label>
									<input type="text" class="form-control input-lg" name="name" placeholder="Binder Name" ng-model="ctrl.data.form.name" ng-minlength="1" ng-maxlength="50" required/>
									<span ng-show="ctrl.propertyForm.name.$error.minlength && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.propertyForm.name.$error.maxlength && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
									<span ng-show="ctrl.propertyForm.name.$error.required && !ctrl.propertyForm.name.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for="property_type">{{ctrl.resources.propertyType}}</label>
									<select id="property_type" class="form-control input-lg" ng-model="ctrl.data.form.property_attributes.property_type" ng-options="propType for propType in ctrl.options.propertyTypes" tabindex=2></select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>{{ctrl.resources.propertyAddress}}*</label>
									<input type="text" class="form-control input-lg" name="address" placeholder="Address" ng-model="ctrl.data.form.property_attributes.address1" ng-minlength="1" ng-maxlength="50" required/>
									<span ng-show="ctrl.propertyForm.address.$error.minlength && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.propertyForm.address.$error.maxlength && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
									<span ng-show="ctrl.propertyForm.address.$error.required && !ctrl.propertyForm.address.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>{{ctrl.resources.unit}}</label>
									<input type="text" class="form-control input-lg" name="unit" placeholder="Unit/Apt" ng-model="ctrl.data.form.property_attributes.address2" ng-minlength="1" ng-maxlength="50" />
									<span ng-show="ctrl.propertyForm.unit.$error.minlength && !ctrl.propertyForm.unit.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.propertyForm.unit.$error.maxlength && !ctrl.propertyForm.unit.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>{{ctrl.resources.city}}*</label>
									<input type="text" class="form-control input-lg" name="city" placeholder="City" ng-model="ctrl.data.form.property_attributes.city" ng-minlength="1" ng-maxlength="50" required/>
									<span ng-show="ctrl.propertyForm.city.$error.minlength && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.propertyForm.city.$error.maxlength && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 50</span>
									<span ng-show="ctrl.propertyForm.city.$error.required && !ctrl.propertyForm.city.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>{{ctrl.resources.state}}*</label>
									<ui-select ng-model="ctrl.data.form.property_attributes.state" theme="bootstrap" on-select="ctrl.onSelect($item)" name="state" ng-required="true">
										<ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices group-by="ctrl.Address.findCountry" repeat="item.value as item in ctrl.options.states | filter: $select.search track by $index" value="{{$select.selected.value}}">
											<span ng-bind-html="item.name | highlight: $select.search"></span>
										</ui-select-choices>
									</ui-select>
									<span ng-show="ctrl.propertyForm.state.$error.required && !ctrl.propertyForm.state.$pristine" class="error">{{ctrl.validationErrors.required}}</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="zip">{{ctrl.resources.zip}}</label>
									<input id="zip" ng-model="ctrl.data.form.property_attributes.zip" type="text" name="zip" class="form-control input-lg" ng-minlength="1" ng-maxlength="20" />
									<span ng-show="ctrl.propertyForm.zip.$error.minlength && !ctrl.propertyForm.zip.$pristine" class="error">{{ctrl.validationErrors.minlength}} 1</span>
									<span ng-show="ctrl.propertyForm.zip.$error.maxlength && !ctrl.propertyForm.zip.$pristine" class="error">{{ctrl.validationErrors.maxlength}} 20</span>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="country">{{ctrl.resources.country}}</label>
									<ui-select name="property_country" ng-model="ctrl.data.form.property_attributes.country" on-select="ctrl.onSelectCountry($item)" theme="bootstrap" ng-required="true">
										<ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="item.value as item in ctrl.options.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
											<span ng-bind-html="item.name | highlight: $select.search"></span>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="purchase_price">{{ctrl.resources.price}}</label>
									<input id="purchase_price" ng-model="ctrl.data.form.property_attributes.purchase_price" type="number" name="purchase_price" class="form-control input-lg" />
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label for="purchase_date">{{ctrl.resources.purchaseDate}}</label>
									<input name="purchase_date" class="form-control input-lg" ng-model="ctrl.data.form.property_attributes.purchase_date" value="{{ ctrl.data.form.property_attributes.purchase_date }}" type="text" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options"
									 show-button-bar="false" show-weeks="false" is-open="ctrl.date[0].opened" ng-click="ctrl.open(0)" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-11">
								<div class="form-group">
									<label for="details">{{ctrl.resources.notes}} - <span ng-class='{"text-warning": ctrl.data.form.details.length > 1000}'>{{ctrl.data.form.details.length}}&nbsp;{{ctrl.resources.characters}}</span></label>
									<h4 ng-show="ctrl.data.form.details.length > 1000" class="text-center text-warning">{{ctrl.resources.notesText}}</h4>
									<text-angular id="details" ng-model="ctrl.data.form.details" rows="5" ng-maxlength="1000"></text-angular>
								</div>
							</div>
						</div>
						<div class="row" ng-show="ctrl.showPrimary()">
							<div class="col-xs-11">
								<div class="checkbox">
									<label>
										<input id="primary" ng-model="ctrl.data.form.primary" type="checkbox" tabindex=8>&nbsp;{{ctrl.resources.primaryText}}
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>