<div class="page-header">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span>Binders</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li ng-click="ctrl.model.newBinder()">
                <a href="">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.model.resources.newButton}}
                </a>
            </li>
            <li ng-click="ctrl.model.uploadBatch()">
                <a href="">
                    <span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Batch
                </a>
            </li>
        </ul>
    </div>
    <h2 class="text-left">{{ctrl.model.resources.title}}&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your binders list" tooltip-placement="right"></i></a></h2>
</div>
<hb-binder-table ng-if="ctrl.model.partner.binder_count > 0"></hb-binder-table>
<div ng-if="ctrl.model.partner.binder_count < 1">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ctrl.model.resources.partnerWelcomeMessage1}}</h1>
        </div>
    </div>
    <div class="row move-down text-center">
        <div class="col-xs-12">
            <h3>To create your first binder, click on "New Binder" above and to the right. <span ng-if="ctrl.model.items.length > 0">Or view a sample <a ui-sref="binder.overview({ binderId: ctrl.model.items[0].id })">here</a></span></h3>
        </div>
    </div>
    <div class="row move-down" ng-if="ctrl.model.partner.partner_type === 'inspector'">
        <div class="col-xs-12 text-center">
            <h3 ng-bind-html="ctrl.model.resources.integrations"></h3>
            <h4>{{ctrl.model.resources.chat}}</h4>
        </div>
    </div>
    <div class="row move-down">
        <div class="col-xs-12 text-center">
            <h3>Need help? No problem! Email <a href="mailto:support@homebinder.com" target="_top">support@homebinder.com</a> or <a href="https://calendly.com/alec-2/15min" target="_blank">schedule a web demo.</a></h3>
        </div>
    </div>
</div>