<div class="col-xs-12" ng-if="!ctrl.showCarousel && ctrl.images.length > 0" style="height: 100px; overflow:scroll;">
    <table class="table">
        <tbody>
            <tr ng-repeat="image in ctrl.images">
                <td>
                    <img ng-src="{{image.src}}" class="center-block" style="max-height:100px;">
                </td>
                <td>{{image.name}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.deleteImage(image, $index)" tooltip="Remove image"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="!ctrl.showCarousel && ctrl.images.length === 0">
    <p>{{ctrl.resources.noImages}}</p>
</div>
<div class="col-xs-12">
    <carousel interval="0" disable-animation="true" ng-if="ctrl.showCarousel" ng-if="ctrl.currentUser.role === 'admin'">
        <slide ng-repeat="photo in ctrl.images" active="photo.active">
            <img ng-src="{{photo.src}}" class=" img-responsive center-block" height="200" width="300">
        </slide>
    </carousel>
</div>