<div class="row">
    <div class="col-xs-12 email-body">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <img class="logo" src="/img/flatlogo2s.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4 style="margin-bottom: 18px;">Hi John,</h4>
                <h4>{{ctrl.model.branding_user.user_profile_attributes.company}} gave you a free lifetime subscription to HomeBinder as part of your home inspection at 1234 Address, Boston, MA!</h4>
                <h4>HomeBinder is an online app that can help you from the minute you get your inspection report for as long as you live in the home.</h4>
                <button class="btn btn-lg btn-primary btn-round">ACCESS YOUR HOMEBINDER</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4><strong>Note From {{ctrl.model.branding_user.user_profile_attributes.company}}:</strong></h4>
                <div ng-if="!ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner">
                    <h4>We have likely already added some information about your new home like:</h4>
                    <br>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;-Maintenance Reminders</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;-Your Home Inspection Report</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;-150-Page New Homeowner Guide</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;-Preferred Home Pros in Your Area</h4>
                </div>
                <div ng-if="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner">
                    <h4 ng-bind-html="ctrl.model.branding_user.user_profile_attributes.transfer_message_to_homeowner"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <hr class="thin">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <h4>Access your HomeBinder account now to help during your current deal negotiation, for move-in support, managing home improvement projects, storage of important documents and photos, and maintaining a home inventory in case of fire or theft.</h4>
                <h4>Rest assured, your information is private and will not be shared with any other companies or third parties.</h4>
                <button class="btn btn-lg btn-primary btn-round">ACCESS YOUR HOMEBINDER</button>
                <p class="no-thanks text-center"><a class="no-thanks" href="">No Thanks</a></p>
                <h4 style="margin-bottom: 18px;">Don't let this free tool worth over $300 go to waste. Click the button above to access your custom HomeBinder.</h4>
                <h4>HomeBinder is also available in Français and Espanol.</h4>
                <br>
            </div>
        </div>
        <div class="row branding">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <div class="col-xs-12">
                        <h5 style="margin-bottom: 18px;">Courtesy of,</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" ng-if="ctrl.model.item.configuration.default_user_branding_option === 'co_brand' || ctrl.model.item.configuration.default_user_branding_option === 'user'">
                        <h5>Your {{ctrl.model.branding_user.user_profile_attributes.full_role}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    <user-branding></user-branding>
                </div>
            </div>
        </div>
    </div>
</div>