<div class="container-fluid binderForm settings" style="position: relative; top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white; min-height: 700px;">
            <div class="row" style="position: relative; top:15px;">
                <div class="col-sm-2 hidden-xs" style="border-right: 1px solid #dddddd; margin-top: 30px;">
                    <ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
                        <div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.model.navigation_links">
                            <li role="presentation">
                                <h6 class="dropdown-header"><strong>{{header.name}}</strong></h6>
                            </li>
                            <li role="presentation" ng-repeat="link in header.links" ng-click="ctrl.model.changeLink(link)">
                                <a href="" class="dropdown-item" ng-class="{'text-muted disabled': !link.active}" style="position:relative;right:-10px;">{{link.name}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <user-edit-profile ng-if="ctrl.model.currentLink.value == 'profile'"></user-edit-profile>
                    <user-edit-sessions ng-if="ctrl.model.currentLink.value == 'sessions'"></user-edit-sessions>
                    <user-edit-binders ng-if="ctrl.model.currentLink.value == 'binders'"></user-edit-binders>
                    <user-edit-transfers ng-if="ctrl.model.currentLink.value == 'transfers'"></user-edit-transfers>
                    <user-edit-shares ng-if="ctrl.model.currentLink.value == 'shares'"></user-edit-shares>
                    <user-edit-companies ng-if="ctrl.model.currentLink.value == 'companies'"></user-edit-companies>
                    <user-edit-partner-users ng-if="ctrl.model.currentLink.value == 'partners'"></user-edit-partner-users>
                </div>
            </div>
        </div>
    </div>
</div>