<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary pull-right" ng-click="ctrl.model.newItem()" ng-if="ctrl.model.canEdit()">{{ctrl.model.resources.newButton}}</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-repeat="item in ctrl.model.items">
            <div ng-class='{"row clearfix visible-lg": $index % 4 == 0}'></div>
            <div ng-class='{"row clearfix visible-md": $index % 3 == 0}'></div>
            <div ng-class='{"row clearfix visible-sm": $index % 2 == 0}'></div>
            <div ng-class='{"row clearfix visible-xs": $index % 1 == 0}'></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="img-responsive center-block" ng-src="{{item.image_file}}" ng-if="item.resource_type === 'image'">
                    <div class="caption">
                        <h5 ng-if="item.resource_type != 'link'">{{item.name}}</h5>
                        <h5 ng-if="item.resource_type === 'link'"><a href="{{item.url}}" target="_blank">{{item.name}}</a></h5>
                        <p>{{item.description}}</p>
                        <div class="btn-group dropup button-group text-left">
                            <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Options</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-left">
                                <li ng-if="ctrl.model.settings.canEdit"><a href="" ng-click="ctrl.model.editItem(item, $index)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</a></li>
                                <li><a href="" ng-click="ctrl.model.viewFile(item)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;View</a></li>
                                <li><a href="" ng-click="ctrl.model.downloadFile(item)" ng-if="ctrl.model.canDownload(item)"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a></li>
                                <li ng-if="ctrl.model.settings.canDelete"><a href="" ng-click="ctrl.model.preDeleteItem(item)"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>