<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-1"><img class="img-responsive center-block" ng-src="/img/appo.png"></img>
			</div>
			<div class="col-xs-10">
				<h3 class="text-left"><strong>Home Appliances</strong> - 
					<span class="text-primary">{{ctrl.appliances.length}}</span>
					<span ng-if="!ctrl.appForm.$invalid || ctrl.appliances.length < 1" class="text-success glyphicon glyphicon-ok"></span><span ng-if="ctrl.appForm.$invalid && ctrl.appliances.length > 0"><span class="text-danger glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<small class="text-danger">Please fill out the home appliances form.</small></span>
				</h3>
			</div>
			<div class="col-xs-1">
				<a href="" class="btn btn-primary" type="button" ng-model="ctrl.is_app_collapsed" ng-click="ctrl.is_app_collapsed = !ctrl.is_app_collapsed">
					<span ng-class="{'glyphicon glyphicon-minus': !ctrl.is_app_collapsed, 'glyphicon glyphicon-plus': ctrl.is_app_collapsed}"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-show="!ctrl.is_app_collapsed" class="col-xs-12 push-top">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="text-muted"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Delete any appliances that will not be going with the home sale.</h4>
					</div>
					<div class="panel-heading" ng-repeat="app in ctrl.appliances">
						<div class="row">
							<form role="form" name="ctrl.appForm">
								<div class="col-xs-4 text-left">
									<div ng-if="!app.new_app">
										<span>{{app.name}}</span>
									</div>
									<div ng-if="app.new_app">
										<input type="text" name="name_{{$index}}" ng-model="app.name" class="form-control" placeholder="Furnace" ng-minlength="1" required/>
										<span ng-show="ctrl.appForm['name_{{$index}}'].$error.minlength" class="error">{{ctrl.validationErrors.minlength}} 1</span>
										<span ng-show="ctrl.appForm['name_{{$index}}'].$error.required" class="error">{{ctrl.validationErrors.required}}</span>
									</div>
								</div>
								<div class="col-xs-4">
									<input ng-model="app.manufacturer" type="text" class="form-control" typeahead="man for man in ctrl.manufacturers | filter:$viewValue | limitTo:8" placeholder="Manufacturer (Optional)" ng-minlength="1" autocomplete="off"/>
								</div>
								<div class="col-xs-4 text-right">
									<button type="button" class="btn btn-primary" ng-click="ctrl.remove($index)"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-primary" type="button" ng-click="ctrl.addApp()" ng-disabled="ctrl.appForm.$invalid">
					<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Appliances
				</button>
			</div>
		</div>
	</div>
</div>
<br/>
<hr>