<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" class="text-center"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;{{ctrl.title}}</h4>
</div>
<div class="modal-body">
    <div ng-if="ctrl.step ==='1'">
        <div class="row">
            <div class="col-xs-12">
                <p>{{ctrl.resources.stepOneText}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="text-info"><a href="https://s3.amazonaws.com/homebinderstatic/csv/batch.csv">{{ctrl.resources.download}}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <hb-uploader cfg="ctrl.uploader" file-added="ctrl.parse()"></hb-uploader>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.step ==='2'">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>{{ctrl.binders.length}} {{ctrl.resources.processingSubTitle}}</h4>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>{{ctrl.resources.processingContent}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.uploadBinders()">{{ctrl.resources.create}} {{ctrl.binders.length}} {{ctrl.resources.binders}}</button>
                </div>
            </div>
        </div>
        <div ng-if="ctrl.step ==='3'">

        </div>
    </div>
    <div ng-if="ctrl.step ==='3'">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>{{ctrl.resources.errorSubTitle}}</h4>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>{{ctrl.resources.errorContent}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text-info"><a href="https://s3.amazonaws.com/homebinderstatic/csv/batch.csv">{{ctrl.resources.download}}</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <hb-uploader cfg="ctrl.uploader" file-added="ctrl.parse()"></hb-uploader>
                </div>
            </div>
        </div>
    </div>
</div>