<div class="page-header">
    <h3>Sessions&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h3>
</div>
<div class="row hb-custom-table">
    <div class="col-xs-12 table-responsive">
        <table class="table table-hover" style="background-color: white;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date Logged In</th>
                    <th>Status</th>
                    <th>Expires At</th>
                    <th>Device Type</th>
                    <th>Device Name</th>
                    <th>Device Version</th>
                    <th>Operating System</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in ctrl.model.items">
                    <td>{{session.id}}</td>
                    <td>{{session.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td>{{session.status}}</td>
                    <td>{{session.expires_at | date}}</td>
                    <td>{{session.device_type}}</td>
                    <td>{{session.device_name}}</td>
                    <td>{{session.device_version}}</td>
                    <td>{{session.operating_system}}</td>
                </tr>
                <tr ng-if="ctrl.model.items.length < 1">
                    <td colspan="8">
                        <h3 class="text-center">User has not logged in past 30 days</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
                        </pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>