<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
    <h4 class="modal-title">What's This - Branding Options</h4>
</div>
<div class="modal-body">
    <p>With HomeBinder you can effortlessly maintain a helpful relationship with clients with branding on your binders and ongoing maintenance/recall emails branded with a headshot and logo.</p>
    <p>Here are your branding options:</p>
    <p ng-repeat="option in ctrl.brandingOptions"><strong>{{option.name}}&nbsp;-</strong>&nbsp;{{option.description}}</p>
</div>