<div class="container-fluid binderForm" style="position: relative; top:15px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: white; min-height: 700px;">
            <div class="row" style="position: relative; top:15px;">
                <div class="col-sm-2 hidden-xs" style="border-right: 1px solid #dddddd; margin-top: 30px;">
                    <ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
                        <div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.navigation_links">
                            <li role="presentation">
                                <h6 class="dropdown-header"><strong>{{header.name}}</strong></h6>
                            </li>
                            <li role="presentation" ng-repeat="link in header.links" ng-click="ctrl.changeLink(link)">
                                <a href="" class="dropdown-item" ng-class="{'text-muted disabled': !link.active}" style="position:relative;right:-10px;">{{link.name}}</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <hb-maintenance-items ng-if="ctrl.currentLink.value == 'maintenance_items'"></hb-maintenance-items>
                    <hb-appliances ng-if="ctrl.currentLink.value == 'appliances'"></hb-appliances>
                    <hb-paints ng-if="ctrl.currentLink.value == 'paints'"></hb-paints>
                    <hb-transfers ng-if="ctrl.currentLink.value == 'transfers'"></hb-transfers>
                    <hb-shares ng-if="ctrl.currentLink.value == 'shares'"></hb-shares>
                    <hb-seller-reports ng-if="ctrl.currentLink.value == 'seller_reports'"></hb-seller-reports>
                </div>
            </div>
        </div>
    </div>
</div>