<div class="container-fluid binderForm">
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: white; min-height: 700px;">
			<div class="row">
				<div class="col-sm-2 hidden-xs" style="position:fixed; border-right: 1px solid #dddddd; height: calc(100vh - 140px); overflow: auto;">
					<ul class="nav nav-pills nav-stacked" style="position:relative; top:10px;">
						<div class="nav nav-pills nav-stacked" ng-repeat="header in ctrl.model.navigation_links">
							<li role="presentation">
								<h6 class="dropdown-header"><strong>{{header.name}}</strong></h6>
							</li>
							<li role="presentation" ng-repeat="link in header.links" ui-sref-active="active" ng-if="link.allowed">
								<a ui-sref="{{ link.state }}" ui-sref-opts="{ binderId: ctrl.model.$stateParams.binderId }" href="">
									{{link.name}}
								</a>
							</li>
						</div>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-xs-12">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>