.transfer-welcome {
    .back-to-homebinder {
        display: block;
        text-align: center;
    }
    
    .busy {
        display: block;
        text-align: center;
    }
    
    .alert {
        margin-top: 15px;
    }
    
    p.label {
        color: black;
    }
    
    .vertically-center {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }
}