<div class="container transfer-welcome">
	<div class="row col-md-6 col-md-offset-3">
		<div ng-show="!ctrl.model.loading.isLoading()" class="panel panel-default">
			<div class="panel-heading panel-heading-image">
				<div class="row">
					<div ng-class='{"col-xs-5 text-right vertically-center": ctrl.model.logo, "col-xs-12 text-center vertically-center": !ctrl.model.logo}'>
						<a ui-sref="root">
							<img class="img-responsive center-block" ng-src="/img/flatlogo.png" />
						</a>
					</div>
					<div ng-if="ctrl.model.logo" class="col-xs-2 vertically-center">
						<h5 class="text-center">{{ctrl.model.resources.provided}}</h5>
					</div>
					<div ng-if="ctrl.model.logo" class="col-xs-5 text-left vertically-center">
						<img class="img-responsive center-block" ng-src="{{ctrl.model.logo}}" />
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div>
					<p class="text-center transfertext" ng-bind-html="ctrl.model.transferText"></p>
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<select id="default_locale" name="default_locale" class="form-control input-lg" ng-model="ctrl.model.user.user_profile_attributes.default_locale" ng-options="option.value as option.name for option in ctrl.model.localeOptions" ng-change="ctrl.model.setLocale(ctrl.model.user.user_profile_attributes.default_locale, true)" />
						</div>
					</div>
				</div>

				<form name="welcomeForm" role="form" ng-show="!ctrl.model.hideForm" ng-submit="ctrl.model.submit()">
					<div class="form-group">
						<input type="email" class="form-control input-lg" id="email" placeholder="{{ctrl.model.resources.emailPlaceholder}}" ng-model="ctrl.model.to" readonly required/>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" name="first_password" placeholder="{{ctrl.model.resources.passwordPlaceholder}}" ng-model="ctrl.model.password" ng-minlength="8" ng-maxlength="128" required/>
						<span ng-show="welcomeForm.first_password.$error.required && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.required}}</span>
						<span ng-show="welcomeForm.first_password.$error.minlength && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.minlength}} 8</span>
						<span ng-show="welcomeForm.first_password.$error.maxlength && !welcomeForm.first_password.$pristine" class="error">{{ctrl.model.validationErrors.maxlength}} 128</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg" name="second_password" placeholder="{{ctrl.model.resources.passwordConfirmPlaceholder}}" ng-model="ctrl.model.second_password" ng-minlength="8" ng-maxlength="128" required/>
						<span ng-show="ctrl.model.password != ctrl.model.second_password && !welcomeForm.second_password.$pristine" class="error">{{ctrl.model.validationErrors.passwordsNotEqual}}</span>
					</div>
					<button type="submit" class="btn btn-lg btn-primary" ng-disabled="ctrl.model.isBusy || welcomeForm.$invalid || ctrl.model.password != ctrl.model.second_password">{{ctrl.model.submitLabel}}</button>
				</form>
				<div ng-if="ctrl.model.error" class="alert alert-danger errors">
					<span>{{ ctrl.model.error }}</span>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-right">
		  			&copy; {{ctrl.model.year}} HomeBinder
		  		</span>
				<span class="clearfix">&nbsp;</span>
			</div>
		</div>
	</div>
	<hb-support-text></hb-support-text>
</div>