<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">{{ctrl.model.resources.title}}</h3>
        <div class="pull-right">
            <a href="/binders/{{ ctrl.model.binderId }}/binder_contractors" class="btn btn-default btn-sm">
                <span class='glyphicon glyphicon-eye-open'></span>&nbsp;{{ctrl.model.resources.viewAll}}
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ctrl.model.resources.columnName}}</th>
                <th>{{ctrl.model.resources.columnType}}</th>
                <th>{{ctrl.model.resources.columnPhoneEmail}}</th>
            </tr>
        </thead>
        <tr ng-show="ctrl.model.state.isBusy() ">
            <td colspan="3">
                <div class="alert alert-info">{{ctrl.model.resources.loading}}</div>
            </td>
        </tr>
        <tr ng-show="ctrl.model.state.isIdle()" ng-repeat="homePro in ctrl.model.homePros">
            <td class="capitalize">{{homePro.contractor.name | titleize}}</td>
            <td><span ng-repeat="type in homePro.types">{{type.name}}</span></td>
            <td>
                <span ng-show="homePro.contractor.phone.international">{{homePro.contractor.phone.international}}<br/></span>
                <span ng-show="homePro.secondary_phone.international" ng-if="!homePro.contractor.phone.international">{{homePro.secondary_phone.international}}<br/></span>
                <span ng-show="homePro.contractor.email">{{homePro.contractor.email}}</span>
            </td>
        </tr>
        <tr ng-show="ctrl.model.state.isError()">
            <td colspan="3">
                <div class="alert alert-danger">
                    <a href="" ng-click="ctrl.model.refresh()">
                        <span class="glyphicon glyphicon-ban-circle"></span>{{ctrl.model.resources.tryAgain}}
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>