<div class="modal-header">
    <h4 class="modal-title" class="text-center"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Order Warranty&nbsp;<span ng-if="ctrl.binder">for&nbsp;{{ctrl.binder.property.address1}}&nbsp;{{ctrl.binder.property.city}},&nbsp;{{ctrl.binder.property.state}}</span></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <form name="ctrl.form" role="form">
                <div class="row">
                    <div class="form-group col-xs-12" ng-class="{ 'has-error': ctrl.form.binder.$invalid && ctrl.form.$submitted }" ng-if="ctrl.currentUser.role === 'admin'">
                        <label for="binder" class="control-label">Binder*</label>
                        <hb-lookup cfg="ctrl.binderLookupCfg" selection="ctrl.binder" select="ctrl.onBinderSelect()"></hb-lookup>
                        <input ng-show="false" name="binder" class="form-control" ng-model="ctrl.binder.name" type="text" required/>
                        <div ng-messages="ctrl.form.binder.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                        </div>
                    </div>
                </div>
                <div ng-if="ctrl.binder">
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error': ctrl.form.warranty_configuration.$invalid && ctrl.form.$submitted }" ng-if="ctrl.currentUser.role === 'admin'">
                            <label for="warranty_configuration" class="control-label">Partner*</label>
                            <hb-lookup cfg="ctrl.configurationLookupCfg" selection="ctrl.configuration" select="ctrl.onPartnerSelect()"></hb-lookup>
                            <input ng-show="false" name="warranty_configuration" class="form-control" ng-model="ctrl.configuration.id" type="number" required/>
                            <div ng-messages="ctrl.form.warranty_configuration.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.warranty_company.$invalid && ctrl.form.$submitted }" ng-if="ctrl.configuration.warranty_company">
                            <label for="warranty_company" class="control-label">Warranty Company*</label>
                            <p class="form-control-static">{{ctrl.configuration.warranty_company.name}}</p>
                        </div>
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.warranty_plan.$invalid && ctrl.form.$submitted }">
                            <label for="warranty_plan" class="control-label">Warranty Plan*</label>
                            <select name="warranty_plan" ng-model="ctrl.warranty_plan" ng-options="plan as (plan | partnerWarrantyPlan) for plan in ctrl.partnerPlans track by plan.id" class="form-control" ng-required="true">
    			            </select>
                            <div ng-messages="ctrl.form.warranty_plan.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_first.$invalid && ctrl.form.$submitted }">
                            <label for="client_first">Client First Name*</label>
                            <input name="client_first" ng-model="ctrl.homeowner.firstName" type="text" class="form-control" required/>
                            <div ng-messages="ctrl.form.client_first.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_last.$invalid && ctrl.form.$submitted }">
                            <label for="client_last">Client Last Name*</label>
                            <input name="client_last" ng-model="ctrl.homeowner.lastName" type="text" class="form-control" required/>
                            <div ng-messages="ctrl.form.client_last.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_email.$invalid && ctrl.form.$submitted }">
                            <label for="client_email">Client Email*</label>
                            <input name="client_email" ng-model="ctrl.homeowner.email" type="text" class="form-control" required/>
                            <div ng-messages="ctrl.form.client_email.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.client_phone.$invalid && ctrl.form.$submitted }">
                            <label for="client_phone">Client Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon">+{{ctrl.country.code}}</span>
                                <input name="client_phone" ng-model="ctrl.homeowner.phone" type="text" class="form-control" placeholder="617-200-2000" ui-mask="{{ctrl.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" />
                            </div>
                            <div ng-messages="ctrl.form.client_phone.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12" ng-class="{ 'has-error': ctrl.form.inspection_date.$invalid && ctrl.form.$submitted }">
                            <label for="inspection_date">Inspection Date*</label>
                            <input name="inspection_date" ng-model="ctrl.inspection_date" type="text" class="form-control" datepicker-popup="{{ ctrl.datepicker.format }}" datepicker-options="ctrl.datepicker.options" show-button-bar="false" show-weeks="false" is-open="ctrl.date[0].opened"
                                ng-click="ctrl.open(0)" required/>
                            <div ng-messages="ctrl.form.inspection_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9">
                                <label for="address1">Property Address1*</label>
                                <input id="address1" ng-model="ctrl.binder.property.address1" type="text" class="form-control" name="address1" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.form.address1.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label for="address2">Property Address2</label>
                                <input id="address2" ng-model="ctrl.binder.property.address2" type="text" name="unit" class="form-control" ng-minlength="1" ng-maxlength="50" />
                                <div ng-messages="ctrl.form.address2.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="city">Property City*</label>
                                <input id="city" ng-model="ctrl.binder.property.city" ng-blur="ctrl.validateCity(ctrl.info.city)" type="text" class="form-control" name="city" ng-minlength="1" ng-maxlength="50" required/>
                                <div ng-messages="ctrl.form.city.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="state">Property State*</label>
                                <ui-select ng-model="ctrl.binder.property.state" theme="bootstrap" on-select="ctrl.onSelect($item)" name="state" ng-required="true">
                                    <ui-select-match placeholder="Select or search...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices group-by="ctrl.address.findCountry" repeat="item.value as item in ctrl.states | filter: $select.search track by $index">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="ctrl.form.state.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="zip">Property Zip*</label>
                                <input id="zip" ng-model="ctrl.binder.property.zip" type="text" class="form-control" name="zip" ng-minlength="1" ng-maxlength="20" required/>
                                <div ng-messages="ctrl.form.zip.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.form.$submitted">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label for="country">Property Country*</label>
                                <ui-select name="property_country" ng-model="ctrl.binder.property.country" on-select="ctrl.onSelectCountry($item)" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Search by Country">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.value as item in ctrl.countries | filter: $select.search track by $index" value="{{$select.selected.value}}">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ctrl.submit()" type="button" class="btn btn-primary">Order</button>
    <button ng-click="ctrl.cancelForm()" type="button" class="btn btn-default">Cancel</button>
</div>
