<div class="container-fluid area-details">
	<div class="row binder-items-buttons">
		<div class="col-xs-12">
			<div class="pull-left">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.onBackClicked()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.model.resources.back}}</a>
			</div>
			<div class="pull-right">
				<a class="btn btn-primary" href="" ng-click="ctrl.model.submit()">{{ctrl.model.resources.save}}</a>
			</div>
	    </div>
    </div>
	<div class="row" ng-if="ctrl.model.item && ctrl.model.binder.permissions.can_read && ctrl.model.uploadParams">
		<hb-images images="ctrl.model.images" opts="ctrl.model.uploadParams" show-carousel="true"></hb-images>
	</div>
	<div class="row">
		<form class="col-xs-12" name="ctrl.model.form" novalidate>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.name.$invalid && ctrl.model.form.$submitted }">
						<label for="name" class="control-label">{{ctrl.model.resources.name}}</label>
						<input name="name" class="form-control" ng-model="ctrl.model.name" type="text" autofocus required ng-maxlength="50" placeholder="Dryer, Washer" />
						<div ng-messages="ctrl.model.form.name.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="manufacturer" class="control-label">{{ctrl.model.resources.manufacturer}}</label>
						<input name="manufacturer" class="form-control" ng-model="ctrl.model.manufacturer" type="text" typeahead="type for type in ctrl.model.appliance_manufacturers | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Samsung, Kenmore"
						/>
						<div ng-messages="ctrl.model.form.manufacturer.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.model.$invalid && ctrl.model.form.$submitted }">
						<label for="model" class="control-label">{{ctrl.model.resources.model}}</label>
						<input name="model" class="form-control" ng-model="ctrl.model.model" type="text" ng-maxlength="255" placeholder="Needed for recalls" />
						<div ng-messages="ctrl.model.form.model.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.serial_no.$invalid && ctrl.model.form.$submitted }">
						<label for="serial_no" class="control-label">{{ctrl.model.resources.serial_no}}</label>
						<input name="serial_no" class="form-control" ng-model="ctrl.model.serial_no" type="text" ng-maxlength="100" placeholder="0230213" />
						<div ng-messages="ctrl.model.form.serial_no.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6" ng-hide="ctrl.model.hideExtraFields()">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.upc.$invalid && ctrl.model.form.$submitted }">
						<label for="upc" class="control-label">{{ctrl.model.resources.upc}}</label>
						<input name="upc" class="form-control" ng-model="ctrl.model.upc" type="text" ng-maxlength="255" placeholder="3401230" />
						<div ng-messages="ctrl.model.form.upc.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.warranty.$invalid && ctrl.model.form.$submitted }">
						<label for="warranty" class="control-label">{{ctrl.model.resources.warranty}}</label>
						<input name="warranty" class="form-control" ng-model="ctrl.model.warranty" type="text" ng-maxlength="500" />
						<div ng-messages="ctrl.model.form.warranty.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="ctrl.model.hideExtraFields()">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.user_guide_url.$invalid && ctrl.model.form.$submitted }">
						<label for="user_guide_url" class="control-label">{{ctrl.model.resources.user_guide_url}}</label>
						<input name="user_guide_url" class="form-control" ng-model="ctrl.model.user_guide_url" type="text" ng-maxlength="250" />
						<div ng-messages="ctrl.model.form.user_guide_url.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.install_date.$invalid && ctrl.model.form.$submitted }">
						<label for="install_date" class="control-label">{{ctrl.model.resources.install_date}}</label>
						<input name="install_date" class="form-control" ng-model="ctrl.model.install_date" type="text" value="{{ ctrl.model.install_date }}" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" min="ctrl.model.today"
						 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[0].opened" ng-click="ctrl.model.open(0)" />
						<div ng-messages="ctrl.model.form.install_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="ctrl.model.hideExtraFields()">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.store.$invalid && ctrl.model.form.$submitted }">
						<label for="store" class="control-label">{{ctrl.model.resources.store}}</label>
						<input name="store" class="form-control" ng-model="ctrl.model.store" type="text" typeahead="type for type in ctrl.model.stores | filter:$viewValue | limitTo:8" autocomplete="off" ng-maxlength="255" placeholder="Home Depot, Lowe's" />
						<div ng-messages="ctrl.model.form.store.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.price.$invalid && ctrl.model.form.$submitted }">
						<label for="price" class="control-label">{{ctrl.model.resources.price}}</label>
						<input name="price" class="form-control" ng-model="ctrl.model.price" type="number" />
						<div ng-messages="ctrl.model.form.price.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="ctrl.model.hideExtraFields()">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.purchase_date.$invalid && ctrl.model.form.$submitted }">
						<label for="purchase_date" class="control-label">{{ctrl.model.resources.purchase_date}}</label>
						<input name="purchase_date" class="form-control" ng-model="ctrl.model.purchase_date" value="{{ ctrl.model.install_date }}" type="text" datepicker-popup="{{ ctrl.model.datepicker.format }}" datepicker-options="ctrl.model.datepicker.options" min="ctrl.model.today"
						 show-button-bar="false" show-weeks="false" is-open="ctrl.model.date[1].opened" ng-click="ctrl.model.open(1)" />
						<div ng-messages="ctrl.model.form.purchase_date.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label tooltip="{{ctrl.model.resources.tagTip}}">{{ctrl.model.resources.tags}}</label>
						<hb-tagger cfg="ctrl.model.taggerCfg" tags="ctrl.model.tags" ng-if="!ctrl.model.cfg.hide"></hb-tagger>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" ng-class="{ 'has-error': ctrl.model.form.details.$invalid && ctrl.model.form.$submitted }">
						<label>{{ctrl.model.resources.additionalDetails}}</label>
						<textarea name="details" class="form-control" ng-model="ctrl.model.details" type="text" rows="5" ng-maxlength="1000" placeholder="Enter additional details about this appliance"></textarea>
						<div ng-messages="ctrl.model.form.details.$error" ng-messages-include="utils/messagesInclude/messagesInclude.tpl.html" ng-if="ctrl.model.form.$submitted">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>{{ctrl.model.resources.media}}</label>
					</div>
					<hb-document-uploader doc-uploader="ctrl.model.docUploader" doc-upload-success="ctrl.model.docUploadSuccess(file)" doc-upload-error="ctrl.model.docUploadError(response)" file-added="ctrl.model.uploadDocuments()"></hb-document-uploader>
					<hb-image-uploader img-uploader="ctrl.model.imgUploader" img-upload-success="ctrl.model.imgUploadSuccess(file)" img-upload-error="ctrl.model.imgUploadError(response)"></hb-image-uploader>
				</div>
			</div>
		</form>
	</div>
</div>
