<div class="container partnerOnboarding">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-1 center-block" ng-init="ctrl.view = 'stepTwo'">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-image"><img class="img-responsive center-block" height="75" width="75" alt="HomeBinder Logo" src="/img/flatlogo.png" /></div>
                <div class="panel-body" ng-show="ctrl.view === 'stepTwo'">

                    <h1 class="text-center">{{ctrl.account_type}} {{ctrl.resources.setup}}</h1>

                    <hr>

                    <ul class="text-center list-inline">
                        <li>
                            <h4 class="text-success">{{ctrl.resources.setup}} <span class="glyphicon glyphicon-ok"></span></h4>
                        </li>
                        <li>
                            <h4 class="text-success">2. {{ctrl.resources.logo}}</h4>
                        </li>
                        <li>
                            <h4 class="text-muted">3. {{ctrl.resources.about}}</h4>
                        </li>
                    </ul>

                    <h4 class="text-center">{{ctrl.resources.logoHelptext}}</h4>
                    <br>

                    <form class="form-horizontal">
                        <div class="form-group text-center">
                            <hb-uploader cfg="ctrl.uploader" file-uploaded="ctrl.setBinderLogo(file)" file-added="ctrl.setView('stepThree')" file-error="ctrl.uploadError(response)"></hb-uploader>
                        </div>
                    </form>
                    <h6 class="text-center text-muted">{{ctrl.resources.logoHelptext2}}</h6>
                    <hr>
                    <div class="text-right">
                        <button type="button" ng-click="ctrl.setView('stepThree')" class="btn btn-lg btn-primary">{{ctrl.resources.next}}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>

                </div>
                <div class="panel-body" ng-show="ctrl.view === 'stepThree'">

                    <h1 class="text-center">{{ctrl.account_type}} {{ctrl.resources.setup}}</h1>

                    <hr>

                    <ul class="text-center list-inline">
                        <li>
                            <h4 class="text-success">{{ctrl.resources.setup}} <span class="glyphicon glyphicon-ok"></span></h4>
                        </li>
                        <li>
                            <h4 class="text-success">{{ctrl.resources.logo}} <span class="glyphicon glyphicon-ok"></span></h4>
                        </li>
                        <li>
                            <h4 class="text-success">3. {{ctrl.resources.about}}</h4>
                        </li>
                    </ul>

                    <h4 class="setup-header text-center">{{ctrl.resources.aboutHelpText}}</h4>

                    <br>

                    <form name="ctrl.surveyData" role="form" class="form-horizontal">
                        <div ng-if="ctrl.type == 'broker'">
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.transactions.$valid}'>
                                <label class="col-sm-6 control-label" for="transactions">{{ctrl.resources.transactionsQuestion}}</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="transactions" ng-model="ctrl.survey.transactions" ng-options="option.range for option in ctrl.transactions" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfTransactions}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.transactions.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.years.$valid}'>
                                <label class="col-sm-6 control-label" for="years">{{ctrl.resources.yearsQuestion}}</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="years" ng-model="ctrl.survey.years" ng-options="option.range for option in ctrl.years" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfYears}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.years.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.type != 'inspector' && ctrl.type != 'broker'">
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.newClients.$valid}'>
                                <label for="newClients" class="col-sm-6 control-label">{{ctrl.resources.newClientsQuestions}}*</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="newClients" ng-model="ctrl.survey.newClients" ng-options="option.range for option in ctrl.newClients" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfNewClients}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.newClients.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.totalClients.$valid}'>
                                <label for="totalClients" class="col-sm-6 control-label">{{ctrl.resources.totalClientsQuestions}}*</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="totalClients" ng-model="ctrl.survey.totalClients" ng-options="option.range for option in ctrl.totalClients" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfTotalClients}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.totalClients.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.type == 'inspector'">
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.employees.$valid}'>
                                <label for="employees" class="col-sm-6 control-label">{{ctrl.resources.employeesQuestions}}*</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="employees" ng-model="ctrl.survey.employees" ng-options="option.range for option in ctrl.employees" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfEmployees}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.employees.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.inspections.$valid}'>
                                <label for="employees" class="col-sm-6 control-label">{{ctrl.resources.inspectionsQuestions}}*</label>
                                <div class="col-sm-6">
                                    <select class="form-control input-lg" name="inspections" ng-model="ctrl.survey.inspections" ng-options="option.range for option in ctrl.inspections" required>
                                        <option class="text-muted" value="" selected disabled>&nbsp;{{ctrl.resources.numberOfInspections}}&nbsp;</option>
                                    </select>
                                    <span ng-if="ctrl.surveyData.inspections.$valid" class=" glyphicon glyphicon-ok form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.type == 'broker'">
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.options.$valid}'>
                                <label for="employees" class="col-sm-6 control-label">{{ctrl.resources.interestsQuestion}}*</label>
                                <div class="col-sm-6">
                                    <div class="col-sm-6" ng-repeat="option in ctrl.agentOptions">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="options" ng-model="ctrl.survey.checked[option.text]" ng-required="ctrl.required" ng-click="ctrl.isChecked(ctrl.survey.checked[option.text], 'checked')"> {{option.text}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.type == 'inspector'">
                            <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.software.$valid}'>
                                <label for="software" class="col-sm-6 control-label">{{ctrl.resources.softwareQuestion}}*</label>
                                <div class="col-sm-6">
                                    <div class="col-sm-6" ng-repeat="option in ctrl.inspectorOptions">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="software" ng-model="ctrl.survey.software[option.text]" value="{{option.text}}" ng-required="ctrl.required" ng-click="ctrl.isChecked(ctrl.survey.software[option.text], 'software')"> {{option.text}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="ctrl.survey.software['Other']">
                                <div class="col-sm-6 col-xs-offset-6">
                                    <input class="form-control" ng-model="ctrl.survey.otherSoftware" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class='{"has-feedback": ctrl.surveyData.leadSource.$valid}'>
                            <label for="leadSource" class="col-sm-6 control-label">{{ctrl.resources.sourceQuestion}}*</label>
                            <div class="col-sm-6">
                                <div class="col-sm-6" ng-repeat="option in ctrl.leadSource">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="leadSource" ng-model="ctrl.survey.source[option.text]" ng-required="ctrl.required" ng-click="ctrl.isChecked(ctrl.survey.source[option.text], 'source')"> {{option.text}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="ctrl.survey.source['Other']">
                            <div class="col-sm-6 col-xs-offset-6">
                                <input class="form-control" ng-model="ctrl.survey.other" type="text">
                            </div>
                        </div>
                        <div class="form-group" ng-if="ctrl.type == 'inspector' || ctrl.type == 'lender' || ctrl.type == 'homepro' || ctrl.type == 'builder' || ctrl.type == 'property_manager'">
                            <label class="control-label" for="comments">{{ctrl.resources.questions}}</label>
                            <textarea class="form-control input-lg" name="comments" rows="5" id="comment" ng-model="ctrl.survey.comments"></textarea>
                        </div>
                        <hr>
                    </form>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="text-left">
                                <button type="button" ng-click="ctrl.setView('stepTwo')" ng-hide="ctrl.photoUploaded()" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.resources.previous}}</button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right">
                                <button type="button" ng-click="ctrl.setView('stepFour')" class="btn btn-lg btn-primary" ng-class="{disabled: ctrl.formSubmitted}" ng-disabled="ctrl.surveyData.$invalid">{{ctrl.resources.almost}}!&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" ng-show="ctrl.view === 'stepFour'">

                    <h1 class="text-center">{{ctrl.resources.overview}}</h1>

                    <hr>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/4DSJkYIbiiQ?rel=0&amp;showinfo=0?autoplay=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="text-left">
                                <button type="button" ng-click="ctrl.setView('stepThree')" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;{{ctrl.resources.previous}}</button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right">
                                <button type="button" ng-click="ctrl.updatePartner()" class="btn btn-lg btn-primary" ng-class="{disabled: ctrl.formSubmitted}" ng-disabled="ctrl.surveyData.$invalid">{{ctrl.resources.finish}}!&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="text-center">&copy; {{ctrl.year}} HomeBinder</span>
                </div>
            </div>
        </div>
    </div>
    <hb-support-text></hb-support-text>
</div>