<div class="container-fluid">
	<div class="page-header">
		<button class="btn btn-primary pull-right" ng-click="ctrl.model.requestApr()">{{ctrl.model.resources.newButton}}</button>
		<h2 class="text-left"><span class="hidden-sm hidden-xs">{{ctrl.model.resources.title}}&trade;</span><span class="visible-sm visible-xs">APR</span>&nbsp;&nbsp;<small class="label label-primary">{{ctrl.model.totalItems}}</small>&nbsp;&nbsp;<a href=""><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.model.refresh()" tooltip="Refresh your items list" tooltip-placement="right"></i></a></h2>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<h4 class="text-muted">
						<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{ctrl.model.resources.searchText}}&nbsp;&nbsp;
						<small ng-if="ctrl.model.currentUser.role === 'admin'" class="hidden-sm hidden-xs">{{ctrl.model.resources.searchInfo}}</small>
					</h4>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="pull-right">
						<form role="form" name="searchForm">
							<div class="form-group">
								<label for="text">Search:</label>
								<div class="input-group input-group-sm">
									<input type="text" name="search" ng-model="ctrl.model.searchValue" class="form-control searchbox" placeholder="search by user name, ID, email..." ng-minlength="1" required/>
									<span class="input-group-btn">
    	            		<button class="btn btn-default" type="button" ng-click="ctrl.model.search()" tooltip-placement="bottom">
    	                		<span class="glyphicon glyphicon-search"></span>
									</button>
									<button class="btn btn-default" type="button" ng-click="ctrl.model.clearSearch()">
    							<span class="glyphicon glyphicon-remove"></span>
    						</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="form-group">
						<label for="search">Show:</label>
						<select ng-options="count for count in ctrl.model.itemsOptions" ng-model="ctrl.model.itemsPerPage" class="form-control" ng-change="ctrl.model.refresh()"></select>
					</div>
				</div>
				<div class="col-xs-6 hidden-lg hidden-md">
					<div class="form-group">
						<label for="search">Status:</label>
						<select ng-options="type.name as type.value for type in ctrl.model.statusOptions" ng-model="ctrl.model.aprArgs.status" class="form-control" ng-change="ctrl.model.refresh()"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-heading" style="background-color: white;">
			<div class="row">
				<div class="col-md-2 hidden-sm hidden-xs">
					<div class="form-group">
						<label for="search">Status:</label>
						<select ng-options="type.name as type.value for type in ctrl.model.statusOptions" ng-model="ctrl.model.aprArgs.status" class="form-control" ng-change="ctrl.model.refresh()"></select>
					</div>
				</div>
				<div class="col-md-2 col-xs-12" ng-if="ctrl.model.canSearchCompanies">
					<div class="form-group">
						<label for="search">Reviewer Company ID:</label>
						<input type="text" ng-model="ctrl.model.aprArgs.companyId" class="form-control" placeholder="Please enter company ID">
					</div>
				</div>
			</div>
		</div>
		<div class="row hb-custom-table">
			<div class="col-xs-12 table-responsive">
				<table class="table table-hover" style="background-color: white;">
					<thead>
						<th class="hidden-sm hidden-xs">
							<span>{{ctrl.model.resources.idColumn}}</span>
						</th>
						<th class="hidden-sm hidden-xs">
							<span>{{ctrl.model.resources.statusColumn}}</span>
						</th>
						<th class="hidden-sm hidden-xs">
							<span>{{ctrl.model.resources.createdAtColumn}}</span>
						</th>
						<th class="hidden-sm hidden-xs">
							<span>{{ctrl.model.resources.scheduledForColumn}}</span>
						</th>
						<th class="hidden-sm hidden-xs" ng-if="ctrl.model.currentUser.role === 'admin'">
							<span>{{ctrl.model.resources.reviewerCompany}}</span>
						</th>
						<th>
							<span>{{ctrl.model.resources.clientName}}</span>
						</th>
						<th>
							<span>{{ctrl.model.resources.address}}</span>
						</th>
						<th class="hidden-sm hidden-xs">
							<span>{{ctrl.model.resources.payment}}</span>
						</th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="apr in ctrl.model.items | orderBy:ctrl.model.statusSort">
							<td class="hidden-sm hidden-xs">
								<span>{{apr.id}}</span>
							</td>
							<td class="hidden-sm hidden-xs">
								<span>{{apr.status | titleize}}</span>
							</td>
							<td class="hidden-sm hidden-xs">
								<span>{{apr.created_at | date}}</span>
							</td>
							<td class="hidden-sm hidden-xs">
								<span>{{apr.scheduled_for | date: 'short'}}</span>
							</td>
							<td class="hidden-sm hidden-xs" ng-if="ctrl.model.currentUser.role === 'admin'">
								<span>{{apr.reviewer_company.name}}</span>
							</td>
							<td>
								<span class="hidden-sm hidden-xs">{{apr.client_first_name}}&nbsp;</span><span>{{apr.client_last_name}}</span>
							</td>
							<td>
								<span>{{apr.address1}}, {{apr.city}}, {{apr.state}}</span>
							</td>
							<td class="hidden-sm hidden-xs">
								<span>{{apr.payment_status}}</span>
							</td>
							<td>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						                <span>{{ctrl.model.resources.options}}</span>
		                                <span class="caret"></span>
		                            </button>
									<ul class="dropdown-menu pull-right">
										<li ng-click="ctrl.model.editApr(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;{{ctrl.model.resources.editApr}}
                                    </a>
										</li>
										<li ng-click="ctrl.model.view(apr)">
											<a href="">
                                       			<span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{ctrl.model.resources.view}}
                                    		</a>
										</li>
										<li ng-if="ctrl.model.canScheduleApr(apr)" ng-click="ctrl.model.schedule(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ctrl.model.resources.schedule}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canStartDraftApr(apr)" ng-click="ctrl.model.startDraft(apr)">
											<a href="">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.startDraft}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canDraftCompleteApr(apr)" ng-click="ctrl.model.draftComplete(apr)">
											<a href="">
                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;{{ctrl.model.resources.finalizeDraft}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canReDraftApr(apr)" ng-click="ctrl.model.reDraft(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>&nbsp;&nbsp;{{ctrl.model.resources.moveToDraft}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canCompleteApr(apr)" ng-click="ctrl.model.complete(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;{{ctrl.model.resources.completeReport}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canCancelApr(apr)" ng-click="ctrl.model.cancel(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;{{ctrl.model.resources.cancel}}
                                    </a>
										</li>
										<li ng-if="ctrl.model.canHoldApr(apr)" ng-click="ctrl.model.hold(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;{{ctrl.model.resources.confirmHold}}
                                    </a>
										</li>
										<li ng-click="ctrl.model.messageModal(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ctrl.model.resources.contactHomeowner}}
                                    </a>
										</li>
										<li ng-click="ctrl.model.download(apr)">
											<a href="">
                                        <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;{{ctrl.model.resources.downloadPDF}}
                                    </a>
										</li>

									</ul>
								</div>
							</td>
						</tr>
						<tr ng-if="ctrl.model.items.length < 1">
							<td colspan="7">
								<h1 class="text-center">{{ctrl.model.resources.emptyTableText}}</h1>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7">
								<pagination total-items="ctrl.model.totalItems" ng-model="ctrl.model.currentPage" ng-change="ctrl.model.pageChange()" max-size="ctrl.model.maxSize" items-per-page="ctrl.model.itemsPerPage">
								</pagination>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
