/*
 * ADMIN-PARTNER.LESS
 * Custom Styles for Homebinder Admin & Partner areas.
 * 
 -------------------------------------------------- */

/*
 * STYLES FOR ADMIN
 */
.admin-partners {
  h2 {
    display: inline-block;
    vertical-align: baseline;
  }
  
  .btn {
    margin-left: 10px;
  }
}


/*
 * ADMIN CONTAINER
 */
.admin {
  
  .header-bar {
    background-color: @brand-primary;
    color: @white;
    position: relative;
  }
  
  .admin-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: @white;
  }
}

/*
 * INSPECTOR CONTAINER
 */
.inspector {
  .header-bar {
    background-color: #E8E8E8;
  }
  
  @media (max-width: 960px) {
    .push-top{
      margin-top: 50px;
    }
  }
  
  @media (max-width: 767px) {
    .push-top{
      margin-top: 0px;
    }
  }

}


/*
 * COMMON HEADER AREA
 */
.header-bar {
  padding: 20px 10px;
  height: 70px;
  position:fixed;
  width: 100%;
  z-index: 1000;
  
  h3 {
    font-family: 'Arvo', 'Open Sans', Arial, sans-serif;
    margin: 3px;
    display:inline-block;
  }
  
  .btn-toolbar {
    margin-left: 30px;
  }
  
  .search {
    input {
      width: 250px;
    }
  }
}


/*
 * FORM MARGINS
 */
.partner-form,
.role-form,
.binder-form {
  margin-top: 30px;
}


/*
 * VENDOR DROP DOWN
 */
.vendor-option {
  display: block;
  
  .office {
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.5em;
  }
  
  .contact {
    font-size: 0.8em;
  }
}

.vendor-item {
  .contact {
    font-size: 1em;
    margin-right: 0.5em;
    font-weight: bold;
  }
  
  .office {
    font-size: .8em;
  }
}


/*
 * ADMIN RECALLS
 */
.admin-recalls-container {
  .hb-recall-item {
    margin: 5px 0;
    padding: 7px;
    background-color: #E0E0E0;
    color: #484848;
    border: 2px solid transparent;
    
    &:hover {
      background-color: #F0F0F0;
      color: #282828;
      border: 2px solid #A8A8A8;
      cursor: pointer;
    }
  }
  
  .product {
    font-size: 1.25em;
  }
  
  .manufacturer {
    font-size: 1.1em;
  }
}


/*
 * RECALL FORM
 */
.recall-form-container {
  .row {
    font-size: 1.15em;
    margin: 5px 0;
    color: #303030;
  }
}


/*
 * KEYWORDS
 */
.keyword-list-container {
  width: 500px;
  
  ul {
    list-style-type: none;
    padding: 0;
    
    li {
      display: inline;
      float: left;
      padding: 5px;
      margin: 3px;
      
      a {
        margin-left: 3px;
      }
    }
  }
}


/*
 * PARTNER SUBHEADER MARGIN
 */
.sub-head-margin {
  margin-top: 70px;
}


/*
 * No padding on bootstrap columns
 */
.col-no-pad {
  padding: 0 2px 0 0;
}


/*
 * OTHER LAYOUT HELPERS
 */
.master-container {
  margin-left:0px;
  margin-right:0px;
  width:100%;
}


.hb-section-header {
  margin-top: -5px;
}

.hb-content-header {
  background-color: #f5f5f5;
  border-bottom: solid 1px #DDD;
  color: #707070;
}

/*
 * TRANSFER BUTTON IN GRID
 */
.partner-transfer-resend {
  width: 90px;
}