/*
 * CUSTOM.LESS
 * Custom Styles for Homebinder.
 *
 -------------------------------------------------- */

@import 'variables.less';

/*
 * 100% height body.
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
  padding-top: 50px;
  /* Move down content because we have a fixed navbar that is 50px tall */
  background: transparent url('../img/cream_pixels.png') repeat;
  background-attachment: fixed;
}

#footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* Set the fixed height of the footer here */
  background-color: #eeeeee;
  border-top: 1px solid #e7e7e7;
  a {
    text-decoration: underline;
    color: #666666;
  }
  .nav {
    color: #666666;
    font-size: 85%;
    text-transform: ;
    >li {
      >a {
        padding: 7px 15px;
        &:hover,
        &:focus {
          background-color: none;
          background: none;
          color: @brand-primary;
          &.btn.btn-sm.btn-primary {
            background-color: #ff5319;
            color: @white;
            border-color: #ff5319;
            text-decoration: underline;
          }
        }
        &.btn.btn-sm.btn-primary {
          padding: 5px 20px 7px 20px;
          margin: 0px;
          border-radius: 0px;
          font-size: 100%;
          color: @white;
          text-decoration: none;
        }
      }
    }
    .navbar-text {
      padding: 7px 0;
      margin-top: 0px;
    }
  }
}

.main-navbar {
  .navbar-header {
    height: 50px;
  }
  .navbar-collapse collapse in {
    background-color: black;
  }
  border-bottom: 1px solid #000;
  font-size: 14px;
  .brand-click {
    padding: 2px 15px;
    img {
      height: 46px;
    }
  }
  .navbar-brand-partner {
    position: relative;
    padding-right: 0px;
    top: -2px;
  }
  .navbar-brand-partner:hover,
  .navbar-brand-partner:focus {
    background-color: transparent;
    color: #999999;
  }
  .dropdown-toggle {
    padding-left: 0px;
  }
}

.navbar-nav {
  >li {
    >.dropdown-menu {
      font-size: 16px;
    }
  }
}

.navbar-inverse {
  background-color: #333333;
  border-color: #333333;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
  .glyphicon {
    margin-right: 3px;
  }
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
  font-size: 16px;
}
.navbar-inverse .divider-vertical {
  border-right-color: #666666 !important;
  border-left-color: #666666 !important;
}

/* start at 50, so we are under the main navbar, but still sticky. */

.navbar-breadcrumbs {
  top: 51px;
  background-color: #f5f5f5;
  z-index: 1000;
  /* make sure the main header dropdown display above the sub header */
  border-top: 1px solid @white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 15px;
}


/*
.navbar-breadcrumbs .navbar-nav.navbar-right:last-child {margin-right: 0px;}
.navbar-breadcrumbs .navbar-nav.navbar-right>li>a,
.navbar-breadcrumbs .navbar-nav.navbar-left>li>a {padding-top:13px !important;}
.navbar-breadcrumbs .navbar-nav.navbar-right>li>a:hover,
.navbar-breadcrumbs .navbar-nav.navbar-left>li>a:hover {background-color:#eee;color:@brand-primary;}

.navbar-breadcrumbs ol.breadcrumb {background:none;font-size:16px;padding-top:14px;}
.navbar-breadcrumbs .binderTopLinks {font-size:16px;margin-bottom:-2px;}
.navbar-breadcrumbs .binderTopLinks>ul>li>a {color:@brand-primary;}
.navbar-breadcrumbs .binderTopLinks>ul>li>a:hover {background-color:#eee;color:@brand-primary;}


.navbar-breadcrumbs .nav-pills {font-size: 16px;}
.navbar-breadcrumbs .nav-pills>li>a:hover {pointer:hand;cursor:hand;}
*/


/*
 * SIDEBAR (ALSO IN ADMIN/PARTNERS)
 */

.sidebar {
  @media (min-width: 768px) {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  a {
    text-decoration: none;
  }
}

.sidebar-overview {
  border-right: 1px solid #ddd;
}

.sidebar-upper {
  @media (min-width: 768px) {
    top: 51px;
    border-bottom: 1px solid #ddd;
    height: 100%;
    min-height: 100px;
  }
}

.sidebar-lower {
  font-size: 18px;
  @media (min-width: 768px) {
    bottom: 30px;
    height: 150px;
    background-color: #eee;
    border-top: 1px solid #fff;
    overflow-y: scroll;
  }
  .col-xs-12 {
    margin-top: 5px;
    > span {
    font-size: 14px;
    color: #666666;
    bottom: 3px;
    position: relative;
  }
  }
  img {
    @media (min-width: 768px) {
      max-height: 120px;
      padding: 10px 0;
    }
  }
}

.sidebar-hidden {
  @media (min-width: 768px) {
    position: fixed;
    left: 0;
    z-index: 1002;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
}


/*
 * SIDEBAR NAVIGATION
 */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 16px;
  >li {
    border-top: 1px solid #dddddd;
    &:first-child {
      border-top: none;
      a {
        padding:15px;
      }
    }
    hr {
     border-width: 2px; 
     margin-top: 0px;
     margin-bottom: 0px;
    }
    >a {
      padding-right: 15px !important;
      padding-left: 15px !important;
      color: #666666;
      .glyphicon {
        color: #ff6633;
      }      
      &:hover {
        color: @brand-primary;
        background-color: #ddd;
        border-right: 5px solid #E63900;
      }
    }
  }
  >.active {
    >a {
      color: @white;
      background-color: @brand-primary;
      border-right: 5px solid #E63900;
      .glyphicon {
        color: #ffffff;
      }       
      &:hover,
      &:focus {
        color: @white;
        background-color: @brand-primary;
        border-right: 5px solid #E63900;
      }
    }
  }
}


/* not sure where this lives */

.nav-list>li>a:hover {
  color: @brand-primary;
  background-color: #ddd;
  border-right: 5px solid #E63900;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 5px 0px 5px 5px;
  text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
  color: @brand-primary;
  background-color: #ddd;
  border-right: 5px solid #E63900;
}

ul {
  list-style-type: none;
}


/* list headers */

.list-header {
  width: 100%;
  padding-left: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  h3 {
    float: left;
    padding: 0 20px 0 0;
  }
}


/*
 * JUMBOTRON
 */

.jumbotron {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #ddd;
  font-family: 'Arvo', "Open Sans", Arial, sans-serif;
  .btn {
    font-family: "Open Sans", Arial, sans-serif;
  }
}

.jumbotron-bar {
  margin-top: 50px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  a {
    &.navbar-brand {
      font-family: "Open Sans", Arial, sans-serif;
    }
  }
}

.account-master-container {
  h3 {
    margin-top: 0px;
  }
  .nav {
    font-size: 16px;
  }
}

h3 {
  &.panel-title {
    font-size: 20px;
    padding-top: 5px;
  }
}

.page-header {
  h1 {
    font-size: 48px;
  }
}

.resource-list-ctrls {
  padding-top: 20px;
}

.label {
  padding: .2em .6em;
}

.panel-heading-image {
  text-align: center;
  margin: 0 auto;
}

.label-white {
  background-color: @white;
  color: @brand-primary;
  margin-top: 3px;
}

.label-white[href]:hover,
.label-white[href]:focus {
  background-color: #3071a9;
}

.nav-binder-opts {
  >ul {
    >li {
      >a {
        >span {
          font-size: 125%;
        }
      }
    }
  }
}

.modal {
  z-index: 1500;
  display: block;
}


/*
 * PANEL GROUPS
 */

.main {
  .panel-group {
    .panel {
      border: none;
      box-shadow: none;
      .panel-heading {
        padding-left: 0px !important;
        border: none;
        background: url('../img/bkg.png') repeat-x scroll 0 18px;
        .panel-title {
          font-weight: normal;
          >a {
            padding-left: 5px !important;
            background: @white;
            padding-right: 5px;
            color: @brand-primary;
            &:hover {
              text-decoration: none;
            }
            &:after {
              font-family: 'Glyphicons Halflings';
              content: "\e114";
              float: left;
              font-size: 12px;
              background: @white;
              padding-top: 2px;
            }
            &.collapsed {
              &:after {
                content: "\e080";
              }
            }
          }
        }
        +.panel-collapse {
          .panel-body {
            border-top: none;
          }
        }
      }
    }
  }
}

.btn-pad {
  padding: 5px;
}

.toolbar-btn-pad {
  position: absolute;
  z-index: 100;
  top: 2px;
  left: 15px;
  .nav {
    position: fixed;
  }
}

.gal-pad {
  max-width: 210px;
  display: inline-block;
  margin: 5px;
  >img {
    max-width: 200px;
  }
}

.photo-thumb {
  position: relative;
}

.photo-thumb-cog {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background: #eee;
  z-index: 100;
  padding: 3px 5px 0 5px;
  -webkit-border-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius: 3px;
  -moz-border-radius-bottomleft: 0;
  border-radius: 3px;
  border-bottom-left-radius: 0;
}

table.doc-table tbody td:first-child {
  cursor: pointer;
}

.gallery {
  background-color: transparent;
  padding: 25px;
}


/*
 * This stuff is copied over from homebinder.css of the rails app for subscriptions
 */

#paymentForm {
  width: 500px;
}

#upgrade-info {
  margin-top: 15px;
  font-size: 12px;
}

#subscription-table {
  width: 100%;
  margin: 10px 0px 10px 0px;
  tr {
    border-bottom-width: 1px;
    border-bottom-color: #D3D3D3;
    border-bottom-style: solid;
    vertical-align: bottom;
  }
  td {
    padding: 10px 5px 10px 5px;
    text-align: left;
    width: 50%;
  }
  th {
    padding: 10px 10px 10px 20px;
    text-align: right;
    font-weight: bold;
    width: 50%;
  }
}

#beginUpgradeSubsc {
  margin-left: 20px;
}

#cardTypes {
  margin-top: 5px;
  display: block;
}

#tableTotals {
  margin: 60px 0px 20px 0px;
  tr {
    border-bottom-style: none;
  }
  th {
    font-weight: normal;
    padding: 3px 10px 3px 0px;
  }
  td {
    font-weight: bold;
    padding: 3px 10px 3px 0px;
  }
}

.subsc-action {
  margin: 10px;
}

.sub-text {
  font-size: 11px;
  font-style: italic;
}

#paymentFormContainer {
  margin-left: 5%;
  margin-right: 5%;
}

#subscBackBlock {
  margin: 15px 0px 20px 0px;
}

.binder-subsc-info {
  font-size: 10px;
  margin-bottom: 10px;
}

.binder-subsc-detail {
  margin: 1px 0px;
}

.object-block {
  background-color: @white;
  border-width: 1px;
  border-color: #E8E8E8;
  border-style: solid;
  padding: 10px 15px;
}


/* match styles on wizard complete page for binders page */

.binder-box {
  padding: 0px;
  h3 {
    color: @brand-primary;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e2e2;
    font-family: "Arvo", "Open Sans", Arial, sans-serif;
  }
  img {
    border: 2px solid #e3e2e2;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-left: 30px;
  }
  .binder-link {
    text-align: center;
    background-color: @white;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    color: #77706b;
    text-decoration: none;
    padding: 20px;
    font-family: "Arvo", Arial, sans-serif;
    p {
      font-size: 16px;
    }
  }
  .subsc-bar {
    background-color: #f5f5f5;
    border-top: 1px solid #e3e2e2;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }
}

.push-top-homebinder {
  margin-top: 105px;
  @media (min-width: 961px) {
    margin-top: 70px;
  }
  @media (max-width: 768px) {
    margin-top: 0px;
  }
}

.push-top-legal {
  @media (max-width: 960px) {
    margin-top: 75px;
  }
  @media (max-width: 768px) {
    margin-top: 0px;
  }
}

.push-row-top {
  position: relative;
  top: 10px;
}

.modal-header h3 {
  font-family: "Arvo", Arial, sans-serif;
  color: @brand-primary;
}

.panel-overview {
  .panel-body {
    img {
      display: block;
      position: relative;
      left: -50%;
      border: 2px solid #e3e2e2;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      /*
      border:2px solid #e3e2e2;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      border-radius: 10px;
      */
    }
    .outer {
      width: auto;
      overflow: hidden;
      position: relative;
    }
    .inner {
      float: left;
      position: relative;
      left: 50%;
    }
    .panel-footer {
      background-color: @white !important;
      border-top: none;
      text-align: center;
      h1 {
        color: @brand-primary;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e2e2;
        font-family: "Arvo", Arial, sans-serif;
      }
      h2 {
        font-family: "Arvo", Arial, sans-serif;
      }
    }
  }
}
.panel-footer h3 {
  margin-top: 10px;
}
.binder-settings {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  font-size: 18px;
  .nav {
    >li {
      >a {
        &:hover {
          background-color: transparent !important;
        }
      }
    }
    .open {
      >a {
        background-color: transparent !important;
        color: #e53900;
        &:hover,
        &:focus {
          background-color: transparent !important;
          color: #e53900;
        }
      }
    }
    .dropdown-menu {
      right: 10px !important;
      margin-top: -10px;
      min-width: 200px;
    }
  }
}

.dropdown-header {
  text-transform: uppercase;
}

.navbar {
  .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid @white;
    border-left: 1px solid #f2f2f2;
  }
}

.navbar-inverse {
  .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
  }
}

.navbar-collapse {
  .nav {
    >.divider-vertical {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}


/*
 * HELPER CLASSES
 */

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.orange {
  color: @brand-primary !important;
}

.ltgray {
  color: @gray-lighter !important;
}

.partner-logo {
  max-height: 180px;
  max-width: 180px;
}


/*
 * STYLES FOR SHARED WITH ME DIALOG
 */

.shared-with-me {
  ul {
    list-style-type: none;
  }
  li {
    margin: 0 10px;
  }
}


/*
 * VERTICAL NAV
 */

.vertical-nav-parent {
  overflow: none;
  bottom: 30px;
  top: 51px;
  .vertical-nav {
    height: 100%;
    overflow: auto;
    li {
      border-radius: 0;
    }
  }
}


/*
 * allow overflow
 */

.panel-group .hb-allow-overflow {
  overflow-x: visible;
  overflow-y: visible;
}


/*
 * recalls in appliances
 */

.recall-options {
  margin-right: 15px;
}


/*
 * thumbnails for gallery views
 */

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails>li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail>img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}

.thumbnails {
  list-style-type: none;
}


/*
.error {
  display: inline-block;
  color: white;
  padding: 6px 12px;
  font-size: .9em;
  font-weight: bold;
  background-color: #E64545;
  border: 1px solid #700000;
  width: 100%;
  margin-top: 3px;
  border-radius: 4px;
}
*/

.error {
  display: inline-block;
  color: #D00000;
  padding: 6px 12px;
  font-size: .9em;
  font-weight: bold;
  border-top: 3px solid #D00000;
  width: 100%;
  margin-top: 3px;
}

textarea {
  resize: vertical;
}

// fix checkbox list in xeditable forms
.editable-checklist {
  white-space: normal !important;
}

hr {
  border-color: #ff5319;
  border-width: 3px 0;
}

.text-success {
  color: #ff5319;
}

.form-control-feedback {
  color: #ff5319;
}

.text-left,
.orange-button {
  button.btn.btn-default,
  a.btn.btn-default {
    border-color: @brand-primary;
    color: @brand-primary;
  }
}

.tr-ng-cell {
  button.btn.btn-default {
    border-color: #ccc;
    color: #333;
  }
}

.homebinder-form {
  .has-feedback .form-control-feedback {
    top: 8px;
  }
}

.table-responsive {
  overflow-x: auto;
}

.dropdown-menu {
  button {
    border: none;
  }
  .disabled {
    a {
      pointer-events: none;
    }
  }
}

.error-text {
  font-weight: bold;
  color: #a94442;
}

body>.ui-select-bootstrap.open {
  z-index: 10000;
}


/* Editor styling */

.ta-scroll-window.form-control {
  border-width: 1px 1px 1px 1px;
  border-radius: 0px;
}

.ta-toolbar {
  background-color: white;
  padding: 10px 10px 5px;
  margin-left: 0px ! important;
  /* Override bootstrap */
}

.ta-toolbar .btn-group {
  margin-bottom: 5px;
}

.ta-editor,
.white-box {
  padding: 10px;
  background-color: #FFF;
}

textarea.ta-bind {
  width: 100%;
}

ui-select[readonly],
ui-select[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
    background-color: #f63;
}


/* shared modal styles */

.modal-body {
  &.body-scroll {
    max-height: 500px;
    overflow-y: auto;
  }
}

.modal-footer {
  .button-left {
    float: left;
  }
  .button-right {
    float: right;
  }
}

.navbar {
  max-height: 150px;
}

.thumbnail a:hover {
  text-decoration: none;
}

.document-name {
  overflow: hidden;
}

.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-secondary {
  color: white;
  background-color: #868e96 !important;
}
.btn-light {
  border-color:#cccccc;
  background-color: #ffffff;
  color: #666666;
  .glyphicon {
    color: #ff6633;
  }
}
.navbar-breadcrumbs {
  .navbar-btn {
  }
  .btn .caret {
  margin-left: 5px;
  color: #ff6633;
  margin-bottom: 2px;
  }
  a {
    .glyphicon {
      margin-right: 3px;
    }
  }
}

.embed-container { position: relative; padding-bottom: 50%; height: 0; overflow: hidden; max-width: 100%; min-height: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.agent-notification {
  margin-top: 30px;
  color: #ff6633; 
  text-align: center;
}