/*
 * HB-DATAGRID.LESS
 * Styles for data grid
 * 
 -------------------------------------------------- */

.hb-datagrid {
  background-color: #FFFFFF;
  width: 100%;
  overflow: auto;
  padding: 10px;
  
  tr {
    a {
      margin-right: 7px;
    }
    
    /*
    &:hover {
      background-color: #FF7547;
      color: #ffffff;
      cursor: pointer;
    }
    */
  }
  
  tfoot {
    tr {
      a {
        margin: 0;
      }
    }
  }
  
  .sorter {
    cursor:pointer;
    
    &:hover {
      background-color: #F0F0F0;
      cursor:pointer;
    }
    
    &:active {
      background-color: #D0D0D0;
    }
  }
  
  th {
    cursor:pointer;
    vertical-align:middle;
    
    &:hover {
      background-color: #F0F0F0;
    }
    
    &:active {
      background-color: #D0D0D0;
    }
  }
  
  .left {
    text-align: left;  
  }
  
  .right {
    text-align: right;
  }
  
  .center {
    text-align: center;
  }
  
  /*
  .rowSelected {
    background-color: #FF5319;
    color: #ffffff;
  }
  */
}

.hb-table {
  background-color: #F0F0F0;
  border-style: solid;
  border-width: 1px;
  border-color: #C8C8C8;
}

.hb-datagrid-col-button {
  margin-left:3px;
}

.admin-button-container {
  padding: 10px 0;
}
