//  =============================================================================
//  Modules
//  =============================================================================
.mobile-binder-select,
.mobile-view-select,
.mobile-reports-select,
.nav>li.mobile-account-actions,
.mobile-binder-options {
  display: none;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .binder-select,
  .account-actions,
  .binder-options {
    display: none !important;
  }
  .mobile-binder-select {
    border: 1px solid @gray-dark;
    display: block;
    float: left;
    margin-top: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    &:hover {
      background-color: lighten(@gray-dark, 2%);
    }
    a {
      color: @white;
      display: block;
      padding: 8px 10px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .mobile-view-select {
    background: @brand-primary;
    color: @white;
    display: block;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    a {
      border: 1px solid @white;
      color: @white;
      font-size: 16px;
      padding: 10px 16px;
      width: auto;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      &:hover {
        background: lighten(@brand-primary, 2%);
        text-decoration: none;
      }
    }
    .mobile-view-list {
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 9999;
      li {
        float: left;
        text-align: center;
        width: 50%;
        &:nth-child(odd) {
          border-right: 1px solid @gray-light;
        }
        &.active a {
          background-color: lighten(@gray-dark, 5%);
          span#item_count {
            display: none;
            // background-color: #333;
            // height: 100%;
            // margin-top: 0;
            // padding: 14px 20px;
            // text-align: center;
            // position: absolute;
            // top: 0;
            // right: 0;
          }
        }
        a {
          border-bottom: 1px solid @gray-light;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          margin: 0;
          padding: 10px 0;
          position: relative;
        }
      }
    }
  }
  .mobile-reports-select {
    display: inline;
    float: right;
  }
  .nav>li.mobile-account-actions {
    display: block;
    float: left;
    overflow: hidden;
    width: 47%;
    border-right: 1px solid #555;
    a {
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  .logout {
    float: right;
  }
  .nav {
    li:last-of-type {
      border-right: none;
    }
  }
  .nav-account-actions {
    margin: 0;
  }
  .navbar-fixed-top {
    position: relative !important;
    margin-bottom: 0;
    top: auto;
  }
  .main-navbar {
    .navbar-header {
      padding: 5px;
      width: 60%;
      
      .navbar-toggle {
        padding: 1px 6px;
      }
      
      .glyphicon {
        color: @white;
      }
      .dropdown-menu .glyphicon {
        color: @gray;
      }
    }
    .navbar-brand {
      padding: 0 10px 0 0;
      span {
        display: none;
      }
    }
  }
  .main {
    padding: 10px;
    .toolbar-btn-pad {
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 10px;
      .nav {
        position: relative;
      }
      .btn {
        font-size: 13px;
        margin: 0;
        padding: 6px 8px;
      }
    }
  }
  .mobile-binder-options {
    display: block;
    float: left;
    margin-bottom: 30px; //if it stays on bottom, remove if it goes back to top
    padding: 10px;
    width: 100%;
    span {
      display: inline;
      float: left;
      &.caret {
        display: inline-block;
        float: none;
      }
    }
    .navbar-btn,
    .btn-group {
      margin: 0 8px 8px 0;
    }
    .btn-group {
      display: inline;
      float: left;
    }
    .dropdown-menu.pull-right {
      right: auto !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .mobile-view-select-partner {
    background: @brand-primary;
    color: @white;
    display: block;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    a {
      border: 1px solid @white;
      color: @white;
      font-size: 16px;
      padding: 10px 16px;
      width: auto;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      &:hover {
        background: lighten(@brand-primary, 2%);
        text-decoration: none;
      }
    }
    .mobile-view-list {
      margin: 0;
      padding: 0;
      width: 100%;
      z-index: 9999;
      li {
        float: left;
        text-align: center;
        width: 50%;
        &:nth-child(odd) {
          border-right: 1px solid @gray-light;
        }
        &.active a {
          background-color: lighten(@gray-dark, 5%);
          span#item_count {
            display: none;
            // background-color: #333;
            // height: 100%;
            // margin-top: 0;
            // padding: 14px 20px;
            // text-align: center;
            // position: absolute;
            // top: 0;
            // right: 0;
          }
        }
        a {
          border-bottom: 1px solid @gray-light;
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          margin: 0;
          padding: 10px 0;
          position: relative;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
   .mobile-view-select-partner {
     margin-top: 50px;
   }
}

@media only screen and (max-width: 768px){
   .mobile-view-select-partner {
     margin-top: 0px;
   }
}