// http://browserstrangeness.bitbucket.org/css_hacks.html#webkit
// safari and iOS hack

_::-webkit-:host:not(:root:root),
.navbar-brand-partner {
    margin-left: 175px !important;
    top: -53px !important;
}
