<form name="addUserForm" role="form">
    <div class="page-header">
        <button class="btn btn-primary pull-right" ng-click="ctrl.add()">Add</button>
        <h3>ISN Integration&nbsp;<a href="" ng-if="ctrl.users.length > 0"><i class="fa fa-refresh" aria-hidden="true" ng-click="ctrl.refresh()" tooltip="Retrieve your footprints" tooltip-placement="right"></i></a></h3>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-hover" style="background-color: white;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company Key</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ctrl.users track by $index">
                        <td>{{user.id}}</td>
                        <td>{{user.company_key}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" ng-click="ctrl.edit(user, $index)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button type="button" class="btn btn-secondary" ng-click="ctrl.remove(user, $index)"><i class="glyphicon glyphicon-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.users.length < 1">
                        <td colspan="5">
                            <h3 class="text-center">No ISN Users found</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
