.import {
    .next-step {
        text-align: center;
        background-color: #fff;
        padding: 40px;
        border: 3px solid @gray-light;
        border-radius: 10px;
        margin: 0 auto;
        display: block;
        height: 300px;
        color: @darksienna;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            border-color: @brand-primary;
        }
        h3 {
            color: @brand-primary;
            padding-bottom: 10px;
            border-bottom: 1px solid @gray-light;
            @media only screen and (max-width: 500px) {
                font-size: 18px;
                line-height: 1.4;
                margin-top: 12px;
            }
        }
        img {
            margin: 0 auto;
            display: block;
            width: 30%;
        }
    }
    input.form-control {
        width: auto;
    }
}