<div class="import">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{ctrl.resources.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid import">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="next-step" ng-click="ctrl.newAgent()">
                        <img src="img/keys.png" />
                        <h3>{{ctrl.resources.createText1}}</h3>
                        <p>Create a single agent.</p>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="next-step" ng-click="ctrl.importAgent()">
                        <img src="img/report.svg" />
                        <h3>{{ctrl.resources.importText1}}</h3>
                        <p>{{ctrl.resources.importText2}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" ng-click="ctrl.cancel()" value="Cancel" />
    </div>
</div>