<div class="agent-option">
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span><strong>{{option.name}}</strong>&nbsp;&nbsp;(<i>{{option.email}}</i>)</span>
        </div>
    </div>
    <div class="agent-option-row">
        <div class="agent-option-cell name">
            <span>{{option.company}}</span>
        </div>
    </div>
</div>
