<div class="well well-lg" style="background-color: white;">
    <form name="form" role="form" ng-submit="ctrl.model.submit()" novalidate>
        <div class="page-header">
            <div class="pull-right">
                <button id="submit" type="submit" class="btn btn-primary" ng-disabled="form.$invalid || ctrl.model.processing">{{ctrl.model.resources.title}}</button>
            </div>
            <h3>{{ctrl.model.resources.title}}</h3>
        </div>
        <div class="page-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>{{ctrl.model.resources.firstName}}</label>
                        <input id="first" type="text" ng-model="ctrl.model.model.first" required autofocus class="form-control" ng-maxlength="50" ng-readonly="ctrl.model.model.readonly" />
                    </div>
                    <div class="col-xs-6">
                        <label>{{ctrl.model.resources.lastName}}</label>
                        <input id="last" type="text" ng-model="ctrl.model.model.last" required class="form-control" ng-maxlength="50" ng-readonly="ctrl.model.model.readonly" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>{{ctrl.model.resources.email}}</label>
                        <input id="share_with" type="email" ng-model="ctrl.model.model.shared_with_email" required class="form-control" ng-maxlength="255" ng-readonly="ctrl.model.model.readonly" />
                    </div>
                    <div class="col-xs-6">
                        <label>{{ctrl.model.resources.phone}}</label>
                        <div class="input-group">
                            <span class="input-group-addon">+{{ctrl.model.country.code}}</span>
                            <input id="phone" ng-model="ctrl.model.model.phone.national" type="text" class="form-control" name="phone" placeholder="617-200-2000" ui-mask="{{ctrl.model.country.phone_format}}" ui-mask-placeholder ui-mask-placeholder-char="_" ng-readonly="ctrl.model.model.readonly"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{ctrl.model.resources.helpText}}</label>
                <label class="radio">
					<input id="role_co_owner" type="radio" value="co_owner" ng-model="ctrl.model.model.role_name" />&nbsp;{{ctrl.model.resources.coOwner}}
				</label>
                <label class="radio">
					<input id="role_reader" type="radio" value="reader" ng-model="ctrl.model.model.role_name" />&nbsp;{{ctrl.model.resources.viewer}}
				</label>
            </div>
        </div>
    </form>
</div>
<div class="well well-lg" style="background-color: white;">
    <div class="page-header">
        <h3>{{ctrl.model.resources.sharedUsers}}</h3>
    </div>
    <div class="page-body">
        <div ng-if="ctrl.model.access_list.length > 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr ng-repeat="user in ctrl.model.access_list">
                        <td>{{user.user.email}}&nbsp;({{user.role | role}})</td>
                        <td><button ng-if="user.role != 'owner'" ng-click="ctrl.model.removeAccess(user)" class="btn btn-primary">{{ctrl.model.resources.removeAccess}}</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="ctrl.model.access_list.length < 1">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>{{ctrl.model.resources.noUsers}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>